GO:0003674	1.000000	0.000000	0.000000	molecular_function
GO:0005488	0.644781	0.438845	0.438845	binding
GO:0005515	0.487605	0.718251	0.279405	protein binding
GO:0003824	0.422781	0.860901	0.860901	catalytic activity
GO:0097159	0.215188	1.536241	1.097396	organic cyclic compound binding
GO:1901363	0.211933	1.551485	1.112640	heterocyclic compound binding
GO:0003676	0.170899	1.766685	0.213149	nucleic acid binding
GO:0016740	0.164755	1.803295	0.942394	transferase activity
GO:0016787	0.131684	2.027351	1.166449	hydrolase activity
GO:0140096	0.118529	2.132598	1.271697	catalytic activity, acting on a protein
GO:0003677	0.104339	2.260112	0.493427	DNA binding
GO:0042802	0.094005	2.364406	1.646156	identical protein binding
GO:0043167	0.090299	2.404629	1.965784	ion binding
GO:0005215	0.079381	2.533497	2.533497	transporter activity
GO:0016491	0.076326	2.572742	1.711841	oxidoreductase activity
GO:0022857	0.075124	2.588616	0.055119	transmembrane transporter activity
GO:0043565	0.074339	2.599115	0.339003	sequence-specific DNA binding
GO:0003723	0.069949	2.659992	0.893308	RNA binding
GO:0016772	0.069031	2.673206	0.869911	transferase activity, transferring phosphorus-containing groups
GO:0019899	0.065041	2.732743	2.014492	enzyme binding
GO:0098772	0.063638	2.754539	2.754539	molecular function regulator activity
GO:0140110	0.063254	2.760591	2.760591	transcription regulator activity
GO:0003690	0.062703	2.769339	0.509227	double-stranded DNA binding
GO:1990837	0.056193	2.878968	0.016500	sequence-specific double-stranded DNA binding
GO:0016301	0.053071	2.936127	0.262921	kinase activity
GO:0036094	0.051852	2.959357	2.520512	small molecule binding
GO:0043169	0.050517	2.985452	0.580823	cation binding
GO:0016788	0.050300	2.989757	0.962406	hydrolase activity, acting on ester bonds
GO:0016773	0.048831	3.019399	0.346193	phosphotransferase activity, alcohol group as acceptor
GO:0003700	0.048597	3.024197	0.263605	DNA-binding transcription factor activity
GO:0001067	0.048563	3.024884	1.258199	transcription regulatory region nucleic acid binding
GO:0000976	0.048230	3.031783	0.000000	transcription cis-regulatory region binding
GO:0060089	0.047712	3.042571	3.042571	molecular transducer activity
GO:0043168	0.047629	3.044322	0.639693	anion binding
GO:0005102	0.047562	3.045725	2.327475	signaling receptor binding
GO:0038023	0.046777	3.062360	0.019789	signaling receptor activity
GO:0046872	0.046760	3.062717	0.077265	metal ion binding
GO:0044877	0.044724	3.107250	2.668404	protein-containing complex binding
GO:0015075	0.043505	3.134877	0.546261	monoatomic ion transmembrane transporter activity
GO:0030234	0.041301	3.186857	0.432318	enzyme regulator activity
GO:0015318	0.041268	3.187666	0.599050	inorganic molecular entity transmembrane transporter activity
GO:0140677	0.039866	3.222237	0.467698	molecular function activator activity
GO:0004672	0.037913	3.272473	0.000000	protein kinase activity
GO:0097367	0.036911	3.299248	2.860403	carbohydrate derivative binding
GO:0140640	0.036694	3.305145	2.444244	catalytic activity, acting on a nucleic acid
GO:0008324	0.036343	3.314745	0.179869	monoatomic cation transmembrane transporter activity
GO:0046983	0.035659	3.333758	2.615508	protein dimerization activity
GO:0004888	0.035509	3.337981	0.275621	transmembrane signaling receptor activity
GO:1901265	0.035041	3.351232	1.797697	nucleoside phosphate binding
GO:0000166	0.035041	3.351232	0.000000	nucleotide binding
GO:1901702	0.034240	3.374366	0.785750	salt transmembrane transporter activity
GO:0022890	0.033288	3.402551	0.214885	inorganic cation transmembrane transporter activity
GO:0008092	0.032687	3.420770	2.702519	cytoskeletal protein binding
GO:0003729	0.031953	3.443498	0.783505	mRNA binding
GO:0008233	0.029749	3.514957	0.345729	peptidase activity
GO:0017076	0.029148	3.535366	0.184134	purine nucleotide binding
GO:0022803	0.028547	3.556200	0.967584	passive transmembrane transporter activity
GO:0015267	0.028530	3.556785	0.000585	channel activity
GO:0140657	0.027479	3.594345	3.594345	ATP-dependent activity
GO:0042803	0.027262	3.602274	0.027780	protein homodimerization activity
GO:0016829	0.027245	3.602887	2.741986	lyase activity
GO:0005198	0.026444	3.632740	3.632740	structural molecule activity
GO:0046873	0.026177	3.642892	0.206163	metal ion transmembrane transporter activity
GO:0000981	0.025826	3.656376	0.632179	DNA-binding transcription factor activity, RNA polymerase II-specific
GO:0008289	0.025576	3.666119	3.227274	lipid binding
GO:0046914	0.025392	3.673325	0.610608	transition metal ion binding
GO:0032553	0.025192	3.681246	0.005946	ribonucleotide binding
GO:0140678	0.024557	3.706751	0.952212	molecular function inhibitor activity
GO:0004674	0.024424	3.712204	0.439731	protein serine/threonine kinase activity
GO:0016757	0.024374	3.714257	1.910962	glycosyltransferase activity
GO:0005216	0.024307	3.717000	0.005479	monoatomic ion channel activity
GO:0042578	0.024090	3.725969	0.736212	phosphoric ester hydrolase activity
GO:0032555	0.023539	3.749103	0.008475	purine ribonucleotide binding
GO:0019900	0.023489	3.751233	1.018491	kinase binding
GO:0022804	0.023055	3.769885	1.181270	active transmembrane transporter activity
GO:0003682	0.022904	3.776424	3.337578	chromatin binding
GO:0008134	0.022520	3.793330	3.075079	transcription factor binding
GO:0140098	0.022354	3.800770	0.495625	catalytic activity, acting on RNA
GO:0000977	0.022020	3.815819	0.784037	RNA polymerase II transcription regulatory region sequence-specific DNA binding
GO:0019904	0.021970	3.818096	3.099846	protein domain specific binding
GO:0030554	0.021753	3.828024	0.292658	adenyl nucleotide binding
GO:0016746	0.020684	3.878389	2.075094	acyltransferase activity
GO:0019901	0.020200	3.902073	0.150839	protein kinase binding
GO:0016817	0.019966	3.913711	1.886360	hydrolase activity, acting on acid anhydrides
GO:0016818	0.019883	3.917900	0.004189	hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
GO:0016462	0.019766	3.923795	0.005895	pyrophosphatase activity
GO:0035639	0.019599	3.932276	0.455849	purine ribonucleoside triphosphate binding
GO:0000987	0.019299	3.947727	0.915945	cis-regulatory region sequence-specific DNA binding
GO:0016747	0.018230	4.004682	0.126294	acyltransferase activity, transferring groups other than amino-acyl groups
GO:0016791	0.018197	4.006516	0.280547	phosphatase activity
GO:0005261	0.017763	4.030658	0.007491	monoatomic cation channel activity
GO:0016758	0.017646	4.037258	0.323002	hexosyltransferase activity
GO:0008047	0.017612	4.039152	0.346577	enzyme activator activity
GO:0060090	0.017312	4.056361	4.056361	molecular adaptor activity
GO:0016798	0.017245	4.060226	2.032875	hydrolase activity, acting on glycosyl bonds
GO:0004930	0.017212	4.062164	0.724183	G protein-coupled receptor activity
GO:0140297	0.017112	4.068001	0.274671	DNA-binding transcription factor binding
GO:0022836	0.017095	4.068977	0.512192	gated channel activity
GO:0022839	0.016911	4.079777	0.000000	monoatomic ion gated channel activity
GO:0016741	0.016494	4.104766	2.301471	transferase activity, transferring one-carbon groups
GO:0019787	0.016410	4.109839	1.436875	ubiquitin-like protein transferase activity
GO:0032559	0.016277	4.118011	0.002049	adenyl ribonucleotide binding
GO:0000978	0.015960	4.137691	0.009370	RNA polymerase II cis-regulatory region sequence-specific DNA binding
GO:0060589	0.015793	4.148206	0.961349	nucleoside-triphosphatase regulator activity
GO:0030695	0.015793	4.148206	0.000000	GTPase regulator activity
GO:0016874	0.015776	4.149264	3.288362	ligase activity
GO:0140097	0.015642	4.157765	0.852620	catalytic activity, acting on DNA
GO:0017111	0.015592	4.160972	0.237177	ribonucleoside triphosphate phosphatase activity
GO:0001216	0.015442	4.170655	1.146458	DNA-binding transcription activator activity
GO:0016705	0.015309	4.179341	1.606599	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
GO:0016614	0.015192	4.187004	1.614261	oxidoreductase activity, acting on CH-OH group of donors
GO:0004175	0.014991	4.200278	0.685322	endopeptidase activity
GO:0003712	0.014941	4.203625	1.443034	transcription coregulator activity
GO:0004842	0.014908	4.205862	0.096023	ubiquitin-protein transferase activity
GO:0008168	0.014891	4.206982	0.102217	methyltransferase activity
GO:0022853	0.014691	4.220527	0.041186	active monoatomic ion transmembrane transporter activity
GO:0016853	0.014491	4.234257	3.373356	isomerase activity
GO:0030545	0.014424	4.238876	1.484336	signaling receptor regulator activity
GO:0008514	0.014340	4.244680	1.656064	organic anion transmembrane transporter activity
GO:0004553	0.014307	4.247011	0.186785	hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0003735	0.014057	4.264668	0.631929	structural constituent of ribosome
GO:0005524	0.013873	4.277819	0.002404	ATP binding
GO:0016616	0.013622	4.296034	0.109030	oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0003779	0.013489	4.305886	0.885117	actin binding
GO:0030546	0.013456	4.308365	0.001240	signaling receptor activator activity
GO:0016835	0.013372	4.314588	0.711701	carbon-oxygen lyase activity
GO:0015291	0.013222	4.325887	0.556002	secondary active transmembrane transporter activity
GO:0048018	0.013205	4.327151	0.006301	receptor ligand activity
GO:0005543	0.013155	4.330950	0.664831	phospholipid binding
GO:0050839	0.013105	4.334765	3.616514	cell adhesion molecule binding
GO:0004518	0.013072	4.337316	1.347559	nuclease activity
GO:0004857	0.012838	4.355358	0.468865	enzyme inhibitor activity
GO:0008270	0.012721	4.364502	0.691177	zinc ion binding
GO:0001228	0.012721	4.364502	0.003929	DNA-binding transcription activator activity, RNA polymerase II-specific
GO:0030674	0.012554	4.377712	0.321351	protein-macromolecule adaptor activity
GO:0016810	0.012304	4.397861	2.370510	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds
GO:0005509	0.011920	4.429566	1.366849	calcium ion binding
GO:0015631	0.011886	4.432371	1.011601	tubulin binding
GO:0033218	0.011820	4.438004	3.999159	amide binding
GO:0008194	0.011402	4.473954	0.759697	UDP-glycosyltransferase activity
GO:0008757	0.011302	4.482777	0.275795	S-adenosylmethionine-dependent methyltransferase activity
GO:0004497	0.011235	4.488703	1.915961	monooxygenase activity
GO:0016779	0.011168	4.494664	1.821459	nucleotidyltransferase activity
GO:0061629	0.011152	4.496160	0.428160	RNA polymerase II-specific DNA-binding transcription factor binding
GO:0000287	0.010718	4.535860	1.473143	magnesium ion binding
GO:0005342	0.010551	4.551559	1.962943	organic acid transmembrane transporter activity
GO:0046982	0.010534	4.553143	1.219384	protein heterodimerization activity
GO:0046943	0.010400	4.565902	0.006400	carboxylic acid transmembrane transporter activity
GO:0051020	0.010234	4.582084	1.849341	GTPase binding
GO:0052689	0.009733	4.632261	1.642504	carboxylic ester hydrolase activity
GO:0001217	0.009683	4.637420	1.613224	DNA-binding transcription repressor activity
GO:0016765	0.009566	4.649563	2.846268	transferase activity, transferring alkyl or aryl (other than methyl) groups
GO:0015081	0.009449	4.661854	0.922631	sodium ion transmembrane transporter activity
GO:0015399	0.009282	4.679680	0.909795	primary active transmembrane transporter activity
GO:0022834	0.009082	4.701499	0.632523	ligand-gated channel activity
GO:0031267	0.009065	4.703339	0.121256	small GTPase binding
GO:0015276	0.008998	4.710733	0.000000	ligand-gated monoatomic ion channel activity
GO:0008017	0.008931	4.718182	0.285811	microtubule binding
GO:0004721	0.008898	4.721927	0.003745	phosphoprotein phosphatase activity
GO:0001664	0.008664	4.748545	1.702819	G protein-coupled receptor binding
GO:0017171	0.008631	4.752406	2.725055	serine hydrolase activity
GO:0042277	0.008497	4.768000	0.329996	peptide binding
GO:0003924	0.008280	4.793873	0.632901	GTPase activity
GO:0030246	0.008247	4.797913	4.359068	carbohydrate binding
GO:0019001	0.008214	4.801970	1.266604	guanyl nucleotide binding
GO:1901681	0.008197	4.804004	4.365159	sulfur compound binding
GO:0015079	0.008180	4.806043	1.066820	potassium ion transmembrane transporter activity
GO:0061659	0.008163	4.808086	0.698247	ubiquitin-like protein ligase activity
GO:0035091	0.008147	4.810133	0.479183	phosphatidylinositol binding
GO:0032561	0.008063	4.820432	0.002068	guanyl ribonucleotide binding
GO:0140101	0.008030	4.824581	1.023811	catalytic activity, acting on a tRNA
GO:0022832	0.007997	4.828748	0.759771	voltage-gated channel activity
GO:0016298	0.007980	4.830838	1.841081	lipase activity
GO:0015103	0.007963	4.832932	1.645266	inorganic anion transmembrane transporter activity
GO:0003713	0.007963	4.832932	0.629307	transcription coactivator activity
GO:0061134	0.007930	4.837134	1.650277	peptidase regulator activity
GO:0016836	0.007913	4.839241	0.524654	hydro-lyase activity
GO:0005244	0.007880	4.843469	0.002116	voltage-gated monoatomic ion channel activity
GO:0015078	0.007830	4.849846	1.413117	proton transmembrane transporter activity
GO:0043177	0.007763	4.858411	1.899054	organic acid binding
GO:0061630	0.007729	4.862721	0.000000	ubiquitin protein ligase activity
GO:0005126	0.007629	4.875765	1.830040	cytokine receptor binding
GO:0031406	0.007613	4.877956	0.008734	carboxylic acid binding
GO:0015085	0.007613	4.877956	1.138732	calcium ion transmembrane transporter activity
GO:0005085	0.007613	4.877956	0.013072	guanyl-nucleotide exchange factor activity
GO:0004519	0.007512	4.891201	0.553885	endonuclease activity
GO:0016407	0.007496	4.893426	0.888743	acetyltransferase activity
GO:0008234	0.007496	4.893426	1.378469	cysteine-type peptidase activity
GO:0016830	0.007479	4.895655	1.292768	carbon-carbon lyase activity
GO:0004540	0.007462	4.897890	0.013334	ribonuclease activity
GO:0016209	0.007312	4.918230	4.918230	antioxidant activity
GO:0005096	0.007312	4.918230	0.029248	GTPase activator activity
GO:0016887	0.007195	4.934340	0.025202	ATP hydrolysis activity
GO:0044389	0.007179	4.936663	2.203920	ubiquitin-like protein ligase binding
GO:0015293	0.007112	4.946009	0.620122	symporter activity
GO:0042626	0.006928	4.972170	0.000000	ATPase-coupled transmembrane transporter activity
GO:0051213	0.006911	4.974583	2.401840	dioxygenase activity
GO:0015294	0.006861	4.981855	0.000000	solute:monoatomic cation symporter activity
GO:0031625	0.006811	4.989181	0.052518	ubiquitin protein ligase binding
GO:0016811	0.006778	4.994095	0.596235	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides
GO:0030414	0.006761	4.996561	0.002466	peptidase inhibitor activity
GO:0019902	0.006611	5.019034	2.286291	phosphatase binding
GO:0051015	0.006578	5.024098	0.096694	actin filament binding
GO:0061135	0.006527	5.031741	0.194607	endopeptidase regulator activity
GO:0019207	0.006511	5.034302	1.847445	kinase regulator activity
GO:0042393	0.006494	5.036869	4.318619	histone binding
GO:0016410	0.006444	5.044611	1.039929	N-acyltransferase activity
GO:0008509	0.006444	5.044611	1.909734	monoatomic anion transmembrane transporter activity
GO:0001227	0.006427	5.047205	0.007762	DNA-binding transcription repressor activity, RNA polymerase II-specific
GO:0001653	0.006310	5.065554	2.003195	peptide receptor activity
GO:0022843	0.006294	5.068203	0.046641	voltage-gated monoatomic cation channel activity
GO:0008236	0.006294	5.068203	0.013175	serine-type peptidase activity
GO:1901981	0.006210	5.081555	0.271422	phosphatidylinositol phosphate binding
GO:0099094	0.006194	5.084246	0.042223	ligand-gated monoatomic cation channel activity
GO:0005525	0.006194	5.084246	0.016043	GTP binding
GO:0004866	0.006177	5.086945	0.000000	endopeptidase inhibitor activity
GO:0005539	0.006093	5.100551	1.801303	glycosaminoglycan binding
GO:0015171	0.006077	5.103295	0.537393	amino acid transmembrane transporter activity
GO:0003714	0.006060	5.106046	0.902421	transcription corepressor activity
GO:0008237	0.006027	5.111571	1.596614	metallopeptidase activity
GO:0045182	0.005943	5.125518	5.125518	translation regulator activity
GO:0003697	0.005926	5.128331	2.868219	single-stranded DNA binding
GO:0016903	0.005876	5.136817	2.564075	oxidoreductase activity, acting on the aldehyde or oxo group of donors
GO:0019887	0.005843	5.142515	0.108214	protein kinase regulator activity
GO:0016879	0.005776	5.154010	1.004746	ligase activity, forming carbon-nitrogen bonds
GO:0008081	0.005776	5.154010	1.428041	phosphoric diester hydrolase activity
GO:0008528	0.005726	5.162718	0.023056	G protein-coupled peptide receptor activity
GO:0045296	0.005659	5.174448	0.839684	cadherin binding
GO:0003730	0.005659	5.174448	1.730950	mRNA 3'-UTR binding
GO:0008094	0.005643	5.177403	0.008837	ATP-dependent activity, acting on DNA
GO:0005267	0.005626	5.180366	0.000000	potassium channel activity
GO:0016667	0.005609	5.183337	2.610595	oxidoreductase activity, acting on a sulfur group of donors
GO:0005262	0.005609	5.183337	0.000000	calcium channel activity
GO:0008170	0.005593	5.186318	0.979336	N-methyltransferase activity
GO:0004620	0.005593	5.186318	0.355480	phospholipase activity
GO:0043021	0.005559	5.192306	2.085056	ribonucleoprotein complex binding
GO:0019842	0.005542	5.195314	2.235956	vitamin binding
GO:0005319	0.005542	5.195314	2.661817	lipid transporter activity
GO:0005516	0.005526	5.198330	4.480080	calmodulin binding
GO:0019903	0.005476	5.207435	0.188401	protein phosphatase binding
GO:0004713	0.005392	5.222796	1.950323	protein tyrosine kinase activity
GO:0015108	0.005376	5.225897	0.045531	chloride transmembrane transporter activity
GO:0005230	0.005275	5.244706	0.533973	extracellular ligand-gated monoatomic ion channel activity
GO:0016627	0.005242	5.251055	2.678313	oxidoreductase activity, acting on the CH-CH group of donors
GO:0016247	0.005242	5.251055	2.496516	channel regulator activity
GO:0030594	0.005159	5.267107	2.204747	neurotransmitter receptor activity
GO:0004386	0.005159	5.267107	0.389152	helicase activity
GO:0008276	0.005125	5.273601	0.016155	protein methyltransferase activity
GO:0008238	0.005075	5.283421	1.768464	exopeptidase activity
GO:0099106	0.005025	5.293338	0.042283	ion channel regulator activity
GO:0009055	0.005008	5.296666	2.723924	electron transfer activity
GO:0008080	0.004958	5.306716	0.000000	N-acetyltransferase activity
GO:0140030	0.004791	5.340966	4.622716	modification-dependent protein binding
GO:0019838	0.004791	5.340966	4.622716	growth factor binding
GO:0008374	0.004724	5.355002	1.350319	O-acyltransferase activity
GO:0005506	0.004708	5.358541	1.685216	iron ion binding
GO:0046906	0.004674	5.365659	3.812124	tetrapyrrole binding
GO:0016684	0.004658	5.369237	2.796494	oxidoreductase activity, acting on peroxide as acceptor
GO:0004527	0.004641	5.372827	1.035512	exonuclease activity
GO:0016651	0.004624	5.376431	2.803689	oxidoreductase activity, acting on NAD(P)H
GO:0015297	0.004624	5.376431	1.050544	antiporter activity
GO:0043621	0.004591	5.383677	4.665427	protein self-association
GO:0042562	0.004574	5.387320	4.948475	hormone binding
GO:0004601	0.004574	5.387320	0.000000	peroxidase activity
GO:0016782	0.004507	5.402027	3.598732	transferase activity, transferring sulphur-containing groups
GO:0016620	0.004507	5.402027	0.265209	oxidoreductase activity, acting on the aldehyde or oxo group of donors, NAD or NADP as acceptor
GO:0003727	0.004441	5.416952	2.756960	single-stranded RNA binding
GO:0005507	0.004407	5.424499	1.751174	copper ion binding
GO:0003774	0.004391	5.428294	5.428294	cytoskeletal motor activity
GO:0090079	0.004374	5.432104	0.148683	translation regulator activity, nucleic acid binding
GO:0016877	0.004374	5.432104	1.282840	ligase activity, forming carbon-sulfur bonds
GO:0008201	0.004374	5.432104	0.052056	heparin binding
GO:0019783	0.004357	5.435928	1.920971	ubiquitin-like protein peptidase activity
GO:0019955	0.004340	5.439767	4.721516	cytokine binding
GO:0015370	0.004324	5.443620	0.000000	solute:sodium symporter activity
GO:0046527	0.004307	5.447489	1.410230	glucosyltransferase activity
GO:0004521	0.004274	5.455271	0.011651	RNA endonuclease activity
GO:0019209	0.004257	5.459185	0.038466	kinase activator activity
GO:0016831	0.004257	5.459185	0.563530	carboxy-lyase activity
GO:0016838	0.004174	5.478988	1.164400	carbon-oxygen lyase activity, acting on phosphates
GO:0015144	0.004140	5.487020	2.898404	carbohydrate transmembrane transporter activity
GO:0016922	0.004107	5.495117	0.998957	nuclear receptor binding
GO:0005179	0.004107	5.495117	1.167966	hormone activity
GO:0004252	0.004107	5.495117	0.032003	serine-type endopeptidase activity
GO:0030295	0.004057	5.507387	0.000000	protein kinase activator activity
GO:0030145	0.004023	5.515652	1.842326	manganese ion binding
GO:0016866	0.004023	5.515652	1.281395	intramolecular transferase activity
GO:0005253	0.004023	5.515652	0.000000	monoatomic anion channel activity
GO:0020037	0.003990	5.523985	0.158326	heme binding
GO:0015179	0.003990	5.523985	0.420690	L-amino acid transmembrane transporter activity
GO:0050660	0.003973	5.528178	2.051751	flavin adenine dinucleotide binding
GO:0005125	0.003973	5.528178	1.201027	cytokine activity
GO:0002020	0.003973	5.528178	2.795435	protease binding
GO:0031072	0.003923	5.540863	4.822612	heat shock protein binding
GO:0016763	0.003923	5.540863	1.826606	pentosyltransferase activity
GO:0042887	0.003906	5.545127	2.956512	amide transmembrane transporter activity
GO:0004197	0.003873	5.553711	0.017094	cysteine-type endopeptidase activity
GO:0051540	0.003840	5.562369	5.123524	metal cluster binding
GO:0051536	0.003823	5.566726	0.004357	iron-sulfur cluster binding
GO:0004536	0.003823	5.566726	0.099667	deoxyribonuclease activity
GO:0033293	0.003756	5.584348	0.706392	monocarboxylic acid binding
GO:0016860	0.003756	5.584348	1.350091	intramolecular oxidoreductase activity
GO:0016709	0.003756	5.584348	0.812411	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of one atom of oxygen
GO:0005178	0.003756	5.584348	0.093288	integrin binding
GO:1901505	0.003723	5.593277	3.004661	carbohydrate derivative transmembrane transporter activity
GO:0046915	0.003723	5.593277	1.950384	transition metal ion transmembrane transporter activity
GO:0005249	0.003706	5.597771	0.000000	voltage-gated potassium channel activity
GO:0019199	0.003689	5.602286	0.031183	transmembrane receptor protein kinase activity
GO:0016706	0.003689	5.602286	0.119290	2-oxoglutarate-dependent dioxygenase activity
GO:0140104	0.003639	5.615953	5.615953	molecular carrier activity
GO:0017022	0.003639	5.615953	2.195184	myosin binding
GO:0140375	0.003623	5.620551	2.558191	immune receptor activity
GO:0098960	0.003606	5.625170	0.358063	postsynaptic neurotransmitter receptor activity
GO:0004722	0.003606	5.625170	0.903243	protein serine/threonine phosphatase activity
GO:0008173	0.003589	5.629810	0.004640	RNA methyltransferase activity
GO:0019829	0.003573	5.634472	0.000000	ATPase-coupled monoatomic cation transmembrane transporter activity
GO:0070851	0.003556	5.639156	2.593431	growth factor receptor binding
GO:0101005	0.003539	5.643862	0.207934	deubiquitinase activity
GO:0003823	0.003539	5.643862	5.205017	antigen binding
GO:0001221	0.003539	5.643862	1.850533	transcription coregulator binding
GO:0044325	0.003522	5.648590	4.930340	transmembrane transporter binding
GO:0031490	0.003456	5.667730	1.103432	chromatin DNA binding
GO:0005496	0.003456	5.667730	0.550604	steroid binding
GO:0004867	0.003439	5.672572	0.585627	serine-type endopeptidase inhibitor activity
GO:1902936	0.003372	5.692181	0.610626	phosphatidylinositol bisphosphate binding
GO:0022835	0.003372	5.692181	0.000000	transmitter-gated channel activity
GO:0022824	0.003372	5.692181	0.000000	transmitter-gated monoatomic ion channel activity
GO:0051082	0.003356	5.697144	4.978893	unfolded protein binding
GO:0035251	0.003356	5.697144	0.009901	UDP-glucosyltransferase activity
GO:0032182	0.003356	5.697144	4.978893	ubiquitin-like protein binding
GO:0019213	0.003356	5.697144	3.669793	deacetylase activity
GO:0004659	0.003339	5.702131	1.052568	prenyltransferase activity
GO:0016645	0.003322	5.707144	3.134401	oxidoreductase activity, acting on the CH-NH group of donors
GO:0004725	0.003305	5.712181	0.990254	protein tyrosine phosphatase activity
GO:0005254	0.003289	5.717245	0.000000	chloride channel activity
GO:0016875	0.003272	5.722334	1.573070	ligase activity, forming carbon-oxygen bonds
GO:0015036	0.003272	5.722334	0.538997	disulfide oxidoreductase activity
GO:0004812	0.003255	5.727449	0.000000	aminoacyl-tRNA ligase activity
GO:0042054	0.003239	5.732590	0.458990	histone methyltransferase activity
GO:0048029	0.003222	5.737758	0.070029	monosaccharide binding
GO:0016878	0.003222	5.737758	0.305654	acid-thiol ligase activity
GO:0005231	0.003205	5.742953	0.498247	excitatory extracellular ligand-gated monoatomic ion channel activity
GO:0010333	0.003155	5.758701	0.279714	terpene synthase activity
GO:0051287	0.003139	5.764007	1.935983	NAD binding
GO:0034212	0.003139	5.764007	0.457290	peptide N-acetyltransferase activity
GO:0016769	0.003139	5.764007	3.960712	transferase activity, transferring nitrogenous groups
GO:0008135	0.003139	5.764007	0.331903	translation factor activity, RNA binding
GO:0019208	0.003105	5.774702	2.587845	phosphatase regulator activity
GO:1990782	0.003088	5.780093	1.878020	protein tyrosine kinase binding
GO:0016796	0.003088	5.780093	0.407265	exonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0008483	0.003088	5.780093	0.016086	transaminase activity
GO:0003678	0.003072	5.785513	0.063179	DNA helicase activity
GO:0015932	0.003038	5.796442	3.207826	nucleobase-containing compound transmembrane transporter activity
GO:0015926	0.003005	5.807492	1.560481	glucosidase activity
GO:0004364	0.002988	5.813063	1.163500	glutathione transferase activity
GO:0008408	0.002972	5.818665	0.445838	3'-5' exonuclease activity
GO:0004222	0.002972	5.818665	0.038572	metalloendopeptidase activity
GO:0043178	0.002938	5.829964	2.870607	alcohol binding
GO:0019200	0.002938	5.829964	2.893838	carbohydrate kinase activity
GO:0000149	0.002938	5.829964	5.111714	SNARE binding
GO:0016278	0.002888	5.847157	0.636669	lysine N-methyltransferase activity
GO:0004896	0.002888	5.847157	0.221987	cytokine receptor activity
GO:0019205	0.002871	5.852954	2.916827	nucleobase-containing compound kinase activity
GO:0005200	0.002871	5.852954	2.220214	structural constituent of cytoskeleton
GO:0016799	0.002855	5.858785	1.798559	hydrolase activity, hydrolyzing N-glycosyl compounds
GO:0016701	0.002855	5.858785	3.286042	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen
GO:0016279	0.002855	5.858785	0.000000	protein-lysine N-methyltransferase activity
GO:0009975	0.002855	5.858785	4.997884	cyclase activity
GO:0008146	0.002855	5.858785	0.456758	sulfotransferase activity
GO:0050661	0.002838	5.864650	2.036626	NADP binding
GO:0051087	0.002805	5.876484	5.158234	chaperone binding
GO:0003725	0.002805	5.876484	3.216492	double-stranded RNA binding
GO:0016405	0.002771	5.888461	0.456357	CoA-ligase activity
GO:0008013	0.002771	5.888461	5.170210	beta-catenin binding
GO:0016893	0.002721	5.906698	1.015497	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0061733	0.002704	5.912852	0.006154	peptide-lysine-N-acetyltransferase activity
GO:0008028	0.002704	5.912852	1.346950	monocarboxylic acid transmembrane transporter activity
GO:0019888	0.002688	5.919044	0.144342	protein phosphatase regulator activity
GO:0004843	0.002671	5.925275	0.036814	cysteine-type deubiquitinase activity
GO:0016854	0.002654	5.931544	1.697288	racemase and epimerase activity
GO:1901618	0.002638	5.937853	3.349238	organic hydroxy compound transmembrane transporter activity
GO:0016776	0.002638	5.937853	3.264648	phosphotransferase activity, phosphate group as acceptor
GO:0038024	0.002621	5.944203	5.944203	cargo receptor activity
GO:0090729	0.002604	5.950592	5.950592	toxin activity
GO:0140828	0.002588	5.957023	0.012821	metal cation:monoatomic cation antiporter activity
GO:0030165	0.002588	5.957023	2.138927	PDZ domain binding
GO:0019843	0.002588	5.957023	3.297031	rRNA binding
GO:0016702	0.002588	5.957023	0.000000	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen
GO:0008227	0.002588	5.957023	1.894859	G protein-coupled amine receptor activity
GO:0004714	0.002571	5.963496	0.000000	transmembrane receptor protein tyrosine kinase activity
GO:0042826	0.002554	5.970011	3.237268	histone deacetylase binding
GO:1901682	0.002538	5.976568	3.387952	sulfur compound transmembrane transporter activity
GO:0070566	0.002538	5.976568	1.481904	adenylyltransferase activity
GO:0004520	0.002538	5.976568	0.013072	DNA endonuclease activity
GO:0070279	0.002504	5.989813	0.572861	vitamin B6 binding
GO:0051117	0.002504	5.989813	3.257070	ATPase binding
GO:0051219	0.002487	5.996502	5.278252	phosphoprotein binding
GO:0016814	0.002487	5.996502	1.598642	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amidines
GO:0016638	0.002487	5.996502	3.423760	oxidoreductase activity, acting on the CH-NH2 group of donors
GO:0097747	0.002471	6.003236	0.315994	RNA polymerase activity
GO:0043130	0.002471	6.003236	0.306093	ubiquitin binding
GO:0015175	0.002471	6.003236	0.899942	neutral L-amino acid transmembrane transporter activity
GO:0008375	0.002471	6.003236	1.419520	acetylglucosaminyltransferase activity
GO:0004402	0.002471	6.003236	0.090384	histone acetyltransferase activity
GO:1990841	0.002437	6.016842	2.240418	promoter-specific chromatin binding
GO:0043022	0.002437	6.016842	0.824536	ribosome binding
GO:0005546	0.002437	6.016842	0.299597	phosphatidylinositol-4,5-bisphosphate binding
GO:0016881	0.002421	6.023715	0.869705	acid-amino acid ligase activity
GO:0008083	0.002421	6.023715	1.696564	growth factor activity
GO:0034062	0.002404	6.030635	0.027399	5'-3' RNA polymerase activity
GO:0098531	0.002387	6.037604	3.013407	ligand-activated transcription factor activity
GO:0030247	0.002387	6.037604	1.239691	polysaccharide binding
GO:0030170	0.002371	6.044621	0.013986	pyridoxal phosphate binding
GO:0016628	0.002371	6.044621	0.793566	oxidoreductase activity, acting on the CH-CH group of donors, NAD or NADP as acceptor
GO:0016597	0.002371	6.044621	1.166666	amino acid binding
GO:0017124	0.002354	6.051689	2.233592	SH3 domain binding
GO:0016780	0.002354	6.051689	3.378483	phosphotransferase activity, for other substituted phosphate groups
GO:0015101	0.002354	6.051689	3.463073	organic cation transmembrane transporter activity
GO:0004984	0.002337	6.058806	2.720825	olfactory receptor activity
GO:0005548	0.002320	6.065975	0.870661	phospholipid transporter activity
GO:0005272	0.002320	6.065975	0.000000	sodium channel activity
GO:0008186	0.002304	6.073195	2.478850	ATP-dependent activity, acting on RNA
GO:0001046	0.002304	6.073195	3.041412	core promoter sequence-specific DNA binding
GO:0072341	0.002287	6.080468	5.641622	modified amino acid binding
GO:0042162	0.002287	6.080468	3.481352	telomeric DNA binding
GO:0008171	0.002287	6.080468	1.873485	O-methyltransferase activity
GO:0005245	0.002287	6.080468	0.014493	voltage-gated calcium channel activity
GO:0051119	0.002270	6.087794	0.600774	sugar transmembrane transporter activity
GO:0016849	0.002270	6.087794	2.484907	phosphorus-oxygen lyase activity
GO:0015035	0.002270	6.087794	0.021819	protein-disulfide reductase activity
GO:0034061	0.002254	6.095174	0.043485	DNA polymerase activity
GO:0015453	0.002254	6.095174	1.415494	oxidoreduction-driven active transmembrane transporter activity
GO:0008188	0.002254	6.095174	0.932456	neuropeptide receptor activity
GO:0004879	0.002254	6.095174	0.000000	nuclear receptor activity
GO:0046332	0.002237	6.102609	5.384358	SMAD binding
GO:0042379	0.002237	6.102609	0.036634	chemokine receptor binding
GO:0035591	0.002237	6.102609	1.724897	signaling adaptor activity
GO:0032451	0.002237	6.102609	5.241708	demethylase activity
GO:0003777	0.002237	6.102609	0.518261	microtubule motor activity
GO:0140358	0.002204	6.117647	1.145477	P-type transmembrane transporter activity
GO:0004532	0.002204	6.117647	0.058841	exoribonuclease activity
GO:0140034	0.002187	6.125251	0.784285	methylation-dependent protein binding
GO:0033558	0.002187	6.125251	0.000000	protein lysine deacetylase activity
GO:0015662	0.002187	6.125251	0.007605	P-type ion transporter activity
GO:0015145	0.002187	6.125251	0.037458	monosaccharide transmembrane transporter activity
GO:0005518	0.002187	6.125251	3.018002	collagen binding
GO:0000030	0.002187	6.125251	2.087993	mannosyltransferase activity
GO:0018024	0.002170	6.132914	0.000000	histone lysine N-methyltransferase activity
GO:0140223	0.002154	6.140636	6.140636	general transcription initiation factor activity
GO:0051539	0.002137	6.148418	0.581692	4 iron, 4 sulfur cluster binding
GO:0035064	0.002137	6.148418	0.000000	methylated histone binding
GO:0015459	0.002137	6.148418	0.855080	potassium channel regulator activity
GO:0016891	0.002120	6.156261	0.000000	RNA endonuclease activity, producing 5'-phosphomonoesters
GO:0015020	0.002103	6.164167	1.580450	glucuronosyltransferase activity
GO:0008378	0.002103	6.164167	2.126908	galactosyltransferase activity
GO:0140318	0.002087	6.172135	3.638638	protein transporter activity
GO:0140296	0.002087	6.172135	2.378805	general transcription initiation factor binding
GO:0003743	0.002087	6.172135	0.408128	translation initiation factor activity
GO:0001098	0.002087	6.172135	5.453884	basal transcription machinery binding
GO:0120013	0.002070	6.180167	0.984853	lipid transfer activity
GO:0030276	0.002070	6.180167	5.461916	clathrin binding
GO:0005372	0.002070	6.180167	2.709125	water transmembrane transporter activity
GO:0099529	0.002037	6.196427	0.571257	neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0016655	0.002020	6.204658	0.828227	oxidoreductase activity, acting on NAD(P)H, quinone or similar compound as acceptor
GO:0019840	0.002003	6.212957	2.546838	isoprenoid binding
GO:0019239	0.002003	6.212957	1.815096	deaminase activity
GO:0016896	0.002003	6.212957	0.000000	RNA exonuclease activity, producing 5'-phosphomonoesters
GO:0016790	0.002003	6.212957	3.223200	thiolester hydrolase activity
GO:0016248	0.002003	6.212957	0.048790	channel inhibitor activity
GO:1904315	0.001987	6.221325	0.008368	transmitter-gated monoatomic ion channel activity involved in regulation of postsynaptic membrane potential
GO:0070063	0.001987	6.221325	3.488582	RNA polymerase binding
GO:0003724	0.001987	6.221325	0.096074	RNA helicase activity
GO:0001099	0.001987	6.221325	0.049190	basal RNA polymerase II transcription machinery binding
GO:0060590	0.001970	6.229764	3.475225	ATPase regulator activity
GO:0008200	0.001970	6.229764	0.000000	ion channel inhibitor activity
GO:0004869	0.001970	6.229764	1.142818	cysteine-type endopeptidase inhibitor activity
GO:0004112	0.001970	6.229764	1.075754	cyclic-nucleotide phosphodiesterase activity
GO:0097110	0.001953	6.238275	5.520024	scaffold protein binding
GO:0016859	0.001953	6.238275	2.004018	cis-trans isomerase activity
GO:0015605	0.001953	6.238275	3.649659	organophosphate ester transmembrane transporter activity
GO:0003899	0.001953	6.238275	0.207639	DNA-directed 5'-3' RNA polymerase activity
GO:0017046	0.001937	6.246858	0.017094	peptide hormone binding
GO:0004683	0.001937	6.246858	2.534654	calmodulin-dependent protein kinase activity
GO:0071949	0.001920	6.255516	0.727339	FAD binding
GO:0052866	0.001920	6.255516	2.249001	phosphatidylinositol phosphate phosphatase activity
GO:0005201	0.001920	6.255516	2.622776	extracellular matrix structural constituent
GO:0050840	0.001903	6.264250	5.825405	extracellular matrix binding
GO:0016840	0.001903	6.264250	2.661363	carbon-nitrogen lyase activity
GO:0043539	0.001886	6.273061	0.765674	protein serine/threonine kinase activator activity
GO:0140938	0.001870	6.281950	0.549359	histone H3 methyltransferase activity
GO:0072349	0.001870	6.281950	3.693334	modified amino acid transmembrane transporter activity
GO:0032266	0.001870	6.281950	1.200395	phosphatidylinositol-3-phosphate binding
GO:0016646	0.001870	6.281950	0.574806	oxidoreductase activity, acting on the CH-NH group of donors, NAD or NADP as acceptor
GO:0000049	0.001870	6.281950	3.621957	tRNA binding
GO:0061980	0.001853	6.290918	3.630926	regulatory RNA binding
GO:0022884	0.001853	6.290918	3.702302	macromolecule transmembrane transporter activity
GO:0019003	0.001853	6.290918	1.470486	GDP binding
GO:0004407	0.001853	6.290918	0.077962	histone deacetylase activity
GO:0004312	0.001853	6.290918	2.286236	fatty acid synthase activity
GO:0015295	0.001836	6.299968	0.044452	solute:proton symporter activity
GO:0008157	0.001836	6.299968	1.092533	protein phosphatase 1 binding
GO:0004177	0.001836	6.299968	1.016547	aminopeptidase activity
GO:0032934	0.001820	6.309101	0.641371	sterol binding
GO:0022829	0.001820	6.309101	2.752316	wide pore channel activity
GO:0140359	0.001803	6.318317	1.346147	ABC-type transporter activity
GO:0051018	0.001803	6.318317	5.600067	protein kinase A binding
GO:0016229	0.001803	6.318317	3.745575	steroid dehydrogenase activity
GO:0015149	0.001803	6.318317	0.193066	hexose transmembrane transporter activity
GO:0008395	0.001786	6.327620	1.838916	steroid hydroxylase activity
GO:0005343	0.001786	6.327620	0.089345	organic acid:sodium symporter activity
GO:0003684	0.001786	6.327620	4.067508	damaged DNA binding
GO:0048306	0.001770	6.337009	5.618759	calcium-dependent protein binding
GO:0030971	0.001770	6.337009	0.124053	receptor tyrosine kinase binding
GO:0016538	0.001770	6.337009	6.337009	cyclin-dependent protein serine/threonine kinase regulator activity
GO:0140299	0.001753	6.346488	6.346488	small molecule sensor activity
GO:0061783	0.001753	6.346488	5.485587	peptidoglycan muralytic activity
GO:0009678	0.001753	6.346488	0.538997	pyrophosphate hydrolysis-driven proton transmembrane transporter activity
GO:0005246	0.001753	6.346488	1.053150	calcium channel regulator activity
GO:0004180	0.001736	6.356058	1.072637	carboxypeptidase activity
GO:0003755	0.001736	6.356058	0.000000	peptidyl-prolyl cis-trans isomerase activity
GO:0019894	0.001720	6.365719	2.944950	kinesin binding
GO:0004712	0.001720	6.365719	3.093247	protein serine/threonine/tyrosine kinase activity
GO:0002039	0.001720	6.365719	5.647469	p53 binding
GO:0031369	0.001703	6.375476	5.657225	translation initiation factor binding
GO:0008175	0.001703	6.375476	0.000000	tRNA methyltransferase activity
GO:0004623	0.001703	6.375476	0.539813	phospholipase A2 activity
GO:0090482	0.001686	6.385328	3.796712	vitamin transmembrane transporter activity
GO:0008198	0.001669	6.395278	1.036737	ferrous iron binding
GO:0005504	0.001669	6.395278	0.371564	fatty acid binding
GO:0005501	0.001669	6.395278	0.182322	retinoid binding
GO:0001530	0.001669	6.395278	0.932164	lipopolysaccharide binding
GO:0051139	0.001653	6.405329	0.000000	metal cation:proton antiporter activity
GO:0050997	0.001653	6.405329	5.966483	quaternary ammonium group binding
GO:0016846	0.001653	6.405329	2.802442	carbon-sulfur lyase activity
GO:0016832	0.001653	6.405329	1.509673	aldehyde-lyase activity
GO:0015645	0.001653	6.405329	0.000000	fatty acid ligase activity
GO:0008320	0.001653	6.405329	0.000000	protein transmembrane transporter activity
GO:0019203	0.001636	6.415481	2.408965	carbohydrate phosphatase activity
GO:0000217	0.001636	6.415481	4.155369	DNA secondary structure binding
GO:0016717	0.001619	6.425737	2.246396	oxidoreductase activity, acting on paired donors, with oxidation of a pair of donors resulting in the reduction of molecular oxygen to two molecules of water
GO:0008046	0.001619	6.425737	3.087757	axon guidance receptor activity
GO:0044183	0.001603	6.436100	6.436100	protein folding chaperone
GO:0019905	0.001603	6.436100	0.606136	syntaxin binding
GO:0015296	0.001603	6.436100	0.127000	monoatomic anion:monoatomic cation symporter activity
GO:0000175	0.001603	6.436100	0.020619	3'-5'-RNA exonuclease activity
GO:0016251	0.001586	6.446572	0.305936	RNA polymerase II general transcription initiation factor activity
GO:0008307	0.001586	6.446572	2.813832	structural constituent of muscle
GO:0008066	0.001586	6.446572	3.108591	glutamate receptor activity
GO:0008009	0.001586	6.446572	0.020834	chemokine activity
GO:0005217	0.001586	6.446572	1.735839	intracellular ligand-gated monoatomic ion channel activity
GO:0004806	0.001586	6.446572	1.095097	triglyceride lipase activity
GO:0003887	0.001586	6.446572	0.351398	DNA-directed DNA polymerase activity
GO:0001540	0.001586	6.446572	1.678571	amyloid-beta binding
GO:0035254	0.001569	6.457154	3.411429	glutamate receptor binding
GO:0016775	0.001569	6.457154	3.783948	phosphotransferase activity, nitrogenous group as acceptor
GO:0016413	0.001569	6.457154	0.031416	O-acetyltransferase activity
GO:0140457	0.001553	6.467849	0.000000	protein demethylase activity
GO:0070001	0.001553	6.467849	2.952892	aspartic-type peptidase activity
GO:0042910	0.001553	6.467849	3.879233	xenobiotic transmembrane transporter activity
GO:0031593	0.001553	6.467849	1.126883	polyubiquitin modification-dependent protein binding
GO:0005310	0.001553	6.467849	1.901947	dicarboxylic acid transmembrane transporter activity
GO:0050897	0.001536	6.478660	2.805335	cobalt ion binding
GO:0032452	0.001536	6.478660	0.010811	histone demethylase activity
GO:0016679	0.001536	6.478660	3.905917	oxidoreductase activity, acting on diphenols and related substances as donors
GO:0008235	0.001536	6.478660	0.103184	metalloexopeptidase activity
GO:0005355	0.001536	6.478660	0.160343	glucose transmembrane transporter activity
GO:0000146	0.001536	6.478660	0.894312	microfilament motor activity
GO:0070273	0.001519	6.489589	1.408034	phosphatidylinositol-4-phosphate binding
GO:0031491	0.001519	6.489589	0.558045	nucleosome binding
GO:0004190	0.001519	6.489589	0.000000	aspartic-type endopeptidase activity
GO:0004030	0.001519	6.489589	1.087562	aldehyde dehydrogenase [NAD(P)+] activity
GO:0001786	0.001519	6.489589	0.000000	phosphatidylserine binding
GO:1904680	0.001502	6.500639	0.955511	peptide transmembrane transporter activity
GO:0071855	0.001502	6.500639	1.752094	neuropeptide receptor binding
GO:0043495	0.001502	6.500639	2.122927	protein-membrane adaptor activity
GO:0008422	0.001502	6.500639	0.693147	beta-glucosidase activity
GO:0001223	0.001502	6.500639	0.856777	transcription coactivator binding
GO:0140597	0.001486	6.511812	0.895859	protein carrier chaperone
GO:0015562	0.001486	6.511812	3.923196	efflux transmembrane transporter activity
GO:0140102	0.001469	6.523112	2.722342	catalytic activity, acting on a rRNA
GO:0030371	0.001469	6.523112	1.397594	translation repressor activity
GO:0030332	0.001469	6.523112	5.804861	cyclin binding
GO:0015377	0.001469	6.523112	0.000000	chloride:monoatomic cation symporter activity
GO:0015250	0.001469	6.523112	0.011300	water channel activity
GO:0005547	0.001469	6.523112	1.083345	phosphatidylinositol-3,4,5-trisphosphate binding
GO:0016857	0.001452	6.534540	0.602996	racemase and epimerase activity, acting on carbohydrates and derivatives
GO:0043531	0.001436	6.546101	2.428090	ADP binding
GO:0033764	0.001436	6.546101	0.045462	steroid dehydrogenase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0030291	0.001436	6.546101	6.546101	protein serine/threonine kinase inhibitor activity
GO:0019104	0.001436	6.546101	0.000000	DNA N-glycosylase activity
GO:0016668	0.001436	6.546101	1.362764	oxidoreductase activity, acting on a sulfur group of donors, NAD(P) as acceptor
GO:0015929	0.001436	6.546101	2.299091	hexosaminidase activity
GO:0009881	0.001436	6.546101	3.483741	photoreceptor activity
GO:0051537	0.001419	6.557797	0.991071	2 iron, 2 sulfur cluster binding
GO:0016712	0.001419	6.557797	1.785860	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced flavin or flavoprotein as one donor, and incorporation of one atom of oxygen
GO:0015464	0.001419	6.557797	0.328033	acetylcholine receptor activity
GO:0010181	0.001419	6.557797	2.871902	FMN binding
GO:0005385	0.001419	6.557797	0.220788	zinc ion transmembrane transporter activity
GO:0004114	0.001419	6.557797	0.328033	3',5'-cyclic-nucleotide phosphodiesterase activity
GO:0051879	0.001402	6.569632	1.028769	Hsp90 protein binding
GO:0043175	0.001402	6.569632	0.348307	RNA polymerase core enzyme binding
GO:0030551	0.001402	6.569632	3.218400	cyclic nucleotide binding
GO:0016641	0.001402	6.569632	0.573130	oxidoreductase activity, acting on the CH-NH2 group of donors, oxygen as acceptor
GO:0016409	0.001402	6.569632	2.564949	palmitoyltransferase activity
GO:0015923	0.001402	6.569632	2.322621	mannosidase activity
GO:0004033	0.001402	6.569632	2.273598	aldo-keto reductase (NADP) activity
GO:0004016	0.001402	6.569632	0.436718	adenylate cyclase activity
GO:0003707	0.001402	6.569632	3.507272	nuclear steroid receptor activity
GO:0019825	0.001386	6.581608	3.622250	oxygen binding
GO:0016411	0.001386	6.581608	1.226606	acylglycerol O-acyltransferase activity
GO:0050145	0.001369	6.593729	0.338213	nucleoside monophosphate kinase activity
GO:0043394	0.001369	6.593729	2.765705	proteoglycan binding
GO:0019212	0.001369	6.593729	0.012121	phosphatase inhibitor activity
GO:0016861	0.001369	6.593729	1.009381	intramolecular oxidoreductase activity, interconverting aldoses and ketoses
GO:0016661	0.001369	6.593729	4.020987	oxidoreductase activity, acting on other nitrogenous compounds as donors
GO:0003954	0.001369	6.593729	1.217298	NADH dehydrogenase activity
GO:0005416	0.001352	6.605999	0.200671	amino acid:monoatomic cation symporter activity
GO:0005048	0.001352	6.605999	1.837999	signal sequence binding
GO:0022848	0.001336	6.618422	0.000000	acetylcholine-gated monoatomic cation-selective channel activity
GO:0005184	0.001336	6.618422	1.123305	neuropeptide hormone activity
GO:0005080	0.001336	6.618422	2.716349	protein kinase C binding
GO:0015651	0.001319	6.631001	0.579312	quaternary ammonium group transmembrane transporter activity
GO:0015485	0.001319	6.631001	0.073203	cholesterol binding
GO:0004707	0.001319	6.631001	2.918797	MAP kinase activity
GO:0004529	0.001319	6.631001	0.152341	DNA exonuclease activity
GO:0001965	0.001319	6.631001	5.912750	G-protein alpha-subunit binding
GO:0045309	0.001302	6.643740	0.647237	protein phosphorylated amino acid binding
GO:0008187	0.001302	6.643740	1.226787	poly-pyrimidine tract binding
GO:0099604	0.001285	6.656643	0.050644	ligand-gated calcium channel activity
GO:0070888	0.001285	6.656643	2.518952	E-box binding
GO:0030544	0.001285	6.656643	1.115780	Hsp70 protein binding
GO:0019865	0.001285	6.656643	3.549393	immunoglobulin binding
GO:0016833	0.001285	6.656643	1.760988	oxo-acid-lyase activity
GO:0008376	0.001285	6.656643	2.072927	acetylgalactosaminyltransferase activity
GO:0003955	0.001285	6.656643	0.451985	NAD(P)H dehydrogenase (quinone) activity
GO:0140313	0.001269	6.669715	6.669715	molecular sequestering activity
GO:0046961	0.001269	6.669715	0.000000	proton-transporting ATPase activity, rotational mechanism
GO:0044769	0.001269	6.669715	0.000000	ATPase activity, coupled to transmembrane movement of ions, rotational mechanism
GO:0042625	0.001269	6.669715	1.697545	ATPase-coupled ion transmembrane transporter activity
GO:0017069	0.001269	6.669715	4.009723	snRNA binding
GO:0004029	0.001269	6.669715	0.180126	aldehyde dehydrogenase (NAD+) activity
GO:0019956	0.001252	6.682960	1.243194	chemokine binding
GO:0019789	0.001252	6.682960	2.573121	SUMO transferase activity
GO:0017080	0.001252	6.682960	1.389622	sodium channel regulator activity
GO:0016812	0.001252	6.682960	2.285100	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amides
GO:0016671	0.001252	6.682960	1.499623	oxidoreductase activity, acting on a sulfur group of donors, disulfide as acceptor
GO:0004089	0.001252	6.682960	1.843719	carbonate dehydratase activity
GO:0140303	0.001235	6.696383	1.501070	intramembrane lipid transporter activity
GO:0061650	0.001235	6.696383	2.586544	ubiquitin-like protein conjugating enzyme activity
GO:0017147	0.001235	6.696383	5.978133	Wnt-protein binding
GO:0016895	0.001235	6.696383	0.000000	DNA exonuclease activity, producing 5'-phosphomonoesters
GO:0015215	0.001235	6.696383	0.000000	nucleotide transmembrane transporter activity
GO:0005537	0.001235	6.696383	0.958625	mannose binding
GO:0001968	0.001235	6.696383	5.978133	fibronectin binding
GO:0043425	0.001219	6.709989	2.641988	bHLH transcription factor binding
GO:0016504	0.001219	6.709989	0.066249	peptidase activator activity
GO:0001222	0.001219	6.709989	1.066127	transcription corepressor binding
GO:0046912	0.001202	6.723782	2.845394	acyltransferase activity, acyl groups converted into alkyl on transfer
GO:0034593	0.001202	6.723782	0.468266	phosphatidylinositol bisphosphate phosphatase activity
GO:0033612	0.001202	6.723782	3.678057	receptor serine/threonine kinase binding
GO:0016289	0.001202	6.723782	0.510826	CoA hydrolase activity
GO:0008649	0.001202	6.723782	0.000000	rRNA methyltransferase activity
GO:0004864	0.001202	6.723782	0.040822	protein phosphatase inhibitor activity
GO:0001671	0.001202	6.723782	0.013793	ATPase activator activity
GO:0051427	0.001185	6.737769	3.692043	hormone receptor binding
GO:0005248	0.001185	6.737769	0.671794	voltage-gated sodium channel activity
GO:0005242	0.001185	6.737769	0.068053	inward rectifier potassium channel activity
GO:0003916	0.001185	6.737769	0.027780	DNA topoisomerase activity
GO:0090599	0.001169	6.751953	0.944462	alpha-glucosidase activity
GO:0080025	0.001169	6.751953	1.034708	phosphatidylinositol-3,5-bisphosphate binding
GO:0070569	0.001169	6.751953	2.257289	uridylyltransferase activity
GO:0046812	0.001169	6.751953	6.313108	host cell surface binding
GO:0043015	0.001169	6.751953	2.319583	gamma-tubulin binding
GO:0042805	0.001169	6.751953	3.331184	actinin binding
GO:0035250	0.001169	6.751953	0.014185	UDP-galactosyltransferase activity
GO:0030374	0.001169	6.751953	1.919021	nuclear receptor coactivator activity
GO:0016813	0.001169	6.751953	2.354093	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amidines
GO:0008373	0.001169	6.751953	3.037696	sialyltransferase activity
GO:0008301	0.001169	6.751953	4.491842	DNA binding, bending
GO:0005283	0.001169	6.751953	0.000000	amino acid:sodium symporter activity
GO:0098631	0.001152	6.766342	2.431577	cell adhesion mediator activity
GO:0052745	0.001152	6.766342	2.759826	inositol phosphate phosphatase activity
GO:0016783	0.001152	6.766342	1.364315	sulfurtransferase activity
GO:0015556	0.001152	6.766342	2.200440	C4-dicarboxylate transmembrane transporter activity
GO:0015373	0.001152	6.766342	0.000000	monoatomic anion:sodium symporter activity
GO:0015172	0.001152	6.766342	1.663047	acidic amino acid transmembrane transporter activity
GO:0010334	0.001152	6.766342	1.007641	sesquiterpene synthase activity
GO:0004629	0.001152	6.766342	0.742627	phospholipase C activity
GO:0043236	0.001135	6.780941	0.344840	laminin binding
GO:0036002	0.001135	6.780941	4.120948	pre-mRNA binding
GO:0019210	0.001135	6.780941	0.070952	kinase inhibitor activity
GO:0016868	0.001135	6.780941	1.265289	intramolecular transferase activity, phosphotransferases
GO:0016742	0.001135	6.780941	2.676175	hydroxymethyl-, formyl- and related transferase activity
GO:0016725	0.001135	6.780941	4.208198	oxidoreductase activity, acting on CH or CH2 groups
GO:0016408	0.001135	6.780941	2.776258	C-acyltransferase activity
GO:0015026	0.001135	6.780941	3.718581	coreceptor activity
GO:0008527	0.001135	6.780941	3.442960	taste receptor activity
GO:0005227	0.001135	6.780941	2.701164	calcium activated cation channel activity
GO:0004467	0.001135	6.780941	0.344840	long-chain fatty acid-CoA ligase activity
GO:0097718	0.001119	6.795756	2.977659	disordered domain specific binding
GO:0050308	0.001119	6.795756	0.380275	sugar-phosphatase activity
GO:0042301	0.001119	6.795756	3.751434	phosphate ion binding
GO:0015925	0.001119	6.795756	2.548745	galactosidase activity
GO:0008266	0.001119	6.795756	0.152016	poly(U) RNA binding
GO:0097472	0.001102	6.810794	3.538321	cyclin-dependent protein kinase activity
GO:0070717	0.001102	6.810794	1.393842	poly-purine tract binding
GO:0070402	0.001102	6.810794	0.546544	NADPH binding
GO:0052742	0.001102	6.810794	3.751997	phosphatidylinositol kinase activity
GO:0043028	0.001102	6.810794	3.623937	cysteine-type endopeptidase regulator activity involved in apoptotic process
GO:0016722	0.001102	6.810794	4.238051	oxidoreductase activity, acting on metal ions
GO:0016682	0.001102	6.810794	0.332134	oxidoreductase activity, acting on diphenols and related substances as donors, oxygen as acceptor
GO:0015385	0.001102	6.810794	0.073025	sodium:proton antiporter activity
GO:0015216	0.001102	6.810794	0.114410	purine nucleotide transmembrane transporter activity
GO:0008409	0.001102	6.810794	1.437966	5'-3' exonuclease activity
GO:0005520	0.001102	6.810794	1.469827	insulin-like growth factor binding
GO:0004708	0.001102	6.810794	0.445074	MAP kinase kinase activity
GO:0004673	0.001102	6.810794	0.015038	protein histidine kinase activity
GO:0000993	0.001102	6.810794	0.000000	RNA polymerase II complex binding
GO:0043548	0.001085	6.826061	6.107811	phosphatidylinositol 3-kinase binding
GO:0035381	0.001085	6.826061	2.124562	ATP-gated ion channel activity
GO:0016500	0.001085	6.826061	3.763701	protein-hormone receptor activity
GO:0015174	0.001085	6.826061	1.722767	basic amino acid transmembrane transporter activity
GO:0008106	0.001085	6.826061	0.256430	alcohol dehydrogenase (NADP+) activity
GO:0005243	0.001085	6.826061	0.516961	gap junction channel activity
GO:0005154	0.001085	6.826061	1.186905	epidermal growth factor receptor binding
GO:0004970	0.001085	6.826061	0.000000	ionotropic glutamate receptor activity
GO:0004693	0.001085	6.826061	0.000000	cyclin-dependent protein serine/threonine kinase activity
GO:0004396	0.001085	6.826061	0.900787	hexokinase activity
GO:0120014	0.001068	6.841565	0.117783	phospholipid transfer activity
GO:0061631	0.001068	6.841565	0.000000	ubiquitin conjugating enzyme activity
GO:0016675	0.001068	6.841565	4.268823	oxidoreductase activity, acting on a heme group of donors
GO:0015368	0.001068	6.841565	0.000000	calcium:monoatomic cation antiporter activity
GO:0015205	0.001068	6.841565	4.252950	nucleobase transmembrane transporter activity
GO:0004709	0.001068	6.841565	3.129361	MAP kinase kinase kinase activity
GO:0004675	0.001068	6.841565	0.015504	transmembrane receptor protein serine/threonine kinase activity
GO:0004602	0.001068	6.841565	1.454245	glutathione peroxidase activity
GO:0000339	0.001068	6.841565	4.181573	RNA cap binding
GO:0070567	0.001052	6.857314	2.362649	cytidylyltransferase activity
GO:0047134	0.001052	6.857314	0.000000	protein-disulfide reductase (NAD(P)) activity
GO:0030331	0.001052	6.857314	1.362197	nuclear estrogen receptor binding
GO:0008417	0.001052	6.857314	2.820055	fucosyltransferase activity
GO:0005484	0.001052	6.857314	2.479602	SNAP receptor activity
GO:0003785	0.001052	6.857314	2.551427	actin monomer binding
GO:0140312	0.001035	6.873314	2.495602	cargo adaptor activity
GO:0016721	0.001035	6.873314	4.300572	oxidoreductase activity, acting on superoxide radicals as acceptor
GO:0015378	0.001035	6.873314	0.000000	sodium:chloride symporter activity
GO:0015252	0.001035	6.873314	0.000000	proton channel activity
GO:0008641	0.001035	6.873314	0.000000	ubiquitin-like modifier activating enzyme activity
GO:0046625	0.001018	6.889575	3.223455	sphingolipid binding
GO:0035673	0.001018	6.889575	0.388936	oligopeptide transmembrane transporter activity
GO:0016841	0.001018	6.889575	0.625325	ammonia-lyase activity
GO:0016273	0.001018	6.889575	1.679086	arginine N-methyltransferase activity
GO:0015248	0.001018	6.889575	1.694261	sterol transporter activity
GO:0010851	0.001018	6.889575	3.702718	cyclase regulator activity
GO:0008252	0.001018	6.889575	2.883059	nucleotidase activity
GO:0005044	0.001018	6.889575	0.945372	scavenger receptor activity
GO:0004784	0.001018	6.889575	0.000000	superoxide dismutase activity
GO:0140767	0.001002	6.906104	2.528392	enzyme-substrate adaptor activity
GO:0071617	0.001002	6.906104	2.901422	lysophospholipid acyltransferase activity
GO:0070300	0.001002	6.906104	1.757858	phosphatidic acid binding
GO:0035198	0.001002	6.906104	0.615186	miRNA binding
GO:0018455	0.001002	6.906104	2.610070	alcohol dehydrogenase [NAD(P)+] activity
GO:0016917	0.001002	6.906104	3.568123	GABA receptor activity
GO:0016755	0.001002	6.906104	1.551102	aminoacyltransferase activity
GO:0016615	0.001002	6.906104	2.719100	malate dehydrogenase activity
GO:0004860	0.001002	6.906104	0.000000	protein kinase inhibitor activity
GO:0071814	0.000985	6.922911	3.815661	protein-lipid complex binding
GO:0071813	0.000985	6.922911	0.000000	lipoprotein particle binding
GO:0051010	0.000985	6.922911	2.204729	microtubule plus-end binding
GO:0044390	0.000985	6.922911	4.190168	ubiquitin-like protein conjugating enzyme binding
GO:0015106	0.000985	6.922911	1.325140	bicarbonate transmembrane transporter activity
GO:0005338	0.000985	6.922911	0.985058	nucleotide-sugar transmembrane transporter activity
GO:0004931	0.000985	6.922911	0.000000	extracellularly ATP-gated monoatomic cation channel activity
GO:0004115	0.000985	6.922911	0.365114	3',5'-cyclic-AMP phosphodiesterase activity
GO:0000295	0.000985	6.922911	0.112117	adenine nucleotide transmembrane transporter activity
GO:0099095	0.000968	6.940005	0.129212	ligand-gated monoatomic anion channel activity
GO:0047617	0.000968	6.940005	0.216223	acyl-CoA hydrolase activity
GO:0032813	0.000968	6.940005	2.064240	tumor necrosis factor receptor superfamily binding
GO:0017025	0.000968	6.940005	0.767871	TBP-class protein binding
GO:0015166	0.000968	6.940005	1.002152	polyol transmembrane transporter activity
GO:0005402	0.000968	6.940005	0.033902	carbohydrate:monoatomic cation symporter activity
GO:0004953	0.000968	6.940005	2.877841	icosanoid receptor activity
GO:0004559	0.000968	6.940005	0.370374	alpha-mannosidase activity
GO:0003688	0.000968	6.940005	4.061037	DNA replication origin binding
GO:0051019	0.000952	6.957397	3.055324	mitogen-activated protein kinase binding
GO:0048487	0.000952	6.957397	2.525027	beta-tubulin binding
GO:0046875	0.000952	6.957397	3.911672	ephrin receptor binding
GO:0042287	0.000952	6.957397	3.911672	MHC protein binding
GO:0035255	0.000952	6.957397	0.500244	ionotropic glutamate receptor binding
GO:0032794	0.000952	6.957397	6.239147	GTPase activating protein binding
GO:0030515	0.000952	6.957397	4.297405	snoRNA binding
GO:0017056	0.000952	6.957397	3.324657	structural constituent of nuclear pore
GO:0016837	0.000952	6.957397	2.642810	carbon-oxygen lyase activity, acting on polysaccharides
GO:0005544	0.000952	6.957397	2.626447	calcium-dependent phospholipid binding
GO:0004129	0.000952	6.957397	0.000000	cytochrome-c oxidase activity
GO:0140103	0.000935	6.975097	4.842498	catalytic activity, acting on a glycoprotein
GO:0071889	0.000935	6.975097	6.256846	14-3-3 protein binding
GO:0051861	0.000935	6.975097	1.511983	glycolipid binding
GO:0042169	0.000935	6.975097	3.157000	SH2 domain binding
GO:0032036	0.000935	6.975097	1.359143	myosin heavy chain binding
GO:0031420	0.000935	6.975097	3.912380	alkali metal ion binding
GO:0030296	0.000935	6.975097	1.467710	protein tyrosine kinase activator activity
GO:0016274	0.000935	6.975097	0.000000	protein-arginine N-methyltransferase activity
GO:0015278	0.000935	6.975097	0.000000	calcium-release channel activity
GO:0005112	0.000935	6.975097	3.929372	Notch binding
GO:0004549	0.000935	6.975097	0.164303	tRNA-specific ribonuclease activity
GO:0004022	0.000935	6.975097	0.068993	alcohol dehydrogenase (NAD+) activity
GO:0001848	0.000935	6.975097	6.256846	complement binding
GO:0000900	0.000935	6.975097	0.000000	mRNA regulatory element binding translation repressor activity
GO:0070403	0.000918	6.993115	0.567378	NAD+ binding
GO:0051920	0.000918	6.993115	1.605795	peroxiredoxin activity
GO:0050136	0.000918	6.993115	0.000000	NADH dehydrogenase (quinone) activity
GO:0043138	0.000918	6.993115	1.207603	3'-5' DNA helicase activity
GO:0042605	0.000918	6.993115	0.018019	peptide antigen binding
GO:0009982	0.000918	6.993115	1.477464	pseudouridine synthase activity
GO:0008556	0.000918	6.993115	0.000000	P-type potassium transmembrane transporter activity
GO:0008172	0.000918	6.993115	2.786133	S-methyltransferase activity
GO:0004568	0.000918	6.993115	2.746105	chitinase activity
GO:0098847	0.000901	7.011464	0.683845	sequence-specific single stranded DNA binding
GO:0030159	0.000901	7.011464	0.908856	signaling receptor complex adaptor activity
GO:0017134	0.000901	7.011464	1.670498	fibroblast growth factor binding
GO:0010485	0.000901	7.011464	1.008228	histone H4 acetyltransferase activity
GO:0008143	0.000901	7.011464	0.200671	poly(A) binding
GO:0005381	0.000901	7.011464	1.418188	iron ion transmembrane transporter activity
GO:0005109	0.000901	7.011464	2.262920	frizzled binding
GO:0004715	0.000901	7.011464	1.788668	non-membrane spanning protein tyrosine kinase activity
GO:0001091	0.000901	7.011464	0.054067	RNA polymerase II general transcription initiation factor binding
GO:0140142	0.000885	7.030157	1.414203	nucleocytoplasmic carrier activity
GO:0106389	0.000885	7.030157	4.010758	ecdysteroid 22-kinase activity
GO:0051721	0.000885	7.030157	1.822722	protein phosphatase 2A binding
GO:0050664	0.000885	7.030157	1.653726	oxidoreductase activity, acting on NAD(P)H, oxygen as acceptor
GO:0042974	0.000885	7.030157	1.535040	nuclear retinoic acid receptor binding
GO:0042056	0.000885	7.030157	2.703006	chemoattractant activity
GO:0034595	0.000885	7.030157	0.774640	phosphatidylinositol phosphate 5-phosphatase activity
GO:0010314	0.000885	7.030157	1.948602	phosphatidylinositol-5-phosphate binding
GO:0043014	0.000868	7.049205	2.616834	alpha-tubulin binding
GO:0042800	0.000868	7.049205	0.702717	histone H3K4 methyltransferase activity
GO:0031624	0.000868	7.049205	0.126294	ubiquitin conjugating enzyme binding
GO:0016885	0.000868	7.049205	2.899941	ligase activity, forming carbon-carbon bonds
GO:0016863	0.000868	7.049205	1.464857	intramolecular oxidoreductase activity, transposing C=C bonds
GO:0016417	0.000868	7.049205	3.044522	S-acyltransferase activity
GO:0016307	0.000868	7.049205	3.990408	phosphatidylinositol phosphate kinase activity
GO:0008484	0.000868	7.049205	4.059448	sulfuric ester hydrolase activity
GO:0008061	0.000868	7.049205	3.749956	chitin binding
GO:0005346	0.000868	7.049205	0.000000	purine ribonucleotide transmembrane transporter activity
GO:0001784	0.000868	7.049205	0.405465	phosphotyrosine residue binding
GO:0099589	0.000851	7.068623	3.730642	serotonin receptor activity
GO:0048027	0.000851	7.068623	3.625125	mRNA 5'-UTR binding
GO:0032183	0.000851	7.068623	1.371479	SUMO binding
GO:0016894	0.000851	7.068623	2.177422	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 3'-phosphomonoesters
GO:0016864	0.000851	7.068623	1.484275	intramolecular oxidoreductase activity, transposing S-S bonds
GO:0010853	0.000851	7.068623	0.038466	cyclase activator activity
GO:0010484	0.000851	7.068623	1.065387	histone H3 acetyltransferase activity
GO:0005158	0.000851	7.068623	2.201572	insulin receptor binding
GO:0003756	0.000851	7.068623	0.000000	protein disulfide isomerase activity
GO:1990756	0.000835	7.088425	0.182322	ubiquitin ligase-substrate adaptor activity
GO:0098632	0.000835	7.088425	0.322083	cell-cell adhesion mediator activity
GO:0070492	0.000835	7.088425	2.290513	oligosaccharide binding
GO:0051059	0.000835	7.088425	2.592265	NF-kappaB binding
GO:0043395	0.000835	7.088425	0.113329	heparan sulfate proteoglycan binding
GO:0035173	0.000835	7.088425	3.815953	histone kinase activity
GO:0035035	0.000835	7.088425	4.355683	histone acetyltransferase binding
GO:0017116	0.000835	7.088425	1.302913	single-stranded DNA helicase activity
GO:0016160	0.000835	7.088425	2.841415	amylase activity
GO:0008137	0.000835	7.088425	0.000000	NADH dehydrogenase (ubiquinone) activity
GO:0005432	0.000835	7.088425	0.019803	calcium:sodium antiporter activity
GO:0005388	0.000835	7.088425	0.000000	P-type calcium transporter activity
GO:0005160	0.000835	7.088425	2.212660	transforming growth factor beta receptor binding
GO:0001637	0.000835	7.088425	1.925707	G protein-coupled chemoattractant receptor activity
GO:0120015	0.000818	7.108628	0.000000	sterol transfer activity
GO:0098918	0.000818	7.108628	3.475888	structural constituent of synapse
GO:0042834	0.000818	7.108628	2.008077	peptidoglycan binding
GO:0035925	0.000818	7.108628	1.934180	mRNA 3'-UTR AU-rich region binding
GO:0016884	0.000818	7.108628	1.954618	carbon-nitrogen ligase activity, with glutamine as amido-N-donor
GO:0009922	0.000818	7.108628	0.817710	fatty acid elongase activity
GO:0008443	0.000818	7.108628	1.183354	phosphofructokinase activity
GO:0008131	0.000818	7.108628	0.538997	primary amine oxidase activity
GO:0005337	0.000818	7.108628	1.170775	nucleoside transmembrane transporter activity
GO:0005313	0.000818	7.108628	0.040005	L-glutamate transmembrane transporter activity
GO:0004687	0.000818	7.108628	3.396424	myosin light chain kinase activity
GO:0004383	0.000818	7.108628	0.975714	guanylate cyclase activity
GO:0003796	0.000818	7.108628	0.133531	lysozyme activity
GO:1901474	0.000801	7.129247	4.540632	azole transmembrane transporter activity
GO:0140326	0.000801	7.129247	0.000000	ATPase-coupled intramembrane lipid transporter activity
GO:0051393	0.000801	7.129247	0.377294	alpha-actinin binding
GO:0048020	0.000801	7.129247	1.026639	CCR chemokine receptor binding
GO:0043325	0.000801	7.129247	4.084925	phosphatidylinositol-3,4-bisphosphate binding
GO:0043295	0.000801	7.129247	4.084925	glutathione binding
GO:0042171	0.000801	7.129247	0.223144	lysophosphatidic acid acyltransferase activity
GO:0019870	0.000801	7.129247	0.060625	potassium channel inhibitor activity
GO:0015355	0.000801	7.129247	0.377294	secondary active monocarboxylate transmembrane transporter activity
GO:0015173	0.000801	7.129247	2.025953	aromatic amino acid transmembrane transporter activity
GO:0015038	0.000801	7.129247	1.406914	glutathione disulfide oxidoreductase activity
GO:0009008	0.000801	7.129247	0.040822	DNA-methyltransferase activity
GO:0008525	0.000801	7.129247	1.063273	phosphatidylcholine transporter activity
GO:0008308	0.000801	7.129247	0.040822	voltage-gated monoatomic anion channel activity
GO:0008138	0.000801	7.129247	2.407320	protein tyrosine/serine/threonine phosphatase activity
GO:0003993	0.000801	7.129247	3.122732	acid phosphatase activity
GO:0070008	0.000785	7.150301	0.101096	serine-type exopeptidase activity
GO:0042285	0.000785	7.150301	1.609438	xylosyltransferase activity
GO:0035615	0.000785	7.150301	0.000000	clathrin adaptor activity
GO:0019863	0.000785	7.150301	0.493658	IgE binding
GO:0017110	0.000785	7.150301	3.226506	nucleoside diphosphate phosphatase activity
GO:0015269	0.000785	7.150301	0.041673	calcium-activated potassium channel activity
GO:0015157	0.000785	7.150301	1.663281	oligosaccharide transmembrane transporter activity
GO:0008093	0.000785	7.150301	2.772589	cytoskeletal anchor activity
GO:0004954	0.000785	7.150301	0.210295	prostanoid receptor activity
GO:0047429	0.000768	7.171807	3.248012	nucleoside triphosphate diphosphatase activity
GO:0046789	0.000768	7.171807	0.419854	host cell surface receptor binding
GO:0038191	0.000768	7.171807	4.126082	neuropilin binding
GO:0035004	0.000768	7.171807	4.235681	phosphatidylinositol 3-kinase activity
GO:0030507	0.000768	7.171807	2.477634	spectrin binding
GO:0019206	0.000768	7.171807	1.318853	nucleoside kinase activity
GO:0016744	0.000768	7.171807	5.368512	transketolase or transaldolase activity
GO:0016713	0.000768	7.171807	2.399870	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced iron-sulfur protein as one donor, and incorporation of one atom of oxygen
GO:0015204	0.000768	7.171807	1.626680	urea transmembrane transporter activity
GO:0015116	0.000768	7.171807	0.178692	sulfate transmembrane transporter activity
GO:0005436	0.000768	7.171807	1.728187	sodium:phosphate symporter activity
GO:0004950	0.000768	7.171807	0.000000	chemokine receptor activity
GO:0000340	0.000768	7.171807	0.330242	RNA 7-methylguanosine cap binding
GO:0070628	0.000751	7.193786	4.086536	proteasome binding
GO:0046966	0.000751	7.193786	1.698669	nuclear thyroid hormone receptor binding
GO:0046933	0.000751	7.193786	0.000000	proton-transporting ATP synthase activity, rotational mechanism
GO:0043047	0.000751	7.193786	0.000000	single-stranded telomeric DNA binding
GO:0030547	0.000751	7.193786	0.253781	signaling receptor inhibitor activity
GO:0008296	0.000751	7.193786	0.000000	3'-5'-DNA exonuclease activity
GO:0005452	0.000751	7.193786	0.253781	solute:inorganic anion antiporter activity
GO:0005345	0.000751	7.193786	0.352221	purine nucleobase transmembrane transporter activity
GO:0004622	0.000751	7.193786	1.358123	lysophospholipase activity
GO:0004337	0.000751	7.193786	1.491655	geranyltranstransferase activity
GO:1990239	0.000735	7.216259	0.223144	steroid hormone binding
GO:0047372	0.000735	7.216259	1.864785	acylglycerol lipase activity
GO:0043855	0.000735	7.216259	2.505526	cyclic nucleotide-gated monoatomic ion channel activity
GO:0016842	0.000735	7.216259	0.952009	amidine-lyase activity
GO:0016774	0.000735	7.216259	4.543053	phosphotransferase activity, carboxyl group as acceptor
GO:0016653	0.000735	7.216259	1.839828	oxidoreductase activity, acting on NAD(P)H, heme protein as acceptor
GO:0016647	0.000735	7.216259	1.509115	oxidoreductase activity, acting on the CH-NH group of donors, oxygen as acceptor
GO:0016639	0.000735	7.216259	1.219757	oxidoreductase activity, acting on the CH-NH2 group of donors, NAD or NADP as acceptor
GO:0008253	0.000735	7.216259	0.326684	5'-nucleotidase activity
GO:0005375	0.000735	7.216259	1.622982	copper ion transmembrane transporter activity
GO:0004745	0.000735	7.216259	2.920225	NAD-retinol dehydrogenase activity
GO:0004697	0.000735	7.216259	3.504055	protein kinase C activity
GO:0004653	0.000735	7.216259	0.127833	polypeptide N-acetylgalactosaminyltransferase activity
GO:0004096	0.000735	7.216259	1.828938	catalase activity
GO:0003906	0.000735	7.216259	3.058494	DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0047555	0.000718	7.239248	0.681451	3',5'-cyclic-GMP phosphodiesterase activity
GO:0046965	0.000718	7.239248	0.209092	nuclear retinoid X receptor binding
GO:0043027	0.000718	7.239248	0.000000	cysteine-type endopeptidase inhibitor activity involved in apoptotic process
GO:0038187	0.000718	7.239248	4.176889	pattern recognition receptor activity
GO:0016880	0.000718	7.239248	2.085239	acid-ammonia (or amide) ligase activity
GO:0016855	0.000718	7.239248	1.307704	racemase and epimerase activity, acting on amino acids and derivatives
GO:0016421	0.000718	7.239248	0.190044	CoA carboxylase activity
GO:0016215	0.000718	7.239248	0.813511	acyl-CoA desaturase activity
GO:0015203	0.000718	7.239248	4.650633	polyamine transmembrane transporter activity
GO:0015165	0.000718	7.239248	0.316337	pyrimidine nucleotide-sugar transmembrane transporter activity
GO:0008603	0.000718	7.239248	7.239248	cAMP-dependent protein kinase regulator activity
GO:0008381	0.000718	7.239248	3.159471	mechanosensitive monoatomic ion channel activity
GO:0004993	0.000718	7.239248	0.000000	G protein-coupled serotonin receptor activity
GO:0004563	0.000718	7.239248	0.693147	beta-N-acetylhexosaminidase activity
GO:0004526	0.000718	7.239248	0.000000	ribonuclease P activity
GO:0004181	0.000718	7.239248	0.000000	metallocarboxypeptidase activity
GO:0004143	0.000718	7.239248	4.180451	diacylglycerol kinase activity
GO:0000979	0.000718	7.239248	0.264152	RNA polymerase II core promoter sequence-specific DNA binding
GO:0000155	0.000718	7.239248	0.045462	phosphorelay sensor kinase activity
GO:0099602	0.000701	7.262779	3.023903	neurotransmitter receptor regulator activity
GO:0060229	0.000701	7.262779	3.223626	lipase activator activity
GO:0043891	0.000701	7.262779	1.860752	glyceraldehyde-3-phosphate dehydrogenase (NAD(P)+) (phosphorylating) activity
GO:0035197	0.000701	7.262779	0.971861	siRNA binding
GO:0030548	0.000701	7.262779	0.000000	acetylcholine receptor regulator activity
GO:0022821	0.000701	7.262779	0.000000	solute:potassium antiporter activity
GO:0016151	0.000701	7.262779	3.589454	nickel cation binding
GO:0015154	0.000701	7.262779	0.112478	disaccharide transmembrane transporter activity
GO:0008554	0.000701	7.262779	0.000000	P-type sodium transporter activity
GO:0008519	0.000701	7.262779	3.081254	ammonium transmembrane transporter activity
GO:0008504	0.000701	7.262779	3.492894	monoamine transmembrane transporter activity
GO:0005534	0.000701	7.262779	1.525021	galactose binding
GO:0004955	0.000701	7.262779	0.112478	prostaglandin receptor activity
GO:0004550	0.000701	7.262779	1.007263	nucleoside diphosphate kinase activity
GO:0070840	0.000684	7.286876	4.179627	dynein complex binding
GO:0070568	0.000684	7.286876	2.792212	guanylyltransferase activity
GO:0070325	0.000684	7.286876	4.241151	lipoprotein particle receptor binding
GO:0055106	0.000684	7.286876	4.100019	ubiquitin-protein transferase regulator activity
GO:0034237	0.000684	7.286876	0.968559	protein kinase A regulatory subunit binding
GO:0031435	0.000684	7.286876	3.384804	mitogen-activated protein kinase kinase kinase binding
GO:0031210	0.000684	7.286876	0.000000	phosphatidylcholine binding
GO:0030506	0.000684	7.286876	3.866107	ankyrin binding
GO:0019238	0.000684	7.286876	1.290374	cyclohydrolase activity
GO:0016886	0.000684	7.286876	3.137613	ligase activity, forming phosphoric ester bonds
GO:0016303	0.000684	7.286876	0.000000	1-phosphatidylinositol-3-kinase activity
GO:0005549	0.000684	7.286876	6.848031	odorant binding
GO:0004690	0.000684	7.286876	3.574672	cyclic nucleotide-dependent protein kinase activity
GO:0004435	0.000684	7.286876	0.520534	phosphatidylinositol phospholipase C activity
GO:0002161	0.000684	7.286876	0.178248	aminoacyl-tRNA editing activity
GO:0120227	0.000668	7.311569	0.139762	acyl-CoA binding
GO:0050699	0.000668	7.311569	3.493473	WW domain binding
GO:0050431	0.000668	7.311569	0.628609	transforming growth factor beta binding
GO:0038022	0.000668	7.311569	0.072321	G protein-coupled olfactory receptor activity
GO:0036122	0.000668	7.311569	1.871802	BMP binding
GO:0032977	0.000668	7.311569	0.799757	membrane insertase activity
GO:0031559	0.000668	7.311569	1.795917	oxidosqualene cyclase activity
GO:0030249	0.000668	7.311569	0.421994	guanylate cyclase regulator activity
GO:0016888	0.000668	7.311569	0.048790	endodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0016872	0.000668	7.311569	3.077312	intramolecular lyase activity
GO:0015271	0.000668	7.311569	1.713798	outward rectifier potassium channel activity
GO:0008970	0.000668	7.311569	1.475907	phospholipase A1 activity
GO:0008574	0.000668	7.311569	1.208960	plus-end-directed microtubule motor activity
GO:0008327	0.000668	7.311569	0.515813	methyl-CpG binding
GO:0005536	0.000668	7.311569	1.573811	glucose binding
GO:0005391	0.000668	7.311569	0.048790	P-type sodium:potassium-exchanging transporter activity
GO:0005186	0.000668	7.311569	2.984419	pheromone activity
GO:0005092	0.000668	7.311569	3.163363	GDP-dissociation inhibitor activity
GO:0004630	0.000668	7.311569	1.287854	phospholipase D activity
GO:0000182	0.000668	7.311569	4.432601	rDNA binding
GO:0140713	0.000651	7.336887	0.825075	histone chaperone activity
GO:0106019	0.000651	7.336887	0.613104	phosphatidylinositol-4,5-bisphosphate phosphatase activity
GO:0052890	0.000651	7.336887	2.085831	oxidoreductase activity, acting on the CH-CH group of donors, with a flavin as acceptor
GO:0042813	0.000651	7.336887	3.998906	Wnt receptor activity
GO:0030552	0.000651	7.336887	0.186586	cAMP binding
GO:0030250	0.000651	7.336887	0.000000	guanylate cyclase activator activity
GO:0019211	0.000651	7.336887	0.000000	phosphatase activator activity
GO:0017151	0.000651	7.336887	4.604144	DEAD/H-box RNA helicase binding
GO:0016004	0.000651	7.336887	0.074108	phospholipase activator activity
GO:0008318	0.000651	7.336887	0.074108	protein prenyltransferase activity
GO:0008239	0.000651	7.336887	2.053466	dipeptidyl-peptidase activity
GO:0004565	0.000651	7.336887	0.541131	beta-galactosidase activity
GO:0004311	0.000651	7.336887	1.634756	farnesyltranstransferase activity
GO:0004017	0.000651	7.336887	0.743158	adenylate kinase activity
GO:0004000	0.000651	7.336887	1.009267	adenosine deaminase activity
GO:0003918	0.000651	7.336887	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activity
GO:0000400	0.000651	7.336887	0.921406	four-way junction DNA binding
GO:0000156	0.000651	7.336887	4.294316	phosphorelay response regulator activity
GO:1990404	0.000634	7.362862	0.254234	NAD+-protein ADP-ribosyltransferase activity
GO:0140666	0.000634	7.362862	5.596178	annealing activity
GO:0140272	0.000634	7.362862	6.924017	exogenous protein binding
GO:0097599	0.000634	7.362862	3.115852	xylanase activity
GO:0097506	0.000634	7.362862	0.816761	deaminated base DNA N-glycosylase activity
GO:0097153	0.000634	7.362862	1.809151	cysteine-type endopeptidase activity involved in apoptotic process
GO:0061778	0.000634	7.362862	1.645618	intracellular chloride channel activity
GO:0050321	0.000634	7.362862	4.090389	tau-protein kinase activity
GO:0036361	0.000634	7.362862	0.123614	racemase activity, acting on amino acids and derivatives
GO:0036041	0.000634	7.362862	0.967584	long-chain fatty acid binding
GO:0030983	0.000634	7.362862	4.593524	mismatched DNA binding
GO:0016987	0.000634	7.362862	4.338666	sigma factor activity
GO:0016933	0.000634	7.362862	1.619909	extracellularly glycine-gated ion channel activity
GO:0015379	0.000634	7.362862	0.000000	potassium:chloride symporter activity
GO:0008526	0.000634	7.362862	0.521297	phosphatidylinositol transfer activity
GO:0008174	0.000634	7.362862	1.588161	mRNA methyltransferase activity
GO:0005251	0.000634	7.362862	1.765091	delayed rectifier potassium channel activity
GO:0005131	0.000634	7.362862	0.000000	growth hormone receptor binding
GO:0004652	0.000634	7.362862	1.386294	polynucleotide adenylyltransferase activity
GO:0004365	0.000634	7.362862	0.100083	glyceraldehyde-3-phosphate dehydrogenase (NAD+) (phosphorylating) activity
GO:0004144	0.000634	7.362862	0.781254	diacylglycerol O-acyltransferase activity
GO:0003950	0.000634	7.362862	1.821999	NAD+ ADP-ribosyltransferase activity
GO:1901567	0.000618	7.389531	3.723411	fatty acid derivative binding
GO:0140033	0.000618	7.389531	2.048564	acetylation-dependent protein binding
GO:0120020	0.000618	7.389531	0.280902	cholesterol transfer activity
GO:0099186	0.000618	7.389531	0.280902	structural constituent of postsynapse
GO:0070577	0.000618	7.389531	0.000000	lysine-acetylated histone binding
GO:0035252	0.000618	7.389531	0.102654	UDP-xylosyltransferase activity
GO:0034594	0.000618	7.389531	1.134014	phosphatidylinositol trisphosphate phosphatase activity
GO:0019855	0.000618	7.389531	0.000000	calcium channel inhibitor activity
GO:0019237	0.000618	7.389531	4.510562	centromeric DNA binding
GO:0019202	0.000618	7.389531	4.453404	amino acid kinase activity
GO:0017169	0.000618	7.389531	1.337842	CDP-alcohol phosphatidyltransferase activity
GO:0016889	0.000618	7.389531	0.000000	DNA endonuclease activity, producing 3'-phosphomonoesters
GO:0016502	0.000618	7.389531	4.051550	nucleotide receptor activity
GO:0016208	0.000618	7.389531	1.983793	AMP binding
GO:0015168	0.000618	7.389531	0.052644	glycerol transmembrane transporter activity
GO:0008169	0.000618	7.389531	3.182548	C-methyltransferase activity
GO:0005384	0.000618	7.389531	1.796254	manganese ion transmembrane transporter activity
GO:0005159	0.000618	7.389531	4.343805	insulin-like growth factor receptor binding
GO:0004556	0.000618	7.389531	0.301105	alpha-amylase activity
GO:0004448	0.000618	7.389531	3.093496	isocitrate dehydrogenase [NAD(P)+] activity
GO:0003994	0.000618	7.389531	2.550289	aconitate hydratase activity
GO:0003841	0.000618	7.389531	0.000000	1-acylglycerol-3-phosphate O-acyltransferase activity
GO:0140824	0.000601	7.416930	0.423814	thioredoxin-dependent peroxiredoxin activity
GO:0099528	0.000601	7.416930	0.245122	G protein-coupled neurotransmitter receptor activity
GO:0097677	0.000601	7.416930	2.920769	STAT family protein binding
GO:0071916	0.000601	7.416930	0.527355	dipeptide transmembrane transporter activity
GO:0043024	0.000601	7.416930	2.224624	ribosomal small subunit binding
GO:0035375	0.000601	7.416930	4.684187	zymogen binding
GO:0031434	0.000601	7.416930	3.514857	mitogen-activated protein kinase kinase binding
GO:0019958	0.000601	7.416930	0.733969	C-X-C chemokine binding
GO:0016801	0.000601	7.416930	5.389579	hydrolase activity, acting on ether bonds
GO:0016778	0.000601	7.416930	4.743724	diphosphotransferase activity
GO:0015658	0.000601	7.416930	2.313635	branched-chain amino acid transmembrane transporter activity
GO:0015280	0.000601	7.416930	0.405465	ligand-gated sodium channel activity
GO:0015125	0.000601	7.416930	0.080043	bile acid transmembrane transporter activity
GO:0005229	0.000601	7.416930	0.054067	intracellular calcium activated chloride channel activity
GO:0005104	0.000601	7.416930	1.777773	fibroblast growth factor receptor binding
GO:0004861	0.000601	7.416930	0.000000	cyclin-dependent protein serine/threonine kinase inhibitor activity
GO:0070401	0.000584	7.445100	1.180850	NADP+ binding
GO:0070182	0.000584	7.445100	4.712358	DNA polymerase binding
GO:0070034	0.000584	7.445100	4.785108	telomerase RNA binding
GO:0061578	0.000584	7.445100	1.801238	K63-linked deubiquitinase activity
GO:0050681	0.000584	7.445100	1.949983	nuclear androgen receptor binding
GO:0047661	0.000584	7.445100	0.082238	amino-acid racemase activity
GO:0046030	0.000584	7.445100	0.678758	inositol trisphosphate phosphatase activity
GO:0042577	0.000584	7.445100	3.438585	lipid phosphatase activity
GO:0042288	0.000584	7.445100	0.487703	MHC class I protein binding
GO:0032454	0.000584	7.445100	0.966441	histone H3K9 demethylase activity
GO:0031543	0.000584	7.445100	1.145132	peptidyl-proline dioxygenase activity
GO:0030955	0.000584	7.445100	0.470004	potassium ion binding
GO:0016803	0.000584	7.445100	0.028171	ether hydrolase activity
GO:0016670	0.000584	7.445100	2.261763	oxidoreductase activity, acting on a sulfur group of donors, oxygen as acceptor
GO:0016427	0.000584	7.445100	0.910560	tRNA (cytosine) methyltransferase activity
GO:0005315	0.000584	7.445100	2.921624	inorganic phosphate transmembrane transporter activity
GO:0005212	0.000584	7.445100	3.812361	structural constituent of eye lens
GO:0005007	0.000584	7.445100	1.481605	fibroblast growth factor receptor activity
GO:0004611	0.000584	7.445100	1.985915	phosphoenolpyruvate carboxykinase activity
GO:0004439	0.000584	7.445100	0.000000	phosphatidylinositol-4,5-bisphosphate 5-phosphatase activity
GO:0003995	0.000584	7.445100	0.108214	acyl-CoA dehydrogenase activity
GO:1990825	0.000568	7.474088	4.030590	sequence-specific mRNA binding
GO:0140463	0.000568	7.474088	3.096376	chromatin-protein adaptor activity
GO:0140327	0.000568	7.474088	0.344840	flippase activity
GO:0097216	0.000568	7.474088	2.653656	guanosine tetraphosphate binding
GO:0070990	0.000568	7.474088	2.281782	snRNP binding
GO:0052744	0.000568	7.474088	1.218572	phosphatidylinositol monophosphate phosphatase activity
GO:0046703	0.000568	7.474088	4.428363	natural killer cell lectin-like receptor binding
GO:0034483	0.000568	7.474088	1.615303	heparan sulfate sulfotransferase activity
GO:0033549	0.000568	7.474088	2.752161	MAP kinase phosphatase activity
GO:0019871	0.000568	7.474088	0.000000	sodium channel inhibitor activity
GO:0016728	0.000568	7.474088	0.693147	oxidoreductase activity, acting on CH or CH2 groups, disulfide as acceptor
GO:0016530	0.000568	7.474088	1.858135	metallochaperone activity
GO:0008332	0.000568	7.474088	1.393620	low voltage-gated calcium channel activity
GO:0008331	0.000568	7.474088	1.393620	high voltage-gated calcium channel activity
GO:0008190	0.000568	7.474088	1.098612	eukaryotic initiation factor 4E binding
GO:0005221	0.000568	7.474088	0.000000	intracellular cyclic nucleotide activated monoatomic cation channel activity
GO:0004844	0.000568	7.474088	0.111226	uracil DNA N-glycosylase activity
GO:0004340	0.000568	7.474088	0.648027	glucokinase activity
GO:0004198	0.000568	7.474088	1.920377	calcium-dependent cysteine-type endopeptidase activity
GO:0003968	0.000568	7.474088	1.443453	RNA-dependent RNA polymerase activity
GO:0003964	0.000568	7.474088	1.378914	RNA-directed DNA polymerase activity
GO:0003886	0.000568	7.474088	0.280302	DNA (cytosine-5-)-methyltransferase activity
GO:0001846	0.000568	7.474088	6.755837	opsonin binding
GO:0001614	0.000568	7.474088	0.084557	purinergic nucleotide receptor activity
GO:0000062	0.000568	7.474088	0.000000	fatty-acyl-CoA binding
GO:0097602	0.000551	7.503941	6.785690	cullin family protein binding
GO:0070064	0.000551	7.503941	6.785690	proline-rich region binding
GO:0050750	0.000551	7.503941	0.217065	low-density lipoprotein particle receptor binding
GO:0048185	0.000551	7.503941	4.396691	activin binding
GO:0043274	0.000551	7.503941	4.771198	phospholipase binding
GO:0034979	0.000551	7.503941	1.378690	NAD-dependent protein deacetylase activity
GO:0019103	0.000551	7.503941	4.152709	pyrimidine nucleotide binding
GO:0017075	0.000551	7.503941	1.067841	syntaxin-1 binding
GO:0016918	0.000551	7.503941	0.581030	retinal binding
GO:0016899	0.000551	7.503941	3.316937	oxidoreductase activity, acting on the CH-OH group of donors, oxygen as acceptor
GO:0016634	0.000551	7.503941	2.252885	oxidoreductase activity, acting on the CH-CH group of donors, oxygen as acceptor
GO:0016423	0.000551	7.503941	0.969401	tRNA (guanine) methyltransferase activity
GO:0016308	0.000551	7.503941	0.454736	1-phosphatidylinositol-4-phosphate 5-kinase activity
GO:0015924	0.000551	7.503941	0.563935	mannosyl-oligosaccharide mannosidase activity
GO:0005351	0.000551	7.503941	0.000000	carbohydrate:proton symporter activity
GO:0004935	0.000551	7.503941	1.546918	adrenergic receptor activity
GO:0004634	0.000551	7.503941	2.664700	phosphopyruvate hydratase activity
GO:0004558	0.000551	7.503941	0.751988	alpha-1,4-glucosidase activity
GO:0003872	0.000551	7.503941	0.395313	6-phosphofructokinase activity
GO:0001618	0.000551	7.503941	0.141079	virus receptor activity
GO:0000014	0.000551	7.503941	1.527373	single-stranded DNA endodeoxyribonuclease activity
GO:1904047	0.000534	7.534713	1.252763	S-adenosyl-L-methionine binding
GO:0140658	0.000534	7.534713	2.357310	ATP-dependent chromatin remodeler activity
GO:0140416	0.000534	7.534713	3.827962	transcription regulator inhibitor activity
GO:0140410	0.000534	7.534713	0.000000	solute:bicarbonate symporter activity
GO:0070696	0.000534	7.534713	0.810930	transmembrane receptor protein serine/threonine kinase binding
GO:0070006	0.000534	7.534713	0.145182	metalloaminopeptidase activity
GO:0047498	0.000534	7.534713	1.159237	calcium-dependent phospholipase A2 activity
GO:0042975	0.000534	7.534713	4.488987	peroxisome proliferator activated receptor binding
GO:0042165	0.000534	7.534713	7.095867	neurotransmitter binding
GO:0036440	0.000534	7.534713	0.810930	citrate synthase activity
GO:0035259	0.000534	7.534713	2.039596	nuclear glucocorticoid receptor binding
GO:0031492	0.000534	7.534713	0.060625	nucleosomal DNA binding
GO:0031208	0.000534	7.534713	3.716616	POZ domain binding
GO:0030228	0.000534	7.534713	1.590510	lipoprotein particle receptor activity
GO:0019841	0.000534	7.534713	0.000000	retinol binding
GO:0016907	0.000534	7.534713	0.000000	G protein-coupled acetylcholine receptor activity
GO:0016805	0.000534	7.534713	2.251292	dipeptidase activity
GO:0016662	0.000534	7.534713	0.940983	oxidoreductase activity, acting on other nitrogenous compounds as donors, cytochrome as acceptor
GO:0016262	0.000534	7.534713	0.810930	protein N-acetylglucosaminyltransferase activity
GO:0015114	0.000534	7.534713	2.701781	phosphate ion transmembrane transporter activity
GO:0015095	0.000534	7.534713	3.891820	magnesium ion transmembrane transporter activity
GO:0008297	0.000534	7.534713	0.838329	single-stranded DNA exodeoxyribonuclease activity
GO:0005353	0.000534	7.534713	1.216395	fructose transmembrane transporter activity
GO:0004679	0.000534	7.534713	3.822508	AMP-activated protein kinase activity
GO:0004661	0.000534	7.534713	0.197826	protein geranylgeranyltransferase activity
GO:0004596	0.000534	7.534713	1.770706	peptide alpha-N-acetyltransferase activity
GO:0004332	0.000534	7.534713	1.129384	fructose-bisphosphate aldolase activity
GO:0140693	0.000518	7.566461	3.188749	molecular condensate scaffold activity
GO:0070891	0.000518	7.566461	4.267213	lipoteichoic acid binding
GO:0061608	0.000518	7.566461	0.536305	nuclear import signal receptor activity
GO:0050780	0.000518	7.566461	2.817917	dopamine receptor binding
GO:0048256	0.000518	7.566461	1.589893	flap endonuclease activity
GO:0043035	0.000518	7.566461	1.898732	chromatin insulator sequence binding
GO:0043023	0.000518	7.566461	2.374155	ribosomal large subunit binding
GO:0042923	0.000518	7.566461	2.798461	neuropeptide binding
GO:0042043	0.000518	7.566461	4.520736	neurexin family protein binding
GO:0034185	0.000518	7.566461	6.848211	apolipoprotein binding
GO:0019107	0.000518	7.566461	3.561779	myristoyltransferase activity
GO:0016997	0.000518	7.566461	3.319451	alpha-sialidase activity
GO:0010857	0.000518	7.566461	4.293988	calcium-dependent protein kinase activity
GO:0008810	0.000518	7.566461	3.319451	cellulase activity
GO:0008379	0.000518	7.566461	0.149532	thioredoxin peroxidase activity
GO:0005527	0.000518	7.566461	6.012926	macrolide binding
GO:0005347	0.000518	7.566461	0.031749	ATP transmembrane transporter activity
GO:0005326	0.000518	7.566461	4.977845	neurotransmitter transmembrane transporter activity
GO:0004972	0.000518	7.566461	0.000000	NMDA glutamate receptor activity
GO:0004890	0.000518	7.566461	0.660357	GABA-A receptor activity
GO:0004535	0.000518	7.566461	1.130361	poly(A)-specific ribonuclease activity
GO:0004353	0.000518	7.566461	0.350202	glutamate dehydrogenase [NAD(P)+] activity
GO:0004185	0.000518	7.566461	0.000000	serine-type carboxypeptidase activity
GO:0001972	0.000518	7.566461	0.203599	retinoic acid binding
GO:1901611	0.000501	7.599251	2.451005	phosphatidylglycerol binding
GO:0061459	0.000501	7.599251	0.032790	L-arginine transmembrane transporter activity
GO:0051787	0.000501	7.599251	6.881001	misfolded protein binding
GO:0051766	0.000501	7.599251	4.540454	inositol trisphosphate kinase activity
GO:0048156	0.000501	7.599251	4.178481	tau protein binding
GO:0045125	0.000501	7.599251	3.537087	bioactive lipid receptor activity
GO:0030742	0.000501	7.599251	6.881001	GTP-dependent protein binding
GO:0016730	0.000501	7.599251	5.026509	oxidoreductase activity, acting on iron-sulfur proteins as donors
GO:0016714	0.000501	7.599251	2.827314	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced pteridine as one donor, and incorporation of one atom of oxygen
GO:0016211	0.000501	7.599251	0.360003	ammonia ligase activity
GO:0016018	0.000501	7.599251	2.831251	cyclosporin A binding
GO:0015288	0.000501	7.599251	1.290151	porin activity
GO:0008391	0.000501	7.599251	2.827314	arachidonic acid monooxygenase activity
GO:0005172	0.000501	7.599251	1.098612	vascular endothelial growth factor receptor binding
GO:0004791	0.000501	7.599251	0.490623	thioredoxin-disulfide reductase activity
GO:0004470	0.000501	7.599251	0.693147	malic enzyme activity
GO:0004438	0.000501	7.599251	0.125163	phosphatidylinositol-3-phosphate phosphatase activity
GO:0004372	0.000501	7.599251	0.818310	glycine hydroxymethyltransferase activity
GO:0004308	0.000501	7.599251	0.032790	exo-alpha-sialidase activity
GO:0004303	0.000501	7.599251	1.053150	estradiol 17-beta-dehydrogenase activity
GO:0003896	0.000501	7.599251	1.360977	DNA primase activity
GO:0003680	0.000501	7.599251	1.183770	minor groove of adenine-thymine-rich DNA binding
GO:0000293	0.000501	7.599251	0.788457	ferric-chelate reductase activity
GO:1901149	0.000484	7.633153	1.314835	salicylic acid binding
GO:0089720	0.000484	7.633153	2.104975	caspase binding
GO:0070530	0.000484	7.633153	1.165304	K63-linked polyubiquitin modification-dependent protein binding
GO:0050998	0.000484	7.633153	4.900410	nitric-oxide synthase binding
GO:0034596	0.000484	7.633153	1.377636	phosphatidylinositol phosphate 4-phosphatase activity
GO:0034236	0.000484	7.633153	0.346276	protein kinase A catalytic subunit binding
GO:0032453	0.000484	7.633153	1.154493	histone H3K4 demethylase activity
GO:0031690	0.000484	7.633153	2.884608	adrenergic receptor binding
GO:0030284	0.000484	7.633153	1.063521	nuclear estrogen receptor activity
GO:0023023	0.000484	7.633153	4.525903	MHC protein complex binding
GO:0019707	0.000484	7.633153	0.321584	protein-cysteine S-acyltransferase activity
GO:0016594	0.000484	7.633153	0.791587	glycine binding
GO:0015187	0.000484	7.633153	1.368903	glycine transmembrane transporter activity
GO:0015112	0.000484	7.633153	2.684793	nitrate transmembrane transporter activity
GO:0008745	0.000484	7.633153	0.000000	N-acetylmuramoyl-L-alanine amidase activity
GO:0008469	0.000484	7.633153	0.188052	histone arginine N-methyltransferase activity
GO:0008242	0.000484	7.633153	4.118196	omega peptidase activity
GO:0008139	0.000484	7.633153	1.027153	nuclear localization sequence binding
GO:0008097	0.000484	7.633153	1.676129	5S rRNA binding
GO:0005078	0.000484	7.633153	1.530544	MAP-kinase scaffold activity
GO:0004957	0.000484	7.633153	0.370374	prostaglandin E receptor activity
GO:0004952	0.000484	7.633153	2.007983	dopamine neurotransmitter receptor activity
GO:0004738	0.000484	7.633153	2.496335	pyruvate dehydrogenase activity
GO:0004571	0.000484	7.633153	0.129212	mannosyl-oligosaccharide 1,2-alpha-mannosidase activity
GO:0004523	0.000484	7.633153	1.476891	RNA-DNA hybrid ribonuclease activity
GO:0004345	0.000484	7.633153	3.337119	glucose-6-phosphate dehydrogenase activity
GO:0003988	0.000484	7.633153	0.852212	acetyl-CoA C-acyltransferase activity
GO:0003746	0.000484	7.633153	1.869146	translation elongation factor activity
GO:0000099	0.000484	7.633153	0.393904	sulfur amino acid transmembrane transporter activity
GO:0099103	0.000467	7.668244	0.251314	channel activator activity
GO:0097351	0.000467	7.668244	0.998529	toxin sequestering activity
GO:0070739	0.000467	7.668244	0.619039	protein-glutamic acid ligase activity
GO:0070412	0.000467	7.668244	1.565635	R-SMAD binding
GO:0062105	0.000467	7.668244	0.428996	RNA 2'-O-methyltransferase activity
GO:0055056	0.000467	7.668244	1.189584	D-glucose transmembrane transporter activity
GO:0051428	0.000467	7.668244	0.930475	peptide hormone receptor binding
GO:0050811	0.000467	7.668244	4.622519	GABA receptor binding
GO:0048531	0.000467	7.668244	1.504077	beta-1,3-galactosyltransferase activity
GO:0045159	0.000467	7.668244	2.052291	myosin II binding
GO:0042030	0.000467	7.668244	0.068993	ATPase inhibitor activity
GO:0019136	0.000467	7.668244	0.496437	deoxynucleoside kinase activity
GO:0016743	0.000467	7.668244	3.563478	carboxyl- or carbamoyltransferase activity
GO:0016624	0.000467	7.668244	2.531427	oxidoreductase activity, acting on the aldehyde or oxo group of donors, disulfide as acceptor
GO:0015450	0.000467	7.668244	0.035091	protein-transporting ATPase activity
GO:0015185	0.000467	7.668244	0.101783	gamma-aminobutyric acid transmembrane transporter activity
GO:0008510	0.000467	7.668244	0.000000	sodium:bicarbonate symporter activity
GO:0008195	0.000467	7.668244	3.661728	phosphatidate phosphatase activity
GO:0005521	0.000467	7.668244	6.949993	lamin binding
GO:0005024	0.000467	7.668244	0.826679	transforming growth factor beta receptor activity
GO:0004862	0.000467	7.668244	0.000000	cAMP-dependent protein kinase inhibitor activity
GO:0004805	0.000467	7.668244	1.252763	trehalose-phosphatase activity
GO:0004691	0.000467	7.668244	0.381368	cAMP-dependent protein kinase activity
GO:0004356	0.000467	7.668244	0.068993	glutamate-ammonia ligase activity
GO:0004300	0.000467	7.668244	2.829003	enoyl-CoA hydratase activity
GO:0004106	0.000467	7.668244	2.152592	chorismate mutase activity
GO:0004090	0.000467	7.668244	3.372210	carbonyl reductase (NADPH) activity
GO:0004032	0.000467	7.668244	0.842183	alditol:NADP+ 1-oxidoreductase activity
GO:1990538	0.000451	7.704612	1.247458	xylan O-acetyltransferase activity
GO:1990446	0.000451	7.704612	0.230524	U1 snRNP binding
GO:0140776	0.000451	7.704612	7.704612	protein-containing complex destabilizing activity
GO:0106130	0.000451	7.704612	2.163749	purine phosphoribosyltransferase activity
GO:0106018	0.000451	7.704612	0.980829	phosphatidylinositol-3,5-bisphosphate phosphatase activity
GO:0097157	0.000451	7.704612	0.923671	pre-mRNA intronic binding
GO:0070740	0.000451	7.704612	0.036368	tubulin-glutamic acid ligase activity
GO:0070180	0.000451	7.704612	1.747588	large ribosomal subunit rRNA binding
GO:0061797	0.000451	7.704612	1.499954	pH-gated chloride channel activity
GO:0050649	0.000451	7.704612	1.376992	testosterone 6-beta-hydroxylase activity
GO:0050550	0.000451	7.704612	1.945910	pinene synthase activity
GO:0048030	0.000451	7.704612	0.616186	disaccharide binding
GO:0046975	0.000451	7.704612	1.358123	histone H3K36 methyltransferase activity
GO:0045735	0.000451	7.704612	7.704612	nutrient reservoir activity
GO:0045294	0.000451	7.704612	6.986361	alpha-catenin binding
GO:0033038	0.000451	7.704612	0.923671	bitter taste receptor activity
GO:0031994	0.000451	7.704612	0.893818	insulin-like growth factor I binding
GO:0031419	0.000451	7.704612	0.138150	cobalamin binding
GO:0030215	0.000451	7.704612	4.658886	semaphorin receptor binding
GO:0019706	0.000451	7.704612	0.036368	protein-cysteine S-palmitoyltransferase activity
GO:0015643	0.000451	7.704612	7.265766	toxic substance binding
GO:0015217	0.000451	7.704612	0.169899	ADP transmembrane transporter activity
GO:0015141	0.000451	7.704612	0.532805	succinate transmembrane transporter activity
GO:0008800	0.000451	7.704612	1.021651	beta-lactamase activity
GO:0008020	0.000451	7.704612	0.000000	G protein-coupled photoreceptor activity
GO:0005275	0.000451	7.704612	5.115996	amine transmembrane transporter activity
GO:0005247	0.000451	7.704612	0.000000	voltage-gated chloride channel activity
GO:0005123	0.000451	7.704612	0.764606	death receptor binding
GO:0004035	0.000451	7.704612	3.698096	alkaline phosphatase activity
GO:0140492	0.000434	7.742352	0.000000	metal-dependent deubiquitinase activity
GO:0140333	0.000434	7.742352	0.207639	glycerophospholipid flippase activity
GO:0098599	0.000434	7.742352	5.715001	palmitoyl hydrolase activity
GO:0072542	0.000434	7.742352	0.000000	protein phosphatase activator activity
GO:0070404	0.000434	7.742352	1.316614	NADH binding
GO:0061731	0.000434	7.742352	0.268264	ribonucleoside-diphosphate reductase activity
GO:0052650	0.000434	7.742352	0.916291	NADP-retinol dehydrogenase activity
GO:0050291	0.000434	7.742352	2.697741	sphingosine N-acyltransferase activity
GO:0042302	0.000434	7.742352	4.109612	structural constituent of cuticle
GO:0042132	0.000434	7.742352	0.946596	fructose 1,6-bisphosphate 1-phosphatase activity
GO:0032557	0.000434	7.742352	0.037740	pyrimidine ribonucleotide binding
GO:0032027	0.000434	7.742352	2.126399	myosin light chain binding
GO:0030275	0.000434	7.742352	3.924256	LRR domain binding
GO:0022851	0.000434	7.742352	0.000000	GABA-gated chloride ion channel activity
GO:0019957	0.000434	7.742352	1.059392	C-C chemokine binding
GO:0019534	0.000434	7.742352	5.153736	toxin transmembrane transporter activity
GO:0017154	0.000434	7.742352	4.404371	semaphorin receptor activity
GO:0017128	0.000434	7.742352	0.885038	phospholipid scramblase activity
GO:0016175	0.000434	7.742352	0.712195	superoxide-generating NAD(P)H oxidase activity
GO:0015232	0.000434	7.742352	5.153736	heme transmembrane transporter activity
GO:0008821	0.000434	7.742352	0.352821	crossover junction DNA endonuclease activity
GO:0005523	0.000434	7.742352	4.321582	tropomyosin binding
GO:0005003	0.000434	7.742352	1.778856	ephrin receptor activity
GO:0004726	0.000434	7.742352	2.030170	non-membrane spanning protein tyrosine phosphatase activity
GO:0004124	0.000434	7.742352	3.092789	cysteine synthase activity
GO:0003917	0.000434	7.742352	1.004583	DNA topoisomerase type I (single strand cut, ATP-independent) activity
GO:0003909	0.000434	7.742352	0.000000	DNA ligase activity
GO:0003810	0.000434	7.742352	0.836248	protein-glutamine gamma-glutamyltransferase activity
GO:0003720	0.000434	7.742352	0.268264	telomerase activity
GO:0003691	0.000434	7.742352	0.109199	double-stranded telomeric DNA binding
GO:1990381	0.000417	7.781573	2.253395	ubiquitin-specific protease binding
GO:1990380	0.000417	7.781573	2.137710	K48-linked deubiquitinase activity
GO:0099507	0.000417	7.781573	3.070840	ligand-gated monoatomic ion channel activity involved in regulation of presynaptic membrane potential
GO:0097001	0.000417	7.781573	0.039221	ceramide binding
GO:0071837	0.000417	7.781573	3.963476	HMG box domain binding
GO:0070051	0.000417	7.781573	4.674323	fibrinogen binding
GO:0061665	0.000417	7.781573	0.182322	SUMO ligase activity
GO:0052621	0.000417	7.781573	3.286908	diguanylate cyclase activity
GO:0051400	0.000417	7.781573	3.963476	BH domain binding
GO:0048038	0.000417	7.781573	7.342727	quinone binding
GO:0035613	0.000417	7.781573	5.121580	RNA stem-loop binding
GO:0035312	0.000417	7.781573	0.039221	5'-3' DNA exonuclease activity
GO:0034987	0.000417	7.781573	4.735848	immunoglobulin receptor binding
GO:0034511	0.000417	7.781573	0.824175	U3 snoRNA binding
GO:0032217	0.000417	7.781573	0.652325	riboflavin transmembrane transporter activity
GO:0031681	0.000417	7.781573	7.063322	G-protein beta-subunit binding
GO:0031489	0.000417	7.781573	2.165619	myosin V binding
GO:0031386	0.000417	7.781573	7.781573	protein tag
GO:0030553	0.000417	7.781573	0.609766	cGMP binding
GO:0030297	0.000417	7.781573	0.307485	transmembrane receptor protein tyrosine kinase activator activity
GO:0030169	0.000417	7.781573	0.858662	low-density lipoprotein particle binding
GO:0030020	0.000417	7.781573	1.526056	extracellular matrix structural constituent conferring tensile strength
GO:0019784	0.000417	7.781573	2.345645	deNEDDylase activity
GO:0016989	0.000417	7.781573	2.675527	sigma factor antagonist activity
GO:0016823	0.000417	7.781573	0.000000	hydrolase activity, acting on acid carbon-carbon bonds, in ketonic substances
GO:0016822	0.000417	7.781573	5.754222	hydrolase activity, acting on acid carbon-carbon bonds
GO:0016716	0.000417	7.781573	3.009635	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, another compound as one donor, and incorporation of one atom of oxygen
GO:0016290	0.000417	7.781573	0.841567	palmitoyl-CoA hydrolase activity
GO:0015927	0.000417	7.781573	3.534562	trehalase activity
GO:0015343	0.000417	7.781573	5.192957	siderophore-iron transmembrane transporter activity
GO:0010340	0.000417	7.781573	1.701105	carboxyl-O-methyltransferase activity
GO:0008559	0.000417	7.781573	0.113329	ABC-type xenobiotic transporter activity
GO:0008553	0.000417	7.781573	0.000000	P-type proton-exporting transporter activity
GO:0008410	0.000417	7.781573	2.379546	CoA-transferase activity
GO:0008048	0.000417	7.781573	0.444686	calcium sensitive guanylate cyclase activator activity
GO:0005459	0.000417	7.781573	0.542324	UDP-galactose transmembrane transporter activity
GO:0005237	0.000417	7.781573	2.536866	inhibitory extracellular ligand-gated monoatomic ion channel activity
GO:0004792	0.000417	7.781573	1.015231	thiosulfate sulfurtransferase activity
GO:0004768	0.000417	7.781573	0.542324	stearoyl-CoA 9-desaturase activity
GO:0004748	0.000417	7.781573	0.039221	ribonucleoside-diphosphate reductase activity, thioredoxin disulfide as acceptor
GO:0004650	0.000417	7.781573	3.534562	polygalacturonase activity
GO:0004645	0.000417	7.781573	3.744314	1,4-alpha-oligoglucan phosphorylase activity
GO:0004427	0.000417	7.781573	3.857778	inorganic diphosphate phosphatase activity
GO:0004146	0.000417	7.781573	1.499623	dihydrofolate reductase activity
GO:0004126	0.000417	7.781573	1.453953	cytidine deaminase activity
GO:0000026	0.000417	7.781573	1.656321	alpha-1,2-mannosyltransferase activity
GO:1990814	0.000401	7.822395	0.000000	DNA/DNA annealing activity
GO:1903924	0.000401	7.822395	2.154665	estradiol binding
GO:1901338	0.000401	7.822395	6.286153	catecholamine binding
GO:0140311	0.000401	7.822395	1.152680	protein sequestering activity
GO:0140161	0.000401	7.822395	0.000000	monocarboxylate:sodium symporter activity
GO:0080043	0.000401	7.822395	2.125251	quercetin 3-O-glucosyltransferase activity
GO:0070003	0.000401	7.822395	4.307438	threonine-type peptidase activity
GO:0051371	0.000401	7.822395	0.693147	muscle alpha-actinin binding
GO:0043424	0.000401	7.822395	3.920322	protein histidine kinase binding
GO:0043176	0.000401	7.822395	7.383549	amine binding
GO:0043139	0.000401	7.822395	2.036882	5'-3' DNA helicase activity
GO:0033691	0.000401	7.822395	1.287854	sialic acid binding
GO:0032050	0.000401	7.822395	1.642228	clathrin heavy chain binding
GO:0022889	0.000401	7.822395	1.819158	serine transmembrane transporter activity
GO:0017136	0.000401	7.822395	0.000000	NAD-dependent histone deacetylase activity
GO:0017108	0.000401	7.822395	0.000000	5'-flap endonuclease activity
GO:0016731	0.000401	7.822395	0.223144	oxidoreductase activity, acting on iron-sulfur proteins as donors, NAD or NADP as acceptor
GO:0016635	0.000401	7.822395	2.571339	oxidoreductase activity, acting on the CH-CH group of donors, quinone or related compound as acceptor
GO:0016595	0.000401	7.822395	0.117783	glutamate binding
GO:0016505	0.000401	7.822395	1.112406	peptidase activator activity involved in apoptotic process
GO:0015578	0.000401	7.822395	1.504077	mannose transmembrane transporter activity
GO:0015386	0.000401	7.822395	0.080043	potassium:proton antiporter activity
GO:0015226	0.000401	7.822395	0.485508	carnitine transmembrane transporter activity
GO:0015189	0.000401	7.822395	0.223144	L-lysine transmembrane transporter activity
GO:0010854	0.000401	7.822395	0.932820	adenylate cyclase regulator activity
GO:0008927	0.000401	7.822395	2.983153	mannonate dehydratase activity
GO:0008515	0.000401	7.822395	0.559616	sucrose transmembrane transporter activity
GO:0008474	0.000401	7.822395	0.000000	palmitoyl-(protein) hydrolase activity
GO:0008179	0.000401	7.822395	5.089652	adenylate cyclase binding
GO:0005542	0.000401	7.822395	0.000000	folic acid binding
GO:0005223	0.000401	7.822395	0.348307	intracellular cGMP-activated cation channel activity
GO:0005068	0.000401	7.822395	0.000000	transmembrane receptor protein tyrosine kinase adaptor activity
GO:0004936	0.000401	7.822395	0.318454	alpha-adrenergic receptor activity
GO:0004774	0.000401	7.822395	2.084636	succinate-CoA ligase activity
GO:0004723	0.000401	7.822395	2.197225	calcium-dependent protein serine/threonine phosphatase activity
GO:0004619	0.000401	7.822395	1.041454	phosphoglycerate mutase activity
GO:0004564	0.000401	7.822395	3.575384	beta-fructofuranosidase activity
GO:0004534	0.000401	7.822395	0.000000	5'-3' RNA exonuclease activity
GO:0003987	0.000401	7.822395	1.884541	acetate-CoA ligase activity
GO:0003953	0.000401	7.822395	1.963610	NAD+ nucleosidase activity
GO:0003857	0.000401	7.822395	3.526361	3-hydroxyacyl-CoA dehydrogenase activity
GO:0000995	0.000401	7.822395	1.681759	RNA polymerase III general transcription initiation factor activity
GO:1990226	0.000384	7.864954	5.132211	histone methyltransferase binding
GO:1901612	0.000384	7.864954	0.265703	cardiolipin binding
GO:0140035	0.000384	7.864954	2.523988	ubiquitination-like modification-dependent protein binding
GO:0071558	0.000384	7.864954	0.991640	histone H3K27me2/H3K27me3 demethylase activity
GO:0050265	0.000384	7.864954	0.000000	RNA uridylyltransferase activity
GO:0046624	0.000384	7.864954	2.669641	sphingolipid transporter activity
GO:0042809	0.000384	7.864954	2.369837	nuclear vitamin D receptor binding
GO:0036435	0.000384	7.864954	1.397105	K48-linked polyubiquitin modification-dependent protein binding
GO:0034338	0.000384	7.864954	3.232693	short-chain carboxylesterase activity
GO:0030976	0.000384	7.864954	0.000000	thiamine pyrophosphate binding
GO:0030550	0.000384	7.864954	0.000000	acetylcholine receptor inhibitor activity
GO:0019826	0.000384	7.864954	0.042560	oxygen sensor activity
GO:0019198	0.000384	7.864954	0.042560	transmembrane receptor protein phosphatase activity
GO:0017070	0.000384	7.864954	1.195239	U6 snRNA binding
GO:0017040	0.000384	7.864954	2.870859	N-acylsphingosine amidohydrolase activity
GO:0016724	0.000384	7.864954	1.054161	oxidoreductase activity, acting on metal ions, oxygen as acceptor
GO:0016672	0.000384	7.864954	2.681617	oxidoreductase activity, acting on a sulfur group of donors, quinone or similar compound as acceptor
GO:0016623	0.000384	7.864954	2.728137	oxidoreductase activity, acting on the aldehyde or oxo group of donors, oxygen as acceptor
GO:0016453	0.000384	7.864954	0.000000	C-acetyltransferase activity
GO:0015501	0.000384	7.864954	0.083382	glutamate:sodium symporter activity
GO:0015186	0.000384	7.864954	1.600704	L-glutamine transmembrane transporter activity
GO:0015183	0.000384	7.864954	0.160343	L-aspartate transmembrane transporter activity
GO:0008940	0.000384	7.864954	1.271225	nitrate reductase activity
GO:0008656	0.000384	7.864954	0.000000	cysteine-type endopeptidase activator activity involved in apoptotic process
GO:0008569	0.000384	7.864954	1.762346	minus-end-directed microtubule motor activity
GO:0008353	0.000384	7.864954	4.152750	RNA polymerase II CTD heptapeptide repeat kinase activity
GO:0008191	0.000384	7.864954	2.778009	metalloendopeptidase inhibitor activity
GO:0008079	0.000384	7.864954	2.100948	translation termination factor activity
GO:0008035	0.000384	7.864954	0.942043	high-density lipoprotein particle binding
GO:0005545	0.000384	7.864954	3.054821	1-phosphatidylinositol binding
GO:0005324	0.000384	7.864954	2.669641	long-chain fatty acid transporter activity
GO:0005199	0.000384	7.864954	4.232214	structural constituent of cell wall
GO:0005049	0.000384	7.864954	0.834798	nuclear export signal receptor activity
GO:0005041	0.000384	7.864954	0.330242	low-density lipoprotein particle receptor activity
GO:0005035	0.000384	7.864954	4.526974	death receptor activity
GO:0005001	0.000384	7.864954	0.000000	transmembrane receptor protein tyrosine phosphatase activity
GO:0004985	0.000384	7.864954	3.802790	G protein-coupled opioid receptor activity
GO:0004567	0.000384	7.864954	1.295323	beta-mannosidase activity
GO:0004465	0.000384	7.864954	1.418383	lipoprotein lipase activity
GO:0004457	0.000384	7.864954	3.677950	lactate dehydrogenase activity
GO:0004322	0.000384	7.864954	0.000000	ferroxidase activity
GO:0004176	0.000384	7.864954	0.298493	ATP-dependent peptidase activity
GO:0004069	0.000384	7.864954	2.084862	L-aspartate:2-oxoglutarate aminotransferase activity
GO:0004062	0.000384	7.864954	2.006169	aryl sulfotransferase activity
GO:0003958	0.000384	7.864954	0.648695	NADPH-hemoprotein reductase activity
GO:0001727	0.000384	7.864954	4.928828	lipid kinase activity
GO:0001016	0.000384	7.864954	4.833171	RNA polymerase III transcription regulatory region sequence-specific DNA binding
GO:0000822	0.000384	7.864954	1.154965	inositol hexakisphosphate binding
GO:0099508	0.000367	7.909406	3.065937	voltage-gated monoatomic ion channel activity involved in regulation of presynaptic membrane potential
GO:0098809	0.000367	7.909406	1.315677	nitrite reductase activity
GO:0071111	0.000367	7.909406	2.755396	cyclic-guanylate-specific phosphodiesterase activity
GO:0061133	0.000367	7.909406	0.044452	endopeptidase activator activity
GO:0052716	0.000367	7.909406	1.098612	hydroquinone:oxygen oxidoreductase activity
GO:0051998	0.000367	7.909406	0.000000	protein carboxyl O-methyltransferase activity
GO:0051748	0.000367	7.909406	1.157453	UTP-monosaccharide-1-phosphate uridylyltransferase activity
GO:0046974	0.000367	7.909406	1.562918	histone H3K9 methyltransferase activity
GO:0046920	0.000367	7.909406	1.052092	alpha-(1->3)-fucosyltransferase activity
GO:0046870	0.000367	7.909406	4.236081	cadmium ion binding
GO:0043546	0.000367	7.909406	6.355871	molybdopterin cofactor binding
GO:0042166	0.000367	7.909406	0.000000	acetylcholine binding
GO:0035014	0.000367	7.909406	2.875104	phosphatidylinositol 3-kinase regulator activity
GO:0032052	0.000367	7.909406	2.325058	bile acid binding
GO:0031957	0.000367	7.909406	1.473306	very long-chain fatty acid-CoA ligase activity
GO:0031402	0.000367	7.909406	0.934309	sodium ion binding
GO:0031370	0.000367	7.909406	1.533930	eukaryotic initiation factor 4G binding
GO:0031176	0.000367	7.909406	0.546544	endo-1,4-beta-xylanase activity
GO:0030620	0.000367	7.909406	1.239691	U2 snRNA binding
GO:0030527	0.000367	7.909406	4.276666	structural constituent of chromatin
GO:0030060	0.000367	7.909406	0.780159	L-malate dehydrogenase activity
GO:0022858	0.000367	7.909406	1.906170	alanine transmembrane transporter activity
GO:0016936	0.000367	7.909406	4.610158	galactoside binding
GO:0016649	0.000367	7.909406	2.202262	oxidoreductase activity, acting on the CH-NH group of donors, quinone or similar compound as acceptor
GO:0016165	0.000367	7.909406	1.952383	linoleate 13S-lipoxygenase activity
GO:0015193	0.000367	7.909406	1.645156	L-proline transmembrane transporter activity
GO:0010385	0.000367	7.909406	5.140067	double-stranded methylated DNA binding
GO:0009931	0.000367	7.909406	0.204794	calcium-dependent protein serine/threonine kinase activity
GO:0008865	0.000367	7.909406	1.083345	fructokinase activity
GO:0008494	0.000367	7.909406	2.477302	translation activator activity
GO:0008310	0.000367	7.909406	0.000000	single-stranded DNA 3'-5' DNA exonuclease activity
GO:0005540	0.000367	7.909406	2.808855	hyaluronic acid binding
GO:0005522	0.000367	7.909406	7.191155	profilin binding
GO:0005365	0.000367	7.909406	0.969401	myo-inositol transmembrane transporter activity
GO:0005164	0.000367	7.909406	0.969401	tumor necrosis factor receptor binding
GO:0004865	0.000367	7.909406	1.185624	protein serine/threonine phosphatase inhibitor activity
GO:0004779	0.000367	7.909406	1.932838	sulfate adenylyltransferase activity
GO:0004767	0.000367	7.909406	1.885691	sphingomyelin phosphodiesterase activity
GO:0004743	0.000367	7.909406	4.890007	pyruvate kinase activity
GO:0004703	0.000367	7.909406	4.197202	G protein-coupled receptor kinase activity
GO:0004694	0.000367	7.909406	0.204794	eukaryotic translation initiation factor 2alpha kinase activity
GO:0004430	0.000367	7.909406	1.098612	1-phosphatidylinositol 4-kinase activity
GO:0004415	0.000367	7.909406	1.363305	hyalurononglucosaminidase activity
GO:0004301	0.000367	7.909406	0.464306	epoxide hydrolase activity
GO:0003978	0.000367	7.909406	1.374866	UDP-glucose 4-epimerase activity
GO:0000104	0.000367	7.909406	2.658351	succinate dehydrogenase activity
GO:2001065	0.000351	7.955926	1.918322	mannan binding
GO:1990247	0.000351	7.955926	5.295934	N6-methyladenosine-containing RNA binding
GO:0140939	0.000351	7.955926	2.223336	histone H4 methyltransferase activity
GO:0097027	0.000351	7.955926	0.000000	ubiquitin-protein transferase activator activity
GO:0061575	0.000351	7.955926	0.000000	cyclin-dependent protein serine/threonine kinase activator activity
GO:0050815	0.000351	7.955926	1.312186	phosphoserine residue binding
GO:0047499	0.000351	7.955926	1.580450	calcium-independent phospholipase A2 activity
GO:0046790	0.000351	7.955926	7.517081	virion binding
GO:0046592	0.000351	7.955926	0.739667	polyamine oxidase activity
GO:0043422	0.000351	7.955926	4.053853	protein kinase B binding
GO:0043208	0.000351	7.955926	0.046520	glycosphingolipid binding
GO:0042973	0.000351	7.955926	1.455287	glucan endo-1,3-beta-D-glucosidase activity
GO:0042806	0.000351	7.955926	2.218168	fucose binding
GO:0031995	0.000351	7.955926	1.145132	insulin-like growth factor II binding
GO:0031545	0.000351	7.955926	0.510826	peptidyl-proline 4-dioxygenase activity
GO:0031404	0.000351	7.955926	4.911604	chloride ion binding
GO:0031005	0.000351	7.955926	4.535156	filamin binding
GO:0017166	0.000351	7.955926	4.535156	vinculin binding
GO:0016934	0.000351	7.955926	0.000000	extracellularly glycine-gated chloride channel activity
GO:0016531	0.000351	7.955926	0.481838	copper chaperone activity
GO:0016493	0.000351	7.955926	0.784119	C-C chemokine receptor activity
GO:0016406	0.000351	7.955926	2.600924	carnitine O-acyltransferase activity
GO:0015440	0.000351	7.955926	0.000000	ABC-type peptide transporter activity
GO:0015220	0.000351	7.955926	0.593064	choline transmembrane transporter activity
GO:0008121	0.000351	7.955926	0.046520	ubiquinol-cytochrome-c reductase activity
GO:0005528	0.000351	7.955926	0.000000	FK506 binding
GO:0005497	0.000351	7.955926	2.568606	androgen binding
GO:0005225	0.000351	7.955926	2.440274	volume-sensitive anion channel activity
GO:0004904	0.000351	7.955926	2.108769	interferon receptor activity
GO:0004663	0.000351	7.955926	0.421213	Rab geranylgeranyltransferase activity
GO:0004557	0.000351	7.955926	1.160170	alpha-galactosidase activity
GO:0004517	0.000351	7.955926	2.371578	nitric-oxide synthase activity
GO:0004392	0.000351	7.955926	1.398129	heme oxygenase (decyclizing) activity
GO:0004385	0.000351	7.955926	1.362197	guanylate kinase activity
GO:0004333	0.000351	7.955926	3.116685	fumarate hydratase activity
GO:0003989	0.000351	7.955926	0.716678	acetyl-CoA carboxylase activity
GO:0003983	0.000351	7.955926	0.046520	UTP:glucose-1-phosphate uridylyltransferase activity
GO:0003747	0.000351	7.955926	0.090972	translation release factor activity
GO:0001069	0.000351	7.955926	1.618917	regulatory region RNA binding
GO:0000992	0.000351	7.955926	0.000000	RNA polymerase III cis-regulatory region sequence-specific DNA binding
GO:0000702	0.000351	7.955926	1.409825	oxidized base lesion DNA N-glycosylase activity
GO:1990405	0.000334	8.004716	2.098018	protein antigen binding
GO:0140906	0.000334	8.004716	3.825375	halogenase activity
GO:0140036	0.000334	8.004716	0.139762	ubiquitin-dependent protein binding
GO:0106006	0.000334	8.004716	0.139762	cytoskeletal protein-membrane anchor activity
GO:0098641	0.000334	8.004716	0.095310	cadherin binding involved in cell-cell adhesion
GO:0071933	0.000334	8.004716	4.897467	Arp2/3 complex binding
GO:0070915	0.000334	8.004716	0.405465	lysophosphatidic acid receptor activity
GO:0055077	0.000334	8.004716	1.178655	gap junction hemi-channel activity
GO:0051880	0.000334	8.004716	5.744604	G-quadruplex DNA binding
GO:0051864	0.000334	8.004716	1.131402	histone H3K36 demethylase activity
GO:0050072	0.000334	8.004716	4.080922	m7G(5')pppN diphosphatase activity
GO:0045505	0.000334	8.004716	7.286466	dynein intermediate chain binding
GO:0045499	0.000334	8.004716	3.677566	chemorepellent activity
GO:0043560	0.000334	8.004716	7.286466	insulin receptor substrate binding
GO:0042608	0.000334	8.004716	3.137666	T cell receptor binding
GO:0035612	0.000334	8.004716	4.897467	AP-2 adaptor complex binding
GO:0034450	0.000334	8.004716	3.141995	ubiquitin-ubiquitin ligase activity
GO:0032137	0.000334	8.004716	0.641854	guanine/thymine mispair binding
GO:0032029	0.000334	8.004716	1.029619	myosin tail binding
GO:0019948	0.000334	8.004716	1.131402	SUMO activating enzyme activity
GO:0016972	0.000334	8.004716	0.559616	thiol oxidase activity
GO:0016929	0.000334	8.004716	2.332144	deSUMOylase activity
GO:0016708	0.000334	8.004716	2.521721	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of two atoms of oxygen into one donor
GO:0016625	0.000334	8.004716	2.867899	oxidoreductase activity, acting on the aldehyde or oxo group of donors, iron-sulfur protein as acceptor
GO:0016231	0.000334	8.004716	0.765468	beta-N-acetylglucosaminidase activity
GO:0016174	0.000334	8.004716	0.974560	NAD(P)H oxidase H2O2-forming activity
GO:0015234	0.000334	8.004716	0.000000	thiamine transmembrane transporter activity
GO:0009374	0.000334	8.004716	0.000000	biotin binding
GO:0008392	0.000334	8.004716	0.405465	arachidonic acid epoxygenase activity
GO:0005295	0.000334	8.004716	0.470004	neutral L-amino acid:sodium symporter activity
GO:0005290	0.000334	8.004716	0.000000	L-histidine transmembrane transporter activity
GO:0005114	0.000334	8.004716	0.916291	type II transforming growth factor beta receptor binding
GO:0004445	0.000334	8.004716	0.559616	inositol-polyphosphate 5-phosphatase activity
GO:0004382	0.000334	8.004716	0.854415	GDP phosphatase activity
GO:0004325	0.000334	8.004716	4.401829	ferrochelatase activity
GO:0004065	0.000334	8.004716	0.955511	arylsulfatase activity
GO:0004053	0.000334	8.004716	1.252763	arginase activity
GO:0001851	0.000334	8.004716	0.438255	complement component C3b binding
GO:0001163	0.000334	8.004716	4.972933	RNA polymerase I transcription regulatory region sequence-specific DNA binding
GO:0001161	0.000334	8.004716	4.972933	intronic transcription regulatory region sequence-specific DNA binding
GO:0000268	0.000334	8.004716	1.398717	peroxisome targeting sequence binding
GO:0000171	0.000334	8.004716	2.549445	ribonuclease MRP activity
GO:0120283	0.000317	8.056009	4.153937	protein serine/threonine kinase binding
GO:0106435	0.000317	8.056009	3.423748	carboxylesterase activity
GO:0106222	0.000317	8.056009	5.396017	lncRNA binding
GO:0099122	0.000317	8.056009	1.245216	RNA polymerase II C-terminal domain binding
GO:0098988	0.000317	8.056009	0.351398	G protein-coupled glutamate receptor activity
GO:0070742	0.000317	8.056009	4.237913	C2H2 zinc finger domain binding
GO:0070735	0.000317	8.056009	1.006805	protein-glycine ligase activity
GO:0070181	0.000317	8.056009	2.098986	small ribosomal subunit rRNA binding
GO:0052834	0.000317	8.056009	1.289668	inositol monophosphate phosphatase activity
GO:0051765	0.000317	8.056009	4.997212	inositol tetrakisphosphate kinase activity
GO:0051378	0.000317	8.056009	0.000000	serotonin binding
GO:0051011	0.000317	8.056009	3.337828	microtubule minus-end binding
GO:0050525	0.000317	8.056009	3.423748	cutinase activity
GO:0047184	0.000317	8.056009	2.701008	1-acylglycerophosphocholine O-acyltransferase activity
GO:0046857	0.000317	8.056009	1.462280	oxidoreductase activity, acting on other nitrogenous compounds as donors, with NAD or NADP as acceptor
GO:0045545	0.000317	8.056009	1.462280	syndecan binding
GO:0043515	0.000317	8.056009	7.617164	kinetochore binding
GO:0043121	0.000317	8.056009	2.715043	neurotrophin binding
GO:0042083	0.000317	8.056009	3.849027	5,10-methylenetetrahydrofolate-dependent methyltransferase activity
GO:0036312	0.000317	8.056009	1.229948	phosphatidylinositol 3-kinase regulatory subunit binding
GO:0035241	0.000317	8.056009	1.080913	protein-arginine omega-N monomethyltransferase activity
GO:0035174	0.000317	8.056009	0.744440	histone serine kinase activity
GO:0034584	0.000317	8.056009	1.765091	piRNA binding
GO:0034485	0.000317	8.056009	0.000000	phosphatidylinositol-3,4,5-trisphosphate 5-phosphatase activity
GO:0034335	0.000317	8.056009	0.719123	DNA negative supercoiling activity
GO:0033677	0.000317	8.056009	0.422857	DNA/RNA helicase activity
GO:0033592	0.000317	8.056009	0.051293	RNA strand annealing activity
GO:0033142	0.000317	8.056009	2.560893	nuclear progesterone receptor binding
GO:0033130	0.000317	8.056009	5.010284	acetylcholine receptor binding
GO:0032296	0.000317	8.056009	3.158120	double-stranded RNA-specific ribonuclease activity
GO:0031748	0.000317	8.056009	0.489548	D1 dopamine receptor binding
GO:0031730	0.000317	8.056009	0.926762	CCR5 chemokine receptor binding
GO:0030570	0.000317	8.056009	1.098612	pectate lyase activity
GO:0030248	0.000317	8.056009	2.018406	cellulose binding
GO:0018685	0.000317	8.056009	0.884202	alkane 1-monooxygenase activity
GO:0017002	0.000317	8.056009	1.214444	activin receptor activity
GO:0016882	0.000317	8.056009	2.902000	cyclo-ligase activity
GO:0016435	0.000317	8.056009	1.332227	rRNA (guanine) methyltransferase activity
GO:0015292	0.000317	8.056009	3.730122	uniporter activity
GO:0015279	0.000317	8.056009	2.872672	store-operated calcium channel activity
GO:0015142	0.000317	8.056009	3.490108	tricarboxylic acid transmembrane transporter activity
GO:0009041	0.000317	8.056009	1.462280	uridylate kinase activity
GO:0008432	0.000317	8.056009	4.153937	JUN kinase binding
GO:0008420	0.000317	8.056009	2.430839	RNA polymerase II CTD heptapeptide repeat phosphatase activity
GO:0008199	0.000317	8.056009	0.051293	ferric iron binding
GO:0008177	0.000317	8.056009	0.000000	succinate dehydrogenase (ubiquinone) activity
GO:0005354	0.000317	8.056009	1.737692	galactose transmembrane transporter activity
GO:0005219	0.000317	8.056009	1.080913	ryanodine-sensitive calcium-release channel activity
GO:0005214	0.000317	8.056009	0.313658	structural constituent of chitin-based cuticle
GO:0005165	0.000317	8.056009	3.180244	neurotrophin receptor binding
GO:0005095	0.000317	8.056009	0.351398	GTPase inhibitor activity
GO:0004977	0.000317	8.056009	2.893291	melanocortin receptor activity
GO:0004731	0.000317	8.056009	2.515147	purine-nucleoside phosphorylase activity
GO:0004614	0.000317	8.056009	1.275069	phosphoglucomutase activity
GO:0004555	0.000317	8.056009	0.274437	alpha,alpha-trehalase activity
GO:0004473	0.000317	8.056009	0.351398	malate dehydrogenase (decarboxylating) (NADP+) activity
GO:0004450	0.000317	8.056009	0.666479	isocitrate dehydrogenase (NADP+) activity
GO:0004449	0.000317	8.056009	0.666479	isocitrate dehydrogenase (NAD+) activity
GO:0004362	0.000317	8.056009	0.000000	glutathione-disulfide reductase (NADPH) activity
GO:0004088	0.000317	8.056009	0.947381	carbamoyl-phosphate synthase (glutamine-hydrolyzing) activity
GO:0004031	0.000317	8.056009	0.191055	aldehyde oxidase activity
GO:0003933	0.000317	8.056009	0.769133	GTP cyclohydrolase activity
GO:0003854	0.000317	8.056009	1.509908	3-beta-hydroxy-delta5-steroid dehydrogenase activity
GO:0001056	0.000317	8.056009	1.817735	RNA polymerase III activity
GO:0106310	0.000300	8.110077	4.837604	protein serine kinase activity
GO:0099104	0.000300	8.110077	0.000000	potassium channel activator activity
GO:0098879	0.000300	8.110077	0.720546	structural constituent of postsynaptic specialization
GO:0097109	0.000300	8.110077	5.064352	neuroligin family protein binding
GO:0080044	0.000300	8.110077	2.412933	quercetin 7-O-glucosyltransferase activity
GO:0070733	0.000300	8.110077	2.133509	protein adenylyltransferase activity
GO:0070324	0.000300	8.110077	2.722756	thyroid hormone binding
GO:0050700	0.000300	8.110077	4.291980	CARD domain binding
GO:0046992	0.000300	8.110077	5.537334	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond
GO:0045134	0.000300	8.110077	0.959776	UDP phosphatase activity
GO:0044548	0.000300	8.110077	7.391826	S100 protein binding
GO:0043886	0.000300	8.110077	4.477337	structural constituent of carboxysome shell
GO:0043522	0.000300	8.110077	0.367725	leucine zipper domain binding
GO:0042134	0.000300	8.110077	2.153053	rRNA primary transcript binding
GO:0035325	0.000300	8.110077	5.064352	Toll-like receptor binding
GO:0035242	0.000300	8.110077	1.134980	protein-arginine omega-N asymmetric methyltransferase activity
GO:0034713	0.000300	8.110077	1.021651	type I transforming growth factor beta receptor binding
GO:0033765	0.000300	8.110077	0.105361	steroid dehydrogenase activity, acting on the CH-CH group of donors
GO:0032135	0.000300	8.110077	0.747214	DNA insertion or deletion binding
GO:0031432	0.000300	8.110077	4.689307	titin binding
GO:0030619	0.000300	8.110077	1.440362	U1 snRNA binding
GO:0030283	0.000300	8.110077	1.563976	testosterone dehydrogenase [NAD(P)] activity
GO:0030274	0.000300	8.110077	4.291980	LIM domain binding
GO:0030151	0.000300	8.110077	4.436752	molybdenum ion binding
GO:0023026	0.000300	8.110077	0.476924	MHC class II protein complex binding
GO:0019215	0.000300	8.110077	5.002827	intermediate filament binding
GO:0016767	0.000300	8.110077	0.916291	geranylgeranyl-diphosphate geranylgeranyltransferase activity
GO:0016748	0.000300	8.110077	4.105394	succinyltransferase activity
GO:0016428	0.000300	8.110077	0.664976	tRNA (cytosine-5-)-methyltransferase activity
GO:0015665	0.000300	8.110077	2.172223	alcohol transmembrane transporter activity
GO:0015616	0.000300	8.110077	2.932674	DNA translocase activity
GO:0015247	0.000300	8.110077	0.575364	aminophospholipid flippase activity
GO:0015245	0.000300	8.110077	1.116961	fatty acid transmembrane transporter activity
GO:0015140	0.000300	8.110077	1.220502	malate transmembrane transporter activity
GO:0015137	0.000300	8.110077	0.000000	citrate transmembrane transporter activity
GO:0015093	0.000300	8.110077	1.098612	ferrous iron transmembrane transporter activity
GO:0009927	0.000300	8.110077	2.674149	histidine phosphotransfer kinase activity
GO:0008933	0.000300	8.110077	0.000000	lytic transglycosylase activity
GO:0008897	0.000300	8.110077	2.058388	holo-[acyl-carrier-protein] synthase activity
GO:0008568	0.000300	8.110077	0.000000	microtubule severing ATPase activity
GO:0008440	0.000300	8.110077	0.510826	inositol-1,4,5-trisphosphate 3-kinase activity
GO:0008429	0.000300	8.110077	3.779126	phosphatidylethanolamine binding
GO:0008309	0.000300	8.110077	1.413693	double-stranded DNA exodeoxyribonuclease activity
GO:0008142	0.000300	8.110077	1.800976	oxysterol binding
GO:0005344	0.000300	8.110077	2.494123	oxygen carrier activity
GO:0005332	0.000300	8.110077	0.000000	gamma-aminobutyric acid:sodium:chloride symporter activity
GO:0005161	0.000300	8.110077	2.470920	platelet-derived growth factor receptor binding
GO:0005149	0.000300	8.110077	1.609438	interleukin-1 receptor binding
GO:0005121	0.000300	8.110077	5.064352	Toll binding
GO:0004969	0.000300	8.110077	2.153053	histamine receptor activity
GO:0004781	0.000300	8.110077	0.200671	sulfate adenylyltransferase (ATP) activity
GO:0004749	0.000300	8.110077	0.693147	ribose phosphate diphosphokinase activity
GO:0004605	0.000300	8.110077	1.252763	phosphatidate cytidylyltransferase activity
GO:0004582	0.000300	8.110077	1.984826	dolichyl-phosphate beta-D-mannosyltransferase activity
GO:0004575	0.000300	8.110077	0.054067	sucrose alpha-glucosidase activity
GO:0004512	0.000300	8.110077	0.798508	inositol-3-phosphate synthase activity
GO:0004503	0.000300	8.110077	0.328504	tyrosinase activity
GO:0004379	0.000300	8.110077	0.000000	glycylpeptide N-tetradecanoyltransferase activity
GO:0004113	0.000300	8.110077	1.880313	2',3'-cyclic-nucleotide 3'-phosphodiesterase activity
GO:0004103	0.000300	8.110077	5.051279	choline kinase activity
GO:0004097	0.000300	8.110077	0.000000	catechol oxidase activity
GO:0004049	0.000300	8.110077	1.453434	anthranilate synthase activity
GO:0003951	0.000300	8.110077	5.051279	NAD+ kinase activity
GO:0003923	0.000300	8.110077	2.556366	GPI-anchor transamidase activity
GO:0003689	0.000300	8.110077	2.932674	DNA clamp loader activity
GO:0001094	0.000300	8.110077	0.798508	TFIID-class transcription factor complex binding
GO:0001054	0.000300	8.110077	1.871802	RNA polymerase I activity
GO:0000403	0.000300	8.110077	1.694596	Y-form DNA binding
GO:0140566	0.000284	8.167235	0.693147	histone reader activity
GO:0140537	0.000284	8.167235	4.944998	transcription regulator activator activity
GO:0140328	0.000284	8.167235	1.037988	floppase activity
GO:0097177	0.000284	8.167235	2.150393	mitochondrial ribosome binding
GO:0070878	0.000284	8.167235	5.507243	primary miRNA binding
GO:0070410	0.000284	8.167235	2.064626	co-SMAD binding
GO:0061676	0.000284	8.167235	7.448985	importin-alpha family protein binding
GO:0055105	0.000284	8.167235	0.057158	ubiquitin-protein transferase inhibitor activity
GO:0051192	0.000284	8.167235	7.728390	prosthetic group binding
GO:0048019	0.000284	8.167235	0.302281	receptor antagonist activity
GO:0045551	0.000284	8.167235	3.871201	cinnamyl-alcohol dehydrogenase activity
GO:0045503	0.000284	8.167235	7.448985	dynein light chain binding
GO:0045028	0.000284	8.167235	0.057158	G protein-coupled purinergic nucleotide receptor activity
GO:0043008	0.000284	8.167235	7.448985	ATP-dependent protein binding
GO:0035438	0.000284	8.167235	0.995428	cyclic-di-GMP binding
GO:0030621	0.000284	8.167235	1.497520	U4 snRNA binding
GO:0030280	0.000284	8.167235	4.534495	structural constituent of skin epidermis
GO:0019763	0.000284	8.167235	2.542065	immunoglobulin receptor activity
GO:0019145	0.000284	8.167235	1.497520	aminobutyraldehyde dehydrogenase activity
GO:0017050	0.000284	8.167235	5.231109	D-erythro-sphingosine kinase activity
GO:0016454	0.000284	8.167235	0.000000	C-palmitoyltransferase activity
GO:0016433	0.000284	8.167235	1.443453	rRNA (adenine) methyltransferase activity
GO:0016412	0.000284	8.167235	2.812234	serine O-acyltransferase activity
GO:0016314	0.000284	8.167235	0.777705	phosphatidylinositol-3,4,5-trisphosphate 3-phosphatase activity
GO:0015315	0.000284	8.167235	0.000000	organophosphate:inorganic phosphate antiporter activity
GO:0015254	0.000284	8.167235	0.162519	glycerol channel activity
GO:0015199	0.000284	8.167235	0.830348	amino-acid betaine transmembrane transporter activity
GO:0015194	0.000284	8.167235	0.111226	L-serine transmembrane transporter activity
GO:0008517	0.000284	8.167235	0.211309	folic acid transmembrane transporter activity
GO:0008140	0.000284	8.167235	4.099235	cAMP response element binding protein binding
GO:0005314	0.000284	8.167235	0.257829	high-affinity L-glutamate transmembrane transporter activity
GO:0005031	0.000284	8.167235	0.302281	tumor necrosis factor receptor activity
GO:0005021	0.000284	8.167235	2.203739	vascular endothelial growth factor receptor activity
GO:0005006	0.000284	8.167235	2.203739	epidermal growth factor receptor activity
GO:0004807	0.000284	8.167235	1.573506	triose-phosphate isomerase activity
GO:0004799	0.000284	8.167235	0.111226	thymidylate synthase activity
GO:0004771	0.000284	8.167235	2.815761	sterol esterase activity
GO:0004758	0.000284	8.167235	0.000000	serine C-palmitoyltransferase activity
GO:0004668	0.000284	8.167235	1.415282	protein-arginine deiminase activity
GO:0004657	0.000284	8.167235	0.257829	proline dehydrogenase activity
GO:0004525	0.000284	8.167235	0.057158	ribonuclease III activity
GO:0004347	0.000284	8.167235	1.573506	glucose-6-phosphate isomerase activity
GO:0004128	0.000284	8.167235	0.950976	cytochrome-b5 reductase activity, acting on NAD(P)H
GO:0004108	0.000284	8.167235	0.632523	citrate (Si)-synthase activity
GO:0004100	0.000284	8.167235	2.163999	chitin synthase activity
GO:0004084	0.000284	8.167235	2.387142	branched-chain-amino-acid transaminase activity
GO:0004019	0.000284	8.167235	3.013225	adenylosuccinate synthase activity
GO:0003985	0.000284	8.167235	0.000000	acetyl-CoA C-acetyltransferase activity
GO:0001716	0.000284	8.167235	1.058607	L-amino-acid oxidase activity
GO:0001595	0.000284	8.167235	3.004517	angiotensin receptor activity
GO:0001181	0.000284	8.167235	2.026599	RNA polymerase I general transcription initiation factor activity
GO:0000009	0.000284	8.167235	2.041984	alpha-1,6-mannosyltransferase activity
GO:1904408	0.000267	8.227860	2.474435	melatonin binding
GO:0140907	0.000267	8.227860	0.223144	flavin-dependent halogenase activity
GO:0140900	0.000267	8.227860	0.000000	chloride:bicarbonate antiporter activity
GO:0140829	0.000267	8.227860	0.000000	bicarbonate:monoatomic anion antiporter activity
GO:0140721	0.000267	8.227860	3.872502	nuclease inhibitor activity
GO:0140414	0.000267	8.227860	2.611906	phosphopantetheine-dependent carrier activity
GO:0097371	0.000267	8.227860	7.509609	MDM2/MDM4 family protein binding
GO:0090563	0.000267	8.227860	0.223144	protein-phosphocysteine-sugar phosphotransferase activity
GO:0086080	0.000267	8.227860	1.139434	protein binding involved in heterotypic cell-cell adhesion
GO:0080161	0.000267	8.227860	5.639244	auxin transmembrane transporter activity
GO:0080115	0.000267	8.227860	0.223144	myosin XI tail binding
GO:0071714	0.000267	8.227860	1.842532	icosanoid transmembrane transporter activity
GO:0070883	0.000267	8.227860	5.567867	pre-miRNA binding
GO:0070700	0.000267	8.227860	0.693147	BMP receptor binding
GO:0070538	0.000267	8.227860	0.864997	oleic acid binding
GO:0070411	0.000267	8.227860	2.125251	I-SMAD binding
GO:0070025	0.000267	8.227860	7.789015	carbon monoxide binding
GO:0070016	0.000267	8.227860	4.409763	armadillo repeat domain binding
GO:0052629	0.000267	8.227860	0.523248	phosphatidylinositol-3,5-bisphosphate 3-phosphatase activity
GO:0050833	0.000267	8.227860	1.558145	pyruvate transmembrane transporter activity
GO:0050786	0.000267	8.227860	5.182135	RAGE receptor binding
GO:0050734	0.000267	8.227860	4.223177	hydroxycinnamoyltransferase activity
GO:0050543	0.000267	8.227860	0.864997	icosatetraenoic acid binding
GO:0050542	0.000267	8.227860	3.349904	icosanoid binding
GO:0047760	0.000267	8.227860	2.290006	butyrate-CoA ligase activity
GO:0046910	0.000267	8.227860	3.872502	pectinesterase inhibitor activity
GO:0046556	0.000267	8.227860	3.980849	alpha-L-arabinofuranosidase activity
GO:0045322	0.000267	8.227860	5.628745	unmethylated CpG binding
GO:0045295	0.000267	8.227860	7.509609	gamma-catenin binding
GO:0045174	0.000267	8.227860	0.000000	glutathione dehydrogenase (ascorbate) activity
GO:0044620	0.000267	8.227860	0.060625	ACP phosphopantetheine attachment site binding
GO:0042979	0.000267	8.227860	5.041003	ornithine decarboxylase regulator activity
GO:0042959	0.000267	8.227860	0.362905	alkanesulfonate transmembrane transporter activity
GO:0042289	0.000267	8.227860	1.270463	MHC class II protein binding
GO:0042123	0.000267	8.227860	6.424565	glucanosyltransferase activity
GO:0035497	0.000267	8.227860	4.090169	cAMP response element binding
GO:0035256	0.000267	8.227860	0.523248	G protein-coupled glutamate receptor binding
GO:0035184	0.000267	8.227860	0.916291	histone threonine kinase activity
GO:0034452	0.000267	8.227860	4.807090	dynactin binding
GO:0034046	0.000267	8.227860	1.417066	poly(G) binding
GO:0034040	0.000267	8.227860	0.523248	ATPase-coupled lipid transmembrane transporter activity
GO:0033192	0.000267	8.227860	0.405465	calmodulin-dependent protein phosphatase activity
GO:0031683	0.000267	8.227860	5.120610	G-protein beta/gamma-subunit complex binding
GO:0030899	0.000267	8.227860	4.633515	calcium-dependent ATPase activity
GO:0030599	0.000267	8.227860	3.595598	pectinesterase activity
GO:0030597	0.000267	8.227860	0.171850	RNA glycosylase activity
GO:0030346	0.000267	8.227860	3.020425	protein phosphatase 2B binding
GO:0030235	0.000267	8.227860	5.041003	nitric-oxide synthase regulator activity
GO:0017081	0.000267	8.227860	2.934522	chloride channel regulator activity
GO:0016723	0.000267	8.227860	1.417066	oxidoreductase activity, acting on metal ions, NAD or NADP as acceptor
GO:0016434	0.000267	8.227860	1.504077	rRNA (cytosine) methyltransferase activity
GO:0016420	0.000267	8.227860	4.223177	malonyltransferase activity
GO:0016416	0.000267	8.227860	0.000000	O-palmitoyltransferase activity
GO:0016312	0.000267	8.227860	1.461518	inositol bisphosphate phosphatase activity
GO:0016015	0.000267	8.227860	3.900709	morphogen activity
GO:0015928	0.000267	8.227860	3.980849	fucosidase activity
GO:0015190	0.000267	8.227860	0.405465	L-leucine transmembrane transporter activity
GO:0015119	0.000267	8.227860	1.634131	hexose phosphate transmembrane transporter activity
GO:0009378	0.000267	8.227860	2.442347	four-way junction helicase activity
GO:0008964	0.000267	8.227860	0.782759	phosphoenolpyruvate carboxylase activity
GO:0008499	0.000267	8.227860	0.000000	UDP-galactose:beta-N-acetylglucosamine beta-1,3-galactosyltransferase activity
GO:0008477	0.000267	8.227860	2.369075	purine nucleosidase activity
GO:0008430	0.000267	8.227860	7.789015	selenium binding
GO:0008312	0.000267	8.227860	5.567867	7S RNA binding
GO:0008273	0.000267	8.227860	0.060625	calcium, potassium:sodium antiporter activity
GO:0005471	0.000267	8.227860	0.000000	ATP:ADP antiporter activity
GO:0005368	0.000267	8.227860	0.000000	taurine transmembrane transporter activity
GO:0005042	0.000267	8.227860	4.889879	netrin receptor activity
GO:0004991	0.000267	8.227860	4.165696	parathyroid hormone receptor activity
GO:0004839	0.000267	8.227860	1.354546	ubiquitin activating enzyme activity
GO:0004829	0.000267	8.227860	2.500411	threonine-tRNA ligase activity
GO:0004739	0.000267	8.227860	0.060625	pyruvate dehydrogenase (acetyl-transferring) activity
GO:0004499	0.000267	8.227860	2.643512	N,N-dimethylaniline monooxygenase activity
GO:0004478	0.000267	8.227860	3.578297	methionine adenosyltransferase activity
GO:0004462	0.000267	8.227860	1.822531	lactoylglutathione lyase activity
GO:0004422	0.000267	8.227860	0.523248	hypoxanthine phosphoribosyltransferase activity
GO:0004352	0.000267	8.227860	0.661398	glutamate dehydrogenase (NAD+) activity
GO:0004348	0.000267	8.227860	3.980849	glucosylceramidase activity
GO:0004321	0.000267	8.227860	1.446919	fatty-acyl-CoA synthase activity
GO:0004170	0.000267	8.227860	1.056053	dUTP diphosphatase activity
GO:0004134	0.000267	8.227860	4.190601	4-alpha-glucanotransferase activity
GO:0004067	0.000267	8.227860	3.233764	asparaginase activity
GO:0003997	0.000267	8.227860	0.723919	acyl-CoA oxidase activity
GO:0003913	0.000267	8.227860	0.000000	DNA photolyase activity
GO:0003847	0.000267	8.227860	3.595598	1-alkyl-2-acetylglycerophosphocholine esterase activity
GO:0002162	0.000267	8.227860	7.509609	dystroglycan binding
GO:0001758	0.000267	8.227860	2.825833	retinal dehydrogenase activity
GO:0001594	0.000267	8.227860	2.270836	trace-amine receptor activity
GO:0000828	0.000267	8.227860	2.264364	inositol hexakisphosphate kinase activity
GO:0000774	0.000267	8.227860	0.060625	adenyl-nucleotide exchange factor activity
GO:0000405	0.000267	8.227860	1.812379	bubble DNA binding
GO:0000036	0.000267	8.227860	0.000000	acyl carrier activity
GO:1990763	0.000250	8.292398	7.574148	arrestin family protein binding
GO:1905538	0.000250	8.292398	3.100092	polysome binding
GO:0098919	0.000250	8.292398	0.182322	structural constituent of postsynaptic density
GO:0070097	0.000250	8.292398	7.574148	delta-catenin binding
GO:0070026	0.000250	8.292398	7.853553	nitric oxide binding
GO:0055102	0.000250	8.292398	3.937041	lipase inhibitor activity
GO:0052813	0.000250	8.292398	5.233601	phosphatidylinositol bisphosphate kinase activity
GO:0050551	0.000250	8.292398	2.533697	myrcene synthase activity
GO:0050544	0.000250	8.292398	0.000000	arachidonic acid binding
GO:0050253	0.000250	8.292398	3.660137	retinyl-palmitate esterase activity
GO:0048039	0.000250	8.292398	0.510826	ubiquinone binding
GO:0045236	0.000250	8.292398	2.189790	CXCR chemokine receptor binding
GO:0043997	0.000250	8.292398	1.280934	histone H4K12 acetyltransferase activity
GO:0043225	0.000250	8.292398	0.064539	ATPase-coupled inorganic anion transmembrane transporter activity
GO:0043199	0.000250	8.292398	2.295896	sulfate binding
GO:0042500	0.000250	8.292398	1.802809	aspartic endopeptidase activity, intramembrane cleaving
GO:0036408	0.000250	8.292398	1.223775	histone H3K14 acetyltransferase activity
GO:0036080	0.000250	8.292398	1.369487	purine nucleotide-sugar transmembrane transporter activity
GO:0035514	0.000250	8.292398	0.000000	DNA demethylase activity
GO:0035374	0.000250	8.292398	2.912351	chondroitin sulfate binding
GO:0034739	0.000250	8.292398	2.001480	histone H4K16 deacetylase activity
GO:0034458	0.000250	8.292398	2.071073	3'-5' RNA helicase activity
GO:0033300	0.000250	8.292398	1.686399	dehydroascorbic acid transmembrane transporter activity
GO:0033204	0.000250	8.292398	5.632406	ribonuclease P RNA binding
GO:0030957	0.000250	8.292398	3.796238	Tat protein binding
GO:0030911	0.000250	8.292398	4.474302	TPR domain binding
GO:0030882	0.000250	8.292398	0.182322	lipid antigen binding
GO:0030598	0.000250	8.292398	0.000000	rRNA N-glycosylase activity
GO:0030337	0.000250	8.292398	4.253246	DNA polymerase processivity factor activity
GO:0022849	0.000250	8.292398	0.000000	glutamate-gated calcium ion channel activity
GO:0019992	0.000250	8.292398	4.626279	diacylglycerol binding
GO:0019972	0.000250	8.292398	2.852631	interleukin-12 binding
GO:0019864	0.000250	8.292398	1.635755	IgG binding
GO:0019171	0.000250	8.292398	3.453157	3-hydroxyacyl-[acyl-carrier-protein] dehydratase activity
GO:0017017	0.000250	8.292398	0.064539	MAP kinase tyrosine/serine/threonine phosphatase activity
GO:0016901	0.000250	8.292398	4.105394	oxidoreductase activity, acting on the CH-OH group of donors, quinone or similar compound as acceptor
GO:0016892	0.000250	8.292398	0.000000	RNA endonuclease activity, producing 3'-phosphomonoesters
GO:0016762	0.000250	8.292398	2.844909	xyloglucan:xyloglucosyl transferase activity
GO:0016726	0.000250	8.292398	1.511458	oxidoreductase activity, acting on CH or CH2 groups, NAD or NADP as acceptor
GO:0016715	0.000250	8.292398	3.520461	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced ascorbate as one donor, and incorporation of one atom of oxygen
GO:0016436	0.000250	8.292398	1.568616	rRNA (uridine) methyltransferase activity
GO:0016207	0.000250	8.292398	2.354545	4-coumarate-CoA ligase activity
GO:0015489	0.000250	8.292398	0.382992	putrescine transmembrane transporter activity
GO:0015369	0.000250	8.292398	0.064539	calcium:proton antiporter activity
GO:0015277	0.000250	8.292398	0.000000	kainate selective glutamate receptor activity
GO:0015211	0.000250	8.292398	1.183770	purine nucleoside transmembrane transporter activity
GO:0015188	0.000250	8.292398	0.470004	L-isoleucine transmembrane transporter activity
GO:0015152	0.000250	8.292398	0.064539	glucose-6-phosphate transmembrane transporter activity
GO:0015146	0.000250	8.292398	2.167147	pentose transmembrane transporter activity
GO:0015132	0.000250	8.292398	0.064539	prostaglandin transmembrane transporter activity
GO:0015129	0.000250	8.292398	0.470004	lactate transmembrane transporter activity
GO:0015105	0.000250	8.292398	3.459466	arsenite transmembrane transporter activity
GO:0015086	0.000250	8.292398	2.699122	cadmium ion transmembrane transporter activity
GO:0010997	0.000250	8.292398	5.185149	anaphase-promoting complex binding
GO:0010856	0.000250	8.292398	0.000000	adenylate cyclase activator activity
GO:0010436	0.000250	8.292398	2.335375	carotenoid dioxygenase activity
GO:0009674	0.000250	8.292398	0.182322	potassium:sodium symporter activity
GO:0008534	0.000250	8.292398	0.336472	oxidized purine nucleobase lesion DNA N-glycosylase activity
GO:0008453	0.000250	8.292398	2.512306	alanine-glyoxylate transaminase activity
GO:0008452	0.000250	8.292398	0.236389	RNA ligase activity
GO:0008401	0.000250	8.292398	3.520461	retinoic acid 4-hydroxylase activity
GO:0008192	0.000250	8.292398	0.064539	RNA guanylyltransferase activity
GO:0008126	0.000250	8.292398	0.427444	acetylesterase activity
GO:0008113	0.000250	8.292398	1.609438	peptide-methionine (S)-S-oxide reductase activity
GO:0005369	0.000250	8.292398	0.000000	taurine:sodium symporter activity
GO:0005234	0.000250	8.292398	2.549445	extracellularly glutamate-gated ion channel activity
GO:0005148	0.000250	8.292398	3.416633	prolactin receptor binding
GO:0005113	0.000250	8.292398	5.246673	patched binding
GO:0005034	0.000250	8.292398	0.064539	osmosensor activity
GO:0004994	0.000250	8.292398	2.197225	somatostatin receptor activity
GO:0004966	0.000250	8.292398	2.197225	galanin receptor activity
GO:0004938	0.000250	8.292398	0.470004	alpha2-adrenergic receptor activity
GO:0004825	0.000250	8.292398	2.564949	methionine-tRNA ligase activity
GO:0004800	0.000250	8.292398	5.719656	thyroxine 5'-deiodinase activity
GO:0004658	0.000250	8.292398	1.053150	propionyl-CoA carboxylase activity
GO:0004586	0.000250	8.292398	2.833213	ornithine decarboxylase activity
GO:0004459	0.000250	8.292398	0.125163	L-lactate dehydrogenase activity
GO:0004366	0.000250	8.292398	2.937397	glycerol-3-phosphate O-acyltransferase activity
GO:0004169	0.000250	8.292398	0.000000	dolichyl-phosphate-mannose-protein mannosyltransferase activity
GO:0004151	0.000250	8.292398	1.609438	dihydroorotase activity
GO:0004145	0.000250	8.292398	2.985682	diamine N-acetyltransferase activity
GO:0004111	0.000250	8.292398	1.802809	creatine kinase activity
GO:0004105	0.000250	8.292398	1.435085	choline-phosphate cytidylyltransferase activity
GO:0004104	0.000250	8.292398	3.660137	cholinesterase activity
GO:0004099	0.000250	8.292398	2.397895	chitin deacetylase activity
GO:0003984	0.000250	8.292398	1.120591	acetolactate synthase activity
GO:0003959	0.000250	8.292398	2.915967	NADPH dehydrogenase activity
GO:0003711	0.000250	8.292398	5.531807	transcription elongation factor activity
GO:0003692	0.000250	8.292398	5.523060	left-handed Z-DNA binding
GO:0002094	0.000250	8.292398	2.590267	polyprenyltransferase activity
GO:0001640	0.000250	8.292398	0.236389	adenylate cyclase inhibiting G protein-coupled glutamate receptor activity
GO:0001162	0.000250	8.292398	0.182322	RNA polymerase II intronic transcription regulatory region sequence-specific DNA binding
GO:0001055	0.000250	8.292398	2.054124	RNA polymerase II activity
GO:0000386	0.000250	8.292398	4.491628	second spliceosomal transesterification activity
GO:0000384	0.000250	8.292398	4.491628	first spliceosomal transesterification activity
GO:0000150	0.000250	8.292398	4.134633	DNA strand exchange activity
GO:1990948	0.000234	8.361391	0.194156	ubiquitin ligase inhibitor activity
GO:0140784	0.000234	8.361391	2.014903	metal ion sensor activity
GO:0097642	0.000234	8.361391	3.198673	calcitonin family receptor activity
GO:0086008	0.000234	8.361391	2.763620	voltage-gated potassium channel activity involved in cardiac muscle cell action potential repolarization
GO:0070579	0.000234	8.361391	2.759105	methylcytosine dioxygenase activity
GO:0070548	0.000234	8.361391	2.581298	L-glutamine aminotransferase activity
GO:0070513	0.000234	8.361391	4.543295	death domain binding
GO:0048408	0.000234	8.361391	0.305382	epidermal growth factor binding
GO:0048407	0.000234	8.361391	3.020425	platelet-derived growth factor binding
GO:0048101	0.000234	8.361391	1.122143	calmodulin-activated 3',5'-cyclic-GMP phosphodiesterase activity
GO:0046976	0.000234	8.361391	2.014903	histone H3K27 methyltransferase activity
GO:0046935	0.000234	8.361391	0.451985	1-phosphatidylinositol-3-kinase regulator activity
GO:0043995	0.000234	8.361391	1.349927	histone H4K5 acetyltransferase activity
GO:0043237	0.000234	8.361391	1.580450	laminin-1 binding
GO:0042947	0.000234	8.361391	2.768114	glucoside transmembrane transporter activity
GO:0042609	0.000234	8.361391	5.315666	CD4 receptor binding
GO:0042392	0.000234	8.361391	0.916291	sphingosine-1-phosphate phosphatase activity
GO:0042124	0.000234	8.361391	0.133531	1,3-beta-glucanosyltransferase activity
GO:0034618	0.000234	8.361391	1.519826	arginine binding
GO:0033265	0.000234	8.361391	1.925291	choline binding
GO:0033041	0.000234	8.361391	1.580450	sweet taste receptor activity
GO:0031779	0.000234	8.361391	1.860752	melanocortin receptor binding
GO:0031698	0.000234	8.361391	0.728239	beta-2 adrenergic receptor binding
GO:0031177	0.000234	8.361391	0.971861	phosphopantetheine binding
GO:0031071	0.000234	8.361391	1.595049	cysteine desulfurase activity
GO:0030572	0.000234	8.361391	2.309703	phosphatidyltransferase activity
GO:0022842	0.000234	8.361391	4.804606	narrow pore channel activity
GO:0022840	0.000234	8.361391	0.000000	leak channel activity
GO:0019798	0.000234	8.361391	0.916291	procollagen-proline dioxygenase activity
GO:0017162	0.000234	8.361391	1.565635	aryl hydrocarbon receptor binding
GO:0016426	0.000234	8.361391	1.826851	tRNA (adenine) methyltransferase activity
GO:0016415	0.000234	8.361391	4.356709	octanoyltransferase activity
GO:0016300	0.000234	8.361391	1.985915	tRNA (uracil) methyltransferase activity
GO:0015349	0.000234	8.361391	4.035504	thyroid hormone transmembrane transporter activity
GO:0015214	0.000234	8.361391	1.252763	pyrimidine nucleoside transmembrane transporter activity
GO:0015192	0.000234	8.361391	1.145132	L-phenylalanine transmembrane transporter activity
GO:0015099	0.000234	8.361391	2.768114	nickel cation transmembrane transporter activity
GO:0008796	0.000234	8.361391	4.437596	bis(5'-nucleosyl)-tetraphosphatase activity
GO:0008658	0.000234	8.361391	0.971861	penicillin binding
GO:0008511	0.000234	8.361391	0.000000	sodium:potassium:chloride symporter activity
GO:0008184	0.000234	8.361391	0.579818	glycogen phosphorylase activity
GO:0005350	0.000234	8.361391	1.519826	pyrimidine nucleobase transmembrane transporter activity
GO:0005222	0.000234	8.361391	0.887303	intracellular cAMP-activated cation channel activity
GO:0004995	0.000234	8.361391	2.266217	tachykinin receptor activity
GO:0004883	0.000234	8.361391	1.791759	nuclear glucocorticoid receptor activity
GO:0004797	0.000234	8.361391	0.693147	thymidine kinase activity
GO:0004775	0.000234	8.361391	0.538997	succinate-CoA ligase (ADP-forming) activity
GO:0004751	0.000234	8.361391	1.767662	ribose-5-phosphate isomerase activity
GO:0004692	0.000234	8.361391	1.074515	cGMP-dependent protein kinase activity
GO:0004649	0.000234	8.361391	4.114381	poly(ADP-ribose) glycohydrolase activity
GO:0004618	0.000234	8.361391	1.145132	phosphoglycerate kinase activity
GO:0004615	0.000234	8.361391	1.580450	phosphomannomutase activity
GO:0004609	0.000234	8.361391	2.902206	phosphatidylserine decarboxylase activity
GO:0004594	0.000234	8.361391	5.302594	pantothenate kinase activity
GO:0004590	0.000234	8.361391	2.902206	orotidine-5'-phosphate decarboxylase activity
GO:0004588	0.000234	8.361391	2.820528	orotate phosphoribosyltransferase activity
GO:0004551	0.000234	8.361391	4.437596	dinucleotide phosphatase activity
GO:0004508	0.000234	8.361391	1.704748	steroid 17-alpha-monooxygenase activity
GO:0004486	0.000234	8.361391	2.079442	methylenetetrahydrofolate dehydrogenase [NAD(P)+] activity
GO:0004376	0.000234	8.361391	2.236140	glycolipid mannosyltransferase activity
GO:0004359	0.000234	8.361391	3.367296	glutaminase activity
GO:0004357	0.000234	8.361391	2.337676	glutamate-cysteine ligase activity
GO:0004351	0.000234	8.361391	2.902206	glutamate decarboxylase activity
GO:0004165	0.000234	8.361391	1.312186	delta(3)-delta(2)-enoyl-CoA isomerase activity
GO:0004072	0.000234	8.361391	0.356675	aspartate kinase activity
GO:0004058	0.000234	8.361391	2.902206	aromatic-L-amino-acid decarboxylase activity
GO:0004028	0.000234	8.361391	2.959365	3-chloroallyl aldehyde dehydrogenase activity
GO:0004014	0.000234	8.361391	2.902206	adenosylmethionine decarboxylase activity
GO:0003941	0.000234	8.361391	1.471817	L-serine ammonia-lyase activity
GO:0003939	0.000234	8.361391	4.065357	L-iditol 2-dehydrogenase activity
GO:0003925	0.000234	8.361391	1.403994	G protein activity
GO:0003910	0.000234	8.361391	0.619039	DNA ligase (ATP) activity
GO:0003844	0.000234	8.361391	4.324133	1,4-alpha-glucan branching enzyme activity
GO:0002135	0.000234	8.361391	0.405465	CTP binding
GO:0001872	0.000234	8.361391	2.323787	(1->3)-beta-D-glucan binding
GO:0001588	0.000234	8.361391	0.728239	dopamine neurotransmitter receptor activity, coupled via Gs
GO:2001070	0.000217	8.435499	2.397895	starch binding
GO:1990757	0.000217	8.435499	0.479573	ubiquitin ligase activator activity
GO:1990459	0.000217	8.435499	5.389774	transferrin receptor binding
GO:1990238	0.000217	8.435499	2.458931	double-stranded DNA endonuclease activity
GO:0140911	0.000217	8.435499	8.435499	pore-forming activity
GO:0120019	0.000217	8.435499	0.693147	phosphatidylcholine transfer activity
GO:0106413	0.000217	8.435499	3.184444	dihydrouridine synthase activity
GO:0106274	0.000217	8.435499	1.072637	NAD+-protein-arginine ADP-ribosyltransferase activity
GO:0106050	0.000217	8.435499	0.074108	tRNA 2'-O-methyltransferase activity
GO:0097603	0.000217	8.435499	4.355722	temperature-gated ion channel activity
GO:0080019	0.000217	8.435499	3.033473	fatty-acyl-CoA reductase (alcohol-forming) activity
GO:0070679	0.000217	8.435499	1.725510	inositol 1,4,5 trisphosphate binding
GO:0070320	0.000217	8.435499	1.306252	inward rectifier potassium channel inhibitor activity
GO:0051425	0.000217	8.435499	4.617403	PTB domain binding
GO:0051379	0.000217	8.435499	0.613104	epinephrine binding
GO:0050440	0.000217	8.435499	1.711717	2-methylcitrate synthase activity
GO:0050309	0.000217	8.435499	1.639743	sugar-terminal-phosphatase activity
GO:0050254	0.000217	8.435499	0.526093	rhodopsin kinase activity
GO:0047952	0.000217	8.435499	4.139465	glycerol-3-phosphate dehydrogenase [NAD(P)+] activity
GO:0047631	0.000217	8.435499	4.511704	ADP-ribose diphosphatase activity
GO:0047580	0.000217	8.435499	0.990399	4-hydroxyproline epimerase activity
GO:0047044	0.000217	8.435499	1.889398	androstan-3-alpha,17-beta-diol dehydrogenase activity
GO:0047023	0.000217	8.435499	1.889398	androsterone dehydrogenase activity
GO:0046905	0.000217	8.435499	4.511704	15-cis-phytoene synthase activity
GO:0046583	0.000217	8.435499	0.143101	monoatomic cation efflux transmembrane transporter activity
GO:0045547	0.000217	8.435499	2.733368	dehydrodolichyl diphosphate synthase activity
GO:0045027	0.000217	8.435499	6.175387	DNA end binding
GO:0044388	0.000217	8.435499	5.702756	small protein activating enzyme binding
GO:0043996	0.000217	8.435499	1.424035	histone H4K8 acetyltransferase activity
GO:0043559	0.000217	8.435499	1.405343	insulin binding
GO:0043262	0.000217	8.435499	1.285198	ADP phosphatase activity
GO:0042879	0.000217	8.435499	3.869597	aldonate transmembrane transporter activity
GO:0042799	0.000217	8.435499	0.479573	histone H4K20 methyltransferase activity
GO:0039706	0.000217	8.435499	7.717249	co-receptor binding
GO:0036374	0.000217	8.435499	0.268264	glutathione hydrolase activity
GO:0035243	0.000217	8.435499	1.460402	protein-arginine omega-N symmetric methyltransferase activity
GO:0034235	0.000217	8.435499	0.143101	GPI anchor binding
GO:0033743	0.000217	8.435499	1.752539	peptide-methionine (R)-S-oxide reductase activity
GO:0033284	0.000217	8.435499	0.000000	ATPase-coupled carboxylic acid transmembrane transporter activity
GO:0033283	0.000217	8.435499	0.430783	ATPase-coupled organic acid transmembrane transporter activity
GO:0032552	0.000217	8.435499	4.760200	deoxyribonucleotide binding
GO:0032404	0.000217	8.435499	5.328250	mismatch repair complex binding
GO:0031996	0.000217	8.435499	5.702756	thioesterase binding
GO:0031956	0.000217	8.435499	1.999399	medium-chain fatty acid-CoA ligase activity
GO:0031701	0.000217	8.435499	3.686955	angiotensin receptor binding
GO:0031628	0.000217	8.435499	3.686955	opioid receptor binding
GO:0031127	0.000217	8.435499	1.578185	alpha-(1,2)-fucosyltransferase activity
GO:0031013	0.000217	8.435499	5.014729	troponin I binding
GO:0030600	0.000217	8.435499	3.803238	feruloyl esterase activity
GO:0030350	0.000217	8.435499	4.992001	iron-responsive element binding
GO:0019808	0.000217	8.435499	7.996654	polyamine binding
GO:0019788	0.000217	8.435499	4.325660	NEDD8 transferase activity
GO:0019187	0.000217	8.435499	2.310248	beta-1,4-mannosyltransferase activity
GO:0019164	0.000217	8.435499	0.430783	pyruvate synthase activity
GO:0018491	0.000217	8.435499	3.033473	2-oxobutyrate synthase activity
GO:0017176	0.000217	8.435499	2.432263	phosphatidylinositol N-acetylglucosaminyltransferase activity
GO:0017150	0.000217	8.435499	0.000000	tRNA dihydrouridine synthase activity
GO:0016985	0.000217	8.435499	0.570545	mannan endo-1,4-beta-mannosidase activity
GO:0016966	0.000217	8.435499	0.900787	nitric oxide reductase activity
GO:0016695	0.000217	8.435499	5.862757	oxidoreductase activity, acting on hydrogen as donor
GO:0016669	0.000217	8.435499	3.252162	oxidoreductase activity, acting on a sulfur group of donors, cytochrome as acceptor
GO:0016176	0.000217	8.435499	4.396347	superoxide-generating NADPH oxidase activator activity
GO:0015184	0.000217	8.435499	0.207639	L-cystine transmembrane transporter activity
GO:0015180	0.000217	8.435499	0.325422	L-alanine transmembrane transporter activity
GO:0015087	0.000217	8.435499	2.842222	cobalt ion transmembrane transporter activity
GO:0009679	0.000217	8.435499	0.074108	hexose:proton symporter activity
GO:0009019	0.000217	8.435499	0.931558	tRNA (guanine-N1-)-methyltransferase activity
GO:0009013	0.000217	8.435499	3.033473	succinate-semialdehyde dehydrogenase [NAD(P)+] activity
GO:0009001	0.000217	8.435499	0.000000	serine O-acetyltransferase activity
GO:0008937	0.000217	8.435499	0.613104	ferredoxin-NAD(P) reductase activity
GO:0008934	0.000217	8.435499	0.379490	inositol monophosphate 1-phosphatase activity
GO:0008907	0.000217	8.435499	4.277734	integrase activity
GO:0008802	0.000217	8.435499	1.765784	betaine-aldehyde dehydrogenase activity
GO:0008428	0.000217	8.435499	0.207639	ribonuclease inhibitor activity
GO:0008271	0.000217	8.435499	0.526093	secondary active sulfate transmembrane transporter activity
GO:0008251	0.000217	8.435499	1.098612	tRNA-specific adenosine deaminase activity
GO:0008240	0.000217	8.435499	1.285198	tripeptidyl-peptidase activity
GO:0005503	0.000217	8.435499	0.931558	all-trans retinal binding
GO:0005502	0.000217	8.435499	0.931558	11-cis retinal binding
GO:0004983	0.000217	8.435499	2.340325	neuropeptide Y receptor activity
GO:0004963	0.000217	8.435499	1.609438	follicle-stimulating hormone receptor activity
GO:0004830	0.000217	8.435499	2.708050	tryptophan-tRNA ligase activity
GO:0004828	0.000217	8.435499	2.708050	serine-tRNA ligase activity
GO:0004826	0.000217	8.435499	2.708050	phenylalanine-tRNA ligase activity
GO:0004802	0.000217	8.435499	1.263692	transketolase activity
GO:0004793	0.000217	8.435499	2.030170	threonine aldolase activity
GO:0004772	0.000217	8.435499	3.080498	sterol O-acyltransferase activity
GO:0004766	0.000217	8.435499	3.785936	spermidine synthase activity
GO:0004740	0.000217	8.435499	5.163026	pyruvate dehydrogenase (acetyl-transferring) kinase activity
GO:0004711	0.000217	8.435499	4.723295	ribosomal protein S6 kinase activity
GO:0004705	0.000217	8.435499	1.804498	JUN kinase activity
GO:0004613	0.000217	8.435499	0.990399	phosphoenolpyruvate carboxykinase (GTP) activity
GO:0004576	0.000217	8.435499	4.398241	oligosaccharyl transferase activity
GO:0004560	0.000217	8.435499	0.207639	alpha-L-fucosidase activity
GO:0004489	0.000217	8.435499	2.153550	methylenetetrahydrofolate reductase (NAD(P)H) activity
GO:0004464	0.000217	8.435499	2.030170	leukotriene-C4 synthase activity
GO:0004370	0.000217	8.435499	5.376702	glycerol kinase activity
GO:0004346	0.000217	8.435499	0.000000	glucose-6-phosphatase activity
GO:0004335	0.000217	8.435499	2.510224	galactokinase activity
GO:0004331	0.000217	8.435499	1.639743	fructose-2,6-bisphosphate 2-phosphatase activity
GO:0004318	0.000217	8.435499	0.074108	enoyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0004305	0.000217	8.435499	5.376702	ethanolamine kinase activity
GO:0004152	0.000217	8.435499	3.184444	dihydroorotate dehydrogenase activity
GO:0004135	0.000217	8.435499	1.683546	amylo-alpha-1,6-glucosidase activity
GO:0004127	0.000217	8.435499	1.841770	cytidylate kinase activity
GO:0004052	0.000217	8.435499	2.478476	arachidonate 12(S)-lipoxygenase activity
GO:0004040	0.000217	8.435499	3.441404	amidase activity
GO:0004020	0.000217	8.435499	5.376702	adenylylsulfate kinase activity
GO:0004018	0.000217	8.435499	1.219240	N6-(1,2-dicarboxyethyl)AMP AMP-lyase (fumarate-forming) activity
GO:0003979	0.000217	8.435499	4.139465	UDP-glucose 6-dehydrogenase activity
GO:0003977	0.000217	8.435499	1.683546	UDP-N-acetylglucosamine diphosphorylase activity
GO:0003938	0.000217	8.435499	4.139465	IMP dehydrogenase activity
GO:0003836	0.000217	8.435499	1.683546	beta-galactoside (CMP) alpha-2,3-sialyltransferase activity
GO:0003825	0.000217	8.435499	2.738356	alpha,alpha-trehalose-phosphate synthase (UDP-forming) activity
GO:0001730	0.000217	8.435499	2.458931	2'-5'-oligoadenylate synthetase activity
GO:0001591	0.000217	8.435499	0.802346	dopamine neurotransmitter receptor activity, coupled via Gi/Go
GO:0001164	0.000217	8.435499	0.000000	RNA polymerase I core promoter sequence-specific DNA binding
GO:0001097	0.000217	8.435499	1.123930	TFIIH-class transcription factor complex binding
GO:0001006	0.000217	8.435499	0.479573	RNA polymerase III type 3 promoter sequence-specific DNA binding
GO:0000772	0.000217	8.435499	1.123930	mating pheromone activity
GO:0000309	0.000217	8.435499	2.458931	nicotinamide-nucleotide adenylyltransferase activity
GO:1905394	0.000200	8.515542	5.408292	retromer complex binding
GO:1903136	0.000200	8.515542	3.091042	cuprous ion binding
GO:0140345	0.000200	8.515542	0.223144	phosphatidylcholine flippase activity
GO:0120016	0.000200	8.515542	0.080043	sphingolipid transfer activity
GO:0098821	0.000200	8.515542	1.673976	BMP receptor activity
GO:0098505	0.000200	8.515542	1.321756	G-rich strand telomeric DNA binding
GO:0097322	0.000200	8.515542	1.845827	7SK snRNA binding
GO:0097163	0.000200	8.515542	2.899588	sulfur carrier activity
GO:0090555	0.000200	8.515542	0.773190	phosphatidylethanolamine flippase activity
GO:0080084	0.000200	8.515542	1.203973	5S rDNA binding
GO:0071723	0.000200	8.515542	1.041454	lipopeptide binding
GO:0070728	0.000200	8.515542	2.470920	leucine binding
GO:0061628	0.000200	8.515542	2.367124	H3K27me3 modified histone binding
GO:0052725	0.000200	8.515542	0.916291	inositol-1,3,4-trisphosphate 6-kinase activity
GO:0051538	0.000200	8.515542	2.948815	3 iron, 4 sulfur cluster binding
GO:0050486	0.000200	8.515542	2.999890	intramolecular transferase activity, transferring hydroxy groups
GO:0050218	0.000200	8.515542	2.577688	propionate-CoA ligase activity
GO:0048406	0.000200	8.515542	0.459532	nerve growth factor binding
GO:0048273	0.000200	8.515542	1.558145	mitogen-activated protein kinase p38 binding
GO:0048040	0.000200	8.515542	3.056357	UDP-glucuronate decarboxylase activity
GO:0047714	0.000200	8.515542	3.164068	galactolipase activity
GO:0047553	0.000200	8.515542	0.510826	2-oxoglutarate synthase activity
GO:0047006	0.000200	8.515542	1.969441	17-alpha,20-alpha-dihydroxypregn-4-en-3-one dehydrogenase activity
GO:0046977	0.000200	8.515542	7.797291	TAP binding
GO:0045302	0.000200	8.515542	3.521447	choloylglycine hydrolase activity
GO:0045145	0.000200	8.515542	0.080043	single-stranded DNA 5'-3' DNA exonuclease activity
GO:0043813	0.000200	8.515542	0.000000	phosphatidylinositol-3,5-bisphosphate 5-phosphatase activity
GO:0043812	0.000200	8.515542	0.080043	phosphatidylinositol-4-phosphate phosphatase activity
GO:0043184	0.000200	8.515542	0.916291	vascular endothelial growth factor receptor 2 binding
GO:0042937	0.000200	8.515542	1.625967	tripeptide transmembrane transporter activity
GO:0036313	0.000200	8.515542	0.916291	phosphatidylinositol 3-kinase catalytic subunit binding
GO:0035516	0.000200	8.515542	0.000000	oxidative DNA demethylase activity
GO:0035515	0.000200	8.515542	0.000000	oxidative RNA demethylase activity
GO:0033695	0.000200	8.515542	1.734601	oxidoreductase activity, acting on CH or CH2 groups, quinone or similar compound as acceptor
GO:0032356	0.000200	8.515542	2.187922	oxidized DNA binding
GO:0031782	0.000200	8.515542	0.154151	type 4 melanocortin receptor binding
GO:0030881	0.000200	8.515542	7.797291	beta-2-microglobulin binding
GO:0030492	0.000200	8.515542	7.797291	hemoglobin binding
GO:0030395	0.000200	8.515542	0.810930	lactose binding
GO:0019828	0.000200	8.515542	3.428596	aspartic-type endopeptidase inhibitor activity
GO:0019172	0.000200	8.515542	3.676301	glyoxalase III activity
GO:0019139	0.000200	8.515542	2.808398	cytokinin dehydrogenase activity
GO:0018812	0.000200	8.515542	3.676301	3-hydroxyacyl-CoA dehydratase activity
GO:0018492	0.000200	8.515542	3.378725	carbon-monoxide dehydrogenase (acceptor) activity
GO:0016869	0.000200	8.515542	2.999890	intramolecular transferase activity, transferring amino groups
GO:0016749	0.000200	8.515542	0.000000	N-succinyltransferase activity
GO:0016663	0.000200	8.515542	1.921813	oxidoreductase activity, acting on other nitrogenous compounds as donors, oxygen as acceptor
GO:0016520	0.000200	8.515542	4.453378	growth hormone-releasing hormone receptor activity
GO:0015431	0.000200	8.515542	0.223144	ABC-type glutathione S-conjugate transporter activity
GO:0015347	0.000200	8.515542	3.254886	sodium-independent organic anion transmembrane transporter activity
GO:0015333	0.000200	8.515542	0.000000	peptide:proton symporter activity
GO:0015272	0.000200	8.515542	1.777773	ATP-activated inward rectifier potassium channel activity
GO:0015196	0.000200	8.515542	1.299283	L-tryptophan transmembrane transporter activity
GO:0010698	0.000200	8.515542	4.476389	acetyltransferase activator activity
GO:0010521	0.000200	8.515542	4.160184	telomerase inhibitor activity
GO:0010329	0.000200	8.515542	0.287682	auxin efflux transmembrane transporter activity
GO:0010283	0.000200	8.515542	2.470920	pinoresinol reductase activity
GO:0009383	0.000200	8.515542	0.000000	rRNA (cytosine-C5-)-methyltransferase activity
GO:0008936	0.000200	8.515542	3.521447	nicotinamidase activity
GO:0008889	0.000200	8.515542	3.361532	glycerophosphodiester phosphodiesterase activity
GO:0008843	0.000200	8.515542	1.522427	endochitinase activity
GO:0008467	0.000200	8.515542	1.041454	[heparan sulfate]-glucosamine 3-sulfotransferase 1 activity
GO:0008398	0.000200	8.515542	0.080043	sterol 14-demethylase activity
GO:0008386	0.000200	8.515542	0.405465	cholesterol monooxygenase (side-chain-cleaving) activity
GO:0008349	0.000200	8.515542	4.803338	MAP kinase kinase kinase kinase activity
GO:0008294	0.000200	8.515542	1.945910	calcium- and calmodulin-responsive adenylate cyclase activity
GO:0008261	0.000200	8.515542	3.352824	allatostatin receptor activity
GO:0008073	0.000200	8.515542	0.000000	ornithine decarboxylase inhibitor activity
GO:0005462	0.000200	8.515542	0.810930	UDP-N-acetylglucosamine transmembrane transporter activity
GO:0005363	0.000200	8.515542	1.252763	maltose transmembrane transporter activity
GO:0005335	0.000200	8.515542	0.773190	serotonin:sodium:chloride symporter activity
GO:0005280	0.000200	8.515542	0.000000	amino acid:proton symporter activity
GO:0005220	0.000200	8.515542	1.540445	inositol 1,4,5-trisphosphate-sensitive calcium-release channel activity
GO:0005005	0.000200	8.515542	0.773190	transmembrane-ephrin receptor activity
GO:0004974	0.000200	8.515542	1.575536	leukotriene receptor activity
GO:0004968	0.000200	8.515542	1.070441	gonadotropin-releasing hormone receptor activity
GO:0004831	0.000200	8.515542	2.788093	tyrosine-tRNA ligase activity
GO:0004827	0.000200	8.515542	2.788093	proline-tRNA ligase activity
GO:0004823	0.000200	8.515542	2.788093	leucine-tRNA ligase activity
GO:0004660	0.000200	8.515542	1.178655	protein farnesyltransferase activity
GO:0004637	0.000200	8.515542	3.361532	phosphoribosylamine-glycine ligase activity
GO:0004511	0.000200	8.515542	0.916291	tyrosine 3-monooxygenase activity
GO:0004505	0.000200	8.515542	0.916291	phenylalanine 4-monooxygenase activity
GO:0004476	0.000200	8.515542	1.921813	mannose-6-phosphate isomerase activity
GO:0004451	0.000200	8.515542	1.858899	isocitrate lyase activity
GO:0004416	0.000200	8.515542	2.302585	hydroxyacylglutathione hydrolase activity
GO:0004373	0.000200	8.515542	2.818398	glycogen (starch) synthase activity
GO:0004354	0.000200	8.515542	0.949081	glutamate dehydrogenase (NADP+) activity
GO:0004315	0.000200	8.515542	2.224624	3-oxoacyl-[acyl-carrier-protein] synthase activity
GO:0004309	0.000200	8.515542	4.591747	exopolyphosphatase activity
GO:0004161	0.000200	8.515542	2.813411	dimethylallyltranstransferase activity
GO:0004157	0.000200	8.515542	1.832581	dihydropyrimidinase activity
GO:0004148	0.000200	8.515542	1.969441	dihydrolipoyl dehydrogenase activity
GO:0004137	0.000200	8.515542	0.847298	deoxycytidine kinase activity
GO:0004095	0.000200	8.515542	0.000000	carnitine O-palmitoyltransferase activity
GO:0004070	0.000200	8.515542	0.847298	aspartate carbamoyltransferase activity
GO:0004064	0.000200	8.515542	3.883281	arylesterase activity
GO:0004060	0.000200	8.515542	3.208825	arylamine N-acetyltransferase activity
GO:0004059	0.000200	8.515542	3.208825	aralkylamine N-acetyltransferase activity
GO:0004056	0.000200	8.515542	1.299283	argininosuccinate lyase activity
GO:0004054	0.000200	8.515542	0.000000	arginine kinase activity
GO:0003999	0.000200	8.515542	0.810930	adenine phosphoribosyltransferase activity
GO:0003934	0.000200	8.515542	0.459532	GTP cyclohydrolase I activity
GO:0003884	0.000200	8.515542	1.406914	D-amino-acid oxidase activity
GO:0003867	0.000200	8.515542	2.735449	4-aminobutyrate transaminase activity
GO:0003849	0.000200	8.515542	3.865979	3-deoxy-7-phosphoheptulonate synthase activity
GO:0003828	0.000200	8.515542	1.763589	alpha-N-acetylneuraminate alpha-2,8-sialyltransferase activity
GO:0003696	0.000200	8.515542	5.636574	satellite DNA binding
GO:0003681	0.000200	8.515542	6.255430	bent DNA binding
GO:0002046	0.000200	8.515542	7.797291	opsin binding
GO:0001882	0.000200	8.515542	4.850727	nucleoside binding
GO:0001665	0.000200	8.515542	1.763589	alpha-N-acetylgalactosaminide alpha-2,6-sialyltransferase activity
GO:0001648	0.000200	8.515542	3.352824	proteinase-activated receptor activity
GO:0001093	0.000200	8.515542	1.504077	TFIIB-class transcription factor binding
GO:0000700	0.000200	8.515542	1.969441	mismatch base pair DNA N-glycosylase activity
GO:0000510	0.000200	8.515542	1.178655	H3-H4 histone complex chaperone activity
GO:0000064	0.000200	8.515542	2.991557	L-ornithine transmembrane transporter activity
GO:1990430	0.000184	8.602553	7.884303	extracellular matrix protein binding
GO:1990275	0.000184	8.602553	3.410247	preribosome binding
GO:1904091	0.000184	8.602553	7.741652	non-ribosomal peptide synthetase activity
GO:0140699	0.000184	8.602553	4.107889	cyclic GMP-AMP synthase activity
GO:0140659	0.000184	8.602553	5.848014	cytoskeletal motor regulator activity
GO:0140616	0.000184	8.602553	0.492476	iodotyrosine deiodinase activity
GO:0140346	0.000184	8.602553	0.087011	phosphatidylserine flippase activity
GO:0099511	0.000184	8.602553	2.522086	voltage-gated calcium channel activity involved in regulation of cytosolic calcium levels
GO:0099107	0.000184	8.602553	3.309215	ion channel regulator activity involved in G protein-coupled receptor signaling pathway
GO:0097493	0.000184	8.602553	4.969813	structural molecule activity conferring elasticity
GO:0086006	0.000184	8.602553	1.864785	voltage-gated sodium channel activity involved in cardiac muscle cell action potential
GO:0080015	0.000184	8.602553	0.492476	sabinene synthase activity
GO:0071532	0.000184	8.602553	4.784457	ankyrin repeat binding
GO:0071253	0.000184	8.602553	7.884303	connexin binding
GO:0070815	0.000184	8.602553	2.302585	peptidyl-lysine 5-dioxygenase activity
GO:0070704	0.000184	8.602553	4.423212	sterol desaturase activity
GO:0070573	0.000184	8.602553	0.000000	metallodipeptidase activity
GO:0070336	0.000184	8.602553	6.342441	flap-structured DNA binding
GO:0070330	0.000184	8.602553	2.044756	aromatase activity
GO:0070259	0.000184	8.602553	0.737599	tyrosyl-DNA phosphodiesterase activity
GO:0070139	0.000184	8.602553	0.000000	SUMO-specific endopeptidase activity
GO:0070137	0.000184	8.602553	1.265666	ubiquitin-like protein-specific endopeptidase activity
GO:0052726	0.000184	8.602553	1.003302	inositol-1,3,4-trisphosphate 5-kinase activity
GO:0052658	0.000184	8.602553	1.157453	inositol-1,4,5-trisphosphate 5-phosphatase activity
GO:0051731	0.000184	8.602553	1.036092	polynucleotide 5'-hydroxyl-kinase activity
GO:0051718	0.000184	8.602553	1.128465	DNA (cytosine-5-)-methyltransferase activity, acting on CpG substrates
GO:0051575	0.000184	8.602553	0.435318	5'-deoxyribose-5-phosphate lyase activity
GO:0051429	0.000184	8.602553	0.000000	corticotropin-releasing hormone receptor binding
GO:0050656	0.000184	8.602553	1.679642	3'-phosphoadenosine 5'-phosphosulfate binding
GO:0050613	0.000184	8.602553	2.557932	delta14-sterol reductase activity
GO:0050483	0.000184	8.602553	1.386294	IMP 5'-nucleotidase activity
GO:0047929	0.000184	8.602553	3.763312	gluconate dehydratase activity
GO:0047844	0.000184	8.602553	2.274934	deoxycytidine deaminase activity
GO:0047769	0.000184	8.602553	3.763312	arogenate dehydratase activity
GO:0047635	0.000184	8.602553	2.822461	alanine-oxo-acid transaminase activity
GO:0047623	0.000184	8.602553	2.274934	adenosine-phosphate deaminase activity
GO:0047238	0.000184	8.602553	1.945910	glucuronosyl-N-acetylgalactosaminyl-proteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047105	0.000184	8.602553	3.200527	4-trimethylammoniobutyraldehyde dehydrogenase activity
GO:0047035	0.000184	8.602553	0.492476	testosterone dehydrogenase (NAD+) activity
GO:0046922	0.000184	8.602553	0.435318	peptide-O-fucosyltransferase activity
GO:0046537	0.000184	8.602553	0.780159	2,3-bisphosphoglycerate-independent phosphoglycerate mutase activity
GO:0045543	0.000184	8.602553	3.000267	gibberellin 2-beta-dioxygenase activity
GO:0045504	0.000184	8.602553	7.884303	dynein heavy chain binding
GO:0045436	0.000184	8.602553	0.241162	lycopene beta cyclase activity
GO:0042903	0.000184	8.602553	2.389596	tubulin deacetylase activity
GO:0042781	0.000184	8.602553	1.553348	3'-tRNA processing endoribonuclease activity
GO:0042084	0.000184	8.602553	4.395571	5-methyltetrahydrofolate-dependent methyltransferase activity
GO:0035368	0.000184	8.602553	5.159055	selenocysteine insertion sequence binding
GO:0035240	0.000184	8.602553	0.492476	dopamine binding
GO:0035175	0.000184	8.602553	0.546544	histone H3S10 kinase activity
GO:0035005	0.000184	8.602553	0.000000	1-phosphatidylinositol-4-phosphate 3-kinase activity
GO:0034647	0.000184	8.602553	0.000000	histone H3K4me/H3K4me2/H3K4me3 demethylase activity
GO:0034513	0.000184	8.602553	1.645156	box H/ACA snoRNA binding
GO:0034481	0.000184	8.602553	2.743768	chondroitin sulfotransferase activity
GO:0034069	0.000184	8.602553	3.295837	aminoglycoside N-acetyltransferase activity
GO:0032795	0.000184	8.602553	5.495304	heterotrimeric G-protein binding
GO:0032554	0.000184	8.602553	0.000000	purine deoxyribonucleotide binding
GO:0032357	0.000184	8.602553	0.087011	oxidized purine DNA binding
GO:0031320	0.000184	8.602553	4.415549	hexitol dehydrogenase activity
GO:0022841	0.000184	8.602553	0.000000	potassium ion leak channel activity
GO:0019781	0.000184	8.602553	1.729239	NEDD8 activating enzyme activity
GO:0019153	0.000184	8.602553	0.435318	protein-disulfide reductase (glutathione) activity
GO:0019002	0.000184	8.602553	3.782121	GMP binding
GO:0018271	0.000184	8.602553	1.906170	biotin-protein ligase activity
GO:0017153	0.000184	8.602553	0.646627	sodium:dicarboxylate symporter activity
GO:0017057	0.000184	8.602553	3.970292	6-phosphogluconolactonase activity
GO:0016913	0.000184	8.602553	3.107436	follicle-stimulating hormone activity
GO:0016871	0.000184	8.602553	1.290984	cycloartenol synthase activity
GO:0016703	0.000184	8.602553	0.820981	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of one atom of oxygen (internal monooxygenases or internal mixed function oxidases)
GO:0016532	0.000184	8.602553	0.646627	superoxide dismutase copper chaperone activity
GO:0016494	0.000184	8.602553	1.430746	C-X-C chemokine receptor activity
GO:0016361	0.000184	8.602553	0.546544	activin receptor activity, type I
GO:0016213	0.000184	8.602553	1.363305	linoleoyl-CoA desaturase activity
GO:0015606	0.000184	8.602553	0.693147	spermidine transmembrane transporter activity
GO:0015526	0.000184	8.602553	0.000000	hexose-phosphate:inorganic phosphate antiporter activity
GO:0015143	0.000184	8.602553	5.228187	urate transmembrane transporter activity
GO:0015139	0.000184	8.602553	2.134704	alpha-ketoglutarate transmembrane transporter activity
GO:0015111	0.000184	8.602553	3.422188	iodide transmembrane transporter activity
GO:0010852	0.000184	8.602553	0.087011	cyclase inhibitor activity
GO:0010427	0.000184	8.602553	0.000000	abscisic acid binding
GO:0009882	0.000184	8.602553	2.056452	blue light photoreceptor activity
GO:0009044	0.000184	8.602553	1.239691	xylan 1,4-beta-xylosidase activity
GO:0009007	0.000184	8.602553	1.408767	site-specific DNA-methyltransferase (adenine-specific) activity
GO:0008976	0.000184	8.602553	2.639057	polyphosphate kinase activity
GO:0008808	0.000184	8.602553	0.241162	cardiolipin synthase activity
GO:0008705	0.000184	8.602553	0.000000	methionine synthase activity
GO:0008545	0.000184	8.602553	1.791759	JUN kinase kinase activity
GO:0008489	0.000184	8.602553	1.850600	UDP-galactose:glucosylceramide beta-1,4-galactosyltransferase activity
GO:0008449	0.000184	8.602553	1.553348	N-acetylglucosamine-6-sulfatase activity
GO:0008446	0.000184	8.602553	3.763312	GDP-mannose 4,6-dehydratase activity
GO:0008444	0.000184	8.602553	1.213023	CDP-diacylglycerol-glycerol-3-phosphate 3-phosphatidyltransferase activity
GO:0008108	0.000184	8.602553	1.850600	UDP-glucose:hexose-1-phosphate uridylyltransferase activity
GO:0008010	0.000184	8.602553	0.546544	structural constituent of chitin-based larval cuticle
GO:0005356	0.000184	8.602553	0.000000	glucose:proton symporter activity
GO:0005228	0.000184	8.602553	3.222506	intracellular sodium activated potassium channel activity
GO:0005030	0.000184	8.602553	5.540193	neurotrophin receptor activity
GO:0004964	0.000184	8.602553	1.157453	luteinizing hormone receptor activity
GO:0004849	0.000184	8.602553	1.430746	uridine kinase activity
GO:0004832	0.000184	8.602553	2.875104	valine-tRNA ligase activity
GO:0004824	0.000184	8.602553	2.875104	lysine-tRNA ligase activity
GO:0004815	0.000184	8.602553	2.875104	aspartate-tRNA ligase activity
GO:0004813	0.000184	8.602553	2.875104	alanine-tRNA ligase activity
GO:0004801	0.000184	8.602553	1.430746	transaldolase activity
GO:0004794	0.000184	8.602553	1.712979	L-threonine ammonia-lyase activity
GO:0004776	0.000184	8.602553	0.780159	succinate-CoA ligase (GDP-forming) activity
GO:0004765	0.000184	8.602553	5.543756	shikimate kinase activity
GO:0004764	0.000184	8.602553	4.306519	shikimate 3-dehydrogenase (NADP+) activity
GO:0004706	0.000184	8.602553	1.760988	JUN kinase kinase kinase activity
GO:0004662	0.000184	8.602553	1.067841	CAAX-protein geranylgeranyltransferase activity
GO:0004656	0.000184	8.602553	0.000000	procollagen-proline 4-dioxygenase activity
GO:0004655	0.000184	8.602553	3.763312	porphobilinogen synthase activity
GO:0004616	0.000184	8.602553	4.306519	phosphogluconate dehydrogenase (decarboxylating) activity
GO:0004585	0.000184	8.602553	0.934309	ornithine carbamoyltransferase activity
GO:0004528	0.000184	8.602553	0.597837	phosphodiesterase I activity
GO:0004485	0.000184	8.602553	1.363305	methylcrotonoyl-CoA carboxylase activity
GO:0004483	0.000184	8.602553	0.000000	mRNA (nucleoside-2'-O-)-methyltransferase activity
GO:0004477	0.000184	8.602553	1.315677	methenyltetrahydrofolate cyclohydrolase activity
GO:0004360	0.000184	8.602553	0.241162	glutamine-fructose-6-phosphate transaminase (isomerizing) activity
GO:0004343	0.000184	8.602553	3.295837	glucosamine 6-phosphate N-acetyltransferase activity
GO:0004338	0.000184	8.602553	2.101914	glucan exo-1,3-beta-glucosidase activity
GO:0004138	0.000184	8.602553	0.934309	deoxyguanosine kinase activity
GO:0004122	0.000184	8.602553	3.763312	cystathionine beta-synthase activity
GO:0004021	0.000184	8.602553	0.000000	L-alanine:2-oxoglutarate aminotransferase activity
GO:0003972	0.000184	8.602553	0.310155	RNA ligase (ATP) activity
GO:0003881	0.000184	8.602553	1.213023	CDP-diacylglycerol-inositol 3-phosphatidyltransferase activity
GO:0003880	0.000184	8.602553	0.693147	protein C-terminal carboxyl O-methyltransferase activity
GO:0003876	0.000184	8.602553	0.000000	AMP deaminase activity
GO:0003865	0.000184	8.602553	0.492476	3-oxo-5-alpha-steroid 4-dehydrogenase activity
GO:0003846	0.000184	8.602553	2.020945	2-acylglycerol O-acyltransferase activity
GO:0002151	0.000184	8.602553	5.942561	G-quadruplex RNA binding
GO:0002134	0.000184	8.602553	0.646627	UTP binding
GO:0001849	0.000184	8.602553	0.000000	complement component C1q complex binding
GO:0001003	0.000184	8.602553	0.646627	RNA polymerase III type 2 promoter sequence-specific DNA binding
GO:0001002	0.000184	8.602553	0.000000	RNA polymerase III type 1 promoter sequence-specific DNA binding
GO:0000829	0.000184	8.602553	2.639057	inositol heptakisphosphate kinase activity
GO:0000703	0.000184	8.602553	0.646627	oxidized pyrimidine nucleobase lesion DNA N-glycosylase activity
GO:0000285	0.000184	8.602553	1.553348	1-phosphatidylinositol-3-phosphate 5-kinase activity
GO:0000033	0.000184	8.602553	2.477302	alpha-1,3-mannosyltransferase activity
GO:2001069	0.000167	8.697863	2.660260	glycogen binding
GO:1990817	0.000167	8.697863	1.335001	RNA adenylyltransferase activity
GO:1990714	0.000167	8.697863	2.533697	hydroxyproline O-galactosyltransferase activity
GO:1990269	0.000167	8.697863	0.000000	RNA polymerase II C-terminal domain phosphoserine binding
GO:1990254	0.000167	8.697863	0.587787	keratin filament binding
GO:1904121	0.000167	8.697863	1.856298	phosphatidylethanolamine transfer activity
GO:1903763	0.000167	8.697863	1.871802	gap junction channel activity involved in cell communication by electrical coupling
GO:1903135	0.000167	8.697863	0.336472	cupric ion binding
GO:1902282	0.000167	8.697863	0.336472	voltage-gated potassium channel activity involved in ventricular cardiac muscle cell action potential repolarization
GO:0140517	0.000167	8.697863	4.320151	protein-RNA adaptor activity
GO:0106345	0.000167	8.697863	4.401829	glyoxylate reductase activity
GO:0102313	0.000167	8.697863	3.218876	1,8-cineole synthase activity
GO:0099626	0.000167	8.697863	0.095310	voltage-gated calcium channel activity involved in regulation of presynaptic cytosolic calcium levels
GO:0098770	0.000167	8.697863	7.979613	FBXO family protein binding
GO:0097644	0.000167	8.697863	2.451005	calcitonin family binding
GO:0097363	0.000167	8.697863	1.974081	protein O-acetylglucosaminyltransferase activity
GO:0097100	0.000167	8.697863	5.928525	supercoiled DNA binding
GO:0097003	0.000167	8.697863	1.871802	adipokinetic hormone receptor activity
GO:0080146	0.000167	8.697863	2.292535	L-cysteine desulfhydrase activity
GO:0071077	0.000167	8.697863	1.609438	adenosine 3',5'-bisphosphate transmembrane transporter activity
GO:0070976	0.000167	8.697863	4.879767	TIR domain binding
GO:0070626	0.000167	8.697863	1.481605	(S)-2-(5-amino-1-(5-phospho-D-ribosyl)imidazole-4-carboxamido) succinate lyase (fumarate-forming) activity
GO:0070547	0.000167	8.697863	2.917771	L-tyrosine aminotransferase activity
GO:0061770	0.000167	8.697863	7.979613	translation elongation factor binding
GO:0061513	0.000167	8.697863	0.000000	glucose 6-phosphate:inorganic phosphate antiporter activity
GO:0052735	0.000167	8.697863	1.252763	tRNA (cytosine-3-)-methyltransferase activity
GO:0051959	0.000167	8.697863	7.979613	dynein light intermediate chain binding
GO:0050501	0.000167	8.697863	4.114147	hyaluronan synthase activity
GO:0050497	0.000167	8.697863	3.295837	alkylthioltransferase activity
GO:0050421	0.000167	8.697863	0.336472	nitrite reductase (NO-forming) activity
GO:0050062	0.000167	8.697863	3.295837	long-chain-fatty-acyl-CoA reductase activity
GO:0048495	0.000167	8.697863	5.652138	Roundabout binding
GO:0047724	0.000167	8.697863	0.470004	inosine nucleosidase activity
GO:0047325	0.000167	8.697863	0.641854	inositol tetrakisphosphate 1-kinase activity
GO:0047291	0.000167	8.697863	1.945910	lactosylceramide alpha-2,3-sialyltransferase activity
GO:0047179	0.000167	8.697863	3.804438	platelet-activating factor acetyltransferase activity
GO:0047144	0.000167	8.697863	1.308333	2-acylglycerol-3-phosphate O-acyltransferase activity
GO:0047107	0.000167	8.697863	2.028148	gamma-guanidinobutyraldehyde dehydrogenase activity
GO:0047066	0.000167	8.697863	3.310543	phospholipid-hydroperoxide glutathione peroxidase activity
GO:0046964	0.000167	8.697863	0.182322	3'-phosphoadenosine 5'-phosphosulfate transmembrane transporter activity
GO:0046934	0.000167	8.697863	0.000000	phosphatidylinositol-4,5-bisphosphate 3-kinase activity
GO:0046555	0.000167	8.697863	4.065602	acetylxylan esterase activity
GO:0044547	0.000167	8.697863	5.965121	DNA topoisomerase binding
GO:0043211	0.000167	8.697863	0.095310	ABC-type carbohydrate transporter activity
GO:0042731	0.000167	8.697863	4.879767	PH domain binding
GO:0042300	0.000167	8.697863	1.386294	beta-amyrin synthase activity
GO:0038085	0.000167	8.697863	3.356897	vascular endothelial growth factor binding
GO:0038046	0.000167	8.697863	0.470004	G protein-coupled enkephalin receptor activity
GO:0036424	0.000167	8.697863	4.691348	L-phosphoserine phosphatase activity
GO:0036137	0.000167	8.697863	2.917771	kynurenine aminotransferase activity
GO:0035727	0.000167	8.697863	1.568616	lysophosphatidic acid binding
GO:0035594	0.000167	8.697863	0.000000	ganglioside binding
GO:0035473	0.000167	8.697863	5.965121	lipase binding
GO:0034008	0.000167	8.697863	3.218876	R-linalool synthase activity
GO:0034005	0.000167	8.697863	1.931521	germacrene-A synthase activity
GO:0032184	0.000167	8.697863	1.629241	SUMO polymer binding
GO:0032129	0.000167	8.697863	2.406945	histone H3K9 deacetylase activity
GO:0032093	0.000167	8.697863	4.879767	SAM domain binding
GO:0032038	0.000167	8.697863	0.095310	myosin II heavy chain binding
GO:0031702	0.000167	8.697863	0.262364	type 1 angiotensin receptor binding
GO:0022810	0.000167	8.697863	0.641854	membrane potential driven uniporter activity
GO:0019966	0.000167	8.697863	2.014903	interleukin-1 binding
GO:0019869	0.000167	8.697863	0.000000	chloride channel inhibitor activity
GO:0019862	0.000167	8.697863	2.041220	IgA binding
GO:0019531	0.000167	8.697863	1.808289	oxalate transmembrane transporter activity
GO:0019182	0.000167	8.697863	2.980619	histamine-gated chloride channel activity
GO:0017024	0.000167	8.697863	3.081910	myosin I binding
GO:0017018	0.000167	8.697863	3.072693	myosin phosphatase activity
GO:0016979	0.000167	8.697863	0.000000	lipoate-protein ligase activity
GO:0016847	0.000167	8.697863	2.292535	1-aminocyclopropane-1-carboxylate synthase activity
GO:0016826	0.000167	8.697863	6.670513	hydrolase activity, acting on acid sulfur-nitrogen bonds
GO:0016815	0.000167	8.697863	4.300003	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in nitriles
GO:0016781	0.000167	8.697863	6.024658	phosphotransferase activity, paired acceptors
GO:0016652	0.000167	8.697863	3.321432	oxidoreductase activity, acting on NAD(P)H, NAD(P) as acceptor
GO:0016642	0.000167	8.697863	2.701361	oxidoreductase activity, acting on the CH-NH2 group of donors, disulfide as acceptor
GO:0016429	0.000167	8.697863	0.336472	tRNA (adenine-N1-)-methyltransferase activity
GO:0016419	0.000167	8.697863	0.000000	S-malonyltransferase activity
GO:0016297	0.000167	8.697863	0.000000	acyl-[acyl-carrier-protein] hydrolase activity
GO:0016250	0.000167	8.697863	0.000000	N-sulfoglucosamine sulfohydrolase activity
GO:0015574	0.000167	8.697863	1.435085	trehalose transmembrane transporter activity
GO:0015265	0.000167	8.697863	0.336472	urea channel activity
GO:0015210	0.000167	8.697863	0.336472	uracil transmembrane transporter activity
GO:0015138	0.000167	8.697863	1.526056	fumarate transmembrane transporter activity
GO:0015016	0.000167	8.697863	1.223775	[heparan sulfate]-glucosamine N-sulfotransferase activity
GO:0010855	0.000167	8.697863	0.000000	adenylate cyclase inhibitor activity
GO:0010487	0.000167	8.697863	4.048301	thermospermine synthase activity
GO:0010284	0.000167	8.697863	2.653242	lariciresinol reductase activity
GO:0009669	0.000167	8.697863	0.095310	sucrose:monoatomic cation symporter activity
GO:0009009	0.000167	8.697863	0.262364	site-specific recombinase activity
GO:0008962	0.000167	8.697863	4.691348	phosphatidylglycerophosphatase activity
GO:0008900	0.000167	8.697863	0.000000	P-type potassium:proton transporter activity
GO:0008774	0.000167	8.697863	3.295837	acetaldehyde dehydrogenase (acetylating) activity
GO:0008761	0.000167	8.697863	2.163323	UDP-N-acetylglucosamine 2-epimerase activity
GO:0008506	0.000167	8.697863	0.000000	sucrose:proton symporter activity
GO:0008486	0.000167	8.697863	4.774069	diphosphoinositol-polyphosphate diphosphatase activity
GO:0008476	0.000167	8.697863	0.000000	protein-tyrosine sulfotransferase activity
GO:0008475	0.000167	8.697863	0.095310	procollagen-lysine 5-dioxygenase activity
GO:0008441	0.000167	8.697863	1.808289	3'(2'),5'-bisphosphate nucleotidase activity
GO:0008389	0.000167	8.697863	3.925926	coumarin 7-hydroxylase activity
GO:0008384	0.000167	8.697863	4.985659	IkappaB kinase activity
GO:0008241	0.000167	8.697863	3.414443	peptidyl-dipeptidase activity
GO:0008120	0.000167	8.697863	3.000720	ceramide glucosyltransferase activity
GO:0005550	0.000167	8.697863	1.410987	pheromone binding
GO:0005460	0.000167	8.697863	0.993252	UDP-glucose transmembrane transporter activity
GO:0005412	0.000167	8.697863	0.000000	glucose:sodium symporter activity
GO:0005334	0.000167	8.697863	0.095310	norepinephrine:sodium symporter activity
GO:0005330	0.000167	8.697863	0.955511	dopamine:sodium symporter activity
GO:0005302	0.000167	8.697863	0.741937	L-tyrosine transmembrane transporter activity
GO:0005298	0.000167	8.697863	1.945910	proline:sodium symporter activity
GO:0005138	0.000167	8.697863	2.197225	interleukin-6 receptor binding
GO:0005132	0.000167	8.697863	1.547563	type I interferon receptor binding
GO:0005127	0.000167	8.697863	3.822098	ciliary neurotrophic factor receptor binding
GO:0005094	0.000167	8.697863	1.386294	Rho GDP-dissociation inhibitor activity
GO:0005010	0.000167	8.697863	2.734368	insulin-like growth factor receptor activity
GO:0005000	0.000167	8.697863	3.535145	vasopressin receptor activity
GO:0004989	0.000167	8.697863	2.740840	octopamine receptor activity
GO:0004982	0.000167	8.697863	3.535145	N-formyl peptide receptor activity
GO:0004971	0.000167	8.697863	1.824549	AMPA glutamate receptor activity
GO:0004965	0.000167	8.697863	0.000000	G protein-coupled GABA receptor activity
GO:0004939	0.000167	8.697863	1.193922	beta-adrenergic receptor activity
GO:0004937	0.000167	8.697863	0.875469	alpha1-adrenergic receptor activity
GO:0004875	0.000167	8.697863	3.072693	complement receptor activity
GO:0004859	0.000167	8.697863	0.405465	phospholipase inhibitor activity
GO:0004838	0.000167	8.697863	0.000000	L-tyrosine:2-oxoglutarate aminotransferase activity
GO:0004820	0.000167	8.697863	2.970414	glycine-tRNA ligase activity
GO:0004816	0.000167	8.697863	2.970414	asparagine-tRNA ligase activity
GO:0004803	0.000167	8.697863	4.540098	transposase activity
GO:0004750	0.000167	8.697863	2.163323	D-ribulose-phosphate 3-epimerase activity
GO:0004733	0.000167	8.697863	2.128232	pyridoxamine-phosphate oxidase activity
GO:0004719	0.000167	8.697863	0.788457	protein-L-isoaspartate (D-aspartate) O-methyltransferase activity
GO:0004641	0.000167	8.697863	0.641854	phosphoribosylformylglycinamidine cyclo-ligase activity
GO:0004633	0.000167	8.697863	3.238678	phosphopantothenoylcysteine decarboxylase activity
GO:0004617	0.000167	8.697863	4.401829	phosphoglycerate dehydrogenase activity
GO:0004579	0.000167	8.697863	0.262364	dolichyl-diphosphooligosaccharide-protein glycotransferase activity
GO:0004531	0.000167	8.697863	1.308333	deoxyribonuclease II activity
GO:0004510	0.000167	8.697863	1.098612	tryptophan 5-monooxygenase activity
GO:0004504	0.000167	8.697863	0.405465	peptidylglycine monooxygenase activity
GO:0004488	0.000167	8.697863	0.336472	methylenetetrahydrofolate dehydrogenase (NADP+) activity
GO:0004482	0.000167	8.697863	0.000000	mRNA (guanine-N7-)-methyltransferase activity
GO:0004475	0.000167	8.697863	1.410987	mannose-1-phosphate guanylyltransferase (GTP) activity
GO:0004474	0.000167	8.697863	1.974081	malate synthase activity
GO:0004468	0.000167	8.697863	3.391147	lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0004421	0.000167	8.697863	1.974081	hydroxymethylglutaryl-CoA synthase activity
GO:0004420	0.000167	8.697863	4.401829	hydroxymethylglutaryl-CoA reductase (NADPH) activity
GO:0004375	0.000167	8.697863	0.000000	glycine dehydrogenase (decarboxylating) activity
GO:0004368	0.000167	8.697863	0.405465	glycerol-3-phosphate dehydrogenase (quinone) activity
GO:0004326	0.000167	8.697863	2.674149	tetrahydrofolylpolyglutamate synthase activity
GO:0004316	0.000167	8.697863	0.000000	3-oxoacyl-[acyl-carrier-protein] reductase (NADPH) activity
GO:0004314	0.000167	8.697863	0.000000	[acyl-carrier-protein] S-malonyltransferase activity
GO:0004136	0.000167	8.697863	1.029619	deoxyadenosine kinase activity
GO:0004133	0.000167	8.697863	7.836962	glycogen debranching enzyme activity
GO:0004123	0.000167	8.697863	2.292535	cystathionine gamma-lyase activity
GO:0004081	0.000167	8.697863	0.336472	bis(5'-nucleosyl)-tetraphosphatase (asymmetrical) activity
GO:0004046	0.000167	8.697863	3.703768	aminoacylase activity
GO:0004001	0.000167	8.697863	0.530628	adenosine kinase activity
GO:0003990	0.000167	8.697863	0.405465	acetylcholinesterase activity
GO:0003975	0.000167	8.697863	2.646175	UDP-N-acetylglucosamine-dolichyl-phosphate N-acetylglucosaminephosphotransferase activity
GO:0003870	0.000167	8.697863	0.182322	5-aminolevulinate synthase activity
GO:0003855	0.000167	8.697863	3.858622	3-dehydroquinate dehydratase activity
GO:0001875	0.000167	8.697863	1.458615	lipopolysaccharide immune receptor activity
GO:0001734	0.000167	8.697863	1.335001	mRNA (N6-adenosine)-methyltransferase activity
GO:0001729	0.000167	8.697863	0.832909	ceramide kinase activity
GO:0001609	0.000167	8.697863	4.635699	G protein-coupled adenosine receptor activity
GO:0001409	0.000167	8.697863	1.887070	guanine nucleotide transmembrane transporter activity
GO:0001000	0.000167	8.697863	2.128232	bacterial-type RNA polymerase core enzyme binding
GO:0000257	0.000167	8.697863	0.000000	nitrilase activity
GO:1990935	0.000150	8.803224	8.084973	splicing factor binding
GO:1905172	0.000150	8.803224	3.610918	RISC complex binding
GO:1904768	0.000150	8.803224	1.268511	all-trans-retinol binding
GO:0140848	0.000150	8.803224	0.510826	amino acid:monoatomic cation antiporter activity
GO:0140788	0.000150	8.803224	0.000000	L-glutamate uniporter activity
GO:0140702	0.000150	8.803224	2.233592	cyclic GMP-AMP binding
GO:0140545	0.000150	8.803224	1.060872	ATP-dependent protein disaggregase activity
GO:0140483	0.000150	8.803224	4.425512	kinetochore adaptor activity
GO:0140439	0.000150	8.803224	1.170071	protein-cysteine S-stearoyltransferase activity
GO:0140135	0.000150	8.803224	0.693147	mechanosensitive monoatomic cation channel activity
GO:0120017	0.000150	8.803224	0.287682	ceramide transfer activity
GO:0106362	0.000150	8.803224	1.268511	protein-arginine N-acetylglucosaminyltransferase activity
GO:0106290	0.000150	8.803224	2.914763	trans-cinnamate-CoA ligase activity
GO:0106029	0.000150	8.803224	0.000000	tRNA pseudouridine synthase activity
GO:0106017	0.000150	8.803224	2.079442	phosphatidylinositol-3,4-bisphosphate phosphatase activity
GO:0098882	0.000150	8.803224	1.694596	structural constituent of presynaptic active zone
GO:0097108	0.000150	8.803224	8.084973	hedgehog family protein binding
GO:0090554	0.000150	8.803224	0.000000	phosphatidylcholine floppase activity
GO:0090422	0.000150	8.803224	0.000000	thiamine pyrophosphate transmembrane transporter activity
GO:0086007	0.000150	8.803224	2.722756	voltage-gated calcium channel activity involved in cardiac muscle cell action potential
GO:0080132	0.000150	8.803224	6.230481	fatty acid alpha-hydroxylase activity
GO:0080079	0.000150	8.803224	2.302585	cellobiose glucosidase activity
GO:0080046	0.000150	8.803224	3.106080	quercetin 4'-O-glucosyltransferase activity
GO:0080030	0.000150	8.803224	4.170963	methyl indole-3-acetate esterase activity
GO:0072572	0.000150	8.803224	5.503976	poly-ADP-D-ribose binding
GO:0071987	0.000150	8.803224	4.985128	WD40-repeat domain binding
GO:0071972	0.000150	8.803224	1.236763	peptidoglycan L,D-transpeptidase activity
GO:0071917	0.000150	8.803224	2.209495	triose-phosphate transmembrane transporter activity
GO:0070996	0.000150	8.803224	0.441833	type 1 melanocortin receptor binding
GO:0070697	0.000150	8.803224	1.268511	activin receptor binding
GO:0070551	0.000150	8.803224	2.646963	endoribonuclease activity, cleaving siRNA-paired mRNA
GO:0070052	0.000150	8.803224	2.677973	collagen V binding
GO:0070012	0.000150	8.803224	4.602945	oligopeptidase activity
GO:0062037	0.000150	8.803224	2.387743	D-loop DNA binding
GO:0061891	0.000150	8.803224	0.000000	calcium ion sensor activity
GO:0061775	0.000150	8.803224	3.625821	cohesin loader activity
GO:0061507	0.000150	8.803224	0.000000	2',3'-cyclic GMP-AMP binding
GO:0052666	0.000150	8.803224	1.358123	tRNA (cytosine-2'-O-)-methyltransferase activity
GO:0052597	0.000150	8.803224	2.233592	diamine oxidase activity
GO:0052595	0.000150	8.803224	2.233592	aliphatic amine oxidase activity
GO:0051753	0.000150	8.803224	0.367725	mannan synthase activity
GO:0051434	0.000150	8.803224	0.000000	BH3 domain binding
GO:0051380	0.000150	8.803224	0.693147	norepinephrine binding
GO:0050693	0.000150	8.803224	4.985128	LBD domain binding
GO:0050484	0.000150	8.803224	1.586965	GMP 5'-nucleotidase activity
GO:0050473	0.000150	8.803224	2.846201	arachidonate 15-lipoxygenase activity
GO:0050355	0.000150	8.803224	4.879429	inorganic triphosphate phosphatase activity
GO:0050220	0.000150	8.803224	3.218876	prostaglandin-E synthase activity
GO:0050119	0.000150	8.803224	2.908721	N-acetylglucosamine deacetylase activity
GO:0047627	0.000150	8.803224	0.000000	adenylylsulfatase activity
GO:0047545	0.000150	8.803224	4.616220	2-hydroxyglutarate dehydrogenase activity
GO:0047536	0.000150	8.803224	3.023131	2-aminoadipate transaminase activity
GO:0047490	0.000150	8.803224	1.845827	pectin lyase activity
GO:0047391	0.000150	8.803224	3.649214	alkylglycerophosphoethanolamine phosphodiesterase activity
GO:0047196	0.000150	8.803224	3.448222	long-chain-alcohol O-fatty-acyltransferase activity
GO:0046997	0.000150	8.803224	3.096080	oxidoreductase activity, acting on the CH-NH group of donors, flavin as acceptor
GO:0046969	0.000150	8.803224	0.000000	NAD-dependent histone H3K9 deacetylase activity
GO:0046508	0.000150	8.803224	6.775873	hydrolase activity, acting on carbon-sulfur bonds
GO:0046421	0.000150	8.803224	2.146581	methylisocitrate lyase activity
GO:0045548	0.000150	8.803224	1.913649	phenylalanine ammonia-lyase activity
GO:0044729	0.000150	8.803224	6.033885	hemi-methylated DNA-binding
GO:0044374	0.000150	8.803224	1.170071	sequence-specific DNA binding, bending
GO:0044323	0.000150	8.803224	4.665533	retinoic acid-responsive element binding
GO:0044020	0.000150	8.803224	0.000000	histone H4R3 methyltransferase activity
GO:0043750	0.000150	8.803224	4.765965	phosphatidylinositol alpha-mannosyltransferase activity
GO:0043273	0.000150	8.803224	4.642252	CTPase activity
GO:0043136	0.000150	8.803224	4.796708	glycerol-3-phosphatase activity
GO:0042602	0.000150	8.803224	2.521274	riboflavin reductase (NADPH) activity
GO:0042284	0.000150	8.803224	2.377486	sphingolipid delta-4 desaturase activity
GO:0042086	0.000150	8.803224	4.596242	5-methyl-5,6,7,8-tetrahydromethanopterin-dependent methyltransferase activity
GO:0038064	0.000150	8.803224	5.465243	collagen receptor activity
GO:0036033	0.000150	8.803224	5.695974	mediator complex binding
GO:0035650	0.000150	8.803224	5.695974	AP-1 adaptor complex binding
GO:0034701	0.000150	8.803224	3.519803	tripeptidase activity
GO:0033862	0.000150	8.803224	0.747214	UMP kinase activity
GO:0033857	0.000150	8.803224	5.867097	diphosphoinositol-pentakisphosphate kinase activity
GO:0033285	0.000150	8.803224	0.000000	ATPase-coupled monocarboxylic acid transmembrane transporter activity
GO:0032574	0.000150	8.803224	2.581899	5'-3' RNA helicase activity
GO:0032558	0.000150	8.803224	0.105361	adenyl deoxyribonucleotide binding
GO:0032407	0.000150	8.803224	0.367725	MutSalpha complex binding
GO:0031802	0.000150	8.803224	0.575364	type 5 metabotropic glutamate receptor binding
GO:0031781	0.000150	8.803224	0.441833	type 3 melanocortin receptor binding
GO:0031769	0.000150	8.803224	4.054679	glucagon receptor binding
GO:0031685	0.000150	8.803224	4.054679	adenosine receptor binding
GO:0030943	0.000150	8.803224	2.197225	mitochondrion targeting sequence binding
GO:0030611	0.000150	8.803224	6.230481	arsenate reductase activity
GO:0030298	0.000150	8.803224	1.828127	receptor signaling protein tyrosine kinase activator activity
GO:0030269	0.000150	8.803224	0.000000	tetrahydromethanopterin S-methyltransferase activity
GO:0030267	0.000150	8.803224	0.105361	glyoxylate reductase (NADP+) activity
GO:0030172	0.000150	8.803224	5.382454	troponin C binding
GO:0030021	0.000150	8.803224	2.547708	extracellular matrix structural constituent conferring compression resistance
GO:0023029	0.000150	8.803224	1.845827	MHC class Ib protein binding
GO:0023024	0.000150	8.803224	1.170071	MHC class I protein complex binding
GO:0022883	0.000150	8.803224	0.000000	zinc efflux transmembrane transporter activity
GO:0019979	0.000150	8.803224	2.120264	interleukin-4 binding
GO:0019961	0.000150	8.803224	3.363457	interferon binding
GO:0019799	0.000150	8.803224	2.890372	tubulin N-acetyltransferase activity
GO:0019785	0.000150	8.803224	3.130652	ISG15-specific peptidase activity
GO:0019770	0.000150	8.803224	0.635989	IgG receptor activity
GO:0019166	0.000150	8.803224	2.758602	trans-2-enoyl-CoA reductase (NADPH) activity
GO:0019115	0.000150	8.803224	2.313635	benzaldehyde dehydrogenase [NAD(P)+] activity
GO:0017096	0.000150	8.803224	2.407946	acetylserotonin O-methyltransferase activity
GO:0017095	0.000150	8.803224	1.329136	heparan sulfate 6-O-sulfotransferase activity
GO:0017083	0.000150	8.803224	0.893818	4-galactosyl-N-acetylglucosaminide 3-alpha-L-fucosyltransferase activity
GO:0017077	0.000150	8.803224	6.214608	oxidative phosphorylation uncoupler activity
GO:0017061	0.000150	8.803224	0.747214	S-methyl-5-thioadenosine phosphorylase activity
GO:0017005	0.000150	8.803224	0.200671	3'-tyrosyl-DNA phosphodiesterase activity
GO:0016971	0.000150	8.803224	0.287682	flavin-linked sulfhydryl oxidase activity
GO:0016819	0.000150	8.803224	4.889513	hydrolase activity, acting on acid anhydrides, in sulfonyl-containing anhydrides
GO:0016794	0.000150	8.803224	5.077255	diphosphoric monoester hydrolase activity
GO:0016657	0.000150	8.803224	3.426793	oxidoreductase activity, acting on NAD(P)H, nitrogenous group as acceptor
GO:0016608	0.000150	8.803224	3.308107	growth hormone-releasing hormone activity
GO:0016503	0.000150	8.803224	4.741060	pheromone receptor activity
GO:0016418	0.000150	8.803224	0.000000	S-acetyltransferase activity
GO:0016286	0.000150	8.803224	1.652923	small conductance calcium-activated potassium channel activity
GO:0016167	0.000150	8.803224	2.956067	glial cell-derived neurotrophic factor receptor activity
GO:0016166	0.000150	8.803224	3.552168	phytoene dehydrogenase activity
GO:0016162	0.000150	8.803224	4.556213	cellulose 1,4-beta-cellobiosidase activity
GO:0016155	0.000150	8.803224	2.521274	formyltetrahydrofolate dehydrogenase activity
GO:0016019	0.000150	8.803224	1.563976	peptidoglycan immune receptor activity
GO:0015930	0.000150	8.803224	2.806722	glutamate synthase activity
GO:0015418	0.000150	8.803224	0.000000	ABC-type quaternary ammonium compound transporting activity
GO:0015344	0.000150	8.803224	1.021651	siderophore uptake transmembrane transporter activity
GO:0015311	0.000150	8.803224	0.000000	monoamine:proton antiporter activity
GO:0015213	0.000150	8.803224	0.441833	uridine transmembrane transporter activity
GO:0015200	0.000150	8.803224	0.287682	methylammonium transmembrane transporter activity
GO:0015182	0.000150	8.803224	0.747214	L-asparagine transmembrane transporter activity
GO:0010279	0.000150	8.803224	2.779509	indole-3-acetic acid amido synthetase activity
GO:0009977	0.000150	8.803224	0.000000	proton motive force dependent protein transmembrane transporter activity
GO:0009899	0.000150	8.803224	3.044522	ent-kaurene synthase activity
GO:0009824	0.000150	8.803224	4.153661	AMP dimethylallyltransferase activity
GO:0009039	0.000150	8.803224	3.809129	urease activity
GO:0008893	0.000150	8.803224	0.000000	guanosine-3',5'-bis(diphosphate) 3'-diphosphatase activity
GO:0008878	0.000150	8.803224	2.826656	glucose-1-phosphate adenylyltransferase activity
GO:0008793	0.000150	8.803224	3.023131	aromatic-amino-acid:2-oxoglutarate aminotransferase activity
GO:0008784	0.000150	8.803224	1.358123	alanine racemase activity
GO:0008746	0.000150	8.803224	0.105361	NAD(P)+ transhydrogenase activity
GO:0008721	0.000150	8.803224	1.913649	D-serine ammonia-lyase activity
GO:0008503	0.000150	8.803224	3.536117	benzodiazepine receptor activity
GO:0008311	0.000150	8.803224	0.105361	double-stranded DNA 3'-5' DNA exonuclease activity
GO:0008263	0.000150	8.803224	0.287682	pyrimidine-specific mismatch base pair DNA N-glycosylase activity
GO:0008068	0.000150	8.803224	0.000000	extracellularly glutamate-gated chloride channel activity
GO:0008036	0.000150	8.803224	5.740864	diuretic hormone receptor activity
GO:0005519	0.000150	8.803224	5.382454	cytoskeletal regulatory protein binding
GO:0005499	0.000150	8.803224	0.105361	vitamin D binding
GO:0005458	0.000150	8.803224	0.510826	GDP-mannose transmembrane transporter activity
GO:0005308	0.000150	8.803224	2.146581	creatine transmembrane transporter activity
GO:0005167	0.000150	8.803224	0.747214	neurotrophin TRK receptor binding
GO:0005134	0.000150	8.803224	2.302585	interleukin-2 receptor binding
GO:0005133	0.000150	8.803224	3.927459	type II interferon receptor binding
GO:0005047	0.000150	8.803224	3.610918	signal recognition particle binding
GO:0005004	0.000150	8.803224	1.060872	GPI-linked ephrin receptor activity
GO:0004998	0.000150	8.803224	2.859021	transferrin receptor activity
GO:0004996	0.000150	8.803224	1.358123	thyroid-stimulating hormone receptor activity
GO:0004962	0.000150	8.803224	3.640506	endothelin receptor activity
GO:0004949	0.000150	8.803224	4.741060	cannabinoid receptor activity
GO:0004854	0.000150	8.803224	0.510826	xanthine dehydrogenase activity
GO:0004852	0.000150	8.803224	3.963983	uroporphyrinogen-III synthase activity
GO:0004850	0.000150	8.803224	3.262361	uridine phosphorylase activity
GO:0004846	0.000150	8.803224	0.287682	urate oxidase activity
GO:0004837	0.000150	8.803224	3.344039	tyrosine decarboxylase activity
GO:0004834	0.000150	8.803224	3.963983	tryptophan synthase activity
GO:0004822	0.000150	8.803224	3.075775	isoleucine-tRNA ligase activity
GO:0004818	0.000150	8.803224	3.075775	glutamate-tRNA ligase activity
GO:0004814	0.000150	8.803224	3.075775	arginine-tRNA ligase activity
GO:0004810	0.000150	8.803224	0.105361	CCA tRNA nucleotidyltransferase activity
GO:0004809	0.000150	8.803224	0.000000	tRNA (guanine-N2-)-methyltransferase activity
GO:0004798	0.000150	8.803224	2.209495	thymidylate kinase activity
GO:0004777	0.000150	8.803224	0.367725	succinate-semialdehyde dehydrogenase (NAD+) activity
GO:0004769	0.000150	8.803224	1.754019	steroid delta-isomerase activity
GO:0004720	0.000150	8.803224	0.000000	protein-lysine 6-oxidase activity
GO:0004698	0.000150	8.803224	0.000000	calcium-dependent protein kinase C activity
GO:0004671	0.000150	8.803224	0.200671	protein C-terminal S-isoprenylcysteine carboxyl O-methyltransferase activity
GO:0004667	0.000150	8.803224	3.218876	prostaglandin-D synthase activity
GO:0004666	0.000150	8.803224	4.623883	prostaglandin-endoperoxide synthase activity
GO:0004664	0.000150	8.803224	3.963983	prephenate dehydratase activity
GO:0004654	0.000150	8.803224	4.308559	polyribonucleotide nucleotidyltransferase activity
GO:0004644	0.000150	8.803224	2.022283	phosphoribosylglycinamide formyltransferase activity
GO:0004591	0.000150	8.803224	1.134980	oxoglutarate dehydrogenase (succinyl-transferring) activity
GO:0004515	0.000150	8.803224	2.826656	nicotinate-nucleotide adenylyltransferase activity
GO:0004502	0.000150	8.803224	3.218876	kynurenine 3-monooxygenase activity
GO:0004452	0.000150	8.803224	1.754019	isopentenyl-diphosphate delta-isomerase activity
GO:0004363	0.000150	8.803224	0.000000	glutathione synthase activity
GO:0004155	0.000150	8.803224	2.521274	6,7-dihydropteridine reductase activity
GO:0004087	0.000150	8.803224	3.649214	carbamoyl-phosphate synthase (ammonia) activity
GO:0004061	0.000150	8.803224	3.809129	arylformamidase activity
GO:0004045	0.000150	8.803224	1.694596	aminoacyl-tRNA hydrolase activity
GO:0004044	0.000150	8.803224	3.262361	amidophosphoribosyltransferase activity
GO:0003980	0.000150	8.803224	3.106080	UDP-glucose:glycoprotein glucosyltransferase activity
GO:0003960	0.000150	8.803224	2.598566	NADPH:quinone reductase activity
GO:0003922	0.000150	8.803224	1.694596	GMP synthase (glutamine-hydrolyzing) activity
GO:0003883	0.000150	8.803224	3.649214	CTP synthase activity
GO:0003873	0.000150	8.803224	1.694596	6-phosphofructo-2-kinase activity
GO:0003862	0.000150	8.803224	4.507190	3-isopropylmalate dehydrogenase activity
GO:0003843	0.000150	8.803224	3.106080	1,3-beta-D-glucan synthase activity
GO:0003839	0.000150	8.803224	1.586965	gamma-glutamylcyclotransferase activity
GO:0003834	0.000150	8.803224	2.846201	beta-carotene 15,15'-dioxygenase activity
GO:0003831	0.000150	8.803224	2.051271	beta-N-acetylglucosaminylglycopeptide beta-1,4-galactosyltransferase activity
GO:0003827	0.000150	8.803224	1.268511	alpha-1,3-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0003721	0.000150	8.803224	1.060872	telomerase RNA reverse transcriptase activity
GO:0002054	0.000150	8.803224	5.597599	nucleobase binding
GO:0000827	0.000150	8.803224	2.839728	inositol-1,3,4,5,6-pentakisphosphate kinase activity
GO:0000404	0.000150	8.803224	0.287682	heteroduplex DNA loop binding
GO:0000253	0.000150	8.803224	4.507190	3-keto sterol reductase activity
GO:0000224	0.000150	8.803224	3.809129	peptide-N4-(N-acetyl-beta-glucosaminyl)asparagine amidase activity
GO:1990715	0.000134	8.921007	5.477509	mRNA CDS binding
GO:1990450	0.000134	8.921007	2.917771	linear polyubiquitin binding
GO:1990188	0.000134	8.921007	5.144583	euchromatin binding
GO:1990136	0.000134	8.921007	2.963984	linoleate 9S-lipoxygenase activity
GO:1990050	0.000134	8.921007	2.079442	phosphatidic acid transfer activity
GO:1905762	0.000134	8.921007	5.813757	CCR4-NOT complex binding
GO:1904931	0.000134	8.921007	5.813757	MCM complex binding
GO:1904399	0.000134	8.921007	0.405465	heparan sulfate binding
GO:1903981	0.000134	8.921007	0.000000	enterobactin binding
GO:1901375	0.000134	8.921007	6.332391	acetate ester transmembrane transporter activity
GO:1901235	0.000134	8.921007	1.098612	(R)-carnitine transmembrane transporter activity
GO:0160009	0.000134	8.921007	0.000000	histone decrotonylase activity
GO:0160008	0.000134	8.921007	3.926912	protein decrotonylase activity
GO:0140751	0.000134	8.921007	1.386294	histone octamer slider activity
GO:0140684	0.000134	8.921007	1.139434	histone H3K9me2/H3K9me3 demethylase activity
GO:0140682	0.000134	8.921007	0.810930	FAD-dependent H3K4me/H3K4me3 demethylase activity
GO:0140475	0.000134	8.921007	1.770706	spindle pole body anchor activity
GO:0140444	0.000134	8.921007	2.420368	cytoskeleton-nuclear membrane anchor activity
GO:0140031	0.000134	8.921007	3.580041	phosphorylation-dependent protein binding
GO:0120159	0.000134	8.921007	0.628609	rRNA pseudouridine synthase activity
GO:0120146	0.000134	8.921007	1.945910	sulfatide binding
GO:0106292	0.000134	8.921007	1.178655	superoxide-generating NADPH oxidase activity
GO:0106260	0.000134	8.921007	1.945910	DNA-DNA tethering activity
GO:0102986	0.000134	8.921007	4.883748	trehalose synthase activity
GO:0101020	0.000134	8.921007	2.264364	estrogen 16-alpha-hydroxylase activity
GO:0098634	0.000134	8.921007	2.154665	cell-matrix adhesion mediator activity
GO:0097655	0.000134	8.921007	8.202756	serpin family protein binding
GO:0097200	0.000134	8.921007	1.558145	cysteine-type endopeptidase activity involved in execution phase of apoptosis
GO:0097004	0.000134	8.921007	2.674149	adipokinetic hormone binding
GO:0090614	0.000134	8.921007	2.593387	5'-methylthioadenosine deaminase activity
GO:0089721	0.000134	8.921007	0.485508	phosphoenolpyruvate transmembrane transporter activity
GO:0080054	0.000134	8.921007	1.287854	low-affinity nitrate transmembrane transporter activity
GO:0080032	0.000134	8.921007	4.288746	methyl jasmonate esterase activity
GO:0072586	0.000134	8.921007	0.559616	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) regulator activity
GO:0072320	0.000134	8.921007	0.000000	volume-sensitive chloride channel activity
GO:0071667	0.000134	8.921007	7.154322	DNA/RNA hybrid binding
GO:0071633	0.000134	8.921007	0.223144	dihydroceramidase activity
GO:0071614	0.000134	8.921007	4.149069	linoleic acid epoxygenase activity
GO:0071074	0.000134	8.921007	2.545531	eukaryotic initiation factor eIF2 binding
GO:0070853	0.000134	8.921007	3.305054	myosin VI binding
GO:0070818	0.000134	8.921007	3.669951	protoporphyrinogen oxidase activity
GO:0070643	0.000134	8.921007	4.432304	vitamin D 25-hydroxylase activity
GO:0070095	0.000134	8.921007	5.280662	fructose-6-phosphate binding
GO:0070087	0.000134	8.921007	5.102911	chromo shadow domain binding
GO:0061860	0.000134	8.921007	3.743604	DNA clamp unloader activity
GO:0061776	0.000134	8.921007	6.151668	topological DNA co-entrapment activity
GO:0060698	0.000134	8.921007	0.485508	endoribonuclease inhibitor activity
GO:0060182	0.000134	8.921007	3.758289	apelin receptor activity
GO:0060002	0.000134	8.921007	2.442347	plus-end directed microfilament motor activity
GO:0052851	0.000134	8.921007	0.117783	ferric-chelate reductase (NADPH) activity
GO:0052794	0.000134	8.921007	1.321756	exo-alpha-(2->3)-sialidase activity
GO:0052642	0.000134	8.921007	4.914491	lysophosphatidic acid phosphatase activity
GO:0052636	0.000134	8.921007	3.380144	arabinosyltransferase activity
GO:0051996	0.000134	8.921007	1.584120	squalene synthase activity
GO:0051903	0.000134	8.921007	4.624973	S-(hydroxymethyl)glutathione dehydrogenase activity
GO:0051724	0.000134	8.921007	1.998096	NAD transmembrane transporter activity
GO:0051525	0.000134	8.921007	4.424847	NFAT protein binding
GO:0051430	0.000134	8.921007	0.318454	corticotropin-releasing hormone receptor 1 binding
GO:0051377	0.000134	8.921007	2.869318	mannose-ethanolamine phosphotransferase activity
GO:0051021	0.000134	8.921007	8.202756	GDP-dissociation inhibitor binding
GO:0050577	0.000134	8.921007	4.624973	GDP-L-fucose synthase activity
GO:0050520	0.000134	8.921007	2.869318	phosphatidylcholine synthase activity
GO:0050510	0.000134	8.921007	2.756840	N-acetylgalactosaminyl-proteoglycan 3-beta-glucuronosyltransferase activity
GO:0050463	0.000134	8.921007	0.000000	nitrate reductase [NAD(P)H] activity
GO:0050436	0.000134	8.921007	8.482162	microfibril binding
GO:0050346	0.000134	8.921007	4.081766	trans-L-3-hydroxyproline dehydratase activity
GO:0050343	0.000134	8.921007	2.876386	trans-2-enoyl-CoA reductase (NAD+) activity
GO:0050294	0.000134	8.921007	3.062222	steroid sulfotransferase activity
GO:0050263	0.000134	8.921007	3.062222	ribosylpyrimidine nucleosidase activity
GO:0050185	0.000134	8.921007	4.288746	phosphatidylinositol deacylase activity
GO:0050135	0.000134	8.921007	3.062222	NAD(P)+ nucleosidase activity
GO:0048763	0.000134	8.921007	1.945910	calcium-induced calcium release activity
GO:0047676	0.000134	8.921007	2.140066	arachidonate-CoA ligase activity
GO:0047663	0.000134	8.921007	0.318454	aminoglycoside 6'-N-acetyltransferase activity
GO:0047560	0.000134	8.921007	4.624973	3-dehydrosphinganine reductase activity
GO:0047173	0.000134	8.921007	3.566005	phosphatidylcholine-retinol O-acyltransferase activity
GO:0047057	0.000134	8.921007	1.446919	vitamin-K-epoxide reductase (warfarin-sensitive) activity
GO:0047045	0.000134	8.921007	2.374906	testosterone 17-beta-dehydrogenase (NADP+) activity
GO:0046978	0.000134	8.921007	0.405465	TAP1 binding
GO:0046972	0.000134	8.921007	1.909543	histone H4K16 acetyltransferase activity
GO:0046820	0.000134	8.921007	3.140914	4-amino-4-deoxychorismate synthase activity
GO:0045437	0.000134	8.921007	0.000000	uridine nucleosidase activity
GO:0043993	0.000134	8.921007	1.852384	histone H3K18 acetyltransferase activity
GO:0043992	0.000134	8.921007	1.852384	histone H3K9 acetyltransferase activity
GO:0043856	0.000134	8.921007	6.160416	anti-sigma factor antagonist activity
GO:0043530	0.000134	8.921007	3.926912	adenosine 5'-monophosphoramidase activity
GO:0043426	0.000134	8.921007	2.211018	MRF binding
GO:0043120	0.000134	8.921007	3.481240	tumor necrosis factor binding
GO:0042164	0.000134	8.921007	0.628609	interleukin-12 alpha subunit binding
GO:0042163	0.000134	8.921007	0.628609	interleukin-12 beta subunit binding
GO:0038132	0.000134	8.921007	3.580041	neuregulin binding
GO:0036401	0.000134	8.921007	2.825833	pyrokinin receptor activity
GO:0036397	0.000134	8.921007	0.405465	formate dehydrogenase (quinone) activity
GO:0036121	0.000134	8.921007	3.135494	double-stranded DNA helicase activity
GO:0036042	0.000134	8.921007	1.446919	long-chain fatty acyl-CoA binding
GO:0036009	0.000134	8.921007	3.380144	protein-glutamine N-methyltransferase activity
GO:0035870	0.000134	8.921007	1.749200	dITP diphosphatase activity
GO:0035800	0.000134	8.921007	2.211018	deubiquitinase activator activity
GO:0035299	0.000134	8.921007	5.862210	inositol pentakisphosphate 2-kinase activity
GO:0035033	0.000134	8.921007	5.734150	histone deacetylase regulator activity
GO:0034813	0.000134	8.921007	2.963984	benzo(a)pyrene 7,8-dioxygenase activity
GO:0034811	0.000134	8.921007	2.963984	benzo(a)pyrene 9,10-dioxygenase activity
GO:0034639	0.000134	8.921007	0.117783	L-amino acid efflux transmembrane transporter activity
GO:0034634	0.000134	8.921007	4.676327	glutathione transmembrane transporter activity
GO:0034604	0.000134	8.921007	0.000000	pyruvate dehydrogenase (NAD+) activity
GO:0034603	0.000134	8.921007	0.000000	pyruvate dehydrogenase [NAD(P)+] activity
GO:0034512	0.000134	8.921007	1.963610	box C/D RNA binding
GO:0034190	0.000134	8.921007	5.875282	apolipoprotein receptor binding
GO:0033925	0.000134	8.921007	4.673996	mannosyl-glycoprotein endo-beta-N-acetylglucosaminidase activity
GO:0033907	0.000134	8.921007	4.673996	beta-D-fucosidase activity
GO:0033754	0.000134	8.921007	2.963984	indoleamine 2,3-dioxygenase activity
GO:0033721	0.000134	8.921007	2.431418	aldehyde dehydrogenase (NADP+) activity
GO:0033296	0.000134	8.921007	3.183249	rhamnose binding
GO:0033188	0.000134	8.921007	2.869318	sphingomyelin synthase activity
GO:0033134	0.000134	8.921007	0.485508	ubiquitin activating enzyme binding
GO:0032564	0.000134	8.921007	0.000000	dATP binding
GO:0032428	0.000134	8.921007	1.681759	beta-N-acetylgalactosaminidase activity
GO:0032394	0.000134	8.921007	3.295837	MHC class Ib receptor activity
GO:0032393	0.000134	8.921007	3.295837	MHC class I receptor activity
GO:0032138	0.000134	8.921007	0.810930	single base insertion or deletion binding
GO:0031841	0.000134	8.921007	2.420368	neuropeptide Y receptor binding
GO:0031749	0.000134	8.921007	1.354546	D2 dopamine receptor binding
GO:0031727	0.000134	8.921007	1.791759	CCR2 chemokine receptor binding
GO:0031726	0.000134	8.921007	1.791759	CCR1 chemokine receptor binding
GO:0031716	0.000134	8.921007	4.172462	calcitonin receptor binding
GO:0031705	0.000134	8.921007	2.420368	bombesin receptor binding
GO:0031433	0.000134	8.921007	5.500237	telethonin binding
GO:0031014	0.000134	8.921007	5.500237	troponin T binding
GO:0030984	0.000134	8.921007	8.202756	kininogen binding
GO:0030378	0.000134	8.921007	1.475907	serine racemase activity
GO:0030292	0.000134	8.921007	2.014903	protein tyrosine kinase inhibitor activity
GO:0030158	0.000134	8.921007	0.000000	protein xylosyltransferase activity
GO:0030023	0.000134	8.921007	0.000000	extracellular matrix constituent conferring elasticity
GO:0022850	0.000134	8.921007	0.000000	serotonin-gated monoatomic cation-selective channel activity
GO:0019911	0.000134	8.921007	5.288267	structural constituent of myelin sheath
GO:0019782	0.000134	8.921007	2.047693	ISG15 activating enzyme activity
GO:0019705	0.000134	8.921007	0.000000	protein-cysteine S-myristoyltransferase activity
GO:0019156	0.000134	8.921007	4.673996	isoamylase activity
GO:0019137	0.000134	8.921007	4.673996	thioglucosidase activity
GO:0018479	0.000134	8.921007	0.000000	benzaldehyde dehydrogenase (NAD+) activity
GO:0017113	0.000134	8.921007	2.876386	dihydropyrimidine dehydrogenase (NADP+) activity
GO:0016825	0.000134	8.921007	6.893656	hydrolase activity, acting on acid phosphorus-nitrogen bonds
GO:0016768	0.000134	8.921007	4.271444	spermine synthase activity
GO:0016756	0.000134	8.921007	2.014903	glutathione gamma-glutamylcysteinyltransferase activity
GO:0016631	0.000134	8.921007	2.876386	enoyl-[acyl-carrier-protein] reductase activity
GO:0016621	0.000134	8.921007	3.518980	cinnamoyl-CoA reductase activity
GO:0016603	0.000134	8.921007	2.014903	glutaminyl-peptide cyclotransferase activity
GO:0016464	0.000134	8.921007	1.252763	chloroplast protein-transporting ATPase activity
GO:0016403	0.000134	8.921007	2.169054	dimethylargininase activity
GO:0016287	0.000134	8.921007	2.463853	glycerone-phosphate O-acyltransferase activity
GO:0016157	0.000134	8.921007	3.223863	sucrose synthase activity
GO:0016002	0.000134	8.921007	3.737670	sulfite reductase activity
GO:0015666	0.000134	8.921007	2.944439	restriction endodeoxyribonuclease activity
GO:0015499	0.000134	8.921007	2.251292	formate transmembrane transporter activity
GO:0015432	0.000134	8.921007	0.000000	ABC-type bile acid transporter activity
GO:0015422	0.000134	8.921007	0.000000	ABC-type oligosaccharide transporter activity
GO:0015382	0.000134	8.921007	0.000000	sodium:sulfate symporter activity
GO:0015375	0.000134	8.921007	0.000000	glycine:sodium symporter activity
GO:0015229	0.000134	8.921007	0.000000	L-ascorbic acid transmembrane transporter activity
GO:0015228	0.000134	8.921007	0.223144	coenzyme A transmembrane transporter activity
GO:0015208	0.000134	8.921007	1.727221	guanine transmembrane transporter activity
GO:0015207	0.000134	8.921007	1.727221	adenine transmembrane transporter activity
GO:0015151	0.000134	8.921007	0.559616	alpha-glucoside transmembrane transporter activity
GO:0010011	0.000134	8.921007	3.533687	auxin binding
GO:0009905	0.000134	8.921007	1.609438	ent-copalyl diphosphate synthase activity
GO:0009020	0.000134	8.921007	0.000000	tRNA (guanosine-2'-O-)-methyltransferase activity
GO:0009011	0.000134	8.921007	3.473518	starch synthase activity
GO:0009002	0.000134	8.921007	1.354546	serine-type D-Ala-D-Ala carboxypeptidase activity
GO:0009000	0.000134	8.921007	2.515678	selenocysteine lyase activity
GO:0008988	0.000134	8.921007	0.405465	rRNA (adenine-N6-)-methyltransferase activity
GO:0008941	0.000134	8.921007	0.916291	nitric oxide dioxygenase activity
GO:0008932	0.000134	8.921007	0.810930	lytic endotransglycosylase activity
GO:0008909	0.000134	8.921007	0.405465	isochorismate synthase activity
GO:0008825	0.000134	8.921007	4.438230	cyclopropane-fatty-acyl-phospholipid synthase activity
GO:0008759	0.000134	8.921007	3.026504	UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase activity
GO:0008732	0.000134	8.921007	0.485508	L-allo-threonine aldolase activity
GO:0008675	0.000134	8.921007	2.515678	2-dehydro-3-deoxy-phosphogluconate aldolase activity
GO:0008479	0.000134	8.921007	0.000000	queuine tRNA-ribosyltransferase activity
GO:0008466	0.000134	8.921007	3.223863	glycogenin glucosyltransferase activity
GO:0008419	0.000134	8.921007	2.764746	RNA lariat debranching enzyme activity
GO:0008413	0.000134	8.921007	1.749200	8-oxo-7,8-dihydroguanosine triphosphate pyrophosphatase activity
GO:0008404	0.000134	8.921007	0.916291	arachidonic acid 14,15-epoxygenase activity
GO:0008160	0.000134	8.921007	1.178655	protein tyrosine phosphatase activator activity
GO:0008117	0.000134	8.921007	2.515678	sphinganine-1-phosphate aldolase activity
GO:0008115	0.000134	8.921007	1.704748	sarcosine oxidase activity
GO:0008107	0.000134	8.921007	0.485508	galactoside 2-alpha-L-fucosyltransferase activity
GO:0005457	0.000134	8.921007	0.628609	GDP-fucose transmembrane transporter activity
GO:0005371	0.000134	8.921007	3.358638	tricarboxylate secondary active transmembrane transporter activity
GO:0005304	0.000134	8.921007	1.098612	L-valine transmembrane transporter activity
GO:0005277	0.000134	8.921007	0.000000	acetylcholine transmembrane transporter activity
GO:0005250	0.000134	8.921007	1.609438	A-type (transient outward) potassium channel activity
GO:0005166	0.000134	8.921007	0.864997	neurotrophin p75 receptor binding
GO:0005124	0.000134	8.921007	5.875282	scavenger receptor binding
GO:0005025	0.000134	8.921007	1.252763	transforming growth factor beta receptor activity, type I
GO:0005017	0.000134	8.921007	2.957511	platelet-derived growth factor receptor activity
GO:0004945	0.000134	8.921007	0.753772	angiotensin type II receptor activity
GO:0004919	0.000134	8.921007	3.073850	interleukin-9 receptor activity
GO:0004908	0.000134	8.921007	3.073850	interleukin-1 receptor activity
GO:0004897	0.000134	8.921007	3.073850	ciliary neurotrophic factor receptor activity
GO:0004833	0.000134	8.921007	2.963984	tryptophan 2,3-dioxygenase activity
GO:0004788	0.000134	8.921007	1.504077	thiamine diphosphokinase activity
GO:0004742	0.000134	8.921007	0.000000	dihydrolipoyllysine-residue acetyltransferase activity
GO:0004689	0.000134	8.921007	2.674149	phosphorylase kinase activity
GO:0004651	0.000134	8.921007	4.914491	polynucleotide 5'-phosphatase activity
GO:0004643	0.000134	8.921007	2.140066	phosphoribosylaminoimidazolecarboxamide formyltransferase activity
GO:0004642	0.000134	8.921007	1.812379	phosphoribosylformylglycinamidine synthase activity
GO:0004631	0.000134	8.921007	2.957511	phosphomevalonate kinase activity
GO:0004574	0.000134	8.921007	2.169054	oligo-1,6-glucosidase activity
GO:0004566	0.000134	8.921007	4.673996	beta-glucuronidase activity
GO:0004487	0.000134	8.921007	0.559616	methylenetetrahydrofolate dehydrogenase (NAD+) activity
GO:0004484	0.000134	8.921007	0.628609	mRNA guanylyltransferase activity
GO:0004471	0.000134	8.921007	1.216395	malate dehydrogenase (decarboxylating) (NAD+) activity
GO:0004466	0.000134	8.921007	1.475907	long-chain-acyl-CoA dehydrogenase activity
GO:0004412	0.000134	8.921007	4.624973	homoserine dehydrogenase activity
GO:0004411	0.000134	8.921007	2.963984	homogentisate 1,2-dioxygenase activity
GO:0004344	0.000134	8.921007	4.734003	glucose dehydrogenase activity
GO:0004336	0.000134	8.921007	4.673996	galactosylceramidase activity
GO:0004329	0.000134	8.921007	3.766997	formate-tetrahydrofolate ligase activity
GO:0004324	0.000134	8.921007	0.485508	ferredoxin-NADP+ reductase activity
GO:0004307	0.000134	8.921007	1.531476	ethanolaminephosphotransferase activity
GO:0004306	0.000134	8.921007	2.063693	ethanolamine-phosphate cytidylyltransferase activity
GO:0004304	0.000134	8.921007	3.062222	estrone sulfotransferase activity
GO:0004298	0.000134	8.921007	0.117783	threonine-type endopeptidase activity
GO:0004167	0.000134	8.921007	1.871802	dopachrome isomerase activity
GO:0004156	0.000134	8.921007	4.271444	dihydropteroate synthase activity
GO:0004121	0.000134	8.921007	2.515678	cystathionine beta-lyase activity
GO:0004117	0.000134	8.921007	1.098612	calmodulin-activated dual specificity 3',5'-cyclic-GMP, 3',5'-cyclic-AMP phosphodiesterase activity
GO:0004109	0.000134	8.921007	1.417066	coproporphyrinogen oxidase activity
GO:0004102	0.000134	8.921007	2.463853	choline O-acetyltransferase activity
GO:0004068	0.000134	8.921007	3.461822	aspartate 1-decarboxylase activity
GO:0004013	0.000134	8.921007	0.117783	adenosylhomocysteinase activity
GO:0003992	0.000134	8.921007	3.140914	N2-acetyl-L-ornithine:2-oxoglutarate 5-aminotransferase activity
GO:0003976	0.000134	8.921007	2.869318	UDP-N-acetylglucosamine-lysosomal-enzyme N-acetylglucosaminephosphotransferase activity
GO:0003937	0.000134	8.921007	1.634131	IMP cyclohydrolase activity
GO:0003842	0.000134	8.921007	3.518980	1-pyrroline-5-carboxylate dehydrogenase activity
GO:0001642	0.000134	8.921007	0.628609	group III metabotropic glutamate receptor activity
GO:0001601	0.000134	8.921007	0.485508	peptide YY receptor activity
GO:0001596	0.000134	8.921007	0.753772	angiotensin type I receptor activity
GO:0001565	0.000134	8.921007	5.858647	phorbol ester receptor activity
GO:0001537	0.000134	8.921007	3.062222	N-acetylgalactosamine 4-O-sulfotransferase activity
GO:0001517	0.000134	8.921007	3.062222	N-acetylglucosamine 6-O-sulfotransferase activity
GO:0001515	0.000134	8.921007	4.593856	opioid peptide activity
GO:0001072	0.000134	8.921007	6.160416	transcription antitermination factor activity, RNA binding
GO:0001025	0.000134	8.921007	2.748872	RNA polymerase III general transcription initiation factor binding
GO:0000286	0.000134	8.921007	2.924505	alanine dehydrogenase activity
GO:0000250	0.000134	8.921007	1.609438	lanosterol synthase activity
GO:0000034	0.000134	8.921007	2.593387	adenine deaminase activity
GO:1990518	0.000117	9.054538	0.451985	single-stranded 3'-5' DNA helicase activity
GO:1905576	0.000117	9.054538	0.133531	ganglioside GT1b binding
GO:1905030	0.000117	9.054538	4.211069	voltage-gated monoatomic ion channel activity involved in regulation of postsynaptic membrane potential
GO:1903777	0.000117	9.054538	1.349927	melibiose binding
GO:1903425	0.000117	9.054538	3.874173	fluoride transmembrane transporter activity
GO:1902444	0.000117	9.054538	5.722184	riboflavin binding
GO:0140826	0.000117	9.054538	0.356675	zinc:proton antiporter activity
GO:0140806	0.000117	9.054538	1.691676	NAD+- protein-aspartate ADP-ribosyltransferase activity
GO:0140740	0.000117	9.054538	0.000000	ADP-riboxanase activity
GO:0140691	0.000117	9.054538	9.054538	RNA folding chaperone
GO:0140613	0.000117	9.054538	0.133531	P-type manganese transporter activity
GO:0140612	0.000117	9.054538	2.708050	DNA damage sensor activity
GO:0140587	0.000117	9.054538	0.133531	chromatin loop anchoring activity
GO:0140490	0.000117	9.054538	0.000000	microtubule nucleator activity
GO:0140489	0.000117	9.054538	9.054538	molecular template activity
GO:0140078	0.000117	9.054538	0.251314	class I DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0120250	0.000117	9.054538	4.282601	fatty acid omega-hydroxylase activity
GO:0106262	0.000117	9.054538	3.699537	1-acylglycerophosphoethanolamine O-acyltransferase activity
GO:0106245	0.000117	9.054538	3.002850	L-serine-phosphatidylethanolamine phosphatidyltransferase activity
GO:0106223	0.000117	9.054538	2.496741	germacrene A hydroxylase activity
GO:0106140	0.000117	9.054538	5.947289	P-TEFb complex binding
GO:0099609	0.000117	9.054538	4.336357	microtubule lateral binding
GO:0097682	0.000117	9.054538	2.586689	intracellular phosphatidylinositol-3,5-bisphosphate-sensitive monatomic cation channel activity
GO:0097604	0.000117	9.054538	0.133531	temperature-gated cation channel activity
GO:0090600	0.000117	9.054538	2.302585	alpha-1,3-glucosidase activity
GO:0090560	0.000117	9.054538	4.404976	2-(3-amino-3-carboxypropyl)histidine synthase activity
GO:0080122	0.000117	9.054538	0.000000	AMP transmembrane transporter activity
GO:0080031	0.000117	9.054538	4.422277	methyl salicylate esterase activity
GO:0072570	0.000117	9.054538	5.382527	ADP-D-ribose binding
GO:0072545	0.000117	9.054538	2.258782	tyrosine binding
GO:0072354	0.000117	9.054538	0.826679	histone H3T3 kinase activity
GO:0072345	0.000117	9.054538	2.079442	NAADP-sensitive calcium-release channel activity
GO:0071936	0.000117	9.054538	2.273598	coreceptor activity involved in Wnt signaling pathway
GO:0071885	0.000117	9.054538	3.637586	N-terminal protein N-methyltransferase activity
GO:0070967	0.000117	9.054538	2.005334	coenzyme F420 binding
GO:0070736	0.000117	9.054538	0.998529	protein-glycine ligase activity, initiating
GO:0070678	0.000117	9.054538	8.336288	preprotein binding
GO:0070576	0.000117	9.054538	4.565835	vitamin D 24-hydroxylase activity
GO:0070280	0.000117	9.054538	1.312186	pyridoxal binding
GO:0070061	0.000117	9.054538	3.316780	fructose binding
GO:0061784	0.000117	9.054538	0.133531	peptidoglycan N-acetylglucosaminidase activity
GO:0061656	0.000117	9.054538	0.000000	SUMO conjugating enzyme activity
GO:0061501	0.000117	9.054538	0.451985	2',3'-cyclic GMP-AMP synthase activity
GO:0060241	0.000117	9.054538	4.699181	lysozyme inhibitor activity
GO:0060228	0.000117	9.054538	5.015386	phosphatidylcholine-sterol O-acyltransferase activator activity
GO:0055131	0.000117	9.054538	5.236442	C3HC4-type RING finger domain binding
GO:0052901	0.000117	9.054538	1.838279	spermine:oxygen oxidoreductase (spermidine-forming) activity
GO:0052796	0.000117	9.054538	1.455287	exo-alpha-(2->8)-sialidase activity
GO:0052743	0.000117	9.054538	2.288196	inositol tetrakisphosphate phosphatase activity
GO:0052736	0.000117	9.054538	4.807528	beta-glucanase activity
GO:0052657	0.000117	9.054538	1.349927	guanine phosphoribosyltransferase activity
GO:0051990	0.000117	9.054538	4.867534	(R)-2-hydroxyglutarate dehydrogenase activity
GO:0051989	0.000117	9.054538	3.803483	coproporphyrinogen dehydrogenase activity
GO:0051912	0.000117	9.054538	3.871201	CoB--CoM heterodisulfide reductase activity
GO:0051734	0.000117	9.054538	0.451985	polynucleotide kinase activity
GO:0050733	0.000117	9.054538	5.236442	RS domain binding
GO:0050692	0.000117	9.054538	5.236442	DNA binding domain binding
GO:0050568	0.000117	9.054538	3.009917	protein-glutamine glutaminase activity
GO:0050567	0.000117	9.054538	0.000000	glutaminyl-tRNA synthase (glutamine-hydrolyzing) activity
GO:0050333	0.000117	9.054538	5.130744	thiamine triphosphate phosphatase activity
GO:0050085	0.000117	9.054538	4.758504	mannitol 2-dehydrogenase (NADP+) activity
GO:0050038	0.000117	9.054538	4.758504	L-xylulose reductase (NADP+) activity
GO:0050017	0.000117	9.054538	2.649210	L-3-cyanoalanine synthase activity
GO:0048403	0.000117	9.054538	0.998529	brain-derived neurotrophic factor binding
GO:0048248	0.000117	9.054538	0.762140	CXCR3 chemokine receptor binding
GO:0047756	0.000117	9.054538	0.451985	chondroitin 4-sulfotransferase activity
GO:0047696	0.000117	9.054538	5.782065	beta-adrenergic receptor kinase activity
GO:0047547	0.000117	9.054538	4.215297	2-methylcitrate dehydratase activity
GO:0047442	0.000117	9.054538	2.649210	17-alpha-hydroxyprogesterone aldolase activity
GO:0046993	0.000117	9.054538	0.944462	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with oxygen as acceptor
GO:0046979	0.000117	9.054538	0.538997	TAP2 binding
GO:0046923	0.000117	9.054538	2.448539	ER retention sequence binding
GO:0046921	0.000117	9.054538	2.197225	alpha-(1->6)-fucosyltransferase activity
GO:0046871	0.000117	9.054538	5.755290	N-acetylgalactosamine binding
GO:0046848	0.000117	9.054538	8.615693	hydroxyapatite binding
GO:0046403	0.000117	9.054538	5.048023	polynucleotide 3'-phosphatase activity
GO:0045549	0.000117	9.054538	0.762140	9-cis-epoxycarotenoid dioxygenase activity
GO:0045340	0.000117	9.054538	5.381213	mercury ion binding
GO:0045181	0.000117	9.054538	0.000000	glutamate synthase activity, NAD(P)H as acceptor
GO:0045148	0.000117	9.054538	0.000000	tripeptide aminopeptidase activity
GO:0045140	0.000117	9.054538	5.017280	inositol phosphoceramide synthase activity
GO:0045127	0.000117	9.054538	3.224574	N-acetylglucosamine kinase activity
GO:0044736	0.000117	9.054538	1.637609	acid-sensing ion channel activity
GO:0044715	0.000117	9.054538	1.904237	8-oxo-dGDP phosphatase activity
GO:0044017	0.000117	9.054538	1.985915	histone H3K27 acetyltransferase activity
GO:0043865	0.000117	9.054538	1.421386	methionine transmembrane transporter activity
GO:0043771	0.000117	9.054538	0.887303	cytidine kinase activity
GO:0043739	0.000117	9.054538	0.000000	G/U mismatch-specific uracil-DNA glycosylase activity
GO:0043125	0.000117	9.054538	6.008813	ErbB-3 class receptor binding
GO:0042907	0.000117	9.054538	1.860752	xanthine transmembrane transporter activity
GO:0042656	0.000117	9.054538	0.538997	JUN kinase kinase kinase kinase activity
GO:0042389	0.000117	9.054538	4.875197	omega-3 fatty acid desaturase activity
GO:0042329	0.000117	9.054538	1.312186	structural constituent of collagen and cuticulin-based cuticle
GO:0042299	0.000117	9.054538	1.742969	lupeol synthase activity
GO:0042085	0.000117	9.054538	4.847556	5-methyltetrahydropteroyltri-L-glutamate-dependent methyltransferase activity
GO:0038100	0.000117	9.054538	8.336288	nodal binding
GO:0038047	0.000117	9.054538	1.189584	morphine receptor activity
GO:0038036	0.000117	9.054538	1.455287	sphingosine-1-phosphate receptor activity
GO:0036468	0.000117	9.054538	0.693147	L-dopa decarboxylase activity
GO:0036310	0.000117	9.054538	0.944462	ATP-dependent DNA/DNA annealing activity
GO:0036200	0.000117	9.054538	3.470190	3-ketosteroid 9-alpha-monooxygenase activity
GO:0036132	0.000117	9.054538	4.758504	13-prostaglandin reductase activity
GO:0035804	0.000117	9.054538	2.799022	structural constituent of egg coat
GO:0035596	0.000117	9.054538	0.356675	methylthiotransferase activity
GO:0035100	0.000117	9.054538	0.133531	ecdysone binding
GO:0035013	0.000117	9.054538	3.891820	myosuppressin receptor activity
GO:0034986	0.000117	9.054538	1.580450	iron chaperone activity
GO:0034768	0.000117	9.054538	3.575551	(E)-beta-ocimene synthase activity
GO:0034714	0.000117	9.054538	1.966113	type III transforming growth factor beta receptor binding
GO:0034711	0.000117	9.054538	8.336288	inhibin binding
GO:0034353	0.000117	9.054538	1.945910	mRNA 5'-diphosphatase activity
GO:0034318	0.000117	9.054538	3.699537	alcohol O-acyltransferase activity
GO:0034246	0.000117	9.054538	6.293947	mitochondrial transcription factor activity
GO:0034056	0.000117	9.054538	4.916848	estrogen response element binding
GO:0034039	0.000117	9.054538	0.762140	8-oxo-7,8-dihydroguanine DNA N-glycosylase activity
GO:0034038	0.000117	9.054538	4.404976	deoxyhypusine synthase activity
GO:0033919	0.000117	9.054538	0.000000	glucan 1,3-alpha-glucosidase activity
GO:0033883	0.000117	9.054538	5.048023	pyridoxal phosphatase activity
GO:0033850	0.000117	9.054538	4.404976	Z-farnesyl diphosphate synthase activity
GO:0033818	0.000117	9.054538	5.049856	beta-ketoacyl-acyl-carrier-protein synthase III activity
GO:0033744	0.000117	9.054538	2.371578	L-methionine:thioredoxin-disulfide S-oxidoreductase activity
GO:0033550	0.000117	9.054538	0.619039	MAP kinase tyrosine phosphatase activity
GO:0033229	0.000117	9.054538	0.762140	cysteine transmembrane transporter activity
GO:0033164	0.000117	9.054538	0.000000	glycolipid 1,6-alpha-mannosyltransferase activity
GO:0032843	0.000117	9.054538	2.371578	hydroperoxide reductase activity
GO:0032791	0.000117	9.054538	5.991822	lead ion binding
GO:0032450	0.000117	9.054538	1.550597	maltose alpha-glucosidase activity
GO:0032405	0.000117	9.054538	0.619039	MutLalpha complex binding
GO:0032395	0.000117	9.054538	3.429368	MHC class II receptor activity
GO:0031852	0.000117	9.054538	0.619039	mu-type opioid receptor binding
GO:0031762	0.000117	9.054538	4.305994	follicle-stimulating hormone receptor binding
GO:0031711	0.000117	9.054538	4.305994	bradykinin receptor binding
GO:0031704	0.000117	9.054538	2.553900	apelin receptor binding
GO:0031682	0.000117	9.054538	8.336288	G-protein gamma-subunit binding
GO:0031459	0.000117	9.054538	0.000000	ABC-type glycine betaine transporter activity
GO:0031405	0.000117	9.054538	0.356675	lipoic acid binding
GO:0030696	0.000117	9.054538	0.693147	tRNA (m5U54) methyltransferase activity
GO:0030628	0.000117	9.054538	2.273598	pre-mRNA 3'-splice site binding
GO:0030623	0.000117	9.054538	2.384823	U5 snRNA binding
GO:0019964	0.000117	9.054538	0.251314	type II interferon binding
GO:0019960	0.000117	9.054538	2.371578	C-X3-C chemokine binding
GO:0019810	0.000117	9.054538	0.451985	putrescine binding
GO:0018858	0.000117	9.054538	3.116685	benzoate-CoA ligase activity
GO:0018822	0.000117	9.054538	4.215297	nitrile hydratase activity
GO:0018628	0.000117	9.054538	1.049822	terephthalate 1,2-dioxygenase activity
GO:0018488	0.000117	9.054538	0.998529	aryl-aldehyde oxidase activity
GO:0018064	0.000117	9.054538	3.844050	protein-L-histidine N-tele-methyltransferase activity
GO:0017129	0.000117	9.054538	5.388419	triglyceride binding
GO:0017089	0.000117	9.054538	2.874371	glycolipid transfer activity
GO:0016941	0.000117	9.054538	3.988984	natriuretic peptide receptor activity
GO:0016898	0.000117	9.054538	4.867534	oxidoreductase activity, acting on the CH-OH group of donors, cytochrome as acceptor
GO:0016784	0.000117	9.054538	2.288196	3-mercaptopyruvate sulfurtransferase activity
GO:0016707	0.000117	9.054538	3.452253	gibberellin 3-beta-dioxygenase activity
GO:0016656	0.000117	9.054538	2.849880	monodehydroascorbate reductase (NADH) activity
GO:0016629	0.000117	9.054538	3.009917	12-oxophytodienoate reductase activity
GO:0016618	0.000117	9.054538	4.758504	hydroxypyruvate reductase activity
GO:0016521	0.000117	9.054538	3.559421	pituitary adenylate cyclase activating polypeptide activity
GO:0016499	0.000117	9.054538	3.891820	orexin receptor activity
GO:0016414	0.000117	9.054538	0.000000	O-octanoyltransferase activity
GO:0016230	0.000117	9.054538	1.717651	sphingomyelin phosphodiesterase activator activity
GO:0016212	0.000117	9.054538	0.356675	kynurenine-oxoglutarate transaminase activity
GO:0016206	0.000117	9.054538	2.659260	catechol O-methyltransferase activity
GO:0016168	0.000117	9.054538	3.688879	chlorophyll binding
GO:0015620	0.000117	9.054538	1.272966	ferric-enterobactin transmembrane transporter activity
GO:0015462	0.000117	9.054538	0.000000	ABC-type protein transporter activity
GO:0015433	0.000117	9.054538	1.098612	ABC-type peptide antigen transporter activity
GO:0015420	0.000117	9.054538	0.251314	ABC-type vitamin B12 transporter activity
GO:0015391	0.000117	9.054538	0.693147	nucleobase:monoatomic cation symporter activity
GO:0015350	0.000117	9.054538	0.000000	methotrexate transmembrane transporter activity
GO:0015319	0.000117	9.054538	0.133531	sodium:inorganic phosphate symporter activity
GO:0015225	0.000117	9.054538	0.000000	biotin transmembrane transporter activity
GO:0015191	0.000117	9.054538	0.000000	L-methionine transmembrane transporter activity
GO:0015136	0.000117	9.054538	3.461262	sialic acid transmembrane transporter activity
GO:0015123	0.000117	9.054538	2.384823	acetate transmembrane transporter activity
GO:0015120	0.000117	9.054538	0.619039	phosphoglycerate transmembrane transporter activity
GO:0015066	0.000117	9.054538	4.699181	alpha-amylase inhibitor activity
GO:0015057	0.000117	9.054538	0.538997	thrombin-activated receptor activity
GO:0015042	0.000117	9.054538	2.330756	trypanothione-disulfide reductase activity
GO:0015018	0.000117	9.054538	2.890372	galactosylgalactosylxylosylprotein 3-beta-glucuronosyltransferase activity
GO:0010945	0.000117	9.054538	5.130744	CoA pyrophosphatase activity
GO:0010858	0.000117	9.054538	9.054538	calcium-dependent protein kinase regulator activity
GO:0010328	0.000117	9.054538	0.826679	auxin influx transmembrane transporter activity
GO:0010326	0.000117	9.054538	3.274446	methionine-oxo-acid transaminase activity
GO:0009916	0.000117	9.054538	2.243745	alternative oxidase activity
GO:0009884	0.000117	9.054538	5.716558	cytokinin receptor activity
GO:0009883	0.000117	9.054538	2.508437	red or far-red light photoreceptor activity
GO:0008990	0.000117	9.054538	0.619039	rRNA (guanine-N2-)-methyltransferase activity
GO:0008967	0.000117	9.054538	5.048023	phosphoglycolate phosphatase activity
GO:0008955	0.000117	9.054538	5.017280	peptidoglycan glycosyltransferase activity
GO:0008948	0.000117	9.054538	3.595353	oxaloacetate decarboxylase activity
GO:0008898	0.000117	9.054538	1.098612	S-adenosylmethionine-homocysteine S-methyltransferase activity
GO:0008892	0.000117	9.054538	2.726919	guanine deaminase activity
GO:0008879	0.000117	9.054538	4.559874	glucose-1-phosphate thymidylyltransferase activity
GO:0008860	0.000117	9.054538	0.619039	ferredoxin-NAD+ reductase activity
GO:0008823	0.000117	9.054538	0.826679	cupric reductase activity
GO:0008783	0.000117	9.054538	2.302585	agmatinase activity
GO:0008781	0.000117	9.054538	2.197225	N-acylneuraminate cytidylyltransferase activity
GO:0008743	0.000117	9.054538	4.758504	L-threonine 3-dehydrogenase activity
GO:0008728	0.000117	9.054538	1.637609	GTP diphosphokinase activity
GO:0008674	0.000117	9.054538	2.649210	2-dehydro-3-deoxy-6-phosphogalactonate aldolase activity
GO:0008673	0.000117	9.054538	3.129264	2-dehydro-3-deoxygluconokinase activity
GO:0008670	0.000117	9.054538	3.009917	2,4-dienoyl-CoA reductase (NADPH) activity
GO:0008609	0.000117	9.054538	4.404976	alkylglycerone-phosphate synthase activity
GO:0008597	0.000117	9.054538	3.135494	calcium-dependent protein serine/threonine phosphatase regulator activity
GO:0008520	0.000117	9.054538	0.000000	L-ascorbate:sodium symporter activity
GO:0008507	0.000117	9.054538	0.000000	sodium:iodide symporter activity
GO:0008502	0.000117	9.054538	4.992374	melatonin receptor activity
GO:0008478	0.000117	9.054538	5.995741	pyridoxal kinase activity
GO:0008470	0.000117	9.054538	1.609438	isovaleryl-CoA dehydrogenase activity
GO:0008405	0.000117	9.054538	1.049822	arachidonic acid 11,12-epoxygenase activity
GO:0008330	0.000117	9.054538	4.332611	protein tyrosine/threonine phosphatase activity
GO:0008260	0.000117	9.054538	1.272966	succinyl-CoA:3-oxo-acid CoA-transferase activity
GO:0005464	0.000117	9.054538	1.349927	UDP-xylose transmembrane transporter activity
GO:0005415	0.000117	9.054538	0.000000	nucleoside:sodium symporter activity
GO:0005366	0.000117	9.054538	0.133531	myo-inositol:proton symporter activity
GO:0005297	0.000117	9.054538	0.538997	proline:proton symporter activity
GO:0005168	0.000117	9.054538	0.251314	neurotrophin TRKA receptor binding
GO:0005143	0.000117	9.054538	2.553900	interleukin-12 receptor binding
GO:0005119	0.000117	9.054538	4.305994	smoothened binding
GO:0005105	0.000117	9.054538	1.637609	type 1 fibroblast growth factor receptor binding
GO:0005093	0.000117	9.054538	1.742969	Rab GDP-dissociation inhibitor activity
GO:0005053	0.000117	9.054538	1.049822	peroxisome matrix targeting signal-2 binding
GO:0005009	0.000117	9.054538	0.000000	insulin receptor activity
GO:0004980	0.000117	9.054538	0.998529	melanocyte-stimulating hormone receptor activity
GO:0004967	0.000117	9.054538	3.891820	glucagon receptor activity
GO:0004958	0.000117	9.054538	1.791759	prostaglandin F receptor activity
GO:0004947	0.000117	9.054538	3.891820	bradykinin receptor activity
GO:0004911	0.000117	9.054538	3.207381	interleukin-2 receptor activity
GO:0004905	0.000117	9.054538	1.098612	type I interferon receptor activity
GO:0004853	0.000117	9.054538	3.595353	uroporphyrinogen decarboxylase activity
GO:0004821	0.000117	9.054538	3.327089	histidine-tRNA ligase activity
GO:0004819	0.000117	9.054538	3.327089	glutamine-tRNA ligase activity
GO:0004756	0.000117	9.054538	0.356675	selenide, water dikinase activity
GO:0004753	0.000117	9.054538	2.772589	saccharopine dehydrogenase activity
GO:0004746	0.000117	9.054538	4.404976	riboflavin synthase activity
GO:0004736	0.000117	9.054538	2.005334	pyruvate carboxylase activity
GO:0004735	0.000117	9.054538	2.772589	pyrroline-5-carboxylate reductase activity
GO:0004686	0.000117	9.054538	2.807680	elongation factor-2 kinase activity
GO:0004639	0.000117	9.054538	3.030824	phosphoribosylaminoimidazolesuccinocarboxamide synthase activity
GO:0004638	0.000117	9.054538	3.595353	phosphoribosylaminoimidazole carboxylase activity
GO:0004632	0.000117	9.054538	3.030824	phosphopantothenate--cysteine ligase activity
GO:0004595	0.000117	9.054538	3.077970	pantetheine-phosphate adenylyltransferase activity
GO:0004587	0.000117	9.054538	3.274446	ornithine-oxo-acid transaminase activity
GO:0004516	0.000117	9.054538	3.900529	nicotinate phosphoribosyltransferase activity
GO:0004514	0.000117	9.054538	3.513675	nicotinate-nucleotide diphosphorylase (carboxylating) activity
GO:0004507	0.000117	9.054538	0.944462	steroid 11-beta-monooxygenase activity
GO:0004479	0.000117	9.054538	0.000000	methionyl-tRNA formyltransferase activity
GO:0004441	0.000117	9.054538	0.826679	inositol-1,4-bisphosphate 1-phosphatase activity
GO:0004424	0.000117	9.054538	4.215297	imidazoleglycerol-phosphate dehydratase activity
GO:0004423	0.000117	9.054538	2.005334	iduronate-2-sulfatase activity
GO:0004419	0.000117	9.054538	2.397895	hydroxymethylglutaryl-CoA lyase activity
GO:0004418	0.000117	9.054538	4.404976	hydroxymethylbilane synthase activity
GO:0004414	0.000117	9.054538	2.597385	homoserine O-acetyltransferase activity
GO:0004410	0.000117	9.054538	2.330756	homocitrate synthase activity
GO:0004398	0.000117	9.054538	3.595353	histidine decarboxylase activity
GO:0004349	0.000117	9.054538	1.049822	glutamate 5-kinase activity
GO:0004339	0.000117	9.054538	3.247047	glucan 1,4-alpha-glucosidase activity
GO:0004163	0.000117	9.054538	3.595353	diphosphomevalonate decarboxylase activity
GO:0004140	0.000117	9.054538	5.995741	dephospho-CoA kinase activity
GO:0004092	0.000117	9.054538	0.000000	carnitine O-acetyltransferase activity
GO:0004042	0.000117	9.054538	3.747822	acetyl-CoA:L-glutamate N-acetyltransferase activity
GO:0004024	0.000117	9.054538	2.079442	alcohol dehydrogenase activity, zinc-dependent
GO:0003973	0.000117	9.054538	1.550597	(S)-2-hydroxy-acid oxidase activity
GO:0003919	0.000117	9.054538	3.077970	FMN adenylyltransferase activity
GO:0003908	0.000117	9.054538	2.061423	methylated-DNA-[protein]-cysteine S-methyltransferase activity
GO:0003904	0.000117	9.054538	0.826679	deoxyribodipyrimidine photo-lyase activity
GO:0003879	0.000117	9.054538	3.513675	ATP phosphoribosyltransferase activity
GO:0003871	0.000117	9.054538	0.000000	5-methyltetrahydropteroyltriglutamate-homocysteine S-methyltransferase activity
GO:0003858	0.000117	9.054538	4.758504	3-hydroxybutyrate dehydrogenase activity
GO:0003852	0.000117	9.054538	2.330756	2-isopropylmalate synthase activity
GO:0003845	0.000117	9.054538	2.508437	11-beta-hydroxysteroid dehydrogenase [NAD(P)] activity
GO:0003837	0.000117	9.054538	4.060443	beta-ureidopropionase activity
GO:0002953	0.000117	9.054538	5.048023	5'-deoxynucleotidase activity
GO:0002950	0.000117	9.054538	3.002850	ceramide phosphoethanolamine synthase activity
GO:0002060	0.000117	9.054538	0.251314	purine nucleobase binding
GO:0001962	0.000117	9.054538	2.890372	alpha-1,3-galactosyltransferase activity
GO:0001847	0.000117	9.054538	5.716558	opsonin receptor activity
GO:0001621	0.000117	9.054538	0.887303	G protein-coupled ADP receptor activity
GO:0001602	0.000117	9.054538	0.619039	pancreatic polypeptide receptor activity
GO:0001406	0.000117	9.054538	2.531427	glycerophosphodiester transmembrane transporter activity
GO:0001108	0.000117	9.054538	2.882404	bacterial-type RNA polymerase holo enzyme binding
GO:0001092	0.000117	9.054538	1.742969	TFIIA-class transcription factor complex binding
GO:0000823	0.000117	9.054538	1.455287	inositol-1,4,5-trisphosphate 6-kinase activity
GO:0000254	0.000117	9.054538	1.272966	C-4 methylsterol oxidase activity
GO:0000248	0.000117	9.054538	0.451985	C-5 sterol desaturase activity
GO:0000210	0.000117	9.054538	0.693147	NAD+ diphosphatase activity
GO:1990932	0.000100	9.208689	3.251666	5.8S rRNA binding
GO:1990890	0.000100	9.208689	6.162964	netrin receptor binding
GO:1990605	0.000100	9.208689	6.548697	GU repeat RNA binding
GO:1990599	0.000100	9.208689	1.704748	3' overhang single-stranded DNA endodeoxyribonuclease activity
GO:1990460	0.000100	9.208689	6.162964	leptin receptor binding
GO:1990444	0.000100	9.208689	5.390593	F-box domain binding
GO:1990439	0.000100	9.208689	0.287682	MAP kinase serine/threonine phosphatase activity
GO:1990003	0.000100	9.208689	2.058388	IDP phosphatase activity
GO:1905502	0.000100	9.208689	1.897120	acetyl-CoA binding
GO:1904855	0.000100	9.208689	6.101439	proteasome regulatory particle binding
GO:1904841	0.000100	9.208689	6.101439	TORC2 complex binding
GO:1902945	0.000100	9.208689	3.390024	metalloendopeptidase activity involved in amyloid precursor protein catabolic process
GO:1902271	0.000100	9.208689	0.405465	D3 vitamins binding
GO:1901982	0.000100	9.208689	1.504077	maltose binding
GO:1901680	0.000100	9.208689	0.510826	sulfur-containing amino acid secondary active transmembrane transporter activity
GO:0160002	0.000100	9.208689	3.867723	ADP-D-ribose modification-dependent protein binding
GO:0140912	0.000100	9.208689	9.208689	membrane destabilizing activity
GO:0140892	0.000100	9.208689	0.000000	sodium,bicarbonate:chloride antiporter activity
GO:0140852	0.000100	9.208689	4.345968	histone ubiquitin ligase activity
GO:0140807	0.000100	9.208689	1.845827	NAD+-protein-glutamate ADP-ribosyltransferase activity
GO:0140750	0.000100	9.208689	0.287682	nucleosome array spacer activity
GO:0140683	0.000100	9.208689	1.427116	histone H3K9me/H3K9me2 demethylase activity
GO:0140674	0.000100	9.208689	0.000000	ATP-dependent histone chaperone activity
GO:0140660	0.000100	9.208689	0.000000	cytoskeletal motor activator activity
GO:0140571	0.000100	9.208689	0.000000	transmembrane ascorbate ferrireductase activity
GO:0140417	0.000100	9.208689	2.233592	ATP-sensitive calcium-release channel activity
GO:0120319	0.000100	9.208689	5.029348	long-chain fatty acid omega-1 hydroxylase activity
GO:0120225	0.000100	9.208689	5.090678	coenzyme A binding
GO:0120170	0.000100	9.208689	6.101439	intraciliary transport particle B binding
GO:0120091	0.000100	9.208689	4.810828	jasmonic acid hydrolase
GO:0106363	0.000100	9.208689	0.000000	protein-cysteine methyltransferase activity
GO:0106263	0.000100	9.208689	3.853687	1-acylglycerophosphoserine O-acyltransferase activity
GO:0106235	0.000100	9.208689	1.763589	ceramide-1-phosphate phosphatase activity
GO:0106026	0.000100	9.208689	1.921813	Gly-tRNA(Ala) hydrolase activity
GO:0102140	0.000100	9.208689	0.154151	heparan sulfate N-deacetylase activity
GO:0102033	0.000100	9.208689	0.154151	long-chain fatty acid omega-hydroxylase activity
GO:0101021	0.000100	9.208689	2.552046	estrogen 2-hydroxylase activity
GO:0101006	0.000100	9.208689	0.154151	protein histidine phosphatase activity
GO:0098639	0.000100	9.208689	0.000000	collagen binding involved in cell-matrix adhesion
GO:0097621	0.000100	9.208689	2.639057	monoamine oxidase activity
GO:0097372	0.000100	9.208689	0.606136	NAD-dependent histone H3K18 deacetylase activity
GO:0097243	0.000100	9.208689	8.769844	flavonoid binding
GO:0097199	0.000100	9.208689	1.845827	cysteine-type endopeptidase activity involved in apoptotic signaling pathway
GO:0097016	0.000100	9.208689	5.390593	L27 domain binding
GO:0090722	0.000100	9.208689	6.162964	receptor-receptor interaction
GO:0090556	0.000100	9.208689	0.606136	phosphatidylserine floppase activity
GO:0090447	0.000100	9.208689	3.853687	glycerol-3-phosphate 2-O-acyltransferase activity
GO:0090434	0.000100	9.208689	2.427748	oleoyl-CoA ligase activity
GO:0090433	0.000100	9.208689	2.427748	palmitoyl-CoA ligase activity
GO:0086083	0.000100	9.208689	0.980829	cell adhesive protein binding involved in bundle of His cell-Purkinje myocyte communication
GO:0086075	0.000100	9.208689	0.510826	gap junction channel activity involved in cardiac conduction electrical coupling
GO:0080107	0.000100	9.208689	5.029348	8-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080083	0.000100	9.208689	2.708050	beta-gentiobiose beta-glucosidase activity
GO:0080023	0.000100	9.208689	4.369448	3R-hydroxyacyl-CoA dehydratase activity
GO:0072582	0.000100	9.208689	1.609438	17-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0072328	0.000100	9.208689	8.769844	alkene binding
GO:0071890	0.000100	9.208689	6.164367	bicarbonate binding
GO:0071553	0.000100	9.208689	1.252763	G protein-coupled pyrimidinergic nucleotide receptor activity
GO:0070991	0.000100	9.208689	1.763589	medium-chain-acyl-CoA dehydrogenase activity
GO:0070905	0.000100	9.208689	2.367124	serine binding
GO:0070644	0.000100	9.208689	5.070998	vitamin D response element binding
GO:0070611	0.000100	9.208689	0.287682	histone H3R2 methyltransferase activity
GO:0070540	0.000100	9.208689	1.845827	stearic acid binding
GO:0070041	0.000100	9.208689	0.000000	rRNA (uridine-C5-)-methyltransferase activity
GO:0062153	0.000100	9.208689	6.548697	C5-methylcytidine-containing RNA binding
GO:0062076	0.000100	9.208689	1.969441	acyl-CoA delta5-desaturase activity
GO:0062063	0.000100	9.208689	6.101439	BBSome binding
GO:0061815	0.000100	9.208689	3.283414	Met1-linked polyubiquitin deubiquitinase activity
GO:0061785	0.000100	9.208689	0.154151	peptidoglycan endopeptidase activity
GO:0061649	0.000100	9.208689	0.000000	ubiquitin modification-dependent histone binding
GO:0055100	0.000100	9.208689	3.075775	adiponectin binding
GO:0052894	0.000100	9.208689	1.992430	norspermine:oxygen oxidoreductase activity
GO:0052842	0.000100	9.208689	0.510826	inositol diphosphate pentakisphosphate diphosphatase activity
GO:0052654	0.000100	9.208689	1.041454	L-leucine transaminase activity
GO:0051908	0.000100	9.208689	0.154151	double-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0051740	0.000100	9.208689	0.000000	ethylene binding
GO:0051732	0.000100	9.208689	0.606136	polyribonucleotide kinase activity
GO:0051723	0.000100	9.208689	0.510826	protein methylesterase activity
GO:0051499	0.000100	9.208689	1.921813	D-aminoacyl-tRNA deacylase activity
GO:0050736	0.000100	9.208689	0.000000	O-malonyltransferase activity
GO:0050694	0.000100	9.208689	3.349904	galactose 3-O-sulfotransferase activity
GO:0050584	0.000100	9.208689	3.251666	linoleate 11-lipoxygenase activity
GO:0050545	0.000100	9.208689	3.749504	sulfopyruvate decarboxylase activity
GO:0050509	0.000100	9.208689	3.044522	N-acetylglucosaminyl-proteoglycan 4-beta-glucuronosyltransferase activity
GO:0050502	0.000100	9.208689	3.511545	cis-zeatin O-beta-D-glucosyltransferase activity
GO:0050464	0.000100	9.208689	0.287682	nitrate reductase (NADPH) activity
GO:0050368	0.000100	9.208689	0.693147	tyrosine 2,3-aminomutase activity
GO:0050314	0.000100	9.208689	4.559126	sym-norspermidine synthase activity
GO:0050302	0.000100	9.208689	0.154151	indole-3-acetaldehyde oxidase activity
GO:0050201	0.000100	9.208689	6.149892	fucokinase activity
GO:0050105	0.000100	9.208689	1.704748	L-gulonolactone oxidase activity
GO:0050051	0.000100	9.208689	2.650892	leukotriene-B4 20-monooxygenase activity
GO:0047936	0.000100	9.208689	0.154151	glucose 1-dehydrogenase [NAD(P)] activity
GO:0047869	0.000100	9.208689	2.803360	dimethylpropiothetin dethiomethylase activity
GO:0047804	0.000100	9.208689	2.803360	cysteine-S-conjugate beta-lyase activity
GO:0047783	0.000100	9.208689	2.036882	corticosterone 18-monooxygenase activity
GO:0047782	0.000100	9.208689	2.708050	coniferin beta-glucosidase activity
GO:0047746	0.000100	9.208689	4.576428	chlorophyllase activity
GO:0047735	0.000100	9.208689	5.021685	cellobiose dehydrogenase (acceptor) activity
GO:0047727	0.000100	9.208689	3.693037	isobutyryl-CoA mutase activity
GO:0047681	0.000100	9.208689	4.912655	aryl-alcohol dehydrogenase (NADP+) activity
GO:0047475	0.000100	9.208689	3.270836	phenylacetate-CoA ligase activity
GO:0047464	0.000100	9.208689	2.674149	heparosan-N-sulfate-glucuronate 5-epimerase activity
GO:0047461	0.000100	9.208689	2.442347	(+)-delta-cadinene synthase activity
GO:0047412	0.000100	9.208689	4.214594	N-(long-chain-acyl)ethanolamine deacylase activity
GO:0047389	0.000100	9.208689	4.054679	glycerophosphocholine phosphodiesterase activity
GO:0047334	0.000100	9.208689	2.100061	diphosphate-fructose-6-phosphate 1-phosphotransferase activity
GO:0047280	0.000100	9.208689	3.667826	nicotinamide phosphoribosyltransferase activity
GO:0047220	0.000100	9.208689	0.693147	galactosylxylosylprotein 3-beta-galactosyltransferase activity
GO:0047216	0.000100	9.208689	2.456736	inositol 3-alpha-galactosyltransferase activity
GO:0047110	0.000100	9.208689	3.806662	phenylglyoxylate dehydrogenase (acylating) activity
GO:0047086	0.000100	9.208689	3.624341	ketosteroid monooxygenase activity
GO:0047024	0.000100	9.208689	2.662588	5alpha-androstane-3beta,17beta-diol dehydrogenase activity
GO:0046970	0.000100	9.208689	0.606136	NAD-dependent histone H4K16 deacetylase activity
GO:0046715	0.000100	9.208689	3.506558	active borate transmembrane transporter activity
GO:0046576	0.000100	9.208689	2.251292	rhamnogalacturonan alpha-L-rhamnopyranosyl-(1->4)-alpha-D-galactopyranosyluronide lyase activity
GO:0046557	0.000100	9.208689	2.708050	glucan endo-1,6-beta-glucosidase activity
GO:0046526	0.000100	9.208689	0.606136	D-xylulose reductase activity
GO:0046525	0.000100	9.208689	0.693147	xylosylprotein 4-beta-galactosyltransferase activity
GO:0045300	0.000100	9.208689	2.782952	acyl-[acyl-carrier-protein] desaturase activity
GO:0044687	0.000100	9.208689	3.506558	geranylfarnesyl diphosphate synthase activity
GO:0044378	0.000100	9.208689	2.456736	non-sequence-specific DNA binding, bending
GO:0043998	0.000100	9.208689	3.205453	histone H2A acetyltransferase activity
GO:0043798	0.000100	9.208689	0.000000	glycerate 2-kinase activity
GO:0043765	0.000100	9.208689	3.232121	T/G mismatch-specific endonuclease activity
GO:0043734	0.000100	9.208689	3.606403	DNA-N1-methyladenine dioxygenase activity
GO:0043533	0.000100	9.208689	2.498700	inositol 1,3,4,5 tetrakisphosphate binding
GO:0043532	0.000100	9.208689	8.490438	angiostatin binding
GO:0042943	0.000100	9.208689	4.105394	D-amino acid transmembrane transporter activity
GO:0042736	0.000100	9.208689	6.149892	NADH kinase activity
GO:0042586	0.000100	9.208689	4.214594	peptide deformylase activity
GO:0042409	0.000100	9.208689	2.813411	caffeoyl-CoA O-methyltransferase activity
GO:0042131	0.000100	9.208689	2.079442	thiamine phosphate phosphatase activity
GO:0042015	0.000100	9.208689	3.768922	interleukin-20 binding
GO:0038181	0.000100	9.208689	6.146329	bile acid receptor activity
GO:0038131	0.000100	9.208689	5.870708	neuregulin receptor activity
GO:0038021	0.000100	9.208689	3.361532	leptin receptor activity
GO:0036402	0.000100	9.208689	5.614344	proteasome-activating activity
GO:0036393	0.000100	9.208689	3.821369	thiocyanate peroxidase activity
GO:0036384	0.000100	9.208689	2.058388	CDP phosphatase activity
GO:0035877	0.000100	9.208689	5.390593	death effector domain binding
GO:0035663	0.000100	9.208689	1.098612	Toll-like receptor 2 binding
GO:0035575	0.000100	9.208689	2.335375	histone H4K20 demethylase activity
GO:0035402	0.000100	9.208689	0.980829	histone H3T11 kinase activity
GO:0035276	0.000100	9.208689	3.378725	ethanol binding
GO:0035248	0.000100	9.208689	2.552046	alpha-1,4-N-acetylgalactosaminyltransferase activity
GO:0035034	0.000100	9.208689	6.021832	histone acetyltransferase regulator activity
GO:0034785	0.000100	9.208689	3.624341	salicylate 5-hydroxylase activity
GO:0034784	0.000100	9.208689	3.693037	pivalyl-CoA mutase activity
GO:0034722	0.000100	9.208689	0.287682	gamma-glutamyl-peptidase activity
GO:0034632	0.000100	9.208689	0.000000	retinol transmembrane transporter activity
GO:0034480	0.000100	9.208689	2.442347	phosphatidylcholine phospholipase C activity
GO:0034432	0.000100	9.208689	5.284894	bis(5'-adenosyl)-pentaphosphatase activity
GO:0034189	0.000100	9.208689	1.845827	very-low-density lipoprotein particle binding
GO:0034186	0.000100	9.208689	1.642228	apolipoprotein A-I binding
GO:0033971	0.000100	9.208689	2.525729	hydroxyisourate hydrolase activity
GO:0033946	0.000100	9.208689	0.154151	xyloglucan-specific endo-beta-1,4-glucanase activity
GO:0033906	0.000100	9.208689	4.961678	hyaluronoglucuronidase activity
GO:0033699	0.000100	9.208689	1.427116	DNA 5'-adenosine monophosphate hydrolase activity
GO:0033679	0.000100	9.208689	1.152680	3'-5' DNA/RNA helicase activity
GO:0032931	0.000100	9.208689	2.140066	histone H3K56 acetyltransferase activity
GO:0032841	0.000100	9.208689	0.510826	calcitonin binding
GO:0032810	0.000100	9.208689	5.070998	sterol response element binding
GO:0032542	0.000100	9.208689	2.577688	sulfiredoxin activity
GO:0032500	0.000100	9.208689	2.014903	muramyl dipeptide binding
GO:0032440	0.000100	9.208689	3.164068	2-alkenal reductase [NAD(P)+] activity
GO:0032190	0.000100	9.208689	6.475946	acrosin binding
GO:0032139	0.000100	9.208689	1.098612	dinucleotide insertion or deletion binding
GO:0031871	0.000100	9.208689	4.460144	proteinase activated receptor binding
GO:0031849	0.000100	9.208689	4.460144	olfactory receptor binding
GO:0031834	0.000100	9.208689	2.708050	neurokinin receptor binding
GO:0031821	0.000100	9.208689	4.460144	G protein-coupled serotonin receptor binding
GO:0031768	0.000100	9.208689	4.460144	ghrelin receptor binding
GO:0031731	0.000100	9.208689	2.079442	CCR6 chemokine receptor binding
GO:0031728	0.000100	9.208689	2.079442	CCR3 chemokine receptor binding
GO:0031694	0.000100	9.208689	1.575536	alpha-2A adrenergic receptor binding
GO:0031403	0.000100	9.208689	2.233592	lithium ion binding
GO:0031278	0.000100	9.208689	3.044522	alpha-1,2-galactosyltransferase activity
GO:0031078	0.000100	9.208689	2.917771	histone H3K14 deacetylase activity
GO:0031073	0.000100	9.208689	2.881069	cholesterol 26-hydroxylase activity
GO:0030775	0.000100	9.208689	4.725912	glucuronoxylan 4-O-methyltransferase activity
GO:0030755	0.000100	9.208689	4.725912	quercetin 3-O-methyltransferase activity
GO:0030735	0.000100	9.208689	4.725912	carnosine N-methyltransferase activity
GO:0030697	0.000100	9.208689	0.000000	S-adenosylmethionine-dependent tRNA (m5U54) methyltransferase activity
GO:0030409	0.000100	9.208689	2.427748	glutamate formimidoyltransferase activity
GO:0030368	0.000100	9.208689	3.361532	interleukin-17 receptor activity
GO:0030348	0.000100	9.208689	2.772589	syntaxin-3 binding
GO:0030345	0.000100	9.208689	0.405465	structural constituent of tooth enamel
GO:0030343	0.000100	9.208689	0.287682	vitamin D3 25-hydroxylase activity
GO:0030229	0.000100	9.208689	1.673976	very-low-density lipoprotein particle receptor activity
GO:0030226	0.000100	9.208689	3.264486	apolipoprotein receptor activity
GO:0030144	0.000100	9.208689	1.673976	alpha-1,6-mannosylglycoprotein 6-beta-N-acetylglucosaminyltransferase activity
GO:0022852	0.000100	9.208689	1.704748	glycine-gated chloride ion channel activity
GO:0019983	0.000100	9.208689	2.525729	interleukin-9 binding
GO:0019976	0.000100	9.208689	2.525729	interleukin-2 binding
GO:0019809	0.000100	9.208689	0.606136	spermidine binding
GO:0019776	0.000100	9.208689	5.098850	Atg8 ligase activity
GO:0019767	0.000100	9.208689	1.041454	IgE receptor activity
GO:0019158	0.000100	9.208689	2.382628	mannokinase activity
GO:0019144	0.000100	9.208689	5.284894	ADP-sugar diphosphatase activity
GO:0019120	0.000100	9.208689	0.000000	hydrolase activity, acting on acid halide bonds, in C-halide compounds
GO:0018708	0.000100	9.208689	1.252763	thiol S-methyltransferase activity
GO:0018625	0.000100	9.208689	1.203973	naphthalene 1,2-dioxygenase activity
GO:0018454	0.000100	9.208689	4.912655	acetoacetyl-CoA reductase activity
GO:0017174	0.000100	9.208689	3.998201	glycine N-methyltransferase activity
GO:0017064	0.000100	9.208689	4.214594	fatty acid amide hydrolase activity
GO:0017060	0.000100	9.208689	2.351375	3-galactosyl-N-acetylglucosaminide 4-alpha-L-fucosyltransferase activity
GO:0016862	0.000100	9.208689	3.624341	intramolecular oxidoreductase activity, interconverting keto- and enol-groups
GO:0016848	0.000100	9.208689	5.605802	carbon-halide lyase activity
GO:0016824	0.000100	9.208689	7.181338	hydrolase activity, acting on acid halide bonds
GO:0016636	0.000100	9.208689	3.957634	oxidoreductase activity, acting on the CH-CH group of donors, iron-sulfur protein as acceptor
GO:0016508	0.000100	9.208689	4.369448	long-chain-enoyl-CoA hydratase activity
GO:0016422	0.000100	9.208689	1.845827	mRNA (2'-O-methyladenosine-N6-)-methyltransferase activity
GO:0016401	0.000100	9.208689	0.980829	palmitoyl-CoA oxidase activity
GO:0016316	0.000100	9.208689	0.000000	phosphatidylinositol-3,4-bisphosphate 4-phosphatase activity
GO:0016161	0.000100	9.208689	2.120264	beta-amylase activity
GO:0015655	0.000100	9.208689	0.287682	alanine:sodium symporter activity
GO:0015650	0.000100	9.208689	0.000000	lactate:proton symporter activity
GO:0015647	0.000100	9.208689	0.154151	peptidoglycan transmembrane transporter activity
GO:0015513	0.000100	9.208689	0.154151	high-affinity secondary active nitrite transmembrane transporter activity
GO:0015467	0.000100	9.208689	2.470920	G-protein activated inward rectifier potassium channel activity
GO:0015421	0.000100	9.208689	0.000000	ABC-type oligopeptide transporter activity
GO:0015322	0.000100	9.208689	0.980829	secondary active oligopeptide transmembrane transporter activity
GO:0015230	0.000100	9.208689	2.302585	FAD transmembrane transporter activity
GO:0015195	0.000100	9.208689	2.944439	L-threonine transmembrane transporter activity
GO:0015169	0.000100	9.208689	2.397895	glycerol-3-phosphate transmembrane transporter activity
GO:0015131	0.000100	9.208689	2.319114	oxaloacetate transmembrane transporter activity
GO:0015121	0.000100	9.208689	0.000000	phosphoenolpyruvate:phosphate antiporter activity
GO:0015117	0.000100	9.208689	3.232121	thiosulfate transmembrane transporter activity
GO:0010437	0.000100	9.208689	0.916291	9,10 (9', 10')-carotenoid-cleaving dioxygenase activity
GO:0010428	0.000100	9.208689	5.857457	methyl-CpNpG binding
GO:0010331	0.000100	9.208689	0.980829	gibberellin binding
GO:0009784	0.000100	9.208689	0.000000	transmembrane receptor histidine kinase activity
GO:0009032	0.000100	9.208689	3.667826	thymidine phosphorylase activity
GO:0008977	0.000100	9.208689	3.164068	prephenate dehydrogenase (NAD+) activity
GO:0008935	0.000100	9.208689	2.552046	1,4-dihydroxy-2-naphthoyl-CoA synthase activity
GO:0008902	0.000100	9.208689	6.149892	hydroxymethylpyrimidine kinase activity
GO:0008867	0.000100	9.208689	4.369448	galactarate dehydratase activity
GO:0008863	0.000100	9.208689	3.806662	formate dehydrogenase (NAD+) activity
GO:0008841	0.000100	9.208689	3.184974	dihydrofolate synthase activity
GO:0008840	0.000100	9.208689	4.369448	4-hydroxy-tetrahydrodipicolinate synthase activity
GO:0008834	0.000100	9.208689	3.506558	di-trans,poly-cis-decaprenylcistransferase activity
GO:0008830	0.000100	9.208689	2.674149	dTDP-4-dehydrorhamnose 3,5-epimerase activity
GO:0008792	0.000100	9.208689	3.749504	arginine decarboxylase activity
GO:0008775	0.000100	9.208689	1.427116	acetate CoA-transferase activity
GO:0008758	0.000100	9.208689	5.284894	UDP-2,3-diacylglucosamine hydrolase activity
GO:0008747	0.000100	9.208689	2.552046	N-acetylneuraminate lyase activity
GO:0008716	0.000100	9.208689	3.184974	D-alanine-D-alanine ligase activity
GO:0008677	0.000100	9.208689	4.912655	2-dehydropantoate 2-reductase activity
GO:0008661	0.000100	9.208689	2.036882	1-deoxy-D-xylulose-5-phosphate synthase activity
GO:0008657	0.000100	9.208689	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) inhibitor activity
GO:0008650	0.000100	9.208689	0.000000	rRNA (uridine-2'-O-)-methyltransferase activity
GO:0008613	0.000100	9.208689	3.713572	diuretic hormone activity
GO:0008579	0.000100	9.208689	2.079442	JUN kinase phosphatase activity
GO:0008532	0.000100	9.208689	3.205453	N-acetyllactosaminide beta-1,3-N-acetylglucosaminyltransferase activity
GO:0008508	0.000100	9.208689	0.000000	bile acid:sodium symporter activity
GO:0008481	0.000100	9.208689	0.510826	sphinganine kinase activity
GO:0008460	0.000100	9.208689	4.369448	dTDP-glucose 4,6-dehydratase activity
GO:0008454	0.000100	9.208689	1.673976	alpha-1,3-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0008448	0.000100	9.208689	3.314186	N-acetylglucosamine-6-phosphate deacetylase activity
GO:0008445	0.000100	9.208689	0.693147	D-aspartate oxidase activity
GO:0008431	0.000100	9.208689	3.791737	vitamin E binding
GO:0008427	0.000100	9.208689	0.154151	calcium-dependent protein kinase inhibitor activity
GO:0008397	0.000100	9.208689	2.552046	sterol 12-alpha-hydroxylase activity
GO:0008396	0.000100	9.208689	2.552046	oxysterol 7-alpha-hydroxylase activity
GO:0008226	0.000100	9.208689	3.251666	tyramine receptor activity
GO:0008193	0.000100	9.208689	0.000000	tRNA guanylyltransferase activity
GO:0008084	0.000100	9.208689	3.569533	imaginal disc growth factor receptor binding
GO:0008011	0.000100	9.208689	1.152680	structural constituent of pupal chitin-based cuticle
GO:0005483	0.000100	9.208689	4.830977	soluble NSF attachment protein activity
GO:0005469	0.000100	9.208689	0.000000	succinate:fumarate antiporter activity
GO:0005463	0.000100	9.208689	1.969441	UDP-N-acetylgalactosamine transmembrane transporter activity
GO:0005427	0.000100	9.208689	0.000000	proton-dependent oligopeptide secondary active transmembrane transporter activity
GO:0005364	0.000100	9.208689	0.000000	maltose:proton symporter activity
GO:0005287	0.000100	9.208689	2.382628	high-affinity basic amino acid transmembrane transporter activity
GO:0005213	0.000100	9.208689	5.575949	structural constituent of egg chorion
GO:0005176	0.000100	9.208689	6.162964	ErbB-2 class receptor binding
GO:0005173	0.000100	9.208689	4.332924	stem cell factor receptor binding
GO:0005150	0.000100	9.208689	1.098612	interleukin-1, type I receptor binding
GO:0005146	0.000100	9.208689	4.332924	leukemia inhibitory factor receptor binding
GO:0005128	0.000100	9.208689	4.332924	erythropoietin receptor binding
GO:0005111	0.000100	9.208689	1.791759	type 2 fibroblast growth factor receptor binding
GO:0005052	0.000100	9.208689	1.203973	peroxisome matrix targeting signal-1 binding
GO:0004960	0.000100	9.208689	2.058388	thromboxane receptor activity
GO:0004948	0.000100	9.208689	0.847298	calcitonin receptor activity
GO:0004940	0.000100	9.208689	0.510826	beta1-adrenergic receptor activity
GO:0004932	0.000100	9.208689	0.000000	mating-type factor pheromone receptor activity
GO:0004903	0.000100	9.208689	3.361532	growth hormone receptor activity
GO:0004856	0.000100	9.208689	3.283414	xylulokinase activity
GO:0004845	0.000100	9.208689	3.667826	uracil phosphoribosyltransferase activity
GO:0004817	0.000100	9.208689	3.481240	cysteine-tRNA ligase activity
GO:0004773	0.000100	9.208689	2.159484	steryl-sulfatase activity
GO:0004760	0.000100	9.208689	3.428596	serine-pyruvate transaminase activity
GO:0004747	0.000100	9.208689	3.283414	ribokinase activity
GO:0004729	0.000100	9.208689	0.000000	oxygen-dependent protoporphyrinogen oxidase activity
GO:0004704	0.000100	9.208689	6.021832	NF-kappaB-inducing kinase activity
GO:0004699	0.000100	9.208689	1.992430	calcium-independent protein kinase C activity
GO:0004640	0.000100	9.208689	2.614960	phosphoribosylanthranilate isomerase activity
GO:0004610	0.000100	9.208689	2.427748	phosphoacetylglucosamine mutase activity
GO:0004603	0.000100	9.208689	3.998201	phenylethanolamine N-methyltransferase activity
GO:0004598	0.000100	9.208689	0.154151	peptidylamidoglycolate lyase activity
GO:0004498	0.000100	9.208689	3.624341	calcidiol 1-monooxygenase activity
GO:0004417	0.000100	9.208689	6.149892	hydroxyethylthiazole kinase activity
GO:0004413	0.000100	9.208689	0.154151	homoserine kinase activity
GO:0004401	0.000100	9.208689	5.202174	histidinol-phosphatase activity
GO:0004400	0.000100	9.208689	3.428596	histidinol-phosphate transaminase activity
GO:0004399	0.000100	9.208689	4.912655	histidinol dehydrogenase activity
GO:0004377	0.000100	9.208689	0.000000	GDP-Man:Man3GlcNAc2-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0004342	0.000100	9.208689	2.995732	glucosamine-6-phosphate deaminase activity
GO:0004341	0.000100	9.208689	4.576428	gluconolactonase activity
GO:0004334	0.000100	9.208689	1.427116	fumarylacetoacetase activity
GO:0004310	0.000100	9.208689	1.871802	farnesyl-diphosphate farnesyltransferase activity
GO:0004174	0.000100	9.208689	0.000000	electron-transferring-flavoprotein dehydrogenase activity
GO:0004160	0.000100	9.208689	4.369448	dihydroxy-acid dehydratase activity
GO:0004142	0.000100	9.208689	1.819158	diacylglycerol cholinephosphotransferase activity
GO:0004118	0.000100	9.208689	2.650892	cGMP-stimulated cyclic-nucleotide phosphodiesterase activity
GO:0004066	0.000100	9.208689	2.100061	asparagine synthase (glutamine-hydrolyzing) activity
GO:0004057	0.000100	9.208689	2.302585	arginyltransferase activity
GO:0004055	0.000100	9.208689	4.054679	argininosuccinate synthase activity
GO:0004051	0.000100	9.208689	3.251666	arachidonate 5-lipoxygenase activity
GO:0004047	0.000100	9.208689	2.427748	aminomethyltransferase activity
GO:0004027	0.000100	9.208689	3.349904	alcohol sulfotransferase activity
GO:0003998	0.000100	9.208689	5.284894	acylphosphatase activity
GO:0003986	0.000100	9.208689	2.484907	acetyl-CoA hydrolase activity
GO:0003962	0.000100	9.208689	4.559126	cystathionine gamma-synthase activity
GO:0003940	0.000100	9.208689	4.961678	L-iduronidase activity
GO:0003914	0.000100	9.208689	0.980829	DNA (6-4) photolyase activity
GO:0003882	0.000100	9.208689	1.819158	CDP-diacylglycerol-serine O-phosphatidyltransferase activity
GO:0003878	0.000100	9.208689	2.484907	ATP citrate synthase activity
GO:0003874	0.000100	9.208689	3.729701	6-pyruvoyltetrahydropterin synthase activity
GO:0003861	0.000100	9.208689	4.369448	3-isopropylmalate dehydratase activity
GO:0003856	0.000100	9.208689	3.729701	3-dehydroquinate synthase activity
GO:0003838	0.000100	9.208689	1.791759	sterol 24-C-methyltransferase activity
GO:0003829	0.000100	9.208689	1.673976	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0003726	0.000100	9.208689	1.871802	double-stranded RNA adenosine deaminase activity
GO:0002196	0.000100	9.208689	1.921813	Ser-tRNA(Ala) hydrolase activity
GO:0001883	0.000100	9.208689	0.693147	purine nucleoside binding
GO:0001791	0.000100	9.208689	2.552046	IgM binding
GO:0001641	0.000100	9.208689	0.916291	group II metabotropic glutamate receptor activity
GO:0001635	0.000100	9.208689	0.847298	calcitonin gene-related peptide receptor activity
GO:0001616	0.000100	9.208689	5.146525	growth hormone secretagogue receptor activity
GO:0001179	0.000100	9.208689	3.036554	RNA polymerase I general transcription initiation factor binding
GO:0001139	0.000100	9.208689	0.287682	RNA polymerase II complex recruiting activity
GO:0001042	0.000100	9.208689	2.639057	RNA polymerase I core binding
GO:0001018	0.000100	9.208689	6.176906	mitochondrial promoter sequence-specific DNA binding
GO:0001010	0.000100	9.208689	4.830977	RNA polymerase II sequence-specific DNA-binding transcription factor recruiting activity
GO:0000825	0.000100	9.208689	1.152680	inositol tetrakisphosphate 6-kinase activity
GO:0000824	0.000100	9.208689	1.152680	inositol tetrakisphosphate 3-kinase activity
GO:0000810	0.000100	9.208689	5.284894	diacylglycerol diphosphate phosphatase activity
GO:0000310	0.000100	9.208689	1.504077	xanthine phosphoribosyltransferase activity
GO:0000247	0.000100	9.208689	2.159484	C-8 sterol isomerase activity
GO:0000225	0.000100	9.208689	3.314186	N-acetylglucosaminylphosphatidylinositol deacetylase activity
GO:0000035	0.000100	9.208689	8.769844	acyl binding
GO:0000010	0.000100	9.208689	3.506558	trans-hexaprenyltranstransferase activity
GO:1990931	0.000083	9.391011	0.875469	mRNA N6-methyladenosine dioxygenase activity
GO:1990856	0.000083	9.391011	3.109061	methionyl-initiator methionine tRNA binding
GO:1990829	0.000083	9.391011	4.262680	C-rich single-stranded DNA binding
GO:1990760	0.000083	9.391011	0.000000	osmolarity-sensing monoatomic cation channel activity
GO:1990699	0.000083	9.391011	4.758749	palmitoleyl hydrolase activity
GO:1990525	0.000083	9.391011	5.572914	BIR domain binding
GO:1990447	0.000083	9.391011	1.916923	U2 snRNP binding
GO:1990189	0.000083	9.391011	1.856298	peptide-serine-alpha-N-acetyltransferase activity
GO:1990174	0.000083	9.391011	3.234749	phosphodiesterase decapping endonuclease activity
GO:1990042	0.000083	9.391011	5.094976	glycerol dehydrogenase [NAD(P)+] activity
GO:1905060	0.000083	9.391011	2.549445	calcium:monoatomic cation antiporter activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:1904288	0.000083	9.391011	6.283761	BAT3 complex binding
GO:1902379	0.000083	9.391011	2.360854	chemoattractant activity involved in axon guidance
GO:1901683	0.000083	9.391011	6.802395	arsenate ion transmembrane transporter activity
GO:1900750	0.000083	9.391011	4.623010	oligopeptide binding
GO:0140905	0.000083	9.391011	0.000000	haloperoxidase activity
GO:0140830	0.000083	9.391011	0.000000	L-glutamine, sodium:proton antiporter activity
GO:0140827	0.000083	9.391011	1.916923	zinc chaperone activity
GO:0140765	0.000083	9.391011	1.568616	NAD-dependent histone H3K56 deacetylase activity
GO:0140585	0.000083	9.391011	0.336472	promoter-enhancer loop anchoring activity
GO:0140575	0.000083	9.391011	6.818268	transmembrane monodehydroascorbate reductase activity
GO:0140506	0.000083	9.391011	2.890372	endoplasmic reticulum-autophagosome adaptor activity
GO:0140474	0.000083	9.391011	2.890372	mitochondrion-endoplasmic reticulum membrane tether activity
GO:0140344	0.000083	9.391011	3.210844	triglyceride transfer activity
GO:0140338	0.000083	9.391011	0.470004	sphingomyelin transfer activity
GO:0140319	0.000083	9.391011	2.721295	receptor decoy activity
GO:0140294	0.000083	9.391011	3.850148	NAD DNA ADP-ribosyltransferase activity
GO:0140293	0.000083	9.391011	3.532226	ADP-ribosylglutamate hydrolase activity
GO:0140262	0.000083	9.391011	6.283761	mRNA cap binding complex binding
GO:0140083	0.000083	9.391011	4.213608	ATP-dependent protein-DNA unloader activity
GO:0140065	0.000083	9.391011	4.346399	peptide butyryltransferase activity
GO:0140064	0.000083	9.391011	4.346399	peptide crotonyltransferase activity
GO:0140032	0.000083	9.391011	4.050044	glycosylation-dependent protein binding
GO:0120325	0.000083	9.391011	6.283761	NuRD complex binding
GO:0120242	0.000083	9.391011	0.000000	2-iminobutanoate deaminase activity
GO:0120241	0.000083	9.391011	3.178054	2-iminobutanoate/2-iminopropanoate deaminase
GO:0120160	0.000083	9.391011	6.283761	intraciliary transport particle A binding
GO:0120147	0.000083	9.391011	1.945910	formylglycine-generating oxidase activity
GO:0106361	0.000083	9.391011	3.943522	protein-arginine rhamnosyltransferase activity
GO:0106346	0.000083	9.391011	3.761200	snRNA methyltransferase activity
GO:0106344	0.000083	9.391011	7.587716	4-amino-5-hydroxymethyl-2-methylpyrimidine phosphate synthase activity from histidine and PLP
GO:0106286	0.000083	9.391011	3.502550	(E)-caffeate-CoA ligase activity
GO:0106105	0.000083	9.391011	2.104134	Ala-tRNA(Thr) hydrolase activity
GO:0103075	0.000083	9.391011	3.806662	indole-3-pyruvate monooxygenase activity
GO:0102889	0.000083	9.391011	3.912023	beta-elemene synthase activity
GO:0102391	0.000083	9.391011	0.955511	decanoate-CoA ligase activity
GO:0102058	0.000083	9.391011	4.237001	jasmonoyl-leucine synthetase activity
GO:0102057	0.000083	9.391011	4.237001	jasmonoyl-valine synthetase activity
GO:0102053	0.000083	9.391011	4.237001	(-)-jasmonoyl-isoleucine synthetase activity
GO:0099583	0.000083	9.391011	3.765840	neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0099530	0.000083	9.391011	5.328847	G protein-coupled receptor activity involved in regulation of postsynaptic membrane potential
GO:0099181	0.000083	9.391011	2.282382	structural constituent of presynapse
GO:0098973	0.000083	9.391011	0.470004	structural constituent of postsynaptic actin cytoskeleton
GO:0098808	0.000083	9.391011	0.875469	mRNA cap binding
GO:0098633	0.000083	9.391011	6.283761	collagen fibril binding
GO:0097748	0.000083	9.391011	3.387774	3'-5' RNA polymerase activity
GO:0097643	0.000083	9.391011	1.029619	amylin receptor activity
GO:0090486	0.000083	9.391011	1.722767	small RNA 2'-O-methyltransferase activity
GO:0086089	0.000083	9.391011	1.029619	voltage-gated potassium channel activity involved in atrial cardiac muscle cell action potential repolarization
GO:0080116	0.000083	9.391011	3.226844	glucuronoxylan glucuronosyltransferase activity
GO:0080103	0.000083	9.391011	5.211670	4-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080101	0.000083	9.391011	4.180522	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
GO:0080061	0.000083	9.391011	0.693147	indole-3-acetonitrile nitrilase activity
GO:0080048	0.000083	9.391011	2.104134	GDP-D-glucose phosphorylase activity
GO:0080017	0.000083	9.391011	0.587787	alpha-humulene synthase activity
GO:0080016	0.000083	9.391011	0.587787	(-)-E-beta-caryophyllene synthase activity
GO:0072590	0.000083	9.391011	4.237001	N-acetyl-L-aspartate-L-glutamate ligase activity
GO:0071913	0.000083	9.391011	0.000000	citrate secondary active transmembrane transporter activity
GO:0071618	0.000083	9.391011	2.484907	lysophosphatidylethanolamine acyltransferase activity
GO:0071567	0.000083	9.391011	3.718438	deUFMylase activity
GO:0071535	0.000083	9.391011	5.572914	RING-like zinc finger domain binding
GO:0070968	0.000083	9.391011	0.000000	pyrroloquinoline quinone binding
GO:0070774	0.000083	9.391011	0.693147	phytoceramidase activity
GO:0070737	0.000083	9.391011	1.335001	protein-glycine ligase activity, elongating
GO:0070539	0.000083	9.391011	2.028148	linoleic acid binding
GO:0070524	0.000083	9.391011	0.336472	11-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0070326	0.000083	9.391011	2.104134	very-low-density lipoprotein particle receptor binding
GO:0070290	0.000083	9.391011	3.367296	N-acylphosphatidylethanolamine-specific phospholipase D activity
GO:0070053	0.000083	9.391011	6.328651	thrombospondin receptor activity
GO:0070037	0.000083	9.391011	2.667228	rRNA (pseudouridine) methyltransferase activity
GO:0070009	0.000083	9.391011	0.182322	serine-type aminopeptidase activity
GO:0070004	0.000083	9.391011	0.788457	cysteine-type exopeptidase activity
GO:0061821	0.000083	9.391011	0.587787	telomeric D-loop binding
GO:0061786	0.000083	9.391011	0.182322	peptidoglycan stem peptide endopeptidase activity
GO:0061714	0.000083	9.391011	3.446808	folic acid receptor activity
GO:0061663	0.000083	9.391011	0.000000	NEDD8 ligase activity
GO:0060230	0.000083	9.391011	2.128232	lipoprotein lipase activator activity
GO:0052885	0.000083	9.391011	4.758749	all-trans-retinyl-ester hydrolase, 11-cis retinol forming activity
GO:0052873	0.000083	9.391011	3.109061	FMN reductase (NADPH) activity
GO:0052869	0.000083	9.391011	2.219203	arachidonic acid omega-hydroxylase activity
GO:0052858	0.000083	9.391011	4.084294	peptidyl-lysine acetyltransferase activity
GO:0052856	0.000083	9.391011	3.459466	NADHX epimerase activity
GO:0052835	0.000083	9.391011	1.791759	inositol-3,4,6-trisphosphate 1-kinase activity
GO:0052812	0.000083	9.391011	1.098612	phosphatidylinositol-3,4-bisphosphate 5-kinase activity
GO:0052810	0.000083	9.391011	2.580217	1-phosphatidylinositol-5-kinase activity
GO:0052767	0.000083	9.391011	1.887070	mannosyl-oligosaccharide 1,6-alpha-mannosidase activity
GO:0052757	0.000083	9.391011	0.000000	chondroitin hydrolase activity
GO:0052732	0.000083	9.391011	5.384495	phosphoethanolamine phosphatase activity
GO:0052730	0.000083	9.391011	4.180522	sarcosine N-methyltransferase activity
GO:0052729	0.000083	9.391011	4.180522	dimethylglycine N-methyltransferase activity
GO:0052720	0.000083	9.391011	0.000000	class II DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0052656	0.000083	9.391011	1.223775	L-isoleucine transaminase activity
GO:0052655	0.000083	9.391011	1.223775	L-valine transaminase activity
GO:0052635	0.000083	9.391011	0.788457	C-20 gibberellin 2-beta-dioxygenase activity
GO:0052592	0.000083	9.391011	2.610070	oxidoreductase activity, acting on CH or CH2 groups, with an iron-sulfur protein as acceptor
GO:0052381	0.000083	9.391011	0.587787	tRNA dimethylallyltransferase activity
GO:0051747	0.000083	9.391011	0.000000	cytosine C-5 DNA demethylase activity
GO:0051733	0.000083	9.391011	0.788457	polydeoxyribonucleotide kinase activity
GO:0051700	0.000083	9.391011	2.174752	fructosyl-amino acid oxidase activity
GO:0051670	0.000083	9.391011	5.144000	inulinase activity
GO:0051500	0.000083	9.391011	0.182322	D-tyrosyl-tRNA(Tyr) deacylase activity
GO:0051424	0.000083	9.391011	3.144152	corticotropin-releasing hormone binding
GO:0051266	0.000083	9.391011	1.386294	sirohydrochlorin ferrochelatase activity
GO:0051118	0.000083	9.391011	3.583519	glucan endo-1,3-alpha-glucosidase activity
GO:0051022	0.000083	9.391011	0.470004	Rho GDP-dissociation inhibitor binding
GO:0050816	0.000083	9.391011	2.747271	phosphothreonine residue binding
GO:0050583	0.000083	9.391011	0.000000	hydrogen dehydrogenase (NADP+) activity
GO:0050563	0.000083	9.391011	3.502550	trans-feruloyl-CoA synthase activity
GO:0050559	0.000083	9.391011	2.079442	copalyl diphosphate synthase activity
GO:0050552	0.000083	9.391011	3.632309	(4S)-limonene synthase activity
GO:0050528	0.000083	9.391011	4.758749	acyloxyacyl hydrolase activity
GO:0050508	0.000083	9.391011	3.387774	glucuronosyl-N-acetylglucosaminyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0050429	0.000083	9.391011	2.624669	calcium-dependent phospholipase C activity
GO:0050403	0.000083	9.391011	3.693867	trans-zeatin O-beta-D-glucosyltransferase activity
GO:0050380	0.000083	9.391011	5.467216	undecaprenyl-diphosphatase activity
GO:0050373	0.000083	9.391011	2.856470	UDP-arabinose 4-epimerase activity
GO:0050341	0.000083	9.391011	3.788725	thymine dioxygenase activity
GO:0050338	0.000083	9.391011	0.955511	thiosulfate dehydrogenase activity
GO:0050295	0.000083	9.391011	2.890372	steryl-beta-glucosidase activity
GO:0050286	0.000083	9.391011	5.384495	sorbitol-6-phosphatase activity
GO:0050270	0.000083	9.391011	3.063391	S-adenosylhomocysteine deaminase activity
GO:0050251	0.000083	9.391011	3.152736	retinol isomerase activity
GO:0050211	0.000083	9.391011	1.223775	procollagen galactosyltransferase activity
GO:0050138	0.000083	9.391011	1.098612	nicotinate dehydrogenase activity
GO:0050121	0.000083	9.391011	2.856470	N-acylglucosamine 2-epimerase activity
GO:0050113	0.000083	9.391011	1.609438	inositol oxygenase activity
GO:0050083	0.000083	9.391011	2.734368	malyl-CoA lyase activity
GO:0050019	0.000083	9.391011	5.094976	L-arabinitol 4-dehydrogenase activity
GO:0047939	0.000083	9.391011	5.094976	L-glucuronate reductase activity
GO:0047910	0.000083	9.391011	5.094976	galactose 1-dehydrogenase (NADP+) activity
GO:0047874	0.000083	9.391011	5.467216	dolichyldiphosphatase activity
GO:0047865	0.000083	9.391011	0.587787	dimethylglycine dehydrogenase activity
GO:0047777	0.000083	9.391011	2.734368	(S)-citramalyl-CoA lyase activity
GO:0047757	0.000083	9.391011	2.856470	chondroitin-glucuronate 5-epimerase activity
GO:0047710	0.000083	9.391011	5.467216	bis(5'-adenosyl)-triphosphatase activity
GO:0047701	0.000083	9.391011	5.144000	beta-L-arabinosidase activity
GO:0047657	0.000083	9.391011	4.807294	alpha-1,3-glucan synthase activity
GO:0047517	0.000083	9.391011	2.197225	1,4-beta-D-xylan synthase activity
GO:0047453	0.000083	9.391011	4.551769	ATP-dependent NAD(P)H-hydrate dehydratase activity
GO:0047407	0.000083	9.391011	3.532226	ADP-ribosyl-[dinitrogen reductase] hydrolase activity
GO:0047381	0.000083	9.391011	0.693147	dodecanoyl-[acyl-carrier-protein] hydrolase activity
GO:0047324	0.000083	9.391011	6.332213	phosphoenolpyruvate-glycerone phosphotransferase activity
GO:0047150	0.000083	9.391011	2.397895	betaine-homocysteine S-methyltransferase activity
GO:0047036	0.000083	9.391011	5.094976	codeinone reductase (NADPH) activity
GO:0046911	0.000083	9.391011	6.328294	metal chelating activity
GO:0046899	0.000083	9.391011	3.135494	nucleoside triphosphate adenylate kinase activity
GO:0046810	0.000083	9.391011	3.126761	host cell extracellular matrix binding
GO:0046623	0.000083	9.391011	0.000000	sphingolipid floppase activity
GO:0046573	0.000083	9.391011	4.758749	lactonohydrolase activity
GO:0046538	0.000083	9.391011	1.568616	2,3-bisphosphoglycerate-dependent phosphoglycerate mutase activity
GO:0046524	0.000083	9.391011	3.693867	sucrose-phosphate synthase activity
GO:0046316	0.000083	9.391011	6.332213	gluconokinase activity
GO:0045703	0.000083	9.391011	5.204007	ketoreductase activity
GO:0045544	0.000083	9.391011	3.788725	gibberellin 20-oxidase activity
GO:0045290	0.000083	9.391011	5.094976	D-arabinose 1-dehydrogenase [NAD(P)+] activity
GO:0045289	0.000083	9.391011	4.902307	luciferin monooxygenase activity
GO:0045156	0.000083	9.391011	4.094345	electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
GO:0045152	0.000083	9.391011	8.672760	antisigma factor binding
GO:0045142	0.000083	9.391011	7.130899	triplex DNA binding
GO:0045031	0.000083	9.391011	1.223775	G protein-coupled ATP receptor activity
GO:0045030	0.000083	9.391011	0.182322	G protein-coupled UTP receptor activity
GO:0044604	0.000083	9.391011	1.435085	ABC-type phytochelatin transporter activity
GO:0044377	0.000083	9.391011	0.336472	RNA polymerase II cis-regulatory region sequence-specific DNA binding, bending
GO:0044373	0.000083	9.391011	4.003690	cytokinin binding
GO:0044022	0.000083	9.391011	1.335001	histone H3S28 kinase activity
GO:0043994	0.000083	9.391011	2.322388	histone H3K23 acetyltransferase activity
GO:0043919	0.000083	9.391011	4.741448	agmatine aminopropyltransferase activity
GO:0043918	0.000083	9.391011	4.741448	cadaverine aminopropyltransferase activity
GO:0043906	0.000083	9.391011	2.104134	Ala-tRNA(Pro) hydrolase activity
GO:0043852	0.000083	9.391011	5.184028	monomethylamine methyltransferase activity
GO:0043682	0.000083	9.391011	0.000000	P-type divalent copper transporter activity
GO:0043404	0.000083	9.391011	4.325456	corticotropin-releasing hormone receptor activity
GO:0043398	0.000083	9.391011	5.572914	HLH domain binding
GO:0043185	0.000083	9.391011	1.791759	vascular endothelial growth factor receptor 3 binding
GO:0042978	0.000083	9.391011	0.000000	ornithine decarboxylase activator activity
GO:0042931	0.000083	9.391011	0.000000	enterobactin transmembrane transporter activity
GO:0042925	0.000083	9.391011	1.526056	benzoate transmembrane transporter activity
GO:0042654	0.000083	9.391011	5.328847	ecdysis-triggering hormone receptor activity
GO:0042610	0.000083	9.391011	6.345285	CD8 receptor binding
GO:0042296	0.000083	9.391011	5.281171	ISG15 transferase activity
GO:0042279	0.000083	9.391011	1.029619	nitrite reductase (cytochrome, ammonia-forming) activity
GO:0036524	0.000083	9.391011	0.182322	protein deglycase activity
GO:0036469	0.000083	9.391011	1.029619	L-tryptophan decarboxylase activity
GO:0036318	0.000083	9.391011	0.182322	peptide pheromone receptor activity
GO:0036222	0.000083	9.391011	2.219203	XTP diphosphatase activity
GO:0036199	0.000083	9.391011	3.806662	cholest-4-en-3-one 26-monooxygenase activity
GO:0036055	0.000083	9.391011	4.396915	protein-succinyllysine desuccinylase activity
GO:0035718	0.000083	9.391011	3.951244	macrophage migration inhibitory factor binding
GO:0035671	0.000083	9.391011	3.346389	enone reductase activity
GO:0035662	0.000083	9.391011	1.280934	Toll-like receptor 4 binding
GO:0035539	0.000083	9.391011	2.219203	8-oxo-7,8-dihydrodeoxyguanosine triphosphate pyrophosphatase activity
GO:0035529	0.000083	9.391011	1.029619	NADH pyrophosphatase activity
GO:0035379	0.000083	9.391011	6.802395	carbon dioxide transmembrane transporter activity
GO:0035237	0.000083	9.391011	3.295837	corazonin receptor activity
GO:0035226	0.000083	9.391011	6.658268	glutamate-cysteine ligase catalytic subunit binding
GO:0034988	0.000083	9.391011	0.470004	Fc-gamma receptor I complex binding
GO:0034875	0.000083	9.391011	0.875469	caffeine oxidase activity
GO:0034617	0.000083	9.391011	7.837475	tetrahydrobiopterin binding
GO:0034416	0.000083	9.391011	5.384495	bisphosphoglycerate phosphatase activity
GO:0034336	0.000083	9.391011	6.731018	misfolded RNA binding
GO:0034191	0.000083	9.391011	0.470004	apolipoprotein A-I receptor binding
GO:0034007	0.000083	9.391011	3.912023	S-linalool synthase activity
GO:0033931	0.000083	9.391011	2.844909	endogalactosaminidase activity
GO:0033878	0.000083	9.391011	4.758749	hormone-sensitive lipase activity
GO:0033829	0.000083	9.391011	3.387774	O-fucosylpeptide 3-beta-N-acetylglucosaminyltransferase activity
GO:0033819	0.000083	9.391011	0.000000	lipoyl(octanoyl) transferase activity
GO:0033799	0.000083	9.391011	2.995732	myricetin 3'-O-methyltransferase activity
GO:0033707	0.000083	9.391011	5.094976	3''-deamino-3''-oxonicotianamine reductase activity
GO:0033678	0.000083	9.391011	1.335001	5'-3' DNA/RNA helicase activity
GO:0033207	0.000083	9.391011	2.734368	beta-1,4-N-acetylgalactosaminyltransferase activity
GO:0033154	0.000083	9.391011	0.470004	ABC-type oligogalacturonide transporter activity
GO:0032896	0.000083	9.391011	2.151762	palmitoyl-CoA 9-desaturase activity
GO:0032216	0.000083	9.391011	4.036009	glucosaminyl-phosphatidylinositol O-acyltransferase activity
GO:0032090	0.000083	9.391011	5.572914	Pyrin domain binding
GO:0032051	0.000083	9.391011	3.210844	clathrin light chain binding
GO:0032033	0.000083	9.391011	0.182322	myosin II light chain binding
GO:0032028	0.000083	9.391011	2.415914	myosin head/neck binding
GO:0031893	0.000083	9.391011	4.642466	vasopressin receptor binding
GO:0031837	0.000083	9.391011	0.182322	substance K receptor binding
GO:0031835	0.000083	9.391011	0.182322	substance P receptor binding
GO:0031800	0.000083	9.391011	1.163151	type 3 metabotropic glutamate receptor binding
GO:0031750	0.000083	9.391011	1.824549	D3 dopamine receptor binding
GO:0031737	0.000083	9.391011	3.288402	CX3C chemokine receptor binding
GO:0031721	0.000083	9.391011	0.875469	hemoglobin alpha binding
GO:0031713	0.000083	9.391011	0.336472	B2 bradykinin receptor binding
GO:0031708	0.000083	9.391011	0.470004	endothelin B receptor binding
GO:0031697	0.000083	9.391011	1.757858	beta-1 adrenergic receptor binding
GO:0031634	0.000083	9.391011	6.512042	replication fork barrier binding
GO:0031544	0.000083	9.391011	1.945910	peptidyl-proline 3-dioxygenase activity
GO:0031418	0.000083	9.391011	0.182322	L-ascorbic acid binding
GO:0030744	0.000083	9.391011	4.908233	luteolin O-methyltransferase activity
GO:0030629	0.000083	9.391011	1.526056	U6 snRNA 3'-end binding
GO:0030613	0.000083	9.391011	6.818268	oxidoreductase activity, acting on phosphorus or arsenic in donors
GO:0030604	0.000083	9.391011	5.094976	1-deoxy-D-xylulose-5-phosphate reductoisomerase activity
GO:0030549	0.000083	9.391011	0.182322	acetylcholine receptor activator activity
GO:0030429	0.000083	9.391011	1.609438	kynureninase activity
GO:0030412	0.000083	9.391011	2.501436	formimidoyltetrahydrofolate cyclodeaminase activity
GO:0030305	0.000083	9.391011	5.144000	heparanase activity
GO:0030272	0.000083	9.391011	1.335001	5-formyltetrahydrofolate cyclo-ligase activity
GO:0030171	0.000083	9.391011	0.000000	voltage-gated proton channel activity
GO:0030160	0.000083	9.391011	2.379546	synaptic receptor adaptor activity
GO:0023025	0.000083	9.391011	1.757858	MHC class Ib protein complex binding
GO:0019834	0.000083	9.391011	0.693147	phospholipase A2 inhibitor activity
GO:0019779	0.000083	9.391011	2.517696	Atg8 activating enzyme activity
GO:0019154	0.000083	9.391011	5.204007	glycolate dehydrogenase activity
GO:0019150	0.000083	9.391011	3.465736	D-ribulokinase activity
GO:0019148	0.000083	9.391011	2.985682	D-cysteine desulfhydrase activity
GO:0018738	0.000083	9.391011	3.178054	S-formylglutathione hydrolase activity
GO:0018445	0.000083	9.391011	2.772589	prothoracicotrophic hormone activity
GO:0018030	0.000083	9.391011	0.875469	peptidyl-lysine N6-myristoyltransferase activity
GO:0017118	0.000083	9.391011	5.386328	lipoyltransferase activity
GO:0017099	0.000083	9.391011	1.945910	very-long-chain-acyl-CoA dehydrogenase activity
GO:0017020	0.000083	9.391011	3.471966	myosin phosphatase regulator activity
GO:0016906	0.000083	9.391011	3.693867	sterol 3-beta-glucosyltransferase activity
GO:0016905	0.000083	9.391011	3.144152	myosin heavy chain kinase activity
GO:0016843	0.000083	9.391011	3.126761	amine-lyase activity
GO:0016807	0.000083	9.391011	0.000000	cysteine-type carboxypeptidase activity
GO:0016751	0.000083	9.391011	0.000000	S-succinyltransferase activity
GO:0016699	0.000083	9.391011	0.955511	oxidoreductase activity, acting on hydrogen as donor, iron-sulfur protein as acceptor
GO:0016696	0.000083	9.391011	0.955511	oxidoreductase activity, acting on hydrogen as donor, NAD or NADP as acceptor
GO:0016688	0.000083	9.391011	4.003690	L-ascorbate peroxidase activity
GO:0016673	0.000083	9.391011	4.207673	oxidoreductase activity, acting on a sulfur group of donors, iron-sulfur protein as acceptor
GO:0016509	0.000083	9.391011	1.568616	long-chain-3-hydroxyacyl-CoA dehydrogenase activity
GO:0016432	0.000083	9.391011	0.587787	tRNA-uridine aminocarboxypropyltransferase activity
GO:0016404	0.000083	9.391011	5.094976	15-hydroxyprostaglandin dehydrogenase (NAD+) activity
GO:0016362	0.000083	9.391011	1.335001	activin receptor activity, type II
GO:0016210	0.000083	9.391011	5.386328	naringenin-chalcone synthase activity
GO:0016149	0.000083	9.391011	1.435085	translation release factor activity, codon specific
GO:0016040	0.000083	9.391011	0.336472	glutamate synthase (NADH) activity
GO:0015603	0.000083	9.391011	6.802395	iron chelate transmembrane transporter activity
GO:0015439	0.000083	9.391011	0.336472	ABC-type heme transporter activity
GO:0015424	0.000083	9.391011	0.000000	ABC-type amino acid transporter activity
GO:0015410	0.000083	9.391011	0.000000	ABC-type manganese transporter activity
GO:0015275	0.000083	9.391011	0.000000	stretch-activated, monoatomic cation-selective, calcium channel activity
GO:0015233	0.000083	9.391011	1.435085	pantothenate transmembrane transporter activity
GO:0015227	0.000083	9.391011	2.760010	acyl carnitine transmembrane transporter activity
GO:0015212	0.000083	9.391011	1.029619	cytidine transmembrane transporter activity
GO:0015150	0.000083	9.391011	3.072693	fucose transmembrane transporter activity
GO:0015128	0.000083	9.391011	0.955511	gluconate transmembrane transporter activity
GO:0015127	0.000083	9.391011	2.923162	bilirubin transmembrane transporter activity
GO:0015098	0.000083	9.391011	4.442651	molybdate ion transmembrane transporter activity
GO:0015056	0.000083	9.391011	5.328847	corticotrophin-releasing factor receptor activity
GO:0015045	0.000083	9.391011	1.568616	rubredoxin-NAD(P)+ reductase activity
GO:0015039	0.000083	9.391011	1.568616	NADPH-adrenodoxin reductase activity
GO:0010844	0.000083	9.391011	7.130899	recombination hotspot binding
GO:0010429	0.000083	9.391011	6.039778	methyl-CpNpN binding
GO:0010420	0.000083	9.391011	4.908233	3,4-dihydroxy-5-polyprenylbenzoic acid O-methyltransferase activity
GO:0010295	0.000083	9.391011	3.806662	(+)-abscisic acid 8'-hydroxylase activity
GO:0010285	0.000083	9.391011	3.610918	L,L-diaminopimelate aminotransferase activity
GO:0009973	0.000083	9.391011	4.207673	adenylyl-sulfate reductase activity
GO:0009885	0.000083	9.391011	0.000000	transmembrane histidine kinase cytokinin receptor activity
GO:0009486	0.000083	9.391011	2.501436	cytochrome bo3 ubiquinol oxidase activity
GO:0009384	0.000083	9.391011	3.465736	N-acylmannosamine kinase activity
GO:0008989	0.000083	9.391011	0.955511	rRNA (guanine-N1-)-methyltransferase activity
GO:0008982	0.000083	9.391011	1.386294	protein-N(PI)-phosphohistidine-sugar phosphotransferase activity
GO:0008979	0.000083	9.391011	0.693147	prophage integrase activity
GO:0008957	0.000083	9.391011	2.721295	phenylacetaldehyde dehydrogenase activity
GO:0008920	0.000083	9.391011	5.676754	lipopolysaccharide heptosyltransferase activity
GO:0008919	0.000083	9.391011	3.693867	lipopolysaccharide glucosyltransferase I activity
GO:0008901	0.000083	9.391011	0.000000	ferredoxin hydrogenase activity
GO:0008886	0.000083	9.391011	3.988984	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (non-phosphorylating) activity
GO:0008869	0.000083	9.391011	4.551769	galactonate dehydratase activity
GO:0008836	0.000083	9.391011	3.931826	diaminopimelate decarboxylase activity
GO:0008831	0.000083	9.391011	5.094976	dTDP-4-dehydrorhamnose reductase activity
GO:0008828	0.000083	9.391011	2.219203	dATP diphosphatase activity
GO:0008798	0.000083	9.391011	1.223775	beta-aspartyl-peptidase activity
GO:0008776	0.000083	9.391011	2.174752	acetate kinase activity
GO:0008768	0.000083	9.391011	5.467216	UDP-sugar diphosphatase activity
GO:0008753	0.000083	9.391011	2.734368	NADPH dehydrogenase (quinone) activity
GO:0008750	0.000083	9.391011	0.587787	NAD(P)+ transhydrogenase (AB-specific) activity
GO:0008718	0.000083	9.391011	3.394508	D-amino-acid dehydrogenase activity
GO:0008700	0.000083	9.391011	0.182322	4-hydroxy-2-oxoglutarate aldolase activity
GO:0008686	0.000083	9.391011	4.495355	3,4-dihydroxy-2-butanone-4-phosphate synthase activity
GO:0008663	0.000083	9.391011	3.161247	2',3'-cyclic-nucleotide 2'-phosphodiesterase activity
GO:0008531	0.000083	9.391011	6.332213	riboflavin kinase activity
GO:0008488	0.000083	9.391011	3.931826	gamma-glutamyl carboxylase activity
GO:0008482	0.000083	9.391011	1.945910	sulfite oxidase activity
GO:0008480	0.000083	9.391011	0.587787	sarcosine dehydrogenase activity
GO:0008465	0.000083	9.391011	5.094976	glycerate dehydrogenase activity
GO:0008459	0.000083	9.391011	0.788457	chondroitin 6-sulfotransferase activity
GO:0008455	0.000083	9.391011	1.856298	alpha-1,6-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0008426	0.000083	9.391011	2.844909	protein kinase C inhibitor activity
GO:0008418	0.000083	9.391011	3.346389	protein-N-terminal asparagine amidohydrolase activity
GO:0008265	0.000083	9.391011	2.624669	Mo-molybdopterin cofactor sulfurase activity
GO:0008158	0.000083	9.391011	6.053030	hedgehog receptor activity
GO:0008118	0.000083	9.391011	2.639057	N-acetyllactosaminide alpha-2,3-sialyltransferase activity
GO:0008111	0.000083	9.391011	3.459466	alpha-methylacyl-CoA racemase activity
GO:0008109	0.000083	9.391011	3.387774	N-acetyllactosaminide beta-1,6-N-acetylglucosaminyltransferase activity
GO:0005477	0.000083	9.391011	0.182322	pyruvate secondary active transmembrane transporter activity
GO:0005358	0.000083	9.391011	0.788457	high-affinity glucose:proton symporter activity
GO:0005316	0.000083	9.391011	2.219203	high-affinity inorganic phosphate:sodium symporter activity
GO:0005309	0.000083	9.391011	0.182322	creatine:sodium symporter activity
GO:0005291	0.000083	9.391011	0.000000	high-affinity L-histidine transmembrane transporter activity
GO:0005274	0.000083	9.391011	1.435085	allantoin:proton symporter activity
GO:0005174	0.000083	9.391011	2.451005	CD40 receptor binding
GO:0005157	0.000083	9.391011	4.515245	macrophage colony-stimulating factor receptor binding
GO:0005135	0.000083	9.391011	2.890372	interleukin-3 receptor binding
GO:0005118	0.000083	9.391011	6.345285	sevenless binding
GO:0005055	0.000083	9.391011	2.624669	laminin receptor activity
GO:0005046	0.000083	9.391011	0.336472	KDEL sequence binding
GO:0005026	0.000083	9.391011	1.722767	transforming growth factor beta receptor activity, type II
GO:0004999	0.000083	9.391011	5.328847	vasoactive intestinal polypeptide receptor activity
GO:0004992	0.000083	9.391011	5.328847	platelet activating factor receptor activity
GO:0004978	0.000083	9.391011	0.182322	corticotropin receptor activity
GO:0004956	0.000083	9.391011	2.128232	prostaglandin D receptor activity
GO:0004946	0.000083	9.391011	3.295837	bombesin receptor activity
GO:0004924	0.000083	9.391011	3.543854	oncostatin-M receptor activity
GO:0004920	0.000083	9.391011	3.543854	interleukin-10 receptor activity
GO:0004851	0.000083	9.391011	1.974081	uroporphyrin-III C-methyltransferase activity
GO:0004835	0.000083	9.391011	2.341806	tubulin-tyrosine ligase activity
GO:0004789	0.000083	9.391011	4.741448	thiamine-phosphate diphosphorylase activity
GO:0004780	0.000083	9.391011	1.481605	sulfate adenylyltransferase (ADP) activity
GO:0004757	0.000083	9.391011	5.094976	sepiapterin reductase activity
GO:0004737	0.000083	9.391011	3.931826	pyruvate decarboxylase activity
GO:0004677	0.000083	9.391011	5.678806	DNA-dependent protein kinase activity
GO:0004676	0.000083	9.391011	5.678806	3-phosphoinositide-dependent protein kinase activity
GO:0004648	0.000083	9.391011	3.610918	O-phospho-L-serine:2-oxoglutarate aminotransferase activity
GO:0004635	0.000083	9.391011	2.104134	phosphoribosyl-AMP cyclohydrolase activity
GO:0004621	0.000083	9.391011	2.079442	glycosylphosphatidylinositol phospholipase D activity
GO:0004608	0.000083	9.391011	4.180522	phosphatidylethanolamine N-methyltransferase activity
GO:0004607	0.000083	9.391011	4.036009	phosphatidylcholine-sterol O-acyltransferase activity
GO:0004604	0.000083	9.391011	2.708050	phosphoadenylyl-sulfate reductase (thioredoxin) activity
GO:0004592	0.000083	9.391011	3.367296	pantoate-beta-alanine ligase activity
GO:0004581	0.000083	9.391011	3.693867	dolichyl-phosphate beta-glucosyltransferase activity
GO:0004573	0.000083	9.391011	3.583519	Glc3Man9GlcNAc2 oligosaccharide glucosidase activity
GO:0004572	0.000083	9.391011	1.887070	mannosyl-oligosaccharide 1,3-1,6-alpha-mannosidase activity
GO:0004530	0.000083	9.391011	2.079442	deoxyribonuclease I activity
GO:0004506	0.000083	9.391011	3.806662	squalene monooxygenase activity
GO:0004496	0.000083	9.391011	6.332213	mevalonate kinase activity
GO:0004494	0.000083	9.391011	3.875359	methylmalonyl-CoA mutase activity
GO:0004463	0.000083	9.391011	1.945910	leukotriene-A4 hydrolase activity
GO:0004458	0.000083	9.391011	0.182322	D-lactate dehydrogenase (cytochrome) activity
GO:0004447	0.000083	9.391011	0.000000	iodide peroxidase activity
GO:0004425	0.000083	9.391011	3.931826	indole-3-glycerol-phosphate synthase activity
GO:0004408	0.000083	9.391011	0.000000	holocytochrome-c synthase activity
GO:0004397	0.000083	9.391011	2.501436	histidine ammonia-lyase activity
GO:0004394	0.000083	9.391011	1.916923	heparan sulfate 2-O-sulfotransferase activity
GO:0004371	0.000083	9.391011	6.332213	glycerone kinase activity
GO:0004361	0.000083	9.391011	1.945910	glutaryl-CoA dehydrogenase activity
GO:0004350	0.000083	9.391011	3.988984	glutamate-5-semialdehyde dehydrogenase activity
GO:0004150	0.000083	9.391011	2.985682	dihydroneopterin aldolase activity
GO:0004149	0.000083	9.391011	0.000000	dihydrolipoyllysine-residue succinyltransferase activity
GO:0004141	0.000083	9.391011	1.335001	dethiobiotin synthase activity
GO:0004131	0.000083	9.391011	3.063391	cytosine deaminase activity
GO:0004107	0.000083	9.391011	3.912023	chorismate synthase activity
GO:0004080	0.000083	9.391011	0.788457	biotin-[propionyl-CoA-carboxylase (ATP-hydrolyzing)] ligase activity
GO:0004077	0.000083	9.391011	0.788457	biotin-[acetyl-CoA-carboxylase] ligase activity
GO:0004075	0.000083	9.391011	4.237001	biotin carboxylase activity
GO:0004074	0.000083	9.391011	3.346389	biliverdin reductase (NAD(P)+) activity
GO:0004073	0.000083	9.391011	3.988984	aspartate-semialdehyde dehydrogenase activity
GO:0004063	0.000083	9.391011	5.384495	aryldialkylphosphatase activity
GO:0004043	0.000083	9.391011	3.988984	L-aminoadipate-semialdehyde dehydrogenase activity
GO:0004038	0.000083	9.391011	2.708050	allantoinase activity
GO:0004015	0.000083	9.391011	3.610918	adenosylmethionine-8-amino-7-oxononanoate transaminase activity
GO:0003935	0.000083	9.391011	1.335001	GTP cyclohydrolase II activity
GO:0003920	0.000083	9.391011	1.335001	GMP reductase activity
GO:0003905	0.000083	9.391011	2.844909	alkylbase DNA N-glycosylase activity
GO:0003868	0.000083	9.391011	3.433987	4-hydroxyphenylpyruvate dioxygenase activity
GO:0003866	0.000083	9.391011	4.741448	3-phosphoshikimate 1-carboxyvinyltransferase activity
GO:0003864	0.000083	9.391011	2.610070	3-methyl-2-oxobutanoate hydroxymethyltransferase activity
GO:0003863	0.000083	9.391011	1.722767	3-methyl-2-oxobutanoate dehydrogenase (2-methylpropanoyl-transferring) activity
GO:0003848	0.000083	9.391011	1.974081	2-amino-4-hydroxy-6-hydroxymethyldihydropteridine diphosphokinase activity
GO:0003835	0.000083	9.391011	2.639057	beta-galactoside alpha-2,6-sialyltransferase activity
GO:0003833	0.000083	9.391011	4.237001	beta-alanyl amine synthase activity
GO:0001761	0.000083	9.391011	3.387774	beta-alanine transmembrane transporter activity
GO:0001735	0.000083	9.391011	1.945910	prenylcysteine oxidase activity
GO:0001691	0.000083	9.391011	2.797281	pseudophosphatase activity
GO:0001681	0.000083	9.391011	1.098612	sialate O-acetylesterase activity
GO:0001646	0.000083	9.391011	1.223775	cAMP receptor activity
GO:0001639	0.000083	9.391011	1.335001	PLC activating G protein-coupled glutamate receptor activity
GO:0001632	0.000083	9.391011	0.875469	leukotriene B4 receptor activity
GO:0001626	0.000083	9.391011	1.163151	nociceptin receptor activity
GO:0001605	0.000083	9.391011	1.029619	adrenomedullin receptor activity
GO:0001156	0.000083	9.391011	0.470004	TFIIIC-class transcription factor complex binding
GO:0000906	0.000083	9.391011	4.741448	6,7-dimethyl-8-ribityllumazine synthase activity
GO:0000773	0.000083	9.391011	4.180522	phosphatidyl-N-methylethanolamine N-methyltransferase activity
GO:0000342	0.000083	9.391011	2.549445	RNA cap 4 binding
GO:0000334	0.000083	9.391011	3.433987	3-hydroxyanthranilate 3,4-dioxygenase activity
GO:0000298	0.000083	9.391011	5.467216	endopolyphosphatase activity
GO:0000297	0.000083	9.391011	2.151762	spermine transmembrane transporter activity
GO:0000249	0.000083	9.391011	0.788457	C-22 sterol desaturase activity
GO:0000215	0.000083	9.391011	0.182322	tRNA 2'-phosphotransferase activity
GO:0000213	0.000083	9.391011	0.000000	tRNA-intron endonuclease activity
GO:0000179	0.000083	9.391011	0.875469	rRNA (adenine-N6,N6-)-dimethyltransferase activity
GO:0000170	0.000083	9.391011	6.818268	sphingosine hydroxylase activity
GO:0000121	0.000083	9.391011	5.384495	glycerol-1-phosphatase activity
GO:0000095	0.000083	9.391011	1.648659	S-adenosyl-L-methionine transmembrane transporter activity
GO:0000031	0.000083	9.391011	5.353752	mannosylphosphate transferase activity
GO:2001066	0.000067	9.614154	6.314906	amylopectin binding
GO:1990889	0.000067	9.614154	3.465736	H4K20me3 modified histone binding
GO:1990846	0.000067	9.614154	5.258797	ribonucleoside-diphosphate reductase inhibitor activity
GO:1990838	0.000067	9.614154	3.178054	poly(U)-specific exoribonuclease activity, producing 3' uridine cyclic phosphate ends
GO:1990585	0.000067	9.614154	4.073291	hydroxyproline O-arabinosyltransferase activity
GO:1990165	0.000067	9.614154	3.286534	single-strand break-containing DNA binding
GO:1990135	0.000067	9.614154	3.755369	flavonoid sulfotransferase activity
GO:1905773	0.000067	9.614154	1.011601	8-hydroxy-2'-deoxyguanosine DNA binding
GO:1905573	0.000067	9.614154	0.693147	ganglioside GM1 binding
GO:1904929	0.000067	9.614154	0.559616	coreceptor activity involved in Wnt signaling pathway, planar cell polarity pathway
GO:1904713	0.000067	9.614154	6.506905	beta-catenin destruction complex binding
GO:1903089	0.000067	9.614154	0.223144	5-amino-1-ribofuranosylimidazole-4-carboxamide transmembrane transporter activity
GO:1902388	0.000067	9.614154	0.223144	ceramide 1-phosphate transfer activity
GO:1902121	0.000067	9.614154	0.405465	lithocholic acid binding
GO:1902098	0.000067	9.614154	0.405465	calcitriol binding
GO:0140793	0.000067	9.614154	0.000000	histone H2Y142 phosphatase activity
GO:0140792	0.000067	9.614154	0.000000	histone tyrosine phosphatase activity
GO:0140789	0.000067	9.614154	4.892227	histone phosphatase activity
GO:0140787	0.000067	9.614154	0.000000	phosphate ion uniporter activity
GO:0140768	0.000067	9.614154	2.708050	protein ADP-ribosyltransferase-substrate adaptor activity
GO:0140701	0.000067	9.614154	1.011601	3',3'-cyclic GMP-AMP synthase activity
GO:0140670	0.000067	9.614154	5.456389	cohesin unloader activity
GO:0140661	0.000067	9.614154	0.000000	cytoskeletal motor inhibitor activity
GO:0140567	0.000067	9.614154	2.224624	membrane protein dislocase activity
GO:0140487	0.000067	9.614154	2.944439	metal ion sequestering activity
GO:0140360	0.000067	9.614154	0.223144	cyclic-GMP-AMP transmembrane transporter activity
GO:0140355	0.000067	9.614154	9.175309	cargo receptor ligand activity
GO:0140351	0.000067	9.614154	0.405465	glycosylceramide flippase activity
GO:0140320	0.000067	9.614154	0.223144	PAMP receptor decoy activity
GO:0140306	0.000067	9.614154	3.442019	lipoprotein releasing activity
GO:0140211	0.000067	9.614154	0.000000	folic acid:proton symporter activity
GO:0140090	0.000067	9.614154	5.948035	membrane curvature sensor activity
GO:0140081	0.000067	9.614154	5.786130	glycosylated region protein binding
GO:0140068	0.000067	9.614154	0.223144	histone crotonyltransferase activity
GO:0120294	0.000067	9.614154	4.569543	peptide serotonyltransferase activity
GO:0120048	0.000067	9.614154	0.223144	U6 snRNA (adenine-(43)-N(6))-methyltransferase activity
GO:0110153	0.000067	9.614154	2.505526	RNA NAD-cap (NMN-forming) hydrolase activity
GO:0110050	0.000067	9.614154	4.620059	deaminated glutathione amidase activity
GO:0106417	0.000067	9.614154	2.564949	dopaminechrome tautomerase activity
GO:0106258	0.000067	9.614154	3.562466	L-serine-phosphatidylcholine phosphatidyltransferase activity
GO:0106254	0.000067	9.614154	3.267666	lipid sensor activity
GO:0106166	0.000067	9.614154	0.000000	spindle pole body-nuclear membrane anchor activity
GO:0103118	0.000067	9.614154	5.609472	UDP-3-O-(R-3-hydroxymyristoyl)-glucosamine N-acyltransferase activity
GO:0102911	0.000067	9.614154	5.318120	(-)-secoisolariciresinol dehydrogenase activity
GO:0102877	0.000067	9.614154	4.135167	alpha-copaene synthase activity
GO:0102672	0.000067	9.614154	3.657131	fatty acid alpha-oxygenase activity
GO:0102102	0.000067	9.614154	3.590439	homocarnosine synthase activity
GO:0099534	0.000067	9.614154	0.000000	calcium ion binding involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0099510	0.000067	9.614154	5.184589	calcium ion binding involved in regulation of cytosolic calcium ion concentration
GO:0099184	0.000067	9.614154	0.693147	structural constituent of postsynaptic intermediate filament cytoskeleton
GO:0099130	0.000067	9.614154	4.226834	estrogen binding
GO:0099038	0.000067	9.614154	0.223144	ceramide floppase activity
GO:0098603	0.000067	9.614154	5.407172	selenol Se-methyltransferase activity
GO:0097678	0.000067	9.614154	8.895904	SOCS family protein binding
GO:0097507	0.000067	9.614154	2.251292	hypoxanthine DNA N-glycosylase activity
GO:0097158	0.000067	9.614154	1.909543	pre-mRNA intronic pyrimidine-rich binding
GO:0090633	0.000067	9.614154	2.756840	keto-deoxynonulosonic acid (KDN) cytidylyltransferase activity
GO:0090632	0.000067	9.614154	2.756840	N-glycolylneuraminic acid (Neu5Gc) cytidylyltransferase activity
GO:0090624	0.000067	9.614154	0.000000	endoribonuclease activity, cleaving miRNA-paired mRNA
GO:0090585	0.000067	9.614154	1.386294	protein-phosphocysteine-L-ascorbate-phosphotransferase system transporter activity
GO:0090541	0.000067	9.614154	5.796058	MIT domain binding
GO:0090439	0.000067	9.614154	5.609472	tetraketide alpha-pyrone synthase activity
GO:0090416	0.000067	9.614154	3.701302	nicotinate transmembrane transporter activity
GO:0086077	0.000067	9.614154	0.405465	gap junction channel activity involved in AV node cell-bundle of His cell electrical coupling
GO:0086059	0.000067	9.614154	0.810930	voltage-gated calcium channel activity involved SA node cell action potential
GO:0086056	0.000067	9.614154	0.810930	voltage-gated calcium channel activity involved in AV node cell action potential
GO:0086038	0.000067	9.614154	2.525729	calcium:sodium antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0080139	0.000067	9.614154	1.098612	borate efflux transmembrane transporter activity
GO:0080109	0.000067	9.614154	0.559616	indole-3-acetonitrile nitrile hydratase activity
GO:0080106	0.000067	9.614154	5.434813	7-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080104	0.000067	9.614154	5.434813	5-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080102	0.000067	9.614154	5.434813	3-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080045	0.000067	9.614154	3.917011	quercetin 3'-O-glucosyltransferase activity
GO:0080007	0.000067	9.614154	0.810930	S-nitrosoglutathione reductase activity
GO:0080002	0.000067	9.614154	3.917011	UDP-glucose:4-aminobenzoate acylglucosyltransferase activity
GO:0072371	0.000067	9.614154	1.558145	histone H2AS121 kinase activity
GO:0071566	0.000067	9.614154	2.740840	UFM1 activating enzyme activity
GO:0071522	0.000067	9.614154	2.862201	ureidoglycine aminohydrolase activity
GO:0071209	0.000067	9.614154	2.944439	U7 snRNA binding
GO:0071208	0.000067	9.614154	6.954162	histone pre-mRNA DCP binding
GO:0071207	0.000067	9.614154	2.833213	histone pre-mRNA stem-loop binding
GO:0071164	0.000067	9.614154	3.984344	RNA trimethylguanosine synthase activity
GO:0070854	0.000067	9.614154	0.000000	myosin VI heavy chain binding
GO:0070699	0.000067	9.614154	0.810930	type II activin receptor binding
GO:0070698	0.000067	9.614154	0.810930	type I activin receptor binding
GO:0070674	0.000067	9.614154	1.321756	hypoxanthine dehydrogenase activity
GO:0070653	0.000067	9.614154	2.327278	high-density lipoprotein particle receptor binding
GO:0070594	0.000067	9.614154	5.476464	juvenile hormone response element binding
GO:0070506	0.000067	9.614154	2.079442	high-density lipoprotein particle receptor activity
GO:0070406	0.000067	9.614154	4.736198	glutamine binding
GO:0070337	0.000067	9.614154	1.011601	3'-flap-structured DNA binding
GO:0070191	0.000067	9.614154	2.931194	methionine-R-sulfoxide reductase activity
GO:0070186	0.000067	9.614154	4.119037	growth hormone activity
GO:0070123	0.000067	9.614154	1.945910	transforming growth factor beta receptor activity, type III
GO:0070042	0.000067	9.614154	0.000000	rRNA (uridine-N3-)-methyltransferase activity
GO:0070039	0.000067	9.614154	0.223144	rRNA (guanosine-2'-O-)-methyltransferase activity
GO:0070027	0.000067	9.614154	1.011601	carbon monoxide sensor activity
GO:0062205	0.000067	9.614154	4.135167	miltiradiene synthase activity
GO:0062189	0.000067	9.614154	0.000000	anandamide 14,15 epoxidase activity
GO:0062186	0.000067	9.614154	4.029806	anandamide epoxidase activity
GO:0062101	0.000067	9.614154	3.314186	peptidyl-aspartic acid 3-dioxygenase activity
GO:0062061	0.000067	9.614154	6.506905	TAP complex binding
GO:0061953	0.000067	9.614154	2.251292	mRNA (adenine-N1-)-methyltransferase activity
GO:0061799	0.000067	9.614154	3.526361	cyclic pyranopterin monophosphate synthase activity
GO:0061749	0.000067	9.614154	3.828641	forked DNA-dependent helicase activity
GO:0061710	0.000067	9.614154	5.119490	L-threonylcarbamoyladenylate synthase
GO:0061697	0.000067	9.614154	3.569533	protein-glutaryllysine deglutarylase activity
GO:0061675	0.000067	9.614154	8.895904	RBL family protein binding
GO:0061547	0.000067	9.614154	6.940948	glycogen synthase activity, transferring glucose-1-phosphate
GO:0061542	0.000067	9.614154	3.533687	3-demethylubiquinol-n 3-O-methyltransferase activity
GO:0061503	0.000067	9.614154	0.000000	tRNA threonylcarbamoyladenosine dehydratase
GO:0061463	0.000067	9.614154	3.917011	O-acetyl-ADP-ribose deacetylase activity
GO:0060175	0.000067	9.614154	0.223144	brain-derived neurotrophic factor receptor activity
GO:0060072	0.000067	9.614154	2.463853	large conductance calcium-activated potassium channel activity
GO:0052925	0.000067	9.614154	1.011601	dol-P-Man:Man(5)GlcNAc(2)-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0052923	0.000067	9.614154	3.912023	all-trans-nonaprenyl-diphosphate synthase (geranyl-diphosphate specific) activity
GO:0052903	0.000067	9.614154	2.397895	N1-acetylspermine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0052883	0.000067	9.614154	2.724580	tyrosine ammonia-lyase activity
GO:0052857	0.000067	9.614154	3.682610	NADPHX epimerase activity
GO:0052839	0.000067	9.614154	6.555357	inositol diphosphate tetrakisphosphate kinase activity
GO:0052836	0.000067	9.614154	6.555357	inositol 5-diphosphate pentakisphosphate 5-kinase activity
GO:0052827	0.000067	9.614154	2.847812	inositol pentakisphosphate phosphatase activity
GO:0052816	0.000067	9.614154	2.674149	long-chain acyl-CoA hydrolase activity
GO:0052815	0.000067	9.614154	2.674149	medium-chain acyl-CoA hydrolase activity
GO:0052722	0.000067	9.614154	5.125451	fatty acid in-chain hydroxylase activity
GO:0052717	0.000067	9.614154	1.178655	tRNA-specific adenosine-34 deaminase activity
GO:0052691	0.000067	9.614154	4.098503	UDP-arabinopyranose mutase activity
GO:0052665	0.000067	9.614154	0.000000	tRNA (uracil-2'-O-)-methyltransferase activity
GO:0052640	0.000067	9.614154	3.917011	salicylic acid glucosyltransferase (glucoside-forming) activity
GO:0052578	0.000067	9.614154	2.847812	alpha-farnesene synthase activity
GO:0051997	0.000067	9.614154	4.154969	2-oxo-4-hydroxy-4-carboxy-5-ureidoimidazoline decarboxylase activity
GO:0051978	0.000067	9.614154	0.000000	lysophospholipid:sodium symporter activity
GO:0051916	0.000067	9.614154	4.174387	granulocyte colony-stimulating factor binding
GO:0051800	0.000067	9.614154	0.810930	phosphatidylinositol-3,4-bisphosphate 3-phosphatase activity
GO:0051777	0.000067	9.614154	4.029806	ent-kaurenoate oxidase activity
GO:0051736	0.000067	9.614154	0.000000	polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051717	0.000067	9.614154	0.559616	inositol-1,3,4,5-tetrakisphosphate 3-phosphatase activity
GO:0051431	0.000067	9.614154	1.011601	corticotropin-releasing hormone receptor 2 binding
GO:0051373	0.000067	9.614154	6.193384	FATZ binding
GO:0051265	0.000067	9.614154	3.032546	diolein transacylation activity
GO:0051264	0.000067	9.614154	3.032546	mono-olein transacylation activity
GO:0051120	0.000067	9.614154	5.379897	hepoxilin A3 synthase activity
GO:0051063	0.000067	9.614154	1.832581	CDP reductase activity
GO:0051060	0.000067	9.614154	5.367144	pullulanase activity
GO:0051032	0.000067	9.614154	0.000000	nucleic acid transmembrane transporter activity
GO:0050825	0.000067	9.614154	9.175309	ice binding
GO:0050809	0.000067	9.614154	8.060619	diazepam binding
GO:0050797	0.000067	9.614154	1.558145	thymidylate synthase (FAD) activity
GO:0050682	0.000067	9.614154	5.796058	AF-2 domain binding
GO:0050640	0.000067	9.614154	4.569543	isopenicillin-N N-acyltransferase activity
GO:0050587	0.000067	9.614154	3.657131	chlorite O2-lyase activity
GO:0050524	0.000067	9.614154	0.916291	coenzyme-B sulfoethylthiotransferase activity
GO:0050518	0.000067	9.614154	2.756840	2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase activity
GO:0050498	0.000067	9.614154	5.434813	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with 2-oxoglutarate as one donor, and the other dehydrogenated
GO:0050437	0.000067	9.614154	4.135167	(-)-endo-fenchol synthase activity
GO:0050354	0.000067	9.614154	6.555357	triokinase activity
GO:0050353	0.000067	9.614154	4.011868	trimethyllysine dioxygenase activity
GO:0050284	0.000067	9.614154	3.917011	sinapate 1-glucosyltransferase activity
GO:0050268	0.000067	9.614154	5.318120	coniferyl-alcohol dehydrogenase activity
GO:0050262	0.000067	9.614154	6.555357	ribosylnicotinamide kinase activity
GO:0050241	0.000067	9.614154	3.332205	pyrroline-2-carboxylate reductase activity
GO:0050236	0.000067	9.614154	3.044522	pyridoxine:NADP 4-dehydrogenase activity
GO:0050213	0.000067	9.614154	3.569533	progesterone 5-alpha-reductase activity
GO:0050207	0.000067	9.614154	5.434813	plasmanylethanolamine desaturase activity
GO:0050196	0.000067	9.614154	4.892227	[phosphorylase] phosphatase activity
GO:0050178	0.000067	9.614154	0.405465	phenylpyruvate tautomerase activity
GO:0050152	0.000067	9.614154	4.620059	omega-amidase activity
GO:0050151	0.000067	9.614154	4.774913	oleate hydratase activity
GO:0050104	0.000067	9.614154	5.318120	L-gulonate 3-dehydrogenase activity
GO:0050084	0.000067	9.614154	5.607639	mannitol-1-phosphatase activity
GO:0050080	0.000067	9.614154	4.154969	malonyl-CoA decarboxylase activity
GO:0048244	0.000067	9.614154	4.011868	phytanoyl-CoA dioxygenase activity
GO:0047975	0.000067	9.614154	4.073291	guanosine phosphorylase activity
GO:0047961	0.000067	9.614154	4.569543	glycine N-acyltransferase activity
GO:0047958	0.000067	9.614154	3.834061	glycine:2-oxoglutarate aminotransferase activity
GO:0047941	0.000067	9.614154	5.318120	glucuronolactone reductase activity
GO:0047940	0.000067	9.614154	6.555357	glucuronokinase activity
GO:0047911	0.000067	9.614154	5.367144	galacturan 1,4-alpha-galacturonidase activity
GO:0047894	0.000067	9.614154	3.755369	flavonol 3-sulfotransferase activity
GO:0047879	0.000067	9.614154	5.609472	erythronolide synthase activity
GO:0047840	0.000067	9.614154	2.442347	dCTP diphosphatase activity
GO:0047822	0.000067	9.614154	4.029806	hypotaurine dehydrogenase activity
GO:0047821	0.000067	9.614154	1.098612	D-glutamate oxidase activity
GO:0047801	0.000067	9.614154	3.834061	L-cysteine transaminase activity
GO:0047747	0.000067	9.614154	3.676301	cholate-CoA ligase activity
GO:0047730	0.000067	9.614154	3.590439	carnosine synthase activity
GO:0047713	0.000067	9.614154	1.011601	galactitol 2-dehydrogenase activity
GO:0047708	0.000067	9.614154	4.620059	biotinidase activity
GO:0047693	0.000067	9.614154	2.442347	ATP diphosphatase activity
GO:0047652	0.000067	9.614154	2.862201	allantoate deiminase activity
GO:0047622	0.000067	9.614154	1.386294	adenosine nucleosidase activity
GO:0047613	0.000067	9.614154	4.154969	aconitate decarboxylase activity
GO:0047598	0.000067	9.614154	3.569533	7-dehydrocholesterol reductase activity
GO:0047589	0.000067	9.614154	3.834061	5-aminovalerate transaminase activity
GO:0047571	0.000067	9.614154	1.504077	3-oxosteroid 1-dehydrogenase activity
GO:0047558	0.000067	9.614154	4.774913	3-cyanoalanine hydratase activity
GO:0047527	0.000067	9.614154	3.590439	2,3-dihydroxybenzoate-serine ligase activity
GO:0047493	0.000067	9.614154	3.562466	ceramide cholinephosphotransferase activity
GO:0047456	0.000067	9.614154	4.774913	2-methylisocitrate dehydratase activity
GO:0047444	0.000067	9.614154	4.964591	N-acylneuraminate-9-phosphate synthase activity
GO:0047433	0.000067	9.614154	4.154969	branched-chain-2-oxoacid decarboxylase activity
GO:0047427	0.000067	9.614154	0.916291	cyanoalanine nitrilase activity
GO:0047395	0.000067	9.614154	4.460144	glycerophosphoinositol glycerophosphodiesterase activity
GO:0047390	0.000067	9.614154	4.460144	glycerophosphocholine cholinephosphodiesterase activity
GO:0047364	0.000067	9.614154	3.755369	desulfoglucosinolate sulfotransferase activity
GO:0047341	0.000067	9.614154	2.327278	fucose-1-phosphate guanylyltransferase activity
GO:0047326	0.000067	9.614154	1.558145	inositol tetrakisphosphate 5-kinase activity
GO:0047315	0.000067	9.614154	0.916291	kynurenine-glyoxylate transaminase activity
GO:0047288	0.000067	9.614154	2.862201	monosialoganglioside sialyltransferase activity
GO:0047228	0.000067	9.614154	3.917011	1,2-diacylglycerol 3-glucosyltransferase activity
GO:0047209	0.000067	9.614154	3.917011	coniferyl-alcohol glucosyltransferase activity
GO:0047192	0.000067	9.614154	3.157000	1-alkylglycerophosphocholine O-acetyltransferase activity
GO:0047130	0.000067	9.614154	0.559616	saccharopine dehydrogenase (NADP+, L-lysine-forming) activity
GO:0047100	0.000067	9.614154	2.351375	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (phosphorylating) activity
GO:0047052	0.000067	9.614154	3.188417	(S)-stylopine synthase activity
GO:0047046	0.000067	9.614154	5.318120	homoisocitrate dehydrogenase activity
GO:0047040	0.000067	9.614154	3.332205	pteridine reductase activity
GO:0046995	0.000067	9.614154	1.178655	oxidoreductase activity, acting on hydrogen as donor, with other known acceptors
GO:0046980	0.000067	9.614154	8.895904	tapasin binding
GO:0046811	0.000067	9.614154	0.223144	histone deacetylase inhibitor activity
GO:0046577	0.000067	9.614154	2.110213	long-chain-alcohol oxidase activity
GO:0046575	0.000067	9.614154	1.321756	rhamnogalacturonan acetylesterase activity
GO:0046566	0.000067	9.614154	4.639572	DOPA dioxygenase activity
GO:0046559	0.000067	9.614154	5.367144	alpha-glucuronidase activity
GO:0046558	0.000067	9.614154	5.367144	arabinan endo-1,5-alpha-L-arabinosidase activity
GO:0046539	0.000067	9.614154	4.403666	histamine N-methyltransferase activity
GO:0046429	0.000067	9.614154	0.223144	4-hydroxy-3-methylbut-2-en-1-yl diphosphate synthase activity
GO:0046404	0.000067	9.614154	0.223144	polydeoxyribonucleotide 5'-hydroxyl-kinase activity
GO:0046027	0.000067	9.614154	4.307438	phospholipid:diacylglycerol acyltransferase activity
GO:0045519	0.000067	9.614154	4.738389	interleukin-23 receptor binding
GO:0045485	0.000067	9.614154	5.434813	omega-6 fatty acid desaturase activity
GO:0044692	0.000067	9.614154	5.575002	exoribonuclease activator activity
GO:0044603	0.000067	9.614154	0.559616	protein adenylylhydrolase activity
GO:0044594	0.000067	9.614154	2.014903	17-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0044016	0.000067	9.614154	2.545531	histone H3K4 acetyltransferase activity
GO:0043924	0.000067	9.614154	2.397895	suramin binding
GO:0043890	0.000067	9.614154	2.564949	N-acetylgalactosamine-6-sulfatase activity
GO:0043799	0.000067	9.614154	0.810930	glycine oxidase activity
GO:0043726	0.000067	9.614154	5.607639	5-amino-6-(5-phosphoribitylamino)uracil phosphatase activity
GO:0043423	0.000067	9.614154	5.712081	3-phosphoinositide-dependent protein kinase binding
GO:0043364	0.000067	9.614154	7.041412	glycyl-radical enzyme activating activity
GO:0043333	0.000067	9.614154	0.000000	2-octaprenyl-6-methoxy-1,4-benzoquinone methylase activity
GO:0043183	0.000067	9.614154	2.014903	vascular endothelial growth factor receptor 1 binding
GO:0043110	0.000067	9.614154	0.000000	rDNA spacer replication fork barrier binding
GO:0042950	0.000067	9.614154	0.000000	salicin transmembrane transporter activity
GO:0042912	0.000067	9.614154	0.000000	colicin transmembrane transporter activity
GO:0042900	0.000067	9.614154	1.321756	arabinose transmembrane transporter activity
GO:0042010	0.000067	9.614154	3.766997	interleukin-15 receptor activity
GO:0042008	0.000067	9.614154	3.766997	interleukin-18 receptor activity
GO:0042007	0.000067	9.614154	4.174387	interleukin-18 binding
GO:0039552	0.000067	9.614154	6.568429	RIG-I binding
GO:0038106	0.000067	9.614154	4.226834	choriogonadotropin hormone binding
GO:0038062	0.000067	9.614154	0.000000	protein tyrosine kinase collagen receptor activity
GO:0038006	0.000067	9.614154	1.386294	netrin receptor activity involved in chemoattraction
GO:0036382	0.000067	9.614154	3.332205	flavin reductase (NADH) activity
GO:0036220	0.000067	9.614154	2.442347	ITP diphosphatase activity
GO:0036218	0.000067	9.614154	2.442347	dTTP diphosphatase activity
GO:0036139	0.000067	9.614154	3.314186	peptidyl-histidine dioxygenase activity
GO:0035851	0.000067	9.614154	5.796058	Krueppel-associated box domain binding
GO:0035798	0.000067	9.614154	0.405465	2-alkenal reductase (NADP+) activity
GO:0035731	0.000067	9.614154	9.175309	dinitrosyl-iron complex binding
GO:0035651	0.000067	9.614154	6.506905	AP-3 adaptor complex binding
GO:0035642	0.000067	9.614154	0.693147	histone H3R17 methyltransferase activity
GO:0035597	0.000067	9.614154	0.559616	N6-isopentenyladenosine methylthiotransferase activity
GO:0035478	0.000067	9.614154	2.691243	chylomicron binding
GO:0035373	0.000067	9.614154	2.014903	chondroitin sulfate proteoglycan binding
GO:0034736	0.000067	9.614154	1.178655	cholesterol O-acyltransferase activity
GO:0034611	0.000067	9.614154	0.000000	oligoribonucleotidase activity
GO:0034567	0.000067	9.614154	7.041412	chromate reductase activity
GO:0034431	0.000067	9.614154	5.690359	bis(5'-adenosyl)-hexaphosphatase activity
GO:0034257	0.000067	9.614154	2.505526	nicotinamide riboside transmembrane transporter activity
GO:0034256	0.000067	9.614154	5.318120	chlorophyll(ide) b reductase activity
GO:0034211	0.000067	9.614154	5.901950	GTP-dependent protein kinase activity
GO:0034202	0.000067	9.614154	1.446919	glycolipid floppase activity
GO:0034188	0.000067	9.614154	0.000000	apolipoprotein A-I receptor activity
GO:0034057	0.000067	9.614154	2.079442	RNA strand-exchange activity
GO:0034041	0.000067	9.614154	0.000000	ABC-type sterol transporter activity
GO:0033939	0.000067	9.614154	5.367144	xylan alpha-1,2-glucuronosidase activity
GO:0033922	0.000067	9.614154	5.367144	peptidoglycan beta-N-acetylmuramidase activity
GO:0033920	0.000067	9.614154	2.818398	6-phospho-beta-galactosidase activity
GO:0033916	0.000067	9.614154	5.367144	beta-agarase activity
GO:0033914	0.000067	9.614154	2.251292	xylan 1,3-beta-xylosidase activity
GO:0033905	0.000067	9.614154	2.251292	xylan endo-1,3-beta-xylosidase activity
GO:0033843	0.000067	9.614154	2.463853	xyloglucan 6-xylosyltransferase activity
GO:0033842	0.000067	9.614154	0.559616	N-acetyl-beta-glucosaminyl-glycoprotein 4-beta-N-acetylgalactosaminyltransferase activity
GO:0033825	0.000067	9.614154	4.166665	oligosaccharide 4-alpha-D-glucosyltransferase activity
GO:0033823	0.000067	9.614154	0.693147	procollagen glucosyltransferase activity
GO:0033815	0.000067	9.614154	5.609472	biphenyl synthase activity
GO:0033798	0.000067	9.614154	7.041412	thyroxine 5-deiodinase activity
GO:0033797	0.000067	9.614154	7.041412	selenate reductase activity
GO:0033791	0.000067	9.614154	2.833213	3alpha,7alpha,12alpha-trihydroxy-5beta-cholestanoyl-CoA 24-hydroxylase activity
GO:0033749	0.000067	9.614154	2.740840	histone H3R3 demethylase activity
GO:0033608	0.000067	9.614154	1.832581	formyl-CoA transferase activity
GO:0033328	0.000067	9.614154	1.609438	peroxisome membrane targeting sequence binding
GO:0033222	0.000067	9.614154	3.876396	xylose binding
GO:0033149	0.000067	9.614154	5.796058	FFAT motif binding
GO:0033040	0.000067	9.614154	2.833213	sour taste receptor activity
GO:0032866	0.000067	9.614154	1.945910	D-xylose:NADP reductase activity
GO:0032767	0.000067	9.614154	8.895904	copper-dependent protein binding
GO:0032567	0.000067	9.614154	0.000000	dGTP binding
GO:0032560	0.000067	9.614154	0.559616	guanyl deoxyribonucleotide binding
GO:0032556	0.000067	9.614154	0.559616	pyrimidine deoxyribonucleotide binding
GO:0032549	0.000067	9.614154	1.098612	ribonucleoside binding
GO:0032422	0.000067	9.614154	6.582371	purine-rich negative regulatory element binding
GO:0032142	0.000067	9.614154	0.693147	single guanine insertion binding
GO:0032067	0.000067	9.614154	0.693147	type IV site-specific deoxyribonuclease activity
GO:0032037	0.000067	9.614154	0.000000	myosin I heavy chain binding
GO:0031992	0.000067	9.614154	6.571583	energy transducer activity
GO:0031963	0.000067	9.614154	1.252763	nuclear cortisol receptor activity
GO:0031894	0.000067	9.614154	0.223144	V1A vasopressin receptor binding
GO:0031843	0.000067	9.614154	0.693147	type 2 neuropeptide Y receptor binding
GO:0031752	0.000067	9.614154	2.047693	D5 dopamine receptor binding
GO:0031735	0.000067	9.614154	2.484907	CCR10 chemokine receptor binding
GO:0031729	0.000067	9.614154	2.484907	CCR4 chemokine receptor binding
GO:0031714	0.000067	9.614154	4.865610	C5a anaphylatoxin chemotactic receptor binding
GO:0031707	0.000067	9.614154	0.693147	endothelin A receptor binding
GO:0031692	0.000067	9.614154	1.981001	alpha-1B adrenergic receptor binding
GO:0031687	0.000067	9.614154	0.810930	A2A adenosine receptor binding
GO:0031686	0.000067	9.614154	0.810930	A1 adenosine receptor binding
GO:0031531	0.000067	9.614154	1.504077	thyrotropin-releasing hormone receptor binding
GO:0031151	0.000067	9.614154	3.267666	histone H3K79 methyltransferase activity
GO:0030985	0.000067	9.614154	0.693147	high molecular weight kininogen binding
GO:0030975	0.000067	9.614154	0.000000	thiamine binding
GO:0030946	0.000067	9.614154	3.901973	protein tyrosine phosphatase activity, metal-dependent
GO:0030942	0.000067	9.614154	3.008155	endoplasmic reticulum signal peptide binding
GO:0030792	0.000067	9.614154	5.131377	methylarsonite methyltransferase activity
GO:0030627	0.000067	9.614154	2.833213	pre-mRNA 5'-splice site binding
GO:0030622	0.000067	9.614154	2.944439	U4atac snRNA binding
GO:0030614	0.000067	9.614154	0.223144	oxidoreductase activity, acting on phosphorus or arsenic in donors, disulfide as acceptor
GO:0030603	0.000067	9.614154	1.832581	oxaloacetase activity
GO:0030585	0.000067	9.614154	2.169054	phosphoenolpyruvate carboxykinase (diphosphate) activity
GO:0030580	0.000067	9.614154	2.197225	quinone cofactor methyltransferase activity
GO:0030519	0.000067	9.614154	4.421848	snoRNP binding
GO:0030504	0.000067	9.614154	4.781222	inorganic diphosphate transmembrane transporter activity
GO:0030266	0.000067	9.614154	5.318120	quinate 3-dehydrogenase (NAD+) activity
GO:0030156	0.000067	9.614154	6.568429	benzodiazepine receptor binding
GO:0022885	0.000067	9.614154	0.405465	bacteriocin transmembrane transporter activity
GO:0022870	0.000067	9.614154	0.000000	protein-N(PI)-phosphohistidine-mannose phosphotransferase system transporter activity
GO:0019970	0.000067	9.614154	2.931194	interleukin-11 binding
GO:0019959	0.000067	9.614154	2.197225	interleukin-8 binding
GO:0019912	0.000067	9.614154	2.545531	cyclin-dependent protein kinase activating kinase activity
GO:0019797	0.000067	9.614154	0.000000	procollagen-proline 3-dioxygenase activity
GO:0019786	0.000067	9.614154	3.941582	Atg8-specific peptidase activity
GO:0019777	0.000067	9.614154	5.504315	Atg12 transferase activity
GO:0019178	0.000067	9.614154	5.607639	NADP phosphatase activity
GO:0019170	0.000067	9.614154	5.318120	methylglyoxal reductase (NADH-dependent) activity
GO:0019152	0.000067	9.614154	5.318120	acetoin dehydrogenase activity
GO:0019146	0.000067	9.614154	3.020425	arabinose-5-phosphate isomerase activity
GO:0019135	0.000067	9.614154	0.810930	deoxyhypusine monooxygenase activity
GO:0019134	0.000067	9.614154	4.307438	glucosamine-1-phosphate N-acetyltransferase activity
GO:0019113	0.000067	9.614154	4.029806	limonene monooxygenase activity
GO:0019010	0.000067	9.614154	3.218876	farnesoic acid O-methyltransferase activity
GO:0018861	0.000067	9.614154	3.676301	4-chlorobenzoate-CoA ligase activity
GO:0018820	0.000067	9.614154	4.774913	cyanamide hydratase activity
GO:0018710	0.000067	9.614154	2.564949	acetone carboxylase activity
GO:0018636	0.000067	9.614154	4.029806	phenanthrene 9,10-monooxygenase activity
GO:0018537	0.000067	9.614154	3.907010	coenzyme F420-dependent N5,N10-methenyltetrahydromethanopterin reductase activity
GO:0018467	0.000067	9.614154	2.944439	formaldehyde dehydrogenase activity
GO:0018392	0.000067	9.614154	0.000000	glycoprotein 3-alpha-L-fucosyltransferase activity
GO:0018025	0.000067	9.614154	3.755369	calmodulin-lysine N-methyltransferase activity
GO:0017188	0.000067	9.614154	4.307438	aspartate N-acetyltransferase activity
GO:0017172	0.000067	9.614154	3.657131	cysteine dioxygenase activity
GO:0017168	0.000067	9.614154	2.931194	5-oxoprolinase (ATP-hydrolyzing) activity
GO:0017159	0.000067	9.614154	4.620059	pantetheine hydrolase activity
GO:0017125	0.000067	9.614154	5.119490	deoxycytidyl transferase activity
GO:0017098	0.000067	9.614154	6.568429	sulfonylurea receptor binding
GO:0016992	0.000067	9.614154	2.847812	lipoate synthase activity
GO:0016890	0.000067	9.614154	3.637586	site-specific endodeoxyribonuclease activity, specific for altered base
GO:0016856	0.000067	9.614154	3.682610	racemase and epimerase activity, acting on hydroxy acids and derivatives
GO:0016852	0.000067	9.614154	6.011267	sirohydrochlorin cobaltochelatase activity
GO:0016827	0.000067	9.614154	7.586804	hydrolase activity, acting on acid carbon-phosphorus bonds
GO:0016793	0.000067	9.614154	5.888185	triphosphoric monoester hydrolase activity
GO:0016785	0.000067	9.614154	7.810859	selenotransferase activity
GO:0016760	0.000067	9.614154	0.000000	cellulose synthase (UDP-forming) activity
GO:0016759	0.000067	9.614154	4.166665	cellulose synthase activity
GO:0016732	0.000067	9.614154	2.014903	oxidoreductase activity, acting on iron-sulfur proteins as donors, dinitrogen as acceptor
GO:0016727	0.000067	9.614154	2.833213	oxidoreductase activity, acting on CH or CH2 groups, oxygen as acceptor
GO:0016720	0.000067	9.614154	5.434813	delta12-fatty acid dehydrogenase activity
GO:0016519	0.000067	9.614154	5.551990	gastric inhibitory peptide receptor activity
GO:0016495	0.000067	9.614154	2.442347	C-X3-C chemokine receptor activity
GO:0016492	0.000067	9.614154	3.518980	G protein-coupled neurotensin receptor activity
GO:0016296	0.000067	9.614154	0.916291	palmitoyl-[acyl-carrier-protein] hydrolase activity
GO:0016295	0.000067	9.614154	0.916291	myristoyl-[acyl-carrier-protein] hydrolase activity
GO:0016263	0.000067	9.614154	0.000000	glycoprotein-N-acetylgalactosamine 3-beta-galactosyltransferase activity
GO:0016216	0.000067	9.614154	0.559616	isopenicillin-N synthase activity
GO:0016163	0.000067	9.614154	0.000000	nitrogenase activity
GO:0016158	0.000067	9.614154	5.607639	3-phytase activity
GO:0016156	0.000067	9.614154	3.569533	fumarate reductase (NADH) activity
GO:0016084	0.000067	9.614154	4.119037	myostimulatory hormone activity
GO:0016034	0.000067	9.614154	3.375880	maleylacetoacetate isomerase activity
GO:0016005	0.000067	9.614154	2.277267	phospholipase A2 activator activity
GO:0015657	0.000067	9.614154	0.000000	branched-chain amino acid:sodium symporter activity
GO:0015636	0.000067	9.614154	1.504077	short-chain fatty acid transmembrane transporter activity
GO:0015592	0.000067	9.614154	4.020877	methylgalactoside transmembrane transporter activity
GO:0015591	0.000067	9.614154	1.321756	D-ribose transmembrane transporter activity
GO:0015573	0.000067	9.614154	1.252763	beta-glucoside transmembrane transporter activity
GO:0015565	0.000067	9.614154	0.000000	threonine efflux transmembrane transporter activity
GO:0015517	0.000067	9.614154	0.223144	galactose:proton symporter activity
GO:0015506	0.000067	9.614154	0.000000	nucleoside:proton symporter activity
GO:0015505	0.000067	9.614154	0.000000	uracil:monoatomic cation symporter activity
GO:0015423	0.000067	9.614154	0.000000	ABC-type maltose transporter activity
GO:0015417	0.000067	9.614154	0.000000	ABC-type polyamine transporter activity
GO:0015398	0.000067	9.614154	0.810930	high-affinity secondary active ammonium transmembrane transporter activity
GO:0015389	0.000067	9.614154	0.000000	pyrimidine- and adenine-specific:sodium symporter activity
GO:0015367	0.000067	9.614154	0.000000	oxoglutarate:malate antiporter activity
GO:0015366	0.000067	9.614154	0.000000	malate:proton symporter activity
GO:0015362	0.000067	9.614154	1.011601	high-affinity sodium:dicarboxylate symporter activity
GO:0015218	0.000067	9.614154	2.917771	pyrimidine nucleotide transmembrane transporter activity
GO:0015159	0.000067	9.614154	0.000000	polysaccharide transmembrane transporter activity
GO:0015148	0.000067	9.614154	1.321756	D-xylose transmembrane transporter activity
GO:0015126	0.000067	9.614154	2.197225	canalicular bile acid transmembrane transporter activity
GO:0015113	0.000067	9.614154	4.781222	nitrite transmembrane transporter activity
GO:0015094	0.000067	9.614154	6.426488	lead ion transmembrane transporter activity
GO:0015055	0.000067	9.614154	5.551990	secretin receptor activity
GO:0010461	0.000067	9.614154	5.897154	light-activated monoatomic ion channel activity
GO:0010313	0.000067	9.614154	8.895904	phytochrome binding
GO:0010294	0.000067	9.614154	3.917011	abscisic acid glucosyltransferase activity
GO:0010280	0.000067	9.614154	7.810859	UDP-L-rhamnose synthase activity
GO:0010276	0.000067	9.614154	6.678028	phytol kinase activity
GO:0010178	0.000067	9.614154	5.216294	IAA-amino acid conjugate hydrolase activity
GO:0009670	0.000067	9.614154	0.223144	triose-phosphate:phosphate antiporter activity
GO:0009037	0.000067	9.614154	0.916291	tyrosine-based site-specific recombinase activity
GO:0008999	0.000067	9.614154	2.079442	peptide-alanine-alpha-N-acetyltransferase activity
GO:0008987	0.000067	9.614154	4.964591	quinolinate synthetase A activity
GO:0008973	0.000067	9.614154	2.833213	phosphopentomutase activity
GO:0008966	0.000067	9.614154	2.833213	phosphoglucosamine mutase activity
GO:0008963	0.000067	9.614154	3.562466	phospho-N-acetylmuramoyl-pentapeptide-transferase activity
GO:0008946	0.000067	9.614154	5.276838	oligonucleotidase activity
GO:0008938	0.000067	9.614154	4.403666	nicotinate N-methyltransferase activity
GO:0008930	0.000067	9.614154	1.386294	methylthioadenosine nucleosidase activity
GO:0008929	0.000067	9.614154	4.135167	methylglyoxal synthase activity
GO:0008928	0.000067	9.614154	2.327278	mannose-1-phosphate guanylyltransferase (GDP) activity
GO:0008926	0.000067	9.614154	5.318120	mannitol-1-phosphate 5-dehydrogenase activity
GO:0008923	0.000067	9.614154	4.154969	lysine decarboxylase activity
GO:0008922	0.000067	9.614154	3.208825	long-chain fatty acid [acyl-carrier-protein] ligase activity
GO:0008921	0.000067	9.614154	2.862201	lipopolysaccharide-1,6-galactosyltransferase activity
GO:0008906	0.000067	9.614154	6.555357	inosine kinase activity
GO:0008890	0.000067	9.614154	1.749200	glycine C-acetyltransferase activity
GO:0008888	0.000067	9.614154	0.223144	glycerol dehydrogenase [NAD+] activity
GO:0008887	0.000067	9.614154	6.555357	glycerate kinase activity
GO:0008883	0.000067	9.614154	0.000000	glutamyl-tRNA reductase activity
GO:0008882	0.000067	9.614154	3.637586	[glutamate-ammonia-ligase] adenylyltransferase activity
GO:0008877	0.000067	9.614154	2.818398	glucose-1-phosphatase activity
GO:0008875	0.000067	9.614154	5.318120	gluconate dehydrogenase activity
GO:0008854	0.000067	9.614154	2.917771	exodeoxyribonuclease V activity
GO:0008839	0.000067	9.614154	3.569533	4-hydroxy-tetrahydrodipicolinate reductase
GO:0008832	0.000067	9.614154	0.000000	dGTPase activity
GO:0008824	0.000067	9.614154	3.349904	cyanate hydratase activity
GO:0008812	0.000067	9.614154	5.427150	choline dehydrogenase activity
GO:0008801	0.000067	9.614154	2.833213	beta-phosphoglucomutase activity
GO:0008794	0.000067	9.614154	0.000000	arsenate reductase (glutaredoxin) activity
GO:0008785	0.000067	9.614154	3.068053	alkyl hydroperoxide reductase activity
GO:0008767	0.000067	9.614154	4.098503	UDP-galactopyranose mutase activity
GO:0008763	0.000067	9.614154	3.590439	UDP-N-acetylmuramate-L-alanine ligase activity
GO:0008742	0.000067	9.614154	3.079614	L-ribulose-phosphate 4-epimerase activity
GO:0008710	0.000067	9.614154	5.609472	8-amino-7-oxononanoate synthase activity
GO:0008703	0.000067	9.614154	5.318120	5-amino-6-(5-phosphoribosylamino)uracil reductase activity
GO:0008696	0.000067	9.614154	2.957511	4-amino-4-deoxychorismate lyase activity
GO:0008676	0.000067	9.614154	4.964591	3-deoxy-8-phosphooctulonate synthase activity
GO:0008607	0.000067	9.614154	4.471639	phosphorylase kinase regulator activity
GO:0008518	0.000067	9.614154	0.000000	folate:monoatomic anion antiporter activity
GO:0008458	0.000067	9.614154	0.000000	carnitine O-octanoyltransferase activity
GO:0008447	0.000067	9.614154	2.803360	L-ascorbate oxidase activity
GO:0008442	0.000067	9.614154	5.318120	3-hydroxyisobutyrate dehydrogenase activity
GO:0008425	0.000067	9.614154	0.000000	2-polyprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0008412	0.000067	9.614154	1.321756	4-hydroxybenzoate octaprenyltransferase activity
GO:0008403	0.000067	9.614154	0.405465	25-hydroxycholecalciferol-24-hydroxylase activity
GO:0008390	0.000067	9.614154	2.957511	testosterone 16-alpha-hydroxylase activity
GO:0008336	0.000067	9.614154	4.011868	gamma-butyrobetaine dioxygenase activity
GO:0008254	0.000067	9.614154	2.724580	3'-nucleotidase activity
GO:0008176	0.000067	9.614154	2.110213	tRNA (guanine-N7-)-methyltransferase activity
GO:0008123	0.000067	9.614154	1.178655	cholesterol 7-alpha-monooxygenase activity
GO:0008116	0.000067	9.614154	4.029806	prostaglandin-I synthase activity
GO:0008114	0.000067	9.614154	5.318120	phosphogluconate 2-dehydrogenase activity
GO:0005461	0.000067	9.614154	2.374906	UDP-glucuronic acid transmembrane transporter activity
GO:0005456	0.000067	9.614154	1.909543	CMP-N-acetylneuraminate transmembrane transporter activity
GO:0005367	0.000067	9.614154	0.000000	myo-inositol:sodium symporter activity
GO:0005294	0.000067	9.614154	2.602690	neutral L-amino acid secondary active transmembrane transporter activity
GO:0005183	0.000067	9.614154	4.119037	gonadotropin hormone-releasing hormone activity
GO:0005163	0.000067	9.614154	0.000000	nerve growth factor receptor binding
GO:0005153	0.000067	9.614154	1.321756	interleukin-8 receptor binding
GO:0005137	0.000067	9.614154	3.113515	interleukin-5 receptor binding
GO:0005136	0.000067	9.614154	3.113515	interleukin-4 receptor binding
GO:0005130	0.000067	9.614154	3.113515	granulocyte colony-stimulating factor receptor binding
GO:0005122	0.000067	9.614154	6.568429	torso binding
GO:0005018	0.000067	9.614154	0.693147	platelet-derived growth factor alpha-receptor activity
GO:0005011	0.000067	9.614154	3.650658	macrophage colony-stimulating factor receptor activity
GO:0005008	0.000067	9.614154	3.650658	hepatocyte growth factor receptor activity
GO:0004997	0.000067	9.614154	5.551990	thyrotropin-releasing hormone receptor activity
GO:0004961	0.000067	9.614154	0.405465	thromboxane A2 receptor activity
GO:0004951	0.000067	9.614154	4.451436	cholecystokinin receptor activity
GO:0004941	0.000067	9.614154	0.916291	beta2-adrenergic receptor activity
GO:0004925	0.000067	9.614154	3.766997	prolactin receptor activity
GO:0004923	0.000067	9.614154	0.693147	leukemia inhibitory factor receptor activity
GO:0004921	0.000067	9.614154	3.766997	interleukin-11 receptor activity
GO:0004918	0.000067	9.614154	1.011601	interleukin-8 receptor activity
GO:0004915	0.000067	9.614154	3.766997	interleukin-6 receptor activity
GO:0004900	0.000067	9.614154	3.766997	erythropoietin receptor activity
GO:0004878	0.000067	9.614154	0.223144	complement component C5a receptor activity
GO:0004876	0.000067	9.614154	0.916291	complement component C3a receptor activity
GO:0004873	0.000067	9.614154	3.669951	asialoglycoprotein receptor activity
GO:0004855	0.000067	9.614154	0.000000	xanthine oxidase activity
GO:0004796	0.000067	9.614154	4.029806	thromboxane-A synthase activity
GO:0004795	0.000067	9.614154	4.135167	threonine synthase activity
GO:0004727	0.000067	9.614154	3.901973	prenylated protein tyrosine phosphatase activity
GO:0004636	0.000067	9.614154	5.690359	phosphoribosyl-ATP diphosphatase activity
GO:0004612	0.000067	9.614154	2.169054	phosphoenolpyruvate carboxykinase (ATP) activity
GO:0004583	0.000067	9.614154	4.166665	dolichyl-phosphate-glucose-glycolipid alpha-glucosyltransferase activity
GO:0004561	0.000067	9.614154	3.068053	alpha-N-acetylglucosaminidase activity
GO:0004509	0.000067	9.614154	2.957511	steroid 21-monooxygenase activity
GO:0004500	0.000067	9.614154	1.321756	dopamine beta-monooxygenase activity
GO:0004491	0.000067	9.614154	4.212128	methylmalonate-semialdehyde dehydrogenase (acylating) activity
GO:0004490	0.000067	9.614154	4.774913	methylglutaconyl-CoA hydratase activity
GO:0004461	0.000067	9.614154	2.862201	lactose synthase activity
GO:0004455	0.000067	9.614154	5.318120	ketol-acid reductoisomerase activity
GO:0004454	0.000067	9.614154	3.688879	ketohexokinase activity
GO:0004395	0.000067	9.614154	0.223144	hexaprenyldihydroxybenzoate methyltransferase activity
GO:0004380	0.000067	9.614154	0.559616	glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase activity
GO:0004168	0.000067	9.614154	6.555357	dolichol kinase activity
GO:0004164	0.000067	9.614154	5.131377	diphthine synthase activity
GO:0004139	0.000067	9.614154	3.208825	deoxyribose-phosphate aldolase activity
GO:0004130	0.000067	9.614154	4.226834	cytochrome-c peroxidase activity
GO:0004085	0.000067	9.614154	2.169054	butyryl-CoA dehydrogenase activity
GO:0004082	0.000067	9.614154	2.833213	bisphosphoglycerate mutase activity
GO:0004076	0.000067	9.614154	2.847812	biotin synthase activity
GO:0004048	0.000067	9.614154	4.073291	anthranilate phosphoribosyltransferase activity
GO:0004039	0.000067	9.614154	4.620059	allophanate hydrolase activity
GO:0004037	0.000067	9.614154	2.862201	allantoicase activity
GO:0004034	0.000067	9.614154	3.079614	aldose 1-epimerase activity
GO:0004026	0.000067	9.614154	0.405465	alcohol O-acetyltransferase activity
GO:0003991	0.000067	9.614154	2.397895	acetylglutamate kinase activity
GO:0003974	0.000067	9.614154	3.079614	UDP-N-acetylglucosamine 4-epimerase activity
GO:0003961	0.000067	9.614154	4.964591	O-acetylhomoserine aminocarboxypropyltransferase activity
GO:0003952	0.000067	9.614154	2.505526	NAD+ synthase (glutamine-hydrolyzing) activity
GO:0003949	0.000067	9.614154	3.020425	1-(5-phosphoribosyl)-5-[(5-phosphoribosylamino)methylideneamino]imidazole-4-carboxamide isomerase activity
GO:0003948	0.000067	9.614154	4.620059	N4-(beta-N-acetylglucosaminyl)-L-asparaginase activity
GO:0003947	0.000067	9.614154	2.957511	(N-acetylneuraminyl)-galactosylglucosylceramide N-acetylgalactosaminyltransferase activity
GO:0003945	0.000067	9.614154	2.862201	N-acetyllactosamine synthase activity
GO:0003942	0.000067	9.614154	4.212128	N-acetyl-gamma-glutamyl-phosphate reductase activity
GO:0003921	0.000067	9.614154	0.810930	GMP synthase activity
GO:0003911	0.000067	9.614154	1.871802	DNA ligase (NAD+) activity
GO:0003885	0.000067	9.614154	2.110213	D-arabinono-1,4-lactone oxidase activity
GO:0003875	0.000067	9.614154	3.755369	ADP-ribosylarginine hydrolase activity
GO:0003860	0.000067	9.614154	2.890372	3-hydroxyisobutyryl-CoA hydrolase activity
GO:0003850	0.000067	9.614154	2.818398	2-deoxyglucose-6-phosphatase activity
GO:0003786	0.000067	9.614154	4.590057	actin lateral binding
GO:0003693	0.000067	9.614154	6.735186	P-element binding
GO:0002951	0.000067	9.614154	1.981001	leukotriene-C(4) hydrolase
GO:0001888	0.000067	9.614154	3.610918	glucuronyl-galactosyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0001873	0.000067	9.614154	2.374906	polysaccharide immune receptor activity
GO:0001856	0.000067	9.614154	2.639057	complement component C5a binding
GO:0001587	0.000067	9.614154	2.374906	Gq/11-coupled serotonin receptor activity
GO:0001165	0.000067	9.614154	1.609438	RNA polymerase I cis-regulatory region sequence-specific DNA binding
GO:0001147	0.000067	9.614154	6.582371	transcription termination site sequence-specific DNA binding
GO:0001096	0.000067	9.614154	2.302585	TFIIF-class transcription factor complex binding
GO:0001073	0.000067	9.614154	6.853563	transcription antitermination factor activity, DNA binding
GO:0000701	0.000067	9.614154	1.098612	purine-specific mismatch base pair DNA N-glycosylase activity
GO:0000406	0.000067	9.614154	3.198673	double-strand/single-strand DNA junction binding
GO:0000341	0.000067	9.614154	2.772589	RNA trimethylguanosine cap binding
GO:0000252	0.000067	9.614154	5.318120	C-3 sterol dehydrogenase (C-4 sterol decarboxylase) activity
GO:0000246	0.000067	9.614154	3.569533	delta24(24-1) sterol reductase activity
GO:0000234	0.000067	9.614154	4.403666	phosphoethanolamine N-methyltransferase activity
GO:0000140	0.000067	9.614154	5.318120	acylglycerone-phosphate reductase activity
GO:0000107	0.000067	9.614154	4.073291	imidazoleglycerol-phosphate synthase activity
GO:0000016	0.000067	9.614154	5.367144	lactase activity
GO:0000006	0.000067	9.614154	3.056357	high-affinity zinc transmembrane transporter activity
GO:2001227	0.000050	9.901836	0.000000	quercitrin binding
GO:2001147	0.000050	9.901836	3.850148	camalexin binding
GO:2001071	0.000050	9.901836	2.813411	maltoheptaose binding
GO:1990984	0.000050	9.901836	0.000000	tRNA demethylase activity
GO:1990955	0.000050	9.901836	4.773506	G-rich single-stranded DNA binding
GO:1990883	0.000050	9.901836	4.595120	rRNA cytidine N-acetyltransferase activity
GO:1990827	0.000050	9.901836	7.169093	deaminase binding
GO:1990808	0.000050	9.901836	6.083740	F-bar domain binding
GO:1990749	0.000050	9.901836	5.862684	polynucleotide adenylyltransferase activator activity
GO:1990698	0.000050	9.901836	5.897154	palmitoleoyltransferase activity
GO:1990644	0.000050	9.901836	5.524124	microtubule site clamp
GO:1990631	0.000050	9.901836	6.856111	ErbB-4 class receptor binding
GO:1990606	0.000050	9.901836	0.000000	membrane scission GTPase motor activity
GO:1990593	0.000050	9.901836	6.794587	nascent polypeptide-associated complex binding
GO:1990521	0.000050	9.901836	5.862684	m7G(5')pppN diphosphatase activator activity
GO:1990448	0.000050	9.901836	6.794587	exon-exon junction complex binding
GO:1990409	0.000050	9.901836	1.203973	adrenomedullin binding
GO:1990400	0.000050	9.901836	2.197225	mitochondrial ribosomal large subunit rRNA binding
GO:1990259	0.000050	9.901836	0.287682	histone glutamine N-methyltransferase activity
GO:1990175	0.000050	9.901836	6.083740	EH domain binding
GO:1990137	0.000050	9.901836	4.532599	plant seed peroxidase activity
GO:1990081	0.000050	9.901836	1.673976	trimethylamine receptor activity
GO:1990080	0.000050	9.901836	3.944813	2-phenylethylamine receptor activity
GO:1990002	0.000050	9.901836	5.605802	methylglyoxal reductase (NADPH-dependent, acetol producing)
GO:1905761	0.000050	9.901836	6.794587	SCF ubiquitin ligase complex binding
GO:1905334	0.000050	9.901836	6.794587	Swi5-Sfr1 complex binding
GO:1905201	0.000050	9.901836	2.995732	gibberellin transmembrane transporter activity
GO:1905108	0.000050	9.901836	0.000000	guanosine binding
GO:1903794	0.000050	9.901836	0.287682	cortisol binding
GO:1903231	0.000050	9.901836	2.908721	mRNA base-pairing translational repressor activity
GO:1902670	0.000050	9.901836	9.462991	carbon dioxide binding
GO:1902417	0.000050	9.901836	1.540445	(+)-abscisic acid D-glucopyranosyl ester transmembrane transporter activity
GO:1902387	0.000050	9.901836	0.693147	ceramide 1-phosphate binding
GO:1902122	0.000050	9.901836	0.693147	chenodeoxycholic acid binding
GO:1901973	0.000050	9.901836	3.060271	proline binding
GO:1901480	0.000050	9.901836	0.980829	oleate transmembrane transporter activity
GO:1901359	0.000050	9.901836	6.857514	tungstate binding
GO:1901239	0.000050	9.901836	3.012262	malonate(1-) transmembrane transporter activity
GO:0160010	0.000050	9.901836	4.907741	protein de-2-hydroxyisobutyrylase activity
GO:0160004	0.000050	9.901836	0.693147	poly-ADP-D-ribose modification-dependent protein binding
GO:0150047	0.000050	9.901836	2.484907	G protein-coupled neurotransmitter receptor activity involved in regulation of presynaptic membrane potential
GO:0150043	0.000050	9.901836	3.646320	structural constituent of synapse-associated extracellular matrix
GO:0140930	0.000050	9.901836	0.000000	fructose:sodium symporter activity
GO:0140929	0.000050	9.901836	0.000000	mannose:sodium symporter activity
GO:0140902	0.000050	9.901836	0.287682	L-glutamine:sodium symporter activity
GO:0140893	0.000050	9.901836	3.091042	neutral amino acid, sodium:proton antiporter activity
GO:0140850	0.000050	9.901836	0.693147	histone H2B C-terminal K residue ubiquitin ligase activity
GO:0140849	0.000050	9.901836	0.693147	ATP-dependent H2AZ histone chaperone activity
GO:0140832	0.000050	9.901836	0.000000	L-histidine, sodium:proton antiporter activity
GO:0140831	0.000050	9.901836	0.000000	L-asparagine, sodium:proton antiporter activity
GO:0140805	0.000050	9.901836	2.538974	NAD+-protein-serine ADP-ribosyltransferase activity
GO:0140804	0.000050	9.901836	2.538974	NAD+- protein-lysine ADP-ribosyltransferase activity
GO:0140803	0.000050	9.901836	2.538974	NAD+- protein-cysteine ADP-ribosyltransferase activity
GO:0140800	0.000050	9.901836	0.000000	gamma-aminobutyric acid:proton antiporter activity
GO:0140798	0.000050	9.901836	0.000000	histone H3R26 arginine deiminase activity
GO:0140794	0.000050	9.901836	1.734601	histone arginine deiminase activity
GO:0140774	0.000050	9.901836	5.897154	NAD-dependent protein depalmitoylase activity
GO:0140773	0.000050	9.901836	5.897154	NAD-dependent protein demyristoylase activity
GO:0140757	0.000050	9.901836	1.299283	cysteine-type deNEDDylase activity
GO:0140749	0.000050	9.901836	5.654826	phlorizin hydrolase activity
GO:0140707	0.000050	9.901836	3.401197	chromatin-nuclear membrane anchor activity
GO:0140704	0.000050	9.901836	6.857514	3',2'-cyclic GMP-AMP binding
GO:0140700	0.000050	9.901836	1.299283	3',2'-cyclic GMP-AMP synthase activity
GO:0140656	0.000050	9.901836	5.862684	endodeoxyribonuclease activator activity
GO:0140610	0.000050	9.901836	3.232121	RNA sequestering activity
GO:0140608	0.000050	9.901836	1.992430	cysteine-type endopeptidase activator activity
GO:0140581	0.000050	9.901836	0.847298	P-type monovalent copper transporter activity
GO:0140560	0.000050	9.901836	2.512306	xylosyl alpha-1,3-xylosyltransferase activity
GO:0140536	0.000050	9.901836	4.795791	nuclear receptor corepressor activity
GO:0140522	0.000050	9.901836	9.901836	fusogenic activity
GO:0140496	0.000050	9.901836	6.794587	gamma-tubulin complex binding
GO:0140473	0.000050	9.901836	3.401197	telomere-nuclear envelope anchor activity
GO:0140431	0.000050	9.901836	3.574217	DNA-(abasic site) binding
GO:0140412	0.000050	9.901836	0.000000	zinc:bicarbonate symporter activity
GO:0140347	0.000050	9.901836	2.159484	N-retinylidene-phosphatidylethanolamine flippase activity
GO:0140343	0.000050	9.901836	3.721669	phosphatidylserine transfer activity
GO:0140292	0.000050	9.901836	4.043051	ADP-ribosylserine hydrolase activity
GO:0140282	0.000050	9.901836	2.793208	carbon-nitrogen ligase activity on lipid II
GO:0140260	0.000050	9.901836	6.794587	mitochondrial proton-transporting ATP synthase complex binding
GO:0140132	0.000050	9.901836	4.285883	iron-sulfur cluster carrier activity
GO:0140107	0.000050	9.901836	5.095793	high-affinity potassium ion transmembrane transporter activity
GO:0140082	0.000050	9.901836	2.120264	SUMO-ubiquitin ligase activity
GO:0140037	0.000050	9.901836	2.036882	sumo-dependent protein binding
GO:0120299	0.000050	9.901836	4.857225	peptide histaminyltransferase activity
GO:0120296	0.000050	9.901836	4.857225	peptide dopaminyltransferase activity
GO:0120230	0.000050	9.901836	5.862684	recombinase activator activity
GO:0120153	0.000050	9.901836	5.103923	calcium-dependent carbohydrate binding
GO:0110152	0.000050	9.901836	2.793208	RNA NAD-cap (NAD-forming) hydrolase activity
GO:0106388	0.000050	9.901836	0.000000	18S rRNA aminocarboxypropyltransferase activity
GO:0106370	0.000050	9.901836	4.360973	protein-L-histidine N-pros-methyltransferase activity
GO:0106360	0.000050	9.901836	0.000000	2-hydroxy-3-methylhexadecanoyl-CoA lyase activity
GO:0106359	0.000050	9.901836	3.496508	2-hydroxyacyl-CoA lyase activity
GO:0106341	0.000050	9.901836	5.897154	omega-hydroxyceramide transacylase activity
GO:0106339	0.000050	9.901836	1.098612	tRNA (cytidine 32-2'-O)-methyltransferase activity
GO:0106309	0.000050	9.901836	0.287682	progesterone 21-hydroxylase activity
GO:0106276	0.000050	9.901836	0.510826	biliberdin reductase NAD+ activity
GO:0106239	0.000050	9.901836	4.422849	9,13-epoxylabda-14-ene synthase activity
GO:0106238	0.000050	9.901836	5.062595	peregrinol diphosphate synthase activity
GO:0106231	0.000050	9.901836	4.857225	protein-propionyllysine depropionylase activity
GO:0106219	0.000050	9.901836	0.000000	zinc ion sensor activity
GO:0106177	0.000050	9.901836	5.983936	cyclic-GMP-AMP hydrolase activity
GO:0106137	0.000050	9.901836	6.794587	IkappaB kinase complex binding
GO:0106073	0.000050	9.901836	4.454347	dolichyl pyrophosphate Glc2Man9GlcNAc2 alpha-1,2-glucosyltransferase activity
GO:0106054	0.000050	9.901836	0.510826	tRNA U34 sulfurtransferase activity
GO:0103069	0.000050	9.901836	0.287682	17-hydroxyprogesterone 21-hydroxylase activity
GO:0103064	0.000050	9.901836	3.776585	inositol phosphorylceramide mannosyltransferase activity
GO:0103012	0.000050	9.901836	0.510826	ferredoxin-thioredoxin reductase activity
GO:0102998	0.000050	9.901836	5.269575	4-sulfomuconolactone hydrolase activity
GO:0102934	0.000050	9.901836	4.317488	costunolide synthase activity
GO:0102903	0.000050	9.901836	4.422849	gamma-terpinene synthase activity
GO:0102881	0.000050	9.901836	4.422849	(+)-beta-barbatene synthase activity
GO:0102757	0.000050	9.901836	5.895321	NADPH phosphatase activity
GO:0102751	0.000050	9.901836	5.864578	UDP-alpha-D-glucose:glucosyl-glycogenin alpha-D-glucosyltransferase activity
GO:0102703	0.000050	9.901836	4.422849	camphene synthase activity
GO:0102700	0.000050	9.901836	4.422849	alpha-thujene synthase activity
GO:0102632	0.000050	9.901836	3.476099	(S)-nandinine synthase activity
GO:0102614	0.000050	9.901836	4.317488	germacrene A acid 8beta-hydroxylase activity
GO:0102597	0.000050	9.901836	4.317488	3alpha-hydroxy-ent-sandaracopimardiene 9-beta-monooxygenase activity
GO:0102531	0.000050	9.901836	5.895321	ecdysteroid-phosphate phosphatase activity
GO:0102497	0.000050	9.901836	5.605802	scyllo-inositol dehydrogenase (NADP+) activity
GO:0102454	0.000050	9.901836	5.864578	cyanidin 3-O-galactosyltransferase activity
GO:0102449	0.000050	9.901836	5.694854	kaempferol 3-O-methyltransferase activity
GO:0102311	0.000050	9.901836	5.605802	8-hydroxygeraniol dehydrogenase activity
GO:0102194	0.000050	9.901836	6.631563	protein-fructosamine 3-kinase activity
GO:0102161	0.000050	9.901836	5.062595	copal-8-ol diphosphate synthase activity
GO:0102145	0.000050	9.901836	4.422849	(3R)-(E)-nerolidol synthase activity
GO:0102121	0.000050	9.901836	4.907741	ceramidase activity
GO:0102076	0.000050	9.901836	3.944813	beta,beta-carotene-9',10'-cleaving oxygenase activity
GO:0102040	0.000050	9.901836	2.079442	fumarate reductase (menaquinone)
GO:0099580	0.000050	9.901836	4.525405	monoatomic ion antiporter activity involved in regulation of postsynaptic membrane potential
GO:0099579	0.000050	9.901836	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0098782	0.000050	9.901836	0.000000	mechanosensitived potassium channel activity
GO:0098750	0.000050	9.901836	6.083740	FYXD domain binding
GO:0098640	0.000050	9.901836	0.287682	integrin binding involved in cell-matrix adhesion
GO:0098616	0.000050	9.901836	3.925268	selenate adenylyltransferase (ATP) activity
GO:0097657	0.000050	9.901836	5.895321	3',5'-nucleotide bisphosphate phosphatase activity
GO:0097627	0.000050	9.901836	1.386294	high-affinity L-ornithine transmembrane transporter activity
GO:0097573	0.000050	9.901836	3.814043	glutathione oxidoreductase activity
GO:0097269	0.000050	9.901836	4.199705	all-trans-decaprenyl-diphosphate synthase activity
GO:0097259	0.000050	9.901836	5.413133	20-aldehyde-leukotriene B4 20-monooxygenase activity
GO:0097258	0.000050	9.901836	1.466337	20-hydroxy-leukotriene B4 omega oxidase activity
GO:0097257	0.000050	9.901836	5.714832	leukotriene B4 12-hydroxy dehydrogenase activity
GO:0097099	0.000050	9.901836	6.269096	structural constituent of albumen
GO:0097079	0.000050	9.901836	1.992430	selenite:proton symporter activity
GO:0097030	0.000050	9.901836	3.412247	CENP-A containing nucleosome binding
GO:0097023	0.000050	9.901836	3.496508	fructose 6-phosphate aldolase activity
GO:0097020	0.000050	9.901836	3.957634	COPII receptor activity
GO:0090736	0.000050	9.901836	6.083740	MATH domain binding
GO:0090584	0.000050	9.901836	1.673976	protein-phosphocysteine-galactitol-phosphotransferase system transporter activity
GO:0090566	0.000050	9.901836	1.673976	protein-phosphocysteine-N,N'-diacetylchitobiose phosphotransferase system transporter activity
GO:0090448	0.000050	9.901836	0.000000	glucosinolate:proton symporter activity
GO:0090440	0.000050	9.901836	0.000000	abscisic acid transmembrane transporter activity
GO:0090432	0.000050	9.901836	3.120895	myristoyl-CoA ligase activity
GO:0090430	0.000050	9.901836	5.897154	caffeoyl-CoA: alcohol caffeoyl transferase activity
GO:0090409	0.000050	9.901836	3.465736	malonyl-CoA synthetase activity
GO:0090353	0.000050	9.901836	5.546479	polygalacturonase inhibitor activity
GO:0089715	0.000050	9.901836	1.540445	tRNA m6t6A37 methyltransferase activity
GO:0086082	0.000050	9.901836	1.673976	cell adhesive protein binding involved in AV node cell-bundle of His cell communication
GO:0086078	0.000050	9.901836	0.693147	gap junction channel activity involved in bundle of His cell-Purkinje myocyte electrical coupling
GO:0086063	0.000050	9.901836	1.299283	voltage-gated sodium channel activity involved in SA node cell action potential
GO:0086062	0.000050	9.901836	1.299283	voltage-gated sodium channel activity involved in Purkinje myocyte action potential
GO:0086039	0.000050	9.901836	2.813411	P-type calcium transporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0080176	0.000050	9.901836	5.654826	xyloglucan 1,6-alpha-xylosidase activity
GO:0080133	0.000050	9.901836	2.730029	midchain alkane hydroxylase activity
GO:0080118	0.000050	9.901836	4.043051	brassinosteroid sulfotransferase activity
GO:0080105	0.000050	9.901836	5.722495	6-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080099	0.000050	9.901836	0.847298	L-methionine:2-oxoglutarate aminotransferase activity
GO:0080076	0.000050	9.901836	3.821369	caffeoyl CoA:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080073	0.000050	9.901836	4.857225	spermidine:coumaroyl CoA N-acyltransferase activity
GO:0080072	0.000050	9.901836	4.857225	spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080062	0.000050	9.901836	4.204693	cytokinin 9-beta-glucosyltransferase activity
GO:0080049	0.000050	9.901836	0.000000	L-gulono-1,4-lactone dehydrogenase activity
GO:0080042	0.000050	9.901836	0.693147	ADP-glucose pyrophosphohydrolase activity
GO:0080041	0.000050	9.901836	0.693147	ADP-ribose pyrophosphohydrolase activity
GO:0080013	0.000050	9.901836	4.422849	(E,E)-geranyllinalool synthase activity
GO:0072587	0.000050	9.901836	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activator activity
GO:0072571	0.000050	9.901836	0.847298	mono-ADP-D-ribose binding
GO:0072555	0.000050	9.901836	3.355735	17-beta-ketosteroid reductase activity
GO:0072549	0.000050	9.901836	0.000000	monocoumaroyl dicaffeoyl spermidine meta-hydroxylase activity
GO:0072548	0.000050	9.901836	0.000000	dicoumaroyl monocaffeoyl spermidine meta-hydroxylase activity
GO:0072547	0.000050	9.901836	0.000000	tricoumaroylspermidine meta-hydroxylase activity
GO:0072533	0.000050	9.901836	4.317488	tri-(coumaroyl or caffeoyl) spermidine meta-hydroxylase activity
GO:0072518	0.000050	9.901836	6.189632	Rho-dependent protein serine/threonine kinase activity
GO:0071886	0.000050	9.901836	1.945910	1-(4-iodo-2,5-dimethoxyphenyl)propan-2-amine binding
GO:0071820	0.000050	9.901836	5.764146	N-box binding
GO:0071796	0.000050	9.901836	3.433987	K6-linked polyubiquitin modification-dependent protein binding
GO:0071795	0.000050	9.901836	3.433987	K11-linked polyubiquitin modification-dependent protein binding
GO:0071791	0.000050	9.901836	2.159484	chemokine (C-C motif) ligand 5 binding
GO:0071771	0.000050	9.901836	5.006181	aldehyde decarbonylase activity
GO:0071713	0.000050	9.901836	4.907741	para-aminobenzoyl-glutamate hydrolase activity
GO:0071568	0.000050	9.901836	5.791997	UFM1 transferase activity
GO:0071424	0.000050	9.901836	0.000000	rRNA (cytosine-N4-)-methyltransferase activity
GO:0070984	0.000050	9.901836	6.083740	SET domain binding
GO:0070975	0.000050	9.901836	6.083740	FHA domain binding
GO:0070974	0.000050	9.901836	6.083740	POU domain binding
GO:0070856	0.000050	9.901836	0.000000	myosin VI light chain binding
GO:0070855	0.000050	9.901836	0.000000	myosin VI head/neck binding
GO:0070819	0.000050	9.901836	0.000000	menaquinone-dependent protoporphyrinogen oxidase activity
GO:0070780	0.000050	9.901836	5.895321	dihydrosphingosine-1-phosphate phosphatase activity
GO:0070773	0.000050	9.901836	3.857215	protein-N-terminal glutamine amidohydrolase activity
GO:0070738	0.000050	9.901836	1.845827	tubulin-glycine ligase activity
GO:0070694	0.000050	9.901836	4.043051	deoxyribonucleoside 5'-monophosphate N-glycosidase activity
GO:0070677	0.000050	9.901836	0.000000	rRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070635	0.000050	9.901836	4.043051	nicotinamide riboside hydrolase activity
GO:0070523	0.000050	9.901836	0.847298	11-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0070463	0.000050	9.901836	6.307491	tubulin-dependent ATPase activity
GO:0070379	0.000050	9.901836	4.462069	high mobility group box 1 binding
GO:0070335	0.000050	9.901836	3.857215	aspartate binding
GO:0070287	0.000050	9.901836	3.957634	ferritin receptor activity
GO:0070284	0.000050	9.901836	5.667579	4-amino-5-hydroxymethyl-2-methylpyrimidine phosphate synthase activity
GO:0070260	0.000050	9.901836	1.299283	5'-tyrosyl-DNA phosphodiesterase activity
GO:0070224	0.000050	9.901836	2.036882	sulfide:quinone oxidoreductase activity
GO:0070089	0.000050	9.901836	3.697178	chloride-activated potassium channel activity
GO:0070080	0.000050	9.901836	6.083740	titin Z domain binding
GO:0070043	0.000050	9.901836	1.466337	rRNA (guanine-N7-)-methyltransferase activity
GO:0062239	0.000050	9.901836	0.000000	heterochromatin-nuclear membrane anchor activity
GO:0062188	0.000050	9.901836	0.287682	anandamide 11,12 epoxidase activity
GO:0062187	0.000050	9.901836	0.287682	anandamide 8,9 epoxidase activity
GO:0062181	0.000050	9.901836	0.000000	1-alpha,25-dihydroxyvitamin D3 23-hydroxylase activity
GO:0062179	0.000050	9.901836	5.413133	vitamin D 23-hydroxylase activity
GO:0062156	0.000050	9.901836	0.000000	mitochondrial ATP-gated potassium channel activity
GO:0062152	0.000050	9.901836	2.538974	mRNA (cytidine-5-)-methyltransferase activity
GO:0062104	0.000050	9.901836	7.241844	pumilio-response element binding
GO:0062082	0.000050	9.901836	0.000000	HLA-E specific inhibitory MHC class Ib receptor activity
GO:0062080	0.000050	9.901836	0.980829	inhibitory MHC class Ib receptor activity
GO:0062078	0.000050	9.901836	6.794587	TSC1-TSC2 complex binding
GO:0062072	0.000050	9.901836	3.753418	H3K9me3 modified histone binding
GO:0062064	0.000050	9.901836	0.287682	box C/D snoRNP complex binding
GO:0061995	0.000050	9.901836	0.510826	ATP-dependent protein-DNA complex displacement activity
GO:0061929	0.000050	9.901836	2.685577	gamma-glutamylaminecyclotransferase activity
GO:0061863	0.000050	9.901836	7.228872	microtubule plus end polymerase
GO:0061849	0.000050	9.901836	0.847298	telomeric G-quadruplex DNA binding
GO:0061798	0.000050	9.901836	5.006181	GTP 3',8'-cyclase activity
GO:0061791	0.000050	9.901836	0.000000	GTPase motor activity
GO:0061769	0.000050	9.901836	6.965710	ribosylnicotinate kinase activity
GO:0061768	0.000050	9.901836	3.737670	magnesium:sodium antiporter activity
GO:0061759	0.000050	9.901836	1.098612	alpha-ketoglutarate reductase activity
GO:0061752	0.000050	9.901836	7.241844	telomeric repeat-containing RNA binding
GO:0061751	0.000050	9.901836	1.992430	neutral sphingomyelin phosphodiesterase activity
GO:0061750	0.000050	9.901836	1.992430	acid sphingomyelin phosphodiesterase activity
GO:0061711	0.000050	9.901836	5.897154	N(6)-L-threonylcarbamoyladenine synthase activity
GO:0061690	0.000050	9.901836	4.907741	lipoamidase activity
GO:0061654	0.000050	9.901836	0.000000	NEDD8 conjugating enzyme activity
GO:0061609	0.000050	9.901836	3.496508	fructose-1-phosphate aldolase activity
GO:0061599	0.000050	9.901836	8.098542	molybdopterin molybdotransferase activity
GO:0061598	0.000050	9.901836	3.925268	molybdopterin adenylyltransferase activity
GO:0061473	0.000050	9.901836	2.662588	murein tripeptide carboxypeptidase activity
GO:0060703	0.000050	9.901836	1.673976	deoxyribonuclease inhibitor activity
GO:0060422	0.000050	9.901836	4.905275	peptidyl-dipeptidase inhibitor activity
GO:0052929	0.000050	9.901836	0.287682	ATP:3'-cytidine-cytidine-tRNA adenylyltransferase activity
GO:0052927	0.000050	9.901836	1.203973	CTP:tRNA cytidylyltransferase activity
GO:0052906	0.000050	9.901836	1.466337	tRNA (guanine(37)-N(1))-methyltransferase activity
GO:0052905	0.000050	9.901836	1.466337	tRNA (guanine(9)-N(1))-methyltransferase activity
GO:0052875	0.000050	9.901836	3.619887	riboflavin reductase (NADH) activity
GO:0052845	0.000050	9.901836	0.693147	inositol-5-diphosphate-1,2,3,4,6-pentakisphosphate diphosphatase activity
GO:0052843	0.000050	9.901836	0.693147	inositol-1-diphosphate-2,3,4,5,6-pentakisphosphate diphosphatase activity
GO:0052841	0.000050	9.901836	1.203973	inositol bisdiphosphate tetrakisphosphate diphosphatase activity
GO:0052840	0.000050	9.901836	1.203973	inositol diphosphate tetrakisphosphate diphosphatase activity
GO:0052829	0.000050	9.901836	2.456736	inositol-1,3,4-trisphosphate 1-phosphatase activity
GO:0052828	0.000050	9.901836	1.673976	inositol-3,4-bisphosphate 4-phosphatase activity
GO:0052807	0.000050	9.901836	4.718499	aflatoxin reductase (coenzyme F420) activity
GO:0052793	0.000050	9.901836	5.269575	pectin acetylesterase activity
GO:0052775	0.000050	9.901836	5.654826	endo-1,3-alpha-L-rhamnosidase activity
GO:0052751	0.000050	9.901836	5.978042	GDP-mannose hydrolase activity
GO:0052739	0.000050	9.901836	4.066174	phosphatidylserine 1-acylhydrolase activity
GO:0052731	0.000050	9.901836	5.895321	phosphocholine phosphatase activity
GO:0052723	0.000050	9.901836	1.673976	inositol hexakisphosphate 1-kinase activity
GO:0052712	0.000050	9.901836	3.135494	inositol phosphosphingolipid phospholipase activity
GO:0052694	0.000050	9.901836	5.413133	jasmonoyl-isoleucine-12-hydroxylase activity
GO:0052692	0.000050	9.901836	1.945910	raffinose alpha-galactosidase activity
GO:0052673	0.000050	9.901836	6.882437	prenol kinase activity
GO:0052659	0.000050	9.901836	0.847298	inositol-1,3,4,5-tetrakisphosphate 5-phosphatase activity
GO:0052641	0.000050	9.901836	4.204693	benzoic acid glucosyltransferase activity
GO:0052638	0.000050	9.901836	4.204693	indole-3-butyrate beta-glucosyltransferase activity
GO:0052634	0.000050	9.901836	1.299283	C-19 gibberellin 2-beta-dioxygenase activity
GO:0052631	0.000050	9.901836	5.722495	sphingolipid delta-8 desaturase activity
GO:0052630	0.000050	9.901836	3.149883	UDP-N-acetylgalactosamine diphosphorylase activity
GO:0052624	0.000050	9.901836	0.000000	2-phytyl-1,4-naphthoquinone methyltransferase activity
GO:0052623	0.000050	9.901836	5.252273	ADP dimethylallyltransferase activity
GO:0052622	0.000050	9.901836	5.252273	ATP dimethylallyltransferase activity
GO:0052577	0.000050	9.901836	3.135494	germacrene-D synthase activity
GO:0051871	0.000050	9.901836	2.120264	dihydrofolic acid binding
GO:0051786	0.000050	9.901836	4.650781	all-trans-retinol 13,14-reductase activity
GO:0051749	0.000050	9.901836	5.694854	indole acetic acid carboxyl methyltransferase activity
GO:0051741	0.000050	9.901836	5.419059	2-methyl-6-phytyl-1,4-benzoquinone methyltransferase activity
GO:0051735	0.000050	9.901836	1.299283	GTP-dependent polynucleotide kinase activity
GO:0051730	0.000050	9.901836	0.000000	GTP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051722	0.000050	9.901836	0.693147	protein C-terminal methylesterase activity
GO:0051719	0.000050	9.901836	2.427748	DNA (cytosine-5-)-methyltransferase activity, acting on CpN substrates
GO:0051699	0.000050	9.901836	2.685577	proline oxidase activity
GO:0051507	0.000050	9.901836	0.510826	beta-sitosterol UDP-glucosyltransferase activity
GO:0051498	0.000050	9.901836	2.590267	syn-copalyl diphosphate synthase activity
GO:0051401	0.000050	9.901836	6.083740	CH domain binding
GO:0051392	0.000050	9.901836	4.595120	tRNA N-acetyltransferase activity
GO:0051381	0.000050	9.901836	5.497168	histamine binding
GO:0051267	0.000050	9.901836	0.980829	CP2 mannose-ethanolamine phosphotransferase activity
GO:0051033	0.000050	9.901836	0.287682	RNA transmembrane transporter activity
GO:0050738	0.000050	9.901836	5.864578	fructosyltransferase activity
GO:0050698	0.000050	9.901836	4.043051	proteoglycan sulfotransferase activity
GO:0050659	0.000050	9.901836	4.043051	N-acetylgalactosamine 4-sulfate 6-O-sulfotransferase activity
GO:0050633	0.000050	9.901836	0.000000	acetyl-CoA C-myristoyltransferase activity
GO:0050632	0.000050	9.901836	5.897154	propionyl-CoA C2-trimethyltridecanoyltransferase activity
GO:0050626	0.000050	9.901836	2.367124	trimethylamine-N-oxide reductase (cytochrome c) activity
GO:0050625	0.000050	9.901836	3.697178	2-hydroxy-1,4-benzoquinone reductase activity
GO:0050614	0.000050	9.901836	3.857215	delta24-sterol reductase activity
GO:0050608	0.000050	9.901836	4.499810	vanillin dehydrogenase activity
GO:0050565	0.000050	9.901836	3.878121	aerobactin synthase activity
GO:0050564	0.000050	9.901836	3.878121	N-(5-amino-5-carboxypentanoyl)-L-cysteinyl-D-valine synthase activity
GO:0050538	0.000050	9.901836	4.907741	N-carbamoyl-L-amino-acid hydrolase activity
GO:0050500	0.000050	9.901836	5.864578	1,3-beta-galactosyl-N-acetylhexosamine phosphorylase activity
GO:0050490	0.000050	9.901836	5.269575	1,4-lactonase activity
GO:0050474	0.000050	9.901836	5.062595	(S)-norcoclaurine synthase activity
GO:0050467	0.000050	9.901836	3.135494	pentalenene synthase activity
GO:0050446	0.000050	9.901836	1.845827	azobenzene reductase activity
GO:0050412	0.000050	9.901836	4.204693	cinnamate beta-D-glucosyltransferase activity
GO:0050404	0.000050	9.901836	2.512306	zeatin O-beta-D-xylosyltransferase activity
GO:0050401	0.000050	9.901836	5.062595	xylonate dehydratase activity
GO:0050385	0.000050	9.901836	2.685577	ureidoglycolate lyase activity
GO:0050378	0.000050	9.901836	3.367296	UDP-glucuronate 4-epimerase activity
GO:0050377	0.000050	9.901836	5.062595	UDP-glucose 4,6-dehydratase activity
GO:0050364	0.000050	9.901836	5.252273	tryptophan dimethylallyltransferase activity
GO:0050328	0.000050	9.901836	2.397895	tetrahydroberberine oxidase activity
GO:0050313	0.000050	9.901836	3.944813	sulfur dioxygenase activity
GO:0050311	0.000050	9.901836	0.510826	sulfite reductase (ferredoxin) activity
GO:0050306	0.000050	9.901836	0.000000	sucrose 1F-fructosyltransferase activity
GO:0050290	0.000050	9.901836	3.878121	sphingomyelin phosphodiesterase D activity
GO:0050278	0.000050	9.901836	5.895321	sedoheptulose-bisphosphatase activity
GO:0050277	0.000050	9.901836	6.843039	sedoheptulokinase activity
GO:0050269	0.000050	9.901836	3.412247	coniferyl-aldehyde dehydrogenase activity
GO:0050266	0.000050	9.901836	5.897154	rosmarinate synthase activity
GO:0050252	0.000050	9.901836	4.546835	retinol O-fatty-acyltransferase activity
GO:0050221	0.000050	9.901836	5.605802	prostaglandin-E2 9-reductase activity
GO:0050208	0.000050	9.901836	3.444682	polysialic-acid O-acetyltransferase activity
GO:0050203	0.000050	9.901836	3.963983	oxalate-CoA ligase activity
GO:0050197	0.000050	9.901836	3.963983	phytanate-CoA ligase activity
GO:0050192	0.000050	9.901836	5.895321	phosphoglycerate phosphatase activity
GO:0050183	0.000050	9.901836	4.317488	phosphatidylcholine 12-monooxygenase activity
GO:0050172	0.000050	9.901836	1.299283	phenylalanine 2-monooxygenase activity
GO:0050146	0.000050	9.901836	2.335375	nucleoside phosphotransferase activity
GO:0050139	0.000050	9.901836	4.204693	nicotinate-N-glucosyltransferase activity
GO:0050137	0.000050	9.901836	4.514516	NADPH peroxidase activity
GO:0050129	0.000050	9.901836	4.907741	N-formylglutamate deformylase activity
GO:0050126	0.000050	9.901836	4.907741	N-carbamoylputrescine amidase activity
GO:0050124	0.000050	9.901836	5.895321	N-acylneuraminate-9-phosphatase activity
GO:0050118	0.000050	9.901836	4.007333	N-acetyldiaminopimelate deacetylase activity
GO:0050089	0.000050	9.901836	3.308107	mannose isomerase activity
GO:0050086	0.000050	9.901836	5.605802	mannitol 2-dehydrogenase activity
GO:0050061	0.000050	9.901836	3.232121	long-chain-aldehyde dehydrogenase activity
GO:0050054	0.000050	9.901836	3.944813	lignostilbene alpha beta-dioxygenase activity
GO:0050048	0.000050	9.901836	4.121744	L-leucine:2-oxoglutarate aminotransferase activity
GO:0050031	0.000050	9.901836	2.685577	L-pipecolate oxidase activity
GO:0050023	0.000050	9.901836	5.062595	L-fuconate dehydratase activity
GO:0048529	0.000050	9.901836	4.317488	magnesium-protoporphyrin IX monomethyl ester (oxidative) cyclase activity
GO:0048257	0.000050	9.901836	1.098612	3'-flap endonuclease activity
GO:0048032	0.000050	9.901836	4.317488	galacturonate binding
GO:0048001	0.000050	9.901836	4.499810	erythrose-4-phosphate dehydrogenase activity
GO:0047995	0.000050	9.901836	5.605802	hydroxyphenylpyruvate reductase activity
GO:0047979	0.000050	9.901836	2.397895	hexose oxidase activity
GO:0047974	0.000050	9.901836	3.574217	guanosine deaminase activity
GO:0047971	0.000050	9.901836	3.149883	guanidinobutyrase activity
GO:0047963	0.000050	9.901836	5.897154	glycine N-choloyltransferase activity
GO:0047962	0.000050	9.901836	5.897154	glycine N-benzoyltransferase activity
GO:0047925	0.000050	9.901836	2.662588	geranoyl-CoA carboxylase activity
GO:0047922	0.000050	9.901836	3.944813	gentisate 1,2-dioxygenase activity
GO:0047918	0.000050	9.901836	3.367296	GDP-mannose 3,5-epimerase activity
GO:0047913	0.000050	9.901836	4.204693	gallate 1-beta-glucosyltransferase activity
GO:0047891	0.000050	9.901836	4.204693	flavone 7-O-beta-glucosyltransferase activity
GO:0047888	0.000050	9.901836	4.514516	fatty acid peroxidase activity
GO:0047886	0.000050	9.901836	5.605802	farnesol dehydrogenase activity
GO:0047884	0.000050	9.901836	1.540445	FAD diphosphatase activity
GO:0047876	0.000050	9.901836	5.654826	endoglycosylceramidase activity
GO:0047868	0.000050	9.901836	5.062595	dimethylmaleate hydratase activity
GO:0047866	0.000050	9.901836	2.685577	dimethylglycine oxidase activity
GO:0047847	0.000050	9.901836	4.360973	deoxyuridine phosphorylase activity
GO:0047837	0.000050	9.901836	5.605802	D-xylose 1-dehydrogenase (NADP+) activity
GO:0047808	0.000050	9.901836	5.062595	D(-)-tartrate dehydratase activity
GO:0047807	0.000050	9.901836	4.204693	cytokinin 7-beta-glucosyltransferase activity
GO:0047805	0.000050	9.901836	3.768922	cytidylate cyclase activity
GO:0047800	0.000050	9.901836	3.944813	cysteamine dioxygenase activity
GO:0047798	0.000050	9.901836	5.654826	cyclomaltodextrinase activity
GO:0047763	0.000050	9.901836	3.821369	caffeate O-methyltransferase activity
GO:0047728	0.000050	9.901836	5.605802	carnitine 3-dehydrogenase activity
GO:0047704	0.000050	9.901836	4.043051	bile-salt sulfotransferase activity
GO:0047688	0.000050	9.901836	4.442651	aspartate 4-decarboxylase activity
GO:0047668	0.000050	9.901836	3.401197	amygdalin beta-glucosidase activity
GO:0047656	0.000050	9.901836	2.120264	alpha,alpha-trehalose phosphorylase activity
GO:0047654	0.000050	9.901836	3.496508	alliin lyase activity
GO:0047651	0.000050	9.901836	0.693147	alkylhalidase activity
GO:0047634	0.000050	9.901836	5.897154	agmatine N4-coumaroyltransferase activity
GO:0047632	0.000050	9.901836	3.149883	agmatine deiminase activity
GO:0047620	0.000050	9.901836	6.843039	acylglycerol kinase activity
GO:0047619	0.000050	9.901836	5.269575	acylcarnitine hydrolase activity
GO:0047596	0.000050	9.901836	4.442651	6-methylsalicylate decarboxylase activity
GO:0047554	0.000050	9.901836	5.269575	2-pyrone-4,6-dicarboxylate lactonase activity
GO:0047533	0.000050	9.901836	4.499810	2,5-dioxovalerate dehydrogenase (NADP+) activity
GO:0047471	0.000050	9.901836	4.386185	maltose alpha-D-glucosyltransferase activity
GO:0047451	0.000050	9.901836	1.609438	3-hydroxyoctanoyl-[acyl-carrier-protein] dehydratase activity
GO:0047443	0.000050	9.901836	3.245193	4-hydroxy-4-methyl-2-oxoglutarate aldolase activity
GO:0047409	0.000050	9.901836	2.456736	alkenylglycerophosphoethanolamine hydrolase activity
GO:0047408	0.000050	9.901836	2.456736	alkenylglycerophosphocholine hydrolase activity
GO:0047402	0.000050	9.901836	0.000000	protein-glucosylgalactosylhydroxylysine glucosidase activity
GO:0047352	0.000050	9.901836	3.925268	adenylylsulfate-ammonia adenylyltransferase activity
GO:0047323	0.000050	9.901836	6.629363	[3-methyl-2-oxobutanoate dehydrogenase (acetyl-transferring)] kinase activity
GO:0047286	0.000050	9.901836	4.360973	NAD+-diphthamide ADP-ribosyltransferase activity
GO:0047277	0.000050	9.901836	3.245193	globoside alpha-N-acetylgalactosaminyltransferase activity
GO:0047270	0.000050	9.901836	4.204693	lipopolysaccharide glucosyltransferase II activity
GO:0047268	0.000050	9.901836	3.737670	galactinol-raffinose galactosyltransferase activity
GO:0047262	0.000050	9.901836	5.318120	polygalacturonate 4-alpha-galacturonosyltransferase activity
GO:0047254	0.000050	9.901836	4.204693	2,4-dihydroxy-7-methoxy-2H-1,4-benzoxazin-3(4H)-one 2-D-glucosyltransferase activity
GO:0047237	0.000050	9.901836	3.245193	glucuronylgalactosylproteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047215	0.000050	9.901836	4.204693	indole-3-acetate beta-glucosyltransferase activity
GO:0047213	0.000050	9.901836	4.204693	anthocyanidin 3-O-glucosyltransferase activity
GO:0047190	0.000050	9.901836	4.546835	2-acylglycerophosphocholine O-acyltransferase activity
GO:0047181	0.000050	9.901836	5.897154	tetrahydroxybenzophenone synthase activity
GO:0047165	0.000050	9.901836	0.693147	flavonol-3-O-beta-glucoside O-malonyltransferase activity
GO:0047131	0.000050	9.901836	0.847298	saccharopine dehydrogenase (NAD+, L-glutamate-forming) activity
GO:0047126	0.000050	9.901836	3.619887	N5-(carboxyethyl)ornithine synthase activity
GO:0047125	0.000050	9.901836	3.619887	delta1-piperideine-2-carboxylate reductase activity
GO:0047115	0.000050	9.901836	3.857215	trans-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0047091	0.000050	9.901836	0.000000	L-lysine 6-monooxygenase (NADPH) activity
GO:0047068	0.000050	9.901836	0.287682	N5,N10-methenyltetrahydromethanopterin hydrogenase activity
GO:0047056	0.000050	9.901836	3.476099	(S)-canadine synthase activity
GO:0047053	0.000050	9.901836	3.476099	(S)-cheilanthifoline synthase activity
GO:0047038	0.000050	9.901836	5.605802	D-arabinitol 2-dehydrogenase activity
GO:0047017	0.000050	9.901836	5.605802	prostaglandin-F synthase activity
GO:0047016	0.000050	9.901836	5.605802	cholest-5-ene-3-beta,7-alpha-diol 3-beta-dehydrogenase activity
GO:0047012	0.000050	9.901836	5.605802	sterol-4-alpha-carboxylate 3-dehydrogenase (decarboxylating) activity
GO:0047011	0.000050	9.901836	0.000000	2-dehydropantolactone reductase (A-specific) activity
GO:0046989	0.000050	9.901836	3.737670	galactosyl beta-1,3 N-acetylgalactosamine beta-1,3-glucuronosyltransferase activity
GO:0046988	0.000050	9.901836	3.737670	asioloorosomucoid beta-1,3-glucuronosyltransferase activity
GO:0046987	0.000050	9.901836	3.737670	N-acetyllactosamine beta-1,3-glucuronosyltransferase activity
GO:0046936	0.000050	9.901836	3.574217	2'-deoxyadenosine deaminase activity
GO:0046659	0.000050	9.901836	4.406719	digestive hormone activity
GO:0046593	0.000050	9.901836	3.496508	mandelonitrile lyase activity
GO:0046570	0.000050	9.901836	5.062595	methylthioribulose 1-phosphate dehydratase activity
GO:0046523	0.000050	9.901836	3.308107	S-methyl-5-thioribose-1-phosphate isomerase activity
GO:0046522	0.000050	9.901836	6.843039	S-methyl-5-thioribose kinase activity
GO:0046423	0.000050	9.901836	1.540445	allene-oxide cyclase activity
GO:0046409	0.000050	9.901836	5.413133	p-coumarate 3-hydroxylase activity
GO:0046029	0.000050	9.901836	1.299283	mannitol dehydrogenase activity
GO:0046028	0.000050	9.901836	4.605170	electron transporter, transferring electrons from cytochrome b6/f complex of photosystem II activity
GO:0045569	0.000050	9.901836	9.183586	TRAIL binding
GO:0045550	0.000050	9.901836	7.329094	geranylgeranyl reductase activity
GO:0045523	0.000050	9.901836	5.026071	interleukin-27 receptor binding
GO:0045517	0.000050	9.901836	5.026071	interleukin-20 receptor binding
GO:0045509	0.000050	9.901836	0.693147	interleukin-27 receptor activity
GO:0045439	0.000050	9.901836	2.662588	isopenicillin-N epimerase activity
GO:0045431	0.000050	9.901836	4.299550	flavonol synthase activity
GO:0045131	0.000050	9.901836	3.120895	pre-mRNA branch point binding
GO:0045130	0.000050	9.901836	4.043051	keratan sulfotransferase activity
GO:0045119	0.000050	9.901836	0.510826	azole:proton antiporter activity
GO:0045029	0.000050	9.901836	0.693147	G protein-coupled UDP receptor activity
GO:0044823	0.000050	9.901836	1.466337	retroviral integrase activity
GO:0044748	0.000050	9.901836	3.465736	3'-5'-exoribonuclease activity involved in mature miRNA 3'-end processing
GO:0044716	0.000050	9.901836	2.751535	8-oxo-GDP phosphatase activity
GO:0044689	0.000050	9.901836	5.252273	7,8-didemethyl-8-hydroxy-5-deazariboflavin synthase activity
GO:0044683	0.000050	9.901836	5.694854	methylthiol:coenzyme M methyltransferase activity
GO:0044682	0.000050	9.901836	1.845827	archaeal-specific GTP cyclohydrolase activity
GO:0044654	0.000050	9.901836	3.149883	starch alpha-glucosidase activity
GO:0044610	0.000050	9.901836	2.852631	FMN transmembrane transporter activity
GO:0044600	0.000050	9.901836	2.614960	protein guanylyltransferase activity
GO:0044540	0.000050	9.901836	3.496508	L-cystine L-cysteine-lyase (deaminating)
GO:0044013	0.000050	9.901836	3.898600	histone H2B acetyltransferase activity
GO:0043958	0.000050	9.901836	3.857215	acryloyl-CoA reductase (NADH) activity
GO:0043955	0.000050	9.901836	3.963983	3-hydroxypropionyl-CoA synthetase activity
GO:0043880	0.000050	9.901836	7.329094	crotonyl-CoA reductase activity
GO:0043879	0.000050	9.901836	0.000000	glycolate transmembrane transporter activity
GO:0043843	0.000050	9.901836	6.843039	ADP-specific glucokinase activity
GO:0043831	0.000050	9.901836	2.036882	thiosulfate dehydrogenase (quinone) activity
GO:0043796	0.000050	9.901836	0.980829	glyceraldehyde dehydrogenase (NADP) activity
GO:0043794	0.000050	9.901836	4.765019	formate dehydrogenase (coenzyme F420) activity
GO:0043791	0.000050	9.901836	5.694854	dimethylamine methyltransferase activity
GO:0043759	0.000050	9.901836	1.466337	methylbutanoate-CoA ligase activity
GO:0043337	0.000050	9.901836	1.540445	cardiolipin synthase (CMP-forming)
GO:0043221	0.000050	9.901836	9.183586	SMC family protein binding
GO:0043210	0.000050	9.901836	3.060271	alkanesulfonate binding
GO:0043115	0.000050	9.901836	3.857215	precorrin-2 dehydrogenase activity
GO:0042970	0.000050	9.901836	3.637586	homoserine transmembrane transporter activity
GO:0042958	0.000050	9.901836	0.287682	maltodextrin transmembrane transporter activity
GO:0042951	0.000050	9.901836	0.287682	arbutin transmembrane transporter activity
GO:0042945	0.000050	9.901836	0.000000	D-serine transmembrane transporter activity
GO:0042929	0.000050	9.901836	0.000000	ferrichrome transmembrane transporter activity
GO:0042924	0.000050	9.901836	2.335375	neuromedin U binding
GO:0042922	0.000050	9.901836	3.401197	neuromedin U receptor binding
GO:0042835	0.000050	9.901836	7.241844	BRE binding
GO:0042498	0.000050	9.901836	1.386294	diacyl lipopeptide binding
GO:0042497	0.000050	9.901836	1.386294	triacyl lipopeptide binding
GO:0042469	0.000050	9.901836	5.714832	versicolorin reductase activity
GO:0042349	0.000050	9.901836	6.714979	guiding stereospecific synthesis activity
GO:0042328	0.000050	9.901836	3.898600	heparan sulfate N-acetylglucosaminyltransferase activity
GO:0042292	0.000050	9.901836	3.028522	URM1 activating enzyme activity
GO:0042286	0.000050	9.901836	1.386294	glutamate-1-semialdehyde 2,1-aminomutase activity
GO:0042281	0.000050	9.901836	4.454347	dolichyl pyrophosphate Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0042020	0.000050	9.901836	4.054679	interleukin-23 receptor activity
GO:0042019	0.000050	9.901836	4.462069	interleukin-23 binding
GO:0039660	0.000050	9.901836	6.269096	structural constituent of virion
GO:0038177	0.000050	9.901836	5.574686	death receptor agonist activity
GO:0038102	0.000050	9.901836	1.734601	activin receptor antagonist activity
GO:0038025	0.000050	9.901836	6.563856	reelin receptor activity
GO:0036505	0.000050	9.901836	5.839672	prosaposin receptor activity
GO:0036461	0.000050	9.901836	6.794587	BLOC-2 complex binding
GO:0036456	0.000050	9.901836	0.847298	L-methionine-(S)-S-oxide reductase activity
GO:0036441	0.000050	9.901836	5.605802	2-dehydropantolactone reductase activity
GO:0036381	0.000050	9.901836	0.510826	pyridoxal 5'-phosphate synthase (glutamine hydrolysing) activity
GO:0036373	0.000050	9.901836	3.367296	L-fucose mutarotase activity
GO:0036221	0.000050	9.901836	2.730029	UTP diphosphatase activity
GO:0036202	0.000050	9.901836	4.317488	ent-cassa-12,15-diene 11-hydroxylase activity
GO:0036143	0.000050	9.901836	6.083740	kringle domain binding
GO:0036082	0.000050	9.901836	4.657130	extracellular phenylacetaldehyde-gated monoatomic ion channel activity
GO:0036054	0.000050	9.901836	3.857215	protein-malonyllysine demalonylase activity
GO:0036004	0.000050	9.901836	6.083740	GAF domain binding
GO:0035885	0.000050	9.901836	2.908721	exochitinase activity
GO:0035755	0.000050	9.901836	3.878121	cardiolipin hydrolase activity
GO:0035717	0.000050	9.901836	2.159484	chemokine (C-C motif) ligand 7 binding
GO:0035605	0.000050	9.901836	0.287682	peptidyl-cysteine S-nitrosylase activity
GO:0035598	0.000050	9.901836	0.847298	N6-threonylcarbomyladenosine methylthiotransferase activity
GO:0035538	0.000050	9.901836	5.764146	carbohydrate response element binding
GO:0035500	0.000050	9.901836	6.083740	MH2 domain binding
GO:0035410	0.000050	9.901836	3.355735	dihydrotestosterone 17-beta-dehydrogenase activity
GO:0035403	0.000050	9.901836	1.673976	histone H3T6 kinase activity
GO:0035400	0.000050	9.901836	0.287682	histone tyrosine kinase activity
GO:0035244	0.000050	9.901836	0.000000	protein-arginine C-methyltransferase activity
GO:0035236	0.000050	9.901836	3.806662	proctolin receptor activity
GO:0035049	0.000050	9.901836	5.694854	juvenile hormone acid methyltransferase activity
GO:0034824	0.000050	9.901836	3.857215	citronellyl-CoA dehydrogenase activity
GO:0034737	0.000050	9.901836	1.466337	ergosterol O-acyltransferase activity
GO:0034602	0.000050	9.901836	0.000000	oxoglutarate dehydrogenase (NAD+) activity
GO:0034601	0.000050	9.901836	4.499810	oxoglutarate dehydrogenase [NAD(P)+] activity
GO:0034597	0.000050	9.901836	1.098612	phosphatidylinositol-4,5-bisphosphate 4-phosphatase activity
GO:0034545	0.000050	9.901836	2.120264	fumarylpyruvate hydrolase activity
GO:0034386	0.000050	9.901836	1.386294	4-aminobutyrate:2-oxoglutarate transaminase activity
GO:0034200	0.000050	9.901836	5.895321	D,D-heptose 1,7-bisphosphate phosphatase activity
GO:0034076	0.000050	9.901836	2.590267	cucurbitadienol synthase activity
GO:0034043	0.000050	9.901836	1.299283	5-hydroxymethyluracil DNA N-glycosylase activity
GO:0034042	0.000050	9.901836	1.299283	5-formyluracil DNA N-glycosylase activity
GO:0034020	0.000050	9.901836	4.317488	neoxanthin synthase activity
GO:0034017	0.000050	9.901836	2.852631	trans-2-decenoyl-acyl-carrier-protein isomerase activity
GO:0034010	0.000050	9.901836	3.496508	sulfolactate sulfo-lyase activity
GO:0034002	0.000050	9.901836	4.143135	(R)-limonene synthase activity
GO:0033987	0.000050	9.901836	5.062595	2-hydroxyisoflavanone dehydratase activity
GO:0033984	0.000050	9.901836	3.496508	indole-3-glycerol-phosphate lyase activity
GO:0033982	0.000050	9.901836	4.442651	3-dehydro-L-gulonate-6-phosphate decarboxylase activity
GO:0033981	0.000050	9.901836	4.442651	D-dopachrome decarboxylase activity
GO:0033961	0.000050	9.901836	2.456736	cis-stilbene-oxide hydrolase activity
GO:0033957	0.000050	9.901836	5.654826	lambda-carrageenase activity
GO:0033938	0.000050	9.901836	1.466337	1,6-alpha-L-fucosidase activity
GO:0033934	0.000050	9.901836	5.654826	glucan 1,4-alpha-maltotriohydrolase activity
GO:0033889	0.000050	9.901836	2.852631	N-sulfoglucosamine-3-sulfatase activity
GO:0033855	0.000050	9.901836	4.121744	nicotianamine aminotransferase activity
GO:0033854	0.000050	9.901836	4.121744	glutamate-prephenate aminotransferase activity
GO:0033853	0.000050	9.901836	4.121744	aspartate-prephenate aminotransferase activity
GO:0033847	0.000050	9.901836	5.252273	O-phosphoserine sulfhydrylase activity
GO:0033838	0.000050	9.901836	4.454347	flavonol-3-O-glucoside glucosyltransferase activity
GO:0033833	0.000050	9.901836	5.605802	hydroxymethylfurfural reductase (NADH) activity
GO:0033832	0.000050	9.901836	4.454347	alpha,alpha-trehalose phosphorylase (configuration-retaining) activity
GO:0033812	0.000050	9.901836	5.897154	3-oxoadipyl-CoA thiolase activity
GO:0033781	0.000050	9.901836	4.317488	cholesterol 24-hydroxylase activity
GO:0033746	0.000050	9.901836	3.028522	histone H3R2 demethylase activity
GO:0033729	0.000050	9.901836	3.857215	anthocyanidin reductase activity
GO:0033705	0.000050	9.901836	5.605802	GDP-4-dehydro-6-deoxy-D-mannose reductase activity
GO:0033201	0.000050	9.901836	5.864578	alpha-1,4-glucan synthase activity
GO:0033196	0.000050	9.901836	4.514516	tryparedoxin peroxidase activity
GO:0032935	0.000050	9.901836	0.000000	sterol sensor activity
GO:0032550	0.000050	9.901836	0.000000	purine ribonucleoside binding
GO:0032448	0.000050	9.901836	3.486355	DNA hairpin binding
GO:0032427	0.000050	9.901836	6.083740	GBD domain binding
GO:0032408	0.000050	9.901836	1.466337	MutSbeta complex binding
GO:0032406	0.000050	9.901836	1.466337	MutLbeta complex binding
GO:0032397	0.000050	9.901836	0.980829	activating MHC class I receptor activity
GO:0032396	0.000050	9.901836	0.980829	inhibitory MHC class I receptor activity
GO:0032181	0.000050	9.901836	0.693147	dinucleotide repeat insertion binding
GO:0032143	0.000050	9.901836	0.980829	single thymine insertion binding
GO:0032136	0.000050	9.901836	2.538974	adenine/cytosine mispair binding
GO:0032131	0.000050	9.901836	3.574217	alkylated DNA binding
GO:0032089	0.000050	9.901836	6.083740	NACHT domain binding
GO:0032041	0.000050	9.901836	0.287682	NAD-dependent histone H3K14 deacetylase activity
GO:0032035	0.000050	9.901836	0.000000	myosin II tail binding
GO:0032001	0.000050	9.901836	4.454347	1,4-alpha-glucan 6-alpha-glucosyltransferase activity
GO:0031955	0.000050	9.901836	3.465736	short-chain fatty acid-CoA ligase activity
GO:0031896	0.000050	9.901836	0.510826	V2 vasopressin receptor binding
GO:0031877	0.000050	9.901836	3.401197	somatostatin receptor binding
GO:0031862	0.000050	9.901836	5.153292	prostanoid receptor binding
GO:0031859	0.000050	9.901836	5.153292	platelet activating factor receptor binding
GO:0031857	0.000050	9.901836	0.000000	type 1 parathyroid hormone receptor binding
GO:0031856	0.000050	9.901836	5.153292	parathyroid hormone receptor binding
GO:0031851	0.000050	9.901836	1.466337	kappa-type opioid receptor binding
GO:0031840	0.000050	9.901836	0.000000	type 2 neuromedin U receptor binding
GO:0031839	0.000050	9.901836	0.000000	type 1 neuromedin U receptor binding
GO:0031836	0.000050	9.901836	0.693147	neuromedin K receptor binding
GO:0031799	0.000050	9.901836	1.673976	type 2 metabotropic glutamate receptor binding
GO:0031798	0.000050	9.901836	1.673976	type 1 metabotropic glutamate receptor binding
GO:0031788	0.000050	9.901836	5.153292	motilin receptor binding
GO:0031783	0.000050	9.901836	1.540445	type 5 melanocortin receptor binding
GO:0031780	0.000050	9.901836	1.540445	corticotropin hormone receptor binding
GO:0031775	0.000050	9.901836	5.153292	lutropin-choriogonadotropic hormone receptor binding
GO:0031770	0.000050	9.901836	3.401197	growth hormone-releasing hormone receptor binding
GO:0031767	0.000050	9.901836	5.153292	gastric inhibitory polypeptide receptor binding
GO:0031766	0.000050	9.901836	0.000000	type 3 galanin receptor binding
GO:0031765	0.000050	9.901836	0.000000	type 2 galanin receptor binding
GO:0031763	0.000050	9.901836	3.401197	galanin receptor binding
GO:0031755	0.000050	9.901836	0.000000	Edg-2 lysophosphatidic acid receptor binding
GO:0031753	0.000050	9.901836	5.153292	endothelial differentiation G protein-coupled receptor binding
GO:0031751	0.000050	9.901836	2.335375	D4 dopamine receptor binding
GO:0031739	0.000050	9.901836	3.401197	cholecystokinin receptor binding
GO:0031732	0.000050	9.901836	2.772589	CCR7 chemokine receptor binding
GO:0031724	0.000050	9.901836	1.609438	CXCR5 chemokine receptor binding
GO:0031720	0.000050	9.901836	9.183586	haptoglobin binding
GO:0031718	0.000050	9.901836	0.000000	type 1 cannabinoid receptor binding
GO:0031717	0.000050	9.901836	5.153292	cannabinoid receptor binding
GO:0031712	0.000050	9.901836	0.847298	B1 bradykinin receptor binding
GO:0031703	0.000050	9.901836	1.466337	type 2 angiotensin receptor binding
GO:0031700	0.000050	9.901836	5.153292	adrenomedullin receptor binding
GO:0031699	0.000050	9.901836	2.268684	beta-3 adrenergic receptor binding
GO:0031696	0.000050	9.901836	2.268684	alpha-2C adrenergic receptor binding
GO:0031691	0.000050	9.901836	2.268684	alpha-1A adrenergic receptor binding
GO:0031517	0.000050	9.901836	0.847298	red light photoreceptor activity
GO:0031516	0.000050	9.901836	0.847298	far-red light photoreceptor activity
GO:0031409	0.000050	9.901836	9.462991	pigment binding
GO:0031249	0.000050	9.901836	9.183586	denatured protein binding
GO:0031218	0.000050	9.901836	3.106080	arabinogalactan endo-1,4-beta-galactosidase activity
GO:0031132	0.000050	9.901836	5.605802	serine 3-dehydrogenase activity
GO:0030977	0.000050	9.901836	0.000000	taurine binding
GO:0030973	0.000050	9.901836	6.857514	molybdate ion binding
GO:0030884	0.000050	9.901836	1.609438	exogenous lipid antigen binding
GO:0030883	0.000050	9.901836	1.609438	endogenous lipid antigen binding
GO:0030848	0.000050	9.901836	3.012262	threo-3-hydroxyaspartate ammonia-lyase activity
GO:0030791	0.000050	9.901836	5.419059	arsenite methyltransferase activity
GO:0030746	0.000050	9.901836	5.419059	isoflavone 4'-O-methyltransferase activity
GO:0030731	0.000050	9.901836	5.419059	guanidinoacetate N-methyltransferase activity
GO:0030729	0.000050	9.901836	3.963983	acetoacetate-CoA ligase activity
GO:0030586	0.000050	9.901836	1.673976	[methionine synthase] reductase activity
GO:0030487	0.000050	9.901836	1.673976	inositol-4,5-bisphosphate 5-phosphatase activity
GO:0030369	0.000050	9.901836	6.563856	ICAM-3 receptor activity
GO:0030366	0.000050	9.901836	3.135494	molybdopterin synthase activity
GO:0030351	0.000050	9.901836	0.287682	inositol-1,3,4,5,6-pentakisphosphate 3-phosphatase activity
GO:0030342	0.000050	9.901836	0.847298	1-alpha,25-dihydroxyvitamin D3 24-hydroxylase activity
GO:0030294	0.000050	9.901836	0.980829	receptor signaling protein tyrosine kinase inhibitor activity
GO:0030293	0.000050	9.901836	0.000000	transmembrane receptor protein tyrosine kinase inhibitor activity
GO:0030281	0.000050	9.901836	6.269096	structural constituent of cutaneous appendage
GO:0030270	0.000050	9.901836	4.857225	formylmethanofuran-tetrahydromethanopterin N-formyltransferase activity
GO:0023030	0.000050	9.901836	0.510826	MHC class Ib protein binding, via antigen binding groove
GO:0023027	0.000050	9.901836	0.000000	MHC class I protein binding, via antigen binding groove
GO:0019981	0.000050	9.901836	3.218876	interleukin-6 binding
GO:0019962	0.000050	9.901836	1.098612	type I interferon binding
GO:0019811	0.000050	9.901836	5.497168	cocaine binding
GO:0019780	0.000050	9.901836	3.028522	FAT10 activating enzyme activity
GO:0019778	0.000050	9.901836	3.028522	Atg12 activating enzyme activity
GO:0019772	0.000050	9.901836	1.098612	low-affinity IgG receptor activity
GO:0019177	0.000050	9.901836	5.978042	dihydroneopterin triphosphate pyrophosphohydrolase activity
GO:0019114	0.000050	9.901836	3.944813	catechol dioxygenase activity
GO:0018845	0.000050	9.901836	4.317488	2-hydroxychromene-2-carboxylate isomerase activity
GO:0018833	0.000050	9.901836	0.693147	DDT-dehydrochlorinase activity
GO:0018826	0.000050	9.901836	3.496508	methionine gamma-lyase activity
GO:0018819	0.000050	9.901836	5.062595	lactoyl-CoA dehydratase activity
GO:0018787	0.000050	9.901836	0.693147	4-chlorobenzoyl-CoA dehalogenase activity
GO:0018741	0.000050	9.901836	2.852631	alkyl sulfatase activity
GO:0018739	0.000050	9.901836	3.178054	4-hydroxybenzoyl-CoA thioesterase activity
GO:0018674	0.000050	9.901836	0.287682	(S)-limonene 3-monooxygenase activity
GO:0018669	0.000050	9.901836	4.317488	3-hydroxybenzoate 6-monooxygenase activity
GO:0018662	0.000050	9.901836	4.317488	phenol 2-monooxygenase activity
GO:0018659	0.000050	9.901836	4.317488	4-hydroxybenzoate 3-monooxygenase activity
GO:0018601	0.000050	9.901836	4.317488	4-nitrophenol 2-monooxygenase activity
GO:0018576	0.000050	9.901836	0.000000	catechol 1,2-dioxygenase activity
GO:0018549	0.000050	9.901836	2.456736	methanethiol oxidase activity
GO:0018506	0.000050	9.901836	3.857215	maleylacetate reductase activity
GO:0018423	0.000050	9.901836	1.299283	protein C-terminal leucine carboxyl O-methyltransferase activity
GO:0018031	0.000050	9.901836	4.054679	peptidyl-lysine N6-palmitoyltransferase activity
GO:0017178	0.000050	9.901836	2.662588	diphthine-ammonia ligase activity
GO:0017161	0.000050	9.901836	2.456736	inositol-1,3,4-trisphosphate 4-phosphatase activity
GO:0017105	0.000050	9.901836	2.662588	acyl-CoA delta11-(Z)-desaturase activity
GO:0017103	0.000050	9.901836	1.992430	UTP:galactose-1-phosphate uridylyltransferase activity
GO:0017065	0.000050	9.901836	2.427748	single-strand selective uracil DNA N-glycosylase activity
GO:0016990	0.000050	9.901836	3.149883	arginine deiminase activity
GO:0016984	0.000050	9.901836	4.442651	ribulose-bisphosphate carboxylase activity
GO:0016977	0.000050	9.901836	5.654826	chitosanase activity
GO:0016937	0.000050	9.901836	2.456736	short-branched-chain-acyl-CoA dehydrogenase activity
GO:0016752	0.000050	9.901836	5.897154	sinapoyltransferase activity
GO:0016710	0.000050	9.901836	4.317488	trans-cinnamate 4-monooxygenase activity
GO:0016692	0.000050	9.901836	4.514516	NADH peroxidase activity
GO:0016643	0.000050	9.901836	3.905334	oxidoreductase activity, acting on the CH-NH2 group of donors, iron-sulfur protein as acceptor
GO:0016632	0.000050	9.901836	4.650781	oxidoreductase activity, acting on the CH-CH group of donors, cytochrome as acceptor
GO:0016515	0.000050	9.901836	4.054679	interleukin-13 receptor activity
GO:0016501	0.000050	9.901836	2.639057	prostacyclin receptor activity
GO:0016496	0.000050	9.901836	1.540445	substance P receptor activity
GO:0016490	0.000050	9.901836	6.269096	structural constituent of peritrophic membrane
GO:0016463	0.000050	9.901836	1.734601	P-type zinc transporter activity
GO:0016443	0.000050	9.901836	1.734601	bidentate ribonuclease III activity
GO:0016402	0.000050	9.901836	1.673976	pristanoyl-CoA oxidase activity
GO:0016309	0.000050	9.901836	2.852631	1-phosphatidylinositol-5-phosphate 4-kinase activity
GO:0016232	0.000050	9.901836	4.043051	HNK-1 sulfotransferase activity
GO:0016153	0.000050	9.901836	5.062595	urocanate hydratase activity
GO:0016150	0.000050	9.901836	1.945910	translation release factor activity, codon nonspecific
GO:0016085	0.000050	9.901836	4.406719	myoinhibitory hormone activity
GO:0016041	0.000050	9.901836	0.000000	glutamate synthase (ferredoxin) activity
GO:0015654	0.000050	9.901836	4.953477	tellurite transmembrane transporter activity
GO:0015648	0.000050	9.901836	0.693147	lipid-linked peptidoglycan transporter activity
GO:0015495	0.000050	9.901836	0.000000	gamma-aminobutyric acid:proton symporter activity
GO:0015478	0.000050	9.901836	0.000000	oligosaccharide transporting porin activity
GO:0015446	0.000050	9.901836	0.000000	ATPase-coupled arsenite transmembrane transporter activity
GO:0015437	0.000050	9.901836	1.734601	lipopolysaccharide floppase activity
GO:0015407	0.000050	9.901836	0.000000	ABC-type monosaccharide transporter activity
GO:0015361	0.000050	9.901836	1.299283	low-affinity sodium:dicarboxylate symporter activity
GO:0015334	0.000050	9.901836	3.012262	high-affinity oligopeptide transmembrane transporter activity
GO:0015317	0.000050	9.901836	3.601868	phosphate:proton symporter activity
GO:0015264	0.000050	9.901836	0.693147	methylammonium channel activity
GO:0015244	0.000050	9.901836	0.000000	fluconazole transmembrane transporter activity
GO:0015231	0.000050	9.901836	3.245193	5-formyltetrahydrofolate transmembrane transporter activity
GO:0015155	0.000050	9.901836	2.639057	lactose transmembrane transporter activity
GO:0015104	0.000050	9.901836	5.068904	antimonite transmembrane transporter activity
GO:0015083	0.000050	9.901836	6.714171	aluminum ion transmembrane transporter activity
GO:0015080	0.000050	9.901836	4.308559	silver ion transmembrane transporter activity
GO:0015067	0.000050	9.901836	5.797070	amidinotransferase activity
GO:0015054	0.000050	9.901836	4.739118	gastrin receptor activity
GO:0015046	0.000050	9.901836	0.510826	rubredoxin-NADP+ reductase activity
GO:0015044	0.000050	9.901836	0.510826	rubredoxin-NAD+ reductase activity
GO:0015024	0.000050	9.901836	2.852631	glucuronate-2-sulfatase activity
GO:0015019	0.000050	9.901836	4.595120	heparan-alpha-glucosaminide N-acetyltransferase activity
GO:0010859	0.000050	9.901836	3.672072	calcium-dependent cysteine-type endopeptidase inhibitor activity
GO:0010736	0.000050	9.901836	5.764146	serum response element binding
GO:0010490	0.000050	9.901836	5.605802	UDP-4-keto-rhamnose-4-keto-reductase activity
GO:0010489	0.000050	9.901836	3.367296	UDP-4-keto-6-deoxy-glucose-3,5-epimerase activity
GO:0010465	0.000050	9.901836	1.299283	nerve growth factor receptor activity
GO:0010354	0.000050	9.901836	4.199705	homogentisate prenyltransferase activity
GO:0010341	0.000050	9.901836	2.120264	gibberellin carboxyl-O-methyltransferase activity
GO:0010303	0.000050	9.901836	5.654826	limit dextrinase activity
GO:0010297	0.000050	9.901836	3.864232	heteropolysaccharide binding
GO:0010242	0.000050	9.901836	7.329094	oxygen evolving activity
GO:0010209	0.000050	9.901836	3.295837	vacuolar sorting signal binding
GO:0010179	0.000050	9.901836	0.287682	IAA-Ala conjugate hydrolase activity
GO:0010177	0.000050	9.901836	3.178054	2-(2'-methylthio)ethylmalate synthase activity
GO:0010013	0.000050	9.901836	2.614960	N-1-naphthylphthalamic acid binding
GO:0010012	0.000050	9.901836	3.574217	steroid 22-alpha hydroxylase activity
GO:0009917	0.000050	9.901836	4.650781	sterol 5-alpha reductase activity
GO:0009703	0.000050	9.901836	0.980829	nitrate reductase (NADH) activity
GO:0009702	0.000050	9.901836	3.976562	L-arabinokinase activity
GO:0009673	0.000050	9.901836	2.367124	low-affinity phosphate transmembrane transporter activity
GO:0009392	0.000050	9.901836	5.503976	N-acetyl-anhydromuramoyl-L-alanine amidase activity
GO:0009389	0.000050	9.901836	4.718499	dimethyl sulfoxide reductase activity
GO:0009045	0.000050	9.901836	3.308107	xylose isomerase activity
GO:0009036	0.000050	9.901836	0.000000	type II site-specific deoxyribonuclease activity
GO:0009030	0.000050	9.901836	3.938340	thiamine-phosphate kinase activity
GO:0009029	0.000050	9.901836	6.843039	tetraacyldisaccharide 4'-kinase activity
GO:0009025	0.000050	9.901836	3.496508	tagatose-bisphosphate aldolase activity
GO:0009022	0.000050	9.901836	1.845827	phosphate-dependent exonuclease activity
GO:0009010	0.000050	9.901836	5.605802	sorbitol-6-phosphate 2-dehydrogenase activity
GO:0008998	0.000050	9.901836	2.427748	ribonucleoside-triphosphate reductase activity
GO:0008995	0.000050	9.901836	5.003946	ribonuclease E activity
GO:0008993	0.000050	9.901836	3.976562	rhamnulokinase activity
GO:0008980	0.000050	9.901836	2.685577	propionate kinase activity
GO:0008972	0.000050	9.901836	3.938340	phosphomethylpyrimidine kinase activity
GO:0008968	0.000050	9.901836	3.120895	D-sedoheptulose 7-phosphate isomerase activity
GO:0008959	0.000050	9.901836	5.008411	phosphate acetyltransferase activity
GO:0008949	0.000050	9.901836	4.442651	oxalyl-CoA decarboxylase activity
GO:0008942	0.000050	9.901836	0.000000	nitrite reductase [NAD(P)H] activity
GO:0008924	0.000050	9.901836	0.000000	malate dehydrogenase (quinone) activity
GO:0008915	0.000050	9.901836	5.318120	lipid-A-disaccharide synthase activity
GO:0008911	0.000050	9.901836	3.232121	lactaldehyde dehydrogenase activity
GO:0008908	0.000050	9.901836	0.510826	isochorismatase activity
GO:0008894	0.000050	9.901836	5.978042	guanosine-5'-triphosphate,3'-diphosphate diphosphatase activity
GO:0008885	0.000050	9.901836	2.662588	glutathionylspermidine synthase activity
GO:0008881	0.000050	9.901836	2.456736	glutamate racemase activity
GO:0008874	0.000050	9.901836	0.287682	gluconate 5-dehydrogenase activity
GO:0008861	0.000050	9.901836	2.036882	formate C-acetyltransferase activity
GO:0008859	0.000050	9.901836	3.486355	exoribonuclease II activity
GO:0008837	0.000050	9.901836	2.456736	diaminopimelate epimerase activity
GO:0008829	0.000050	9.901836	3.574217	dCTP deaminase activity
GO:0008817	0.000050	9.901836	5.252273	corrinoid adenosyltransferase activity
GO:0008813	0.000050	9.901836	3.245193	chorismate lyase activity
GO:0008803	0.000050	9.901836	1.540445	bis(5'-nucleosyl)-tetraphosphatase (symmetrical) activity
GO:0008797	0.000050	9.901836	3.012262	aspartate ammonia-lyase activity
GO:0008795	0.000050	9.901836	2.662588	NAD+ synthase activity
GO:0008780	0.000050	9.901836	4.546835	acyl-[acyl-carrier-protein]-UDP-N-acetylglucosamine O-acyltransferase activity
GO:0008777	0.000050	9.901836	4.007333	acetylornithine deacetylase activity
GO:0008773	0.000050	9.901836	0.000000	[protein-PII] uridylyltransferase activity
GO:0008765	0.000050	9.901836	3.878121	UDP-N-acetylmuramoylalanyl-D-glutamate-2,6-diaminopimelate ligase activity
GO:0008760	0.000050	9.901836	5.252273	UDP-N-acetylglucosamine 1-carboxyvinyltransferase activity
GO:0008756	0.000050	9.901836	3.963983	o-succinylbenzoate-CoA ligase activity
GO:0008755	0.000050	9.901836	5.864578	O antigen polymerase activity
GO:0008738	0.000050	9.901836	3.496508	L-fuculose-phosphate aldolase activity
GO:0008720	0.000050	9.901836	1.734601	D-lactate dehydrogenase activity
GO:0008714	0.000050	9.901836	4.043051	AMP nucleosidase activity
GO:0008709	0.000050	9.901836	3.355735	cholate 7-alpha-dehydrogenase activity
GO:0008706	0.000050	9.901836	3.401197	6-phospho-beta-glucosidase activity
GO:0008701	0.000050	9.901836	3.245193	4-hydroxy-2-oxovalerate aldolase activity
GO:0008693	0.000050	9.901836	1.609438	3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase activity
GO:0008692	0.000050	9.901836	0.287682	3-hydroxybutyryl-CoA epimerase activity
GO:0008691	0.000050	9.901836	5.605802	3-hydroxybutyryl-CoA dehydrogenase activity
GO:0008690	0.000050	9.901836	3.044522	3-deoxy-manno-octulosonate cytidylyltransferase activity
GO:0008685	0.000050	9.901836	3.814043	2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase activity
GO:0008682	0.000050	9.901836	5.129899	3-demethoxyubiquinol 3-hydroxylase activity
GO:0008679	0.000050	9.901836	5.605802	2-hydroxy-3-oxopropionate reductase activity
GO:0008671	0.000050	9.901836	3.976562	2-dehydro-3-deoxygalactonokinase activity
GO:0008666	0.000050	9.901836	1.386294	2,3,4,5-tetrahydropyridine-2,6-dicarboxylate N-succinyltransferase activity
GO:0008551	0.000050	9.901836	0.000000	P-type cadmium transporter activity
GO:0008523	0.000050	9.901836	0.980829	sodium-dependent multivitamin transmembrane transporter activity
GO:0008513	0.000050	9.901836	2.427748	secondary active organic cation transmembrane transporter activity
GO:0008495	0.000050	9.901836	2.564949	protoheme IX farnesyltransferase activity
GO:0008437	0.000050	9.901836	4.406719	thyrotropin-releasing hormone activity
GO:0008424	0.000050	9.901836	0.000000	glycoprotein 6-alpha-L-fucosyltransferase activity
GO:0008281	0.000050	9.901836	6.563856	sulfonylurea receptor activity
GO:0008255	0.000050	9.901836	3.283414	ecdysis-triggering hormone activity
GO:0008147	0.000050	9.901836	6.269096	structural constituent of bone
GO:0008127	0.000050	9.901836	3.944813	quercetin 2,3-dioxygenase activity
GO:0008124	0.000050	9.901836	5.062595	4-alpha-hydroxytetrahydrobiopterin dehydratase activity
GO:0008119	0.000050	9.901836	1.945910	thiopurine S-methyltransferase activity
GO:0008112	0.000050	9.901836	4.691348	nicotinamide N-methyltransferase activity
GO:0008096	0.000050	9.901836	1.992430	juvenile hormone epoxide hydrolase activity
GO:0005362	0.000050	9.901836	1.203973	low-affinity glucose:sodium symporter activity
GO:0005352	0.000050	9.901836	0.000000	alpha-glucoside:proton symporter activity
GO:0005300	0.000050	9.901836	1.386294	high-affinity tryptophan transmembrane transporter activity
GO:0005278	0.000050	9.901836	0.000000	acetylcholine:proton antiporter activity
GO:0005252	0.000050	9.901836	4.304065	open rectifier potassium channel activity
GO:0005175	0.000050	9.901836	2.961831	CD27 receptor binding
GO:0005171	0.000050	9.901836	4.262680	hepatocyte growth factor receptor binding
GO:0005169	0.000050	9.901836	1.098612	neurotrophin TRKB receptor binding
GO:0005152	0.000050	9.901836	0.000000	interleukin-1 receptor antagonist activity
GO:0005151	0.000050	9.901836	1.791759	interleukin-1, type II receptor binding
GO:0005147	0.000050	9.901836	5.026071	oncostatin-M receptor binding
GO:0005139	0.000050	9.901836	3.401197	interleukin-7 receptor binding
GO:0005091	0.000050	9.901836	1.466337	guanyl-nucleotide exchange factor adaptor activity
GO:0005019	0.000050	9.901836	0.980829	platelet-derived growth factor beta-receptor activity
GO:0004990	0.000050	9.901836	4.739118	oxytocin receptor activity
GO:0004934	0.000050	9.901836	0.510826	mating-type alpha-factor pheromone receptor activity
GO:0004917	0.000050	9.901836	4.054679	interleukin-7 receptor activity
GO:0004914	0.000050	9.901836	4.054679	interleukin-5 receptor activity
GO:0004913	0.000050	9.901836	4.054679	interleukin-4 receptor activity
GO:0004912	0.000050	9.901836	4.054679	interleukin-3 receptor activity
GO:0004906	0.000050	9.901836	1.945910	type II interferon receptor activity
GO:0004895	0.000050	9.901836	1.098612	cell adhesion receptor activity
GO:0004848	0.000050	9.901836	3.149883	ureidoglycolate hydrolase activity
GO:0004847	0.000050	9.901836	4.747826	urea carboxylase activity
GO:0004787	0.000050	9.901836	5.978042	thiamine diphosphate phosphatase activity
GO:0004783	0.000050	9.901836	0.000000	sulfite reductase (NADPH) activity
GO:0004778	0.000050	9.901836	3.178054	succinyl-CoA hydrolase activity
GO:0004754	0.000050	9.901836	0.847298	saccharopine dehydrogenase (NAD+, L-lysine-forming) activity
GO:0004741	0.000050	9.901836	5.179909	[pyruvate dehydrogenase (lipoamide)] phosphatase activity
GO:0004730	0.000050	9.901836	5.062595	pseudouridylate synthase activity
GO:0004577	0.000050	9.901836	3.898600	N-acetylglucosaminyldiphosphodolichol N-acetylglucosaminyltransferase activity
GO:0004522	0.000050	9.901836	1.609438	ribonuclease A activity
GO:0004513	0.000050	9.901836	3.149883	neolactotetraosylceramide alpha-2,3-sialyltransferase activity
GO:0004493	0.000050	9.901836	3.970292	methylmalonyl-CoA epimerase activity
GO:0004453	0.000050	9.901836	5.269575	juvenile-hormone esterase activity
GO:0004446	0.000050	9.901836	3.135494	inositol-hexakisphosphate phosphatase activity
GO:0004381	0.000050	9.901836	3.149883	fucosylgalactoside 3-alpha-galactosyltransferase activity
GO:0004358	0.000050	9.901836	4.595120	glutamate N-acetyltransferase activity
GO:0004355	0.000050	9.901836	0.847298	glutamate synthase (NADPH) activity
GO:0004132	0.000050	9.901836	3.574217	dCMP deaminase activity
GO:0004119	0.000050	9.901836	3.344039	cGMP-inhibited cyclic-nucleotide phosphodiesterase activity
GO:0004083	0.000050	9.901836	0.510826	bisphosphoglycerate 2-phosphatase activity
GO:0004071	0.000050	9.901836	2.302585	aspartate-ammonia ligase activity
GO:0003963	0.000050	9.901836	0.000000	RNA-3'-phosphate cyclase activity
GO:0003957	0.000050	9.901836	0.000000	NAD(P)+ transhydrogenase (B-specific) activity
GO:0003943	0.000050	9.901836	2.852631	N-acetylgalactosamine-4-sulfatase activity
GO:0003912	0.000050	9.901836	3.850148	DNA nucleotidylexotransferase activity
GO:0003877	0.000050	9.901836	3.925268	ATP adenylyltransferase activity
GO:0003853	0.000050	9.901836	2.456736	2-methylacyl-CoA dehydrogenase activity
GO:0003830	0.000050	9.901836	2.367124	beta-1,4-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0002153	0.000050	9.901836	4.484884	steroid receptor RNA activator RNA binding
GO:0002113	0.000050	9.901836	4.462069	interleukin-33 binding
GO:0002061	0.000050	9.901836	1.098612	pyrimidine nucleobase binding
GO:0002058	0.000050	9.901836	0.000000	uracil binding
GO:0002057	0.000050	9.901836	0.847298	guanine binding
GO:0001884	0.000050	9.901836	1.386294	pyrimidine nucleoside binding
GO:0001855	0.000050	9.901836	2.335375	complement component C4b binding
GO:0001850	0.000050	9.901836	2.926739	complement component C3a binding
GO:0001792	0.000050	9.901836	1.734601	polymeric immunoglobulin receptor activity
GO:0001785	0.000050	9.901836	2.639057	prostaglandin J receptor activity
GO:0001760	0.000050	9.901836	4.442651	aminocarboxymuconate-semialdehyde decarboxylase activity
GO:0001733	0.000050	9.901836	0.693147	galactosylceramide sulfotransferase activity
GO:0001607	0.000050	9.901836	3.806662	neuromedin U receptor activity
GO:0001567	0.000050	9.901836	3.245193	cholesterol 25-hydroxylase activity
GO:0001566	0.000050	9.901836	0.980829	non-kinase phorbol ester receptor activity
GO:0001070	0.000050	9.901836	7.141245	RNA-binding transcription regulator activity
GO:0001068	0.000050	9.901836	1.945910	transcription regulatory region RNA binding
GO:0001065	0.000050	9.901836	0.000000	mitochondrial single subunit type RNA polymerase activity
GO:0001064	0.000050	9.901836	3.663562	single subunit type RNA polymerase activity
GO:0000994	0.000050	9.901836	3.332205	RNA polymerase III core binding
GO:0000908	0.000050	9.901836	4.299550	taurine dioxygenase activity
GO:0000907	0.000050	9.901836	4.299550	sulfonate dioxygenase activity
GO:0000832	0.000050	9.901836	1.673976	inositol hexakisphosphate 5-kinase activity
GO:0000831	0.000050	9.901836	1.673976	inositol hexakisphosphate 6-kinase activity
GO:0000721	0.000050	9.901836	5.605802	(R,R)-butanediol dehydrogenase activity
GO:0000515	0.000050	9.901836	0.000000	aspartate:glutamate, proton antiporter activity
GO:0000514	0.000050	9.901836	0.000000	3-sulfino-L-alanine: proton, glutamate antiporter activity
GO:0000511	0.000050	9.901836	2.564949	H2A-H2B histone complex chaperone activity
GO:0000402	0.000050	9.901836	2.564949	crossed form four-way junction DNA binding
GO:0000102	0.000050	9.901836	0.000000	L-methionine secondary active transmembrane transporter activity
GO:0000100	0.000050	9.901836	2.120264	S-methylmethionine transmembrane transporter activity
GO:0000048	0.000050	9.901836	2.995732	peptidyltransferase activity
GO:2001080	0.000033	10.307301	7.008053	chitosan binding
GO:2001067	0.000033	10.307301	4.269697	pullulan binding
GO:2001062	0.000033	10.307301	4.269697	xylan binding
GO:1990943	0.000033	10.307301	0.916291	mating type region replication fork barrier binding
GO:1990930	0.000033	10.307301	1.791759	mRNA N1-methyladenosine dioxygenase activity
GO:1990929	0.000033	10.307301	6.247075	sulfoquinovosidase activity
GO:1990915	0.000033	10.307301	2.442347	structural constituent of ascospore wall
GO:1990833	0.000033	10.307301	6.712956	clathrin-uncoating ATPase activity
GO:1990738	0.000033	10.307301	6.300786	pseudouridine 5'-phosphatase activity
GO:1990651	0.000033	10.307301	0.693147	inositol-1,2,4,5,6-pentakisphosphate 5-phosphatase activity
GO:1990650	0.000033	10.307301	1.252763	inositol-2,4,5,6-tetrakisphosphate 5-phosphatase activity
GO:1990649	0.000033	10.307301	1.252763	inositol-1,2,4,5-tetrakisphosphate 5-phosphatase activity
GO:1990648	0.000033	10.307301	2.862201	inositol-4,5,6-triphosphate 5-phosphatase activity
GO:1990640	0.000033	10.307301	2.862201	inositol-2,4,5-triphosphate 5-phosphatase activity
GO:1990634	0.000033	10.307301	5.099866	protein phosphatase 5 binding
GO:1990601	0.000033	10.307301	2.803360	5' overhang single-stranded DNA endodeoxyribonuclease activity
GO:1990595	0.000033	10.307301	6.245137	mast cell secretagogue receptor activity
GO:1990594	0.000033	10.307301	5.468060	L-altrarate dehydratase activity
GO:1990583	0.000033	10.307301	2.970414	phospholipase D activator activity
GO:1990576	0.000033	10.307301	6.245137	G protein-coupled glucose receptor activity
GO:1990534	0.000033	10.307301	3.091042	thermospermine oxidase activity
GO:1990482	0.000033	10.307301	5.833348	sphingolipid alpha-glucuronosyltransferase activity
GO:1990473	0.000033	10.307301	3.701302	ciliary targeting signal binding
GO:1990470	0.000033	10.307301	7.428333	piRNA cluster binding
GO:1990458	0.000033	10.307301	7.008053	lipooligosaccharide binding
GO:1990422	0.000033	10.307301	5.468060	glyoxalase (glycolic acid-forming) activity
GO:1990412	0.000033	10.307301	3.901973	hercynylselenocysteine lyase activity (selenoneine-forming)
GO:1990411	0.000033	10.307301	3.901973	hercynylcysteine sulfoxide lyase activity (ergothioneine-forming)
GO:1990407	0.000033	10.307301	1.609438	calcitonin gene-related peptide binding
GO:1990362	0.000033	10.307301	3.332205	butanol dehydrogenase activity
GO:1990276	0.000033	10.307301	2.833213	RNA 5'-methyltransferase activity
GO:1990272	0.000033	10.307301	3.481240	anti-Mullerian hormone receptor activity
GO:1990244	0.000033	10.307301	2.079442	histone H2AT120 kinase activity
GO:1990206	0.000033	10.307301	5.909441	jasmonyl-Ile conjugate hydrolase activity
GO:1990190	0.000033	10.307301	2.772589	peptide-glutamate-alpha-N-acetyltransferase activity
GO:1990162	0.000033	10.307301	4.016383	histone H3K4 deacetylase activity
GO:1990147	0.000033	10.307301	6.886532	talin binding
GO:1990119	0.000033	10.307301	1.609438	RNA helicase inhibitor activity
GO:1990055	0.000033	10.307301	4.848116	phenylacetaldehyde synthase activity
GO:1990043	0.000033	10.307301	0.000000	5' deoxyribonuclease (pyrimidine dimer) activity
GO:1905948	0.000033	10.307301	0.000000	ABC-type 3',5'-cyclic GMP transmembrane transporter activity
GO:1905594	0.000033	10.307301	8.771060	resveratrol binding
GO:1905577	0.000033	10.307301	1.386294	ganglioside GP1c binding
GO:1905575	0.000033	10.307301	0.000000	ganglioside GM3 binding
GO:1905574	0.000033	10.307301	1.386294	ganglioside GM2 binding
GO:1905131	0.000033	10.307301	0.000000	carcinine transmembrane transporter activity
GO:1905059	0.000033	10.307301	3.218876	P-type calcium transporter activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:1905056	0.000033	10.307301	3.218876	P-type calcium transporter activity involved in regulation of presynaptic cytosolic calcium ion concentration
GO:1904928	0.000033	10.307301	1.252763	coreceptor activity involved in canonical Wnt signaling pathway
GO:1904854	0.000033	10.307301	7.200052	proteasome core complex binding
GO:1904593	0.000033	10.307301	2.917771	prostaglandin binding
GO:1904493	0.000033	10.307301	9.868456	tetrahydrofolyl-poly(glutamate) polymer binding
GO:1904492	0.000033	10.307301	0.000000	Ac-Asp-Glu binding
GO:1904483	0.000033	10.307301	9.868456	synthetic cannabinoid binding
GO:1904067	0.000033	10.307301	7.008053	ascr#2 binding
GO:1903880	0.000033	10.307301	3.772761	17alpha-hydroxyprogesterone binding
GO:1903879	0.000033	10.307301	4.639572	11beta-hydroxyprogesterone binding
GO:1903878	0.000033	10.307301	0.693147	11-deoxycorticosterone binding
GO:1903877	0.000033	10.307301	3.772761	21-deoxycortisol binding
GO:1903876	0.000033	10.307301	0.693147	11-deoxycortisol binding
GO:1903875	0.000033	10.307301	0.693147	corticosterone binding
GO:1902944	0.000033	10.307301	3.817712	aspartic-type endopeptidase activity involved in amyloid precursor protein catabolic process
GO:1902557	0.000033	10.307301	1.791759	5'-adenylyl sulfate transmembrane transporter activity
GO:1902118	0.000033	10.307301	1.098612	calcidiol binding
GO:1902052	0.000033	10.307301	0.000000	(25S)-Delta(7)-dafachronate binding
GO:1902051	0.000033	10.307301	0.000000	(25S)-Delta(4)-dafachronate binding
GO:1901974	0.000033	10.307301	1.871802	glycerate transmembrane transporter activity
GO:1901707	0.000033	10.307301	2.639057	leptomycin B binding
GO:1901691	0.000033	10.307301	7.321850	proton binding
GO:1901604	0.000033	10.307301	1.504077	dethiobiotin transmembrane transporter activity
GO:1901584	0.000033	10.307301	3.417727	tetrapeptide transmembrane transporter activity
GO:0160039	0.000033	10.307301	0.000000	serotonin-gated chloride channel activity
GO:0160013	0.000033	10.307301	6.302619	NAD-dependent protein de-2-hydroxyisobutyrylase activity
GO:0160012	0.000033	10.307301	0.000000	NAD-dependent histone decrotonylase activity
GO:0160011	0.000033	10.307301	6.302619	NAD-dependent protein decrotonylase activity
GO:0150025	0.000033	10.307301	2.772589	oxidised low-density lipoprotein particle receptor activity
GO:0140931	0.000033	10.307301	0.000000	neutral L-amino acid:sodium:chloride symporter activity
GO:0140926	0.000033	10.307301	4.783316	L-kynurenine transmembrane transporter activity
GO:0140908	0.000033	10.307301	3.238678	histone H3K122 acetyltransferase activity
GO:0140903	0.000033	10.307301	1.386294	histone H3R26 methyltransferase activity
GO:0140901	0.000033	10.307301	0.000000	L-asparagine:sodium symporter activity
GO:0140897	0.000033	10.307301	6.969321	mechanoreceptor activity
GO:0140857	0.000033	10.307301	2.079442	histone H3T45 kinase activity
GO:0140853	0.000033	10.307301	7.634337	cholesterol-protein transferase activity
GO:0140851	0.000033	10.307301	1.098612	histone H3K14 ubiquitin ligase activity
GO:0140815	0.000033	10.307301	2.944439	NAD+-protein-histidine ADP-ribosyltransferase activity
GO:0140808	0.000033	10.307301	2.944439	NAD+-protein-tyrosine ADP-ribosyltransferase activity
GO:0140802	0.000033	10.307301	2.944439	NAD+-protein-C-terminal glycine ADP-ribosyltransferase activity
GO:0140801	0.000033	10.307301	0.405465	histone H2AY142 kinase activity
GO:0140799	0.000033	10.307301	0.693147	glycine:proton antiporter activity
GO:0140797	0.000033	10.307301	0.405465	histone H3R17 arginine deiminase activity
GO:0140796	0.000033	10.307301	0.405465	histone H3R8 arginine deiminase activity
GO:0140795	0.000033	10.307301	0.405465	histone H3R2 arginine deiminase activity
GO:0140785	0.000033	10.307301	3.960813	amino acid sensor activity
GO:0140775	0.000033	10.307301	2.602690	actin filament debranching activity
GO:0140760	0.000033	10.307301	3.433987	histone H3K56me2/H3K56me3 demethylase activity
GO:0140758	0.000033	10.307301	0.916291	metal-dependent deNEDDylase activity
GO:0140752	0.000033	10.307301	1.504077	branched 1,3-beta-D-glucan synthase activity
GO:0140692	0.000033	10.307301	1.252763	very long-chain fatty acid omega-hydroxylase activity
GO:0140680	0.000033	10.307301	2.302585	histone H3K36me/H3K36me2 demethylase activity
GO:0140665	0.000033	10.307301	0.000000	ATP-dependent H3-H4 histone complex chaperone activity
GO:0140664	0.000033	10.307301	0.000000	ATP-dependent DNA damage sensor activity
GO:0140662	0.000033	10.307301	1.386294	ATP-dependent protein folding chaperone
GO:0140628	0.000033	10.307301	3.178054	outward rectifier potassium channel inhibitor activity
GO:0140592	0.000033	10.307301	1.386294	histone H3R8 methyltransferase activity
GO:0140586	0.000033	10.307301	1.252763	promoter-terminator loop anchoring activity
GO:0140584	0.000033	10.307301	2.197225	chromatin extrusion motor activity
GO:0140580	0.000033	10.307301	3.806662	mitochondrion autophagosome adaptor activity
GO:0140562	0.000033	10.307301	2.917771	EGF-domain serine xylosyltransferase activity
GO:0140561	0.000033	10.307301	4.610158	EGF-domain serine glucosyltransferase activity
GO:0140550	0.000033	10.307301	0.693147	phosphatidylinositol-4,5-bisphosphate sensor activity
GO:0140488	0.000033	10.307301	4.363099	heme receptor activity
GO:0140486	0.000033	10.307301	0.693147	zinc ion sequestering activity
GO:0140485	0.000033	10.307301	0.000000	5-aminolevulinic acid transmembrane transporter activity
GO:0140482	0.000033	10.307301	1.945910	iron sensor activity
GO:0140481	0.000033	10.307301	3.988984	ABC-type iron-sulfur cluster transporter activity
GO:0140449	0.000033	10.307301	3.806662	centromere-nuclear envelope anchor activity
GO:0140443	0.000033	10.307301	3.806662	mitochondrion-plasma membrane adaptor activity
GO:0140442	0.000033	10.307301	3.960813	peroxide sensor activity
GO:0140432	0.000033	10.307301	5.409411	5'-hydroxyl dinucleotide hydrolase
GO:0140394	0.000033	10.307301	0.000000	ABC-type azole transporter activity
GO:0140376	0.000033	10.307301	4.686750	innate immune receptor activity
GO:0140348	0.000033	10.307301	2.564949	lysophosphatidylcholine flippase activity
GO:0140341	0.000033	10.307301	1.704748	phosphatidylethanolamine floppase activity
GO:0140340	0.000033	10.307301	0.000000	cerebroside transfer activity
GO:0140339	0.000033	10.307301	3.465736	phosphatidylglycerol transfer activity
GO:0140337	0.000033	10.307301	4.127134	diacylglyceride transfer activity
GO:0140314	0.000033	10.307301	0.693147	calcium ion sequestering activity
GO:0140295	0.000033	10.307301	5.980151	pathogen-derived receptor ligand activity
GO:0140259	0.000033	10.307301	7.200052	PRC1 complex binding
GO:0140232	0.000033	10.307301	1.945910	intracellular cAMP-activated cation channel activity involved in regulation of presynaptic membrane potential
GO:0140164	0.000033	10.307301	7.200052	Golgi transport complex binding
GO:0140108	0.000033	10.307301	3.828641	high-affinity glucose transmembrane transporter activity
GO:0140080	0.000033	10.307301	3.091042	class III/IV DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0140069	0.000033	10.307301	0.916291	histone butyryltransferase activity
GO:0140010	0.000033	10.307301	0.000000	D-aspartate transmembrane transporter activity
GO:0120328	0.000033	10.307301	0.000000	ATP-dependent DNA (cytosine-5-)-methyltransferase activity
GO:0120301	0.000033	10.307301	0.000000	histone lactyltransferase activity
GO:0120300	0.000033	10.307301	5.262690	peptide lactyltransferase activity
GO:0120298	0.000033	10.307301	5.262690	peptide noradrenalinyltransferase activity
GO:0120297	0.000033	10.307301	0.405465	histone dopaminyltransferase activity
GO:0120295	0.000033	10.307301	0.693147	histone serotonyltransferase activity
GO:0120284	0.000033	10.307301	2.708050	tryptophan binding
GO:0120274	0.000033	10.307301	2.944439	virus coreceptor activity
GO:0120233	0.000033	10.307301	6.621406	prenyl-FMNH2 binding
GO:0120226	0.000033	10.307301	2.995732	succinyl-CoA binding
GO:0120204	0.000033	10.307301	6.127960	methylcytosine to 5-glyceryl-methylcytosine dioxygenase activity
GO:0120152	0.000033	10.307301	3.970292	calcium-dependent outer dynein arm binding
GO:0120108	0.000033	10.307301	6.383507	DNA-3'-diphospho-5'-guanosine diphosphatase
GO:0120092	0.000033	10.307301	5.468060	crotonyl-CoA hydratase activity
GO:0120086	0.000033	10.307301	3.540959	(3S)-(+)-asterisca-2(9),6-diene synthase activity
GO:0120053	0.000033	10.307301	2.917771	ribitol beta-1,4-xylosyltransferase activity
GO:0120022	0.000033	10.307301	4.060443	glucagon family peptide binding
GO:0110130	0.000033	10.307301	6.300786	ribitol-5-phosphatase activity
GO:0110068	0.000033	10.307301	2.525729	glucosylglycerate phosphorylase activity
GO:0110035	0.000033	10.307301	0.000000	rDNA spacer replication fork barrier binding, bending
GO:0106432	0.000033	10.307301	2.079442	queuosine nucleosidase activity
GO:0106425	0.000033	10.307301	4.848116	3,4-dihydroxyphenylacetaldehyde synthase activity
GO:0106423	0.000033	10.307301	3.068053	tubulin-tyrosine carboxypeptidase
GO:0106422	0.000033	10.307301	2.014903	carotenoid isomerooxygenase activity
GO:0106420	0.000033	10.307301	6.302619	NAD-dependent protein biotinidase activity
GO:0106419	0.000033	10.307301	6.302619	NAD-dependent protein lipoamidase activity
GO:0106415	0.000033	10.307301	3.951244	muramoyltetrapeptide carboxypeptidase activity
GO:0106414	0.000033	10.307301	1.871802	mRNA dihydrouridine synthase activity
GO:0106411	0.000033	10.307301	3.091042	XMP 5'-nucleosidase activity
GO:0106405	0.000033	10.307301	6.383507	isoprenoid diphosphate phosphatase activity
GO:0106399	0.000033	10.307301	6.383507	acyl-coenzyme A diphosphatase activity
GO:0106386	0.000033	10.307301	6.011267	(3R)-hydroxyacyl-CoA dehydrogenase (NAD) activity
GO:0106378	0.000033	10.307301	3.135494	2-hydroxy-dATP hydrolase activity
GO:0106377	0.000033	10.307301	3.135494	2-hydroxy-ATP hydrolase activity
GO:0106373	0.000033	10.307301	3.637586	3-deoxyglucosone dehydrogenase activity
GO:0106372	0.000033	10.307301	5.675040	primary fluorescent dioxobilin-type chlorophyll catabolite methylesterase activity
GO:0106371	0.000033	10.307301	4.722953	fluorescent chlorophyll catabolite monooxygenase (deformylase) activity
GO:0106366	0.000033	10.307301	7.248504	guanosine kinase activity
GO:0106348	0.000033	10.307301	0.916291	U2 snRNA adenosine m6 methytransferase activity
GO:0106340	0.000033	10.307301	1.386294	tRNA (guanosine 32-2'-O)-methyltransferase activity
GO:0106335	0.000033	10.307301	3.931826	tRNA (carboxymethyluridine(34)-5-O)-methyltransferase activity
GO:0106334	0.000033	10.307301	2.862201	3'-deoxyribose phosphate lyase activity
GO:0106332	0.000033	10.307301	1.871802	ds/ssDNA junction-specific dsDNA endonuclease activity
GO:0106283	0.000033	10.307301	3.761200	ursodeoxycholate 7-beta-dehydrogenase (NAD+) activity
GO:0106282	0.000033	10.307301	3.761200	isoursodeoxycholate 7-beta-dehydrogenase (NAD+) activity
GO:0106281	0.000033	10.307301	3.761200	chenodeoxycholate 7-alpha-dehydrogenase (NAD+) activity
GO:0106264	0.000033	10.307301	2.197225	protein serine kinase activity (using GTP as donor)
GO:0106261	0.000033	10.307301	5.413876	tRNA uridine(34) acetyltransferase activity
GO:0106256	0.000033	10.307301	5.468060	hydroperoxy icosatetraenoate dehydratase activity
GO:0106251	0.000033	10.307301	5.313206	N4-acetylcytidine amidohydrolase activity
GO:0106250	0.000033	10.307301	5.669881	DNA-binding transcription repressor activity, RNA polymerase III-specific
GO:0106244	0.000033	10.307301	5.818598	eupatolide synthase activity
GO:0106243	0.000033	10.307301	4.828314	syn-isopimara-7,15-diene synthase activity
GO:0106242	0.000033	10.307301	2.995732	kolavenyl diphosphate synthase activity
GO:0106240	0.000033	10.307301	6.127960	labd-13Z-ene-9,15,16-triol synthase activity
GO:0106229	0.000033	10.307301	0.000000	histone glutaryltransferase activity
GO:0106228	0.000033	10.307301	5.262690	peptide glutaryltransferase activity
GO:0106211	0.000033	10.307301	0.405465	inositol-5-diphosphate-1,3,4,6-tetrakisphosphate diphosphatase activity
GO:0106162	0.000033	10.307301	5.000585	mRNA N-acetyltransferase activity
GO:0106158	0.000033	10.307301	6.302619	glycero-3-phosphocholine acyltransferase activity
GO:0106157	0.000033	10.307301	4.007333	peptidyl-arginine 3-dioxygenase activity
GO:0106155	0.000033	10.307301	4.007333	peptidyl-lysine 3-dioxygenase activity
GO:0106153	0.000033	10.307301	0.000000	phosphorylated histone binding
GO:0106151	0.000033	10.307301	9.589051	CNBH domain intrinsic ligand binding
GO:0106149	0.000033	10.307301	4.722953	indole-3-carbonyl nitrile 4-hydroxylase activity
GO:0106145	0.000033	10.307301	4.722953	scopoletin 8-hydroxylase activity
GO:0106144	0.000033	10.307301	4.722953	fraxetin 5-hydroxylase activity
GO:0106142	0.000033	10.307301	2.140066	rRNA (adenine-N1-)-methyltransferase activity
GO:0106141	0.000033	10.307301	4.605170	flavin prenyltransferase activity
GO:0106138	0.000033	10.307301	7.200052	Sec61 translocon complex binding
GO:0106100	0.000033	10.307301	4.548600	beta-pinacene synthase activity
GO:0106099	0.000033	10.307301	3.901973	2-keto-3-deoxy-L-rhamnonate aldolase activity
GO:0106078	0.000033	10.307301	0.000000	histone succinyltransferase activity
GO:0106075	0.000033	10.307301	5.262690	peptide N-succinyltransferase activity
GO:0106063	0.000033	10.307301	6.245137	G protein-coupled folate receptor activity
GO:0106032	0.000033	10.307301	2.014903	snRNA pseudouridine synthase activity
GO:0106009	0.000033	10.307301	3.650658	(4S)-4-hydroxy-2-oxoglutarate aldolase activity
GO:0106008	0.000033	10.307301	5.313206	2-oxoglutaramate amidase activity
GO:0103043	0.000033	10.307301	5.153292	5-phospho-alpha-D-ribosyl 1,2-cyclic phosphate phosphodiesterase activity
GO:0103026	0.000033	10.307301	6.300786	fructose-1-phosphatase activity
GO:0103002	0.000033	10.307301	6.011267	16-hydroxypalmitate dehydrogenase activity
GO:0102987	0.000033	10.307301	3.881564	palmitoleic acid delta 12 desaturase activity
GO:0102924	0.000033	10.307301	4.705016	gibberellin A44,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102922	0.000033	10.307301	6.302619	phenylpropanoyltransferase activity
GO:0102921	0.000033	10.307301	6.270043	mannosylglycerate synthase activity
GO:0102913	0.000033	10.307301	6.100319	3-aminomethylindole N-methyltransferase activity
GO:0102910	0.000033	10.307301	3.496508	dirigent protein activity
GO:0102905	0.000033	10.307301	4.828314	valencene synthase activity
GO:0102879	0.000033	10.307301	4.828314	(+)-thujopsene synthase activity
GO:0102878	0.000033	10.307301	4.828314	(+)-alpha-barbatene synthase activity
GO:0102822	0.000033	10.307301	6.100319	quercetin 3'-O-methyltransferase activity
GO:0102810	0.000033	10.307301	4.905275	glutarate-semialdehyde dehydrogenase (NADP+) activity
GO:0102805	0.000033	10.307301	4.705016	codeine O-demethylase activity
GO:0102802	0.000033	10.307301	4.705016	thebaine 6-O-demethylase activity
GO:0102786	0.000033	10.307301	3.881564	stearoyl-[acp] desaturase activity
GO:0102770	0.000033	10.307301	7.287903	inositol phosphorylceramide synthase activity
GO:0102758	0.000033	10.307301	4.262680	very-long-chain enoyl-CoA reductase activity
GO:0102752	0.000033	10.307301	6.270043	1,4-alpha-glucan branching enzyme activity (using a glucosylated glycogenin as primer for glycogen synthesis)
GO:0102734	0.000033	10.307301	4.722953	brassinolide synthase activity
GO:0102701	0.000033	10.307301	4.828314	tricyclene synthase activity
GO:0102698	0.000033	10.307301	4.828314	5-epi-aristolochene synthase activity
GO:0102654	0.000033	10.307301	3.881564	1-18:1-2-16:0-phosphatidylglycerol trans-3 desaturase activity
GO:0102652	0.000033	10.307301	4.705016	gibberellin A9,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102628	0.000033	10.307301	4.722953	costunolide 3beta-hydroxylase activity
GO:0102627	0.000033	10.307301	4.722953	parthenolide 3beta-hydroxylase activity
GO:0102626	0.000033	10.307301	4.722953	parthenolide synthase activity
GO:0102561	0.000033	10.307301	5.153292	D-ribose 2,5-bisphosphate 2-phosphohydrolase activity
GO:0102560	0.000033	10.307301	5.153292	5-phospho-alpha-D-ribose 1,2-cyclic phosphate 1-phosphohydrolase activity
GO:0102547	0.000033	10.307301	2.862201	glucosylglycerate hydrolase activity
GO:0102546	0.000033	10.307301	2.862201	mannosylglycerate hydrolase activity
GO:0102545	0.000033	10.307301	5.675040	phosphatidyl phospholipase B activity
GO:0102524	0.000033	10.307301	0.693147	tRNAPhe (7-(3-amino-3-carboxypropyl)wyosine37-C2)-hydroxylase activity
GO:0102517	0.000033	10.307301	4.722953	oleate 12-hydroxylase activity
GO:0102450	0.000033	10.307301	6.100319	kaempferide 7-O-methyltransferase activity
GO:0102448	0.000033	10.307301	6.100319	rhamnetin 4'-O-methyltransferase activity
GO:0102447	0.000033	10.307301	6.100319	rhamnetin 3'-O-methyltransferase activity
GO:0102441	0.000033	10.307301	6.100319	syringetin 7-O-methyltransferase activity
GO:0102440	0.000033	10.307301	6.100319	3',4',5'-trimethylmyricetin 3-O-methyltransferase activity
GO:0102439	0.000033	10.307301	6.100319	3',4',5'-trimethylmyricetin 7-O-methyltransferase activity
GO:0102435	0.000033	10.307301	6.100319	myricetin 7-O-methyltransferase activity
GO:0102432	0.000033	10.307301	6.100319	quercetin 7-O-methyltransferase activity
GO:0102431	0.000033	10.307301	0.405465	acyl-lipid omega-(9-4) desaturase activity
GO:0102358	0.000033	10.307301	6.100319	daphnetin-8-O-methyltransferase activity
GO:0102299	0.000033	10.307301	4.350278	linolenate 9R-lipoxygenase activity
GO:0102294	0.000033	10.307301	6.011267	cholesterol dehydrogenase activity
GO:0102267	0.000033	10.307301	1.871802	tRNA-dihydrouridine20b synthase activity
GO:0102266	0.000033	10.307301	1.871802	tRNA-dihydrouridine20a synthase activity
GO:0102264	0.000033	10.307301	1.871802	tRNA-dihydrouridine20 synthase activity
GO:0102263	0.000033	10.307301	1.871802	tRNA-dihydrouridine17 synthase activity
GO:0102262	0.000033	10.307301	1.871802	tRNA-dihydrouridine16 synthase activity
GO:0102259	0.000033	10.307301	5.675040	1,2-diacylglycerol acylhydrolase activity
GO:0102258	0.000033	10.307301	5.675040	1,3-diacylglycerol acylhydrolase activity
GO:0102207	0.000033	10.307301	1.252763	docosanoate omega-hydroxylase activity
GO:0102205	0.000033	10.307301	6.270043	cholesterol alpha-glucosyltransferase activity
GO:0102168	0.000033	10.307301	6.100319	5-methyl-phenazine-1-carboxylate N-methyltransferase activity
GO:0102116	0.000033	10.307301	4.722953	laurate hydroxylase activity
GO:0102111	0.000033	10.307301	4.705016	gibberellin A20,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102068	0.000033	10.307301	4.722953	alpha-humulene 10-hydroxylase activity
GO:0102043	0.000033	10.307301	4.369448	isopentenyl phosphate kinase activity
GO:0102031	0.000033	10.307301	6.270043	4-acetamido-4,6-dideoxy-D-galactose transferase activity
GO:0102009	0.000033	10.307301	2.772589	proline dipeptidase activity
GO:0101016	0.000033	10.307301	6.489205	FMN-binding domain binding
GO:0099635	0.000033	10.307301	4.226834	voltage-gated calcium channel activity involved in positive regulation of presynaptic cytosolic calcium levels
GO:0099621	0.000033	10.307301	4.766438	undecaprenyl-phosphate 4-deoxy-4-formamido-L-arabinose transferase activity
GO:0099620	0.000033	10.307301	4.527209	UDP-4-amino-4-deoxy-L-arabinose aminotransferase
GO:0099619	0.000033	10.307301	3.526361	UDP-4-amino-4-deoxy-L-arabinose formyltransferase activity
GO:0099618	0.000033	10.307301	6.011267	UDP-glucuronic acid dehydrogenase activity
GO:0099615	0.000033	10.307301	6.120297	(D)-2-hydroxyglutarate-pyruvate transhydrogenase activity
GO:0099567	0.000033	10.307301	0.693147	calcium ion binding involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0099142	0.000033	10.307301	0.916291	intracellularly ATP-gated ion channel activity
GO:0099119	0.000033	10.307301	0.693147	3-demethylubiquinol-8 3-O-methyltransferase activity
GO:0099108	0.000033	10.307301	0.000000	potassium channel activator activity involved in G protein-coupled receptor signaling pathway
GO:0099085	0.000033	10.307301	1.098612	DIF dechlorinase activity
GO:0099077	0.000033	10.307301	8.047190	histone-dependent DNA binding
GO:0098872	0.000033	10.307301	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0098848	0.000033	10.307301	0.000000	alpha-D-ribose 1-methylphosphonate 5-phosphate C-P-lyase activity
GO:0098769	0.000033	10.307301	9.589051	TIMP family protein binding
GO:0098744	0.000033	10.307301	4.848116	1-phosphatidylinositol 4-kinase activator activity
GO:0098699	0.000033	10.307301	0.000000	structural constituent of presynaptic actin cytoskeleton
GO:0098695	0.000033	10.307301	1.791759	inositol 1,4,5-trisphosphate receptor activity involved in regulation of postsynaptic cytosolic calcium levels
GO:0098680	0.000033	10.307301	4.620059	template-free RNA nucleotidyltransferase
GO:0098627	0.000033	10.307301	1.252763	protein arginine phosphatase activity
GO:0098624	0.000033	10.307301	4.930870	3'-phosphoadenylylselenate reductase activity
GO:0098619	0.000033	10.307301	4.579852	selenocysteine-tRNA ligase activity
GO:0098615	0.000033	10.307301	6.100319	dimethyl selenide methyltransferase activity
GO:0098604	0.000033	10.307301	0.000000	adenosylselenohomocysteinase activity
GO:0097726	0.000033	10.307301	6.489205	LEM domain binding
GO:0097697	0.000033	10.307301	1.945910	tRNA 5-carboxymethoxyuridine methyltransferase activity
GO:0097690	0.000033	10.307301	6.600551	iron ion transmembrane transporter inhibitor activity
GO:0097645	0.000033	10.307301	1.609438	amylin binding
GO:0097641	0.000033	10.307301	5.332719	alpha-ketoglutarate-dependent xanthine dioxygenase activity
GO:0097509	0.000033	10.307301	2.944439	oxanine DNA N-glycosylase activity
GO:0097508	0.000033	10.307301	2.944439	xanthine DNA N-glycosylase activity
GO:0097434	0.000033	10.307301	0.693147	succinate:proton symporter activity
GO:0097383	0.000033	10.307301	3.157000	dIDP phosphatase activity
GO:0097358	0.000033	10.307301	1.098612	D-leucyl-tRNA(Leu) deacylase activity
GO:0097256	0.000033	10.307301	6.120297	phenyllactate dehydrogenase activity
GO:0097162	0.000033	10.307301	6.489205	MADS box domain binding
GO:0097161	0.000033	10.307301	6.489205	DH domain binding
GO:0097160	0.000033	10.307301	8.771060	polychlorinated biphenyl binding
GO:0097098	0.000033	10.307301	0.000000	DNA/RNA hybrid annealing activity
GO:0097077	0.000033	10.307301	0.000000	copper ion sensor activity
GO:0097063	0.000033	10.307301	0.000000	cadmium ion sensor activity
GO:0097008	0.000033	10.307301	4.722953	(3E)-4,8-dimethyl-1,3,7-nonatriene synthase activity
GO:0097007	0.000033	10.307301	4.722953	4,8,12-trimethyltrideca-1,3,7,11-tetraene synthase activity
GO:0097005	0.000033	10.307301	2.639057	adipokinetic hormone receptor binding
GO:0090711	0.000033	10.307301	6.300786	FMN hydrolase activity
GO:0090704	0.000033	10.307301	4.610158	nicotinate-O-glucosyltransferase activity
GO:0090613	0.000033	10.307301	3.979682	5'-deoxyadenosine deaminase activity
GO:0090612	0.000033	10.307301	3.979682	cAMP deaminase activity
GO:0090589	0.000033	10.307301	2.079442	protein-phosphocysteine-trehalose phosphotransferase system transporter activity
GO:0090588	0.000033	10.307301	2.079442	protein-phosphocysteine-N-acetylmuramate phosphotransferase system transporter activity
GO:0090586	0.000033	10.307301	2.079442	protein-phosphocysteine-N-acetylglucosamine phosphotransferase system transporter activity
GO:0090582	0.000033	10.307301	2.079442	protein-phosphocysteine-D-fructose-phosphotransferase system transporter activity
GO:0090581	0.000033	10.307301	2.079442	protein-phosphocysteine-mannosylglycerate-phosphotransferase system transporter activity
GO:0090580	0.000033	10.307301	2.442347	phosphodiesterase activity, acting on 3'-phosphoglycolate-terminated DNA strands
GO:0090565	0.000033	10.307301	2.079442	protein-phosphocysteine-mannitol phosphotransferase system transporter activity
GO:0090564	0.000033	10.307301	2.079442	protein-phosphocysteine-glucose phosphotransferase system transporter activity
GO:0090499	0.000033	10.307301	5.675040	pimelyl-[acyl-carrier protein] methyl ester esterase activity
GO:0090488	0.000033	10.307301	6.489205	polo box domain specific binding
GO:0090483	0.000033	10.307301	1.945910	phosphatidylglycerol-phosphatidylethanolamine phosphatidyltransferase activity
GO:0090471	0.000033	10.307301	4.069027	9,15,9'-tri-cis-zeta-carotene isomerase activity
GO:0090438	0.000033	10.307301	4.791650	camelliol C synthase activity
GO:0090417	0.000033	10.307301	3.676301	N-methylnicotinate transmembrane transporter activity
GO:0090415	0.000033	10.307301	0.916291	7-hydroxymethyl chlorophyll a reductase activity
GO:0090369	0.000033	10.307301	5.951944	ornithine carbamoyltransferase inhibitor activity
GO:0089714	0.000033	10.307301	6.011267	UDP-N-acetyl-D-mannosamine dehydrogenase activity
GO:0089702	0.000033	10.307301	4.255613	undecaprenyl-phosphate glucose phosphotransferase activity
GO:0086090	0.000033	10.307301	1.945910	voltage-gated potassium channel activity involved in SA node cell action potential repolarization
GO:0086087	0.000033	10.307301	1.945910	voltage-gated potassium channel activity involved in bundle of His cell action potential repolarization
GO:0086076	0.000033	10.307301	1.098612	gap junction channel activity involved in atrial cardiac muscle cell-AV node cell electrical coupling
GO:0086061	0.000033	10.307301	1.704748	voltage-gated sodium channel activity involved in bundle of His cell action potential
GO:0086060	0.000033	10.307301	1.704748	voltage-gated sodium channel activity involved in AV node cell action potential
GO:0086057	0.000033	10.307301	1.504077	voltage-gated calcium channel activity involved in bundle of His cell action potential
GO:0086041	0.000033	10.307301	4.709530	voltage-gated potassium channel activity involved in SA node cell action potential depolarization
GO:0086040	0.000033	10.307301	3.496508	sodium:proton antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0086037	0.000033	10.307301	2.995732	P-type sodium:potassium-exchanging transporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0080150	0.000033	10.307301	4.226834	S-adenosyl-L-methionine:benzoic acid carboxyl methyl transferase activity
GO:0080131	0.000033	10.307301	4.448516	hydroxyjasmonate sulfotransferase activity
GO:0080130	0.000033	10.307301	0.000000	L-phenylalanine:2-oxoglutarate aminotransferase activity
GO:0080124	0.000033	10.307301	5.675040	pheophytinase activity
GO:0080123	0.000033	10.307301	4.283587	jasmonate-amino synthetase activity
GO:0080108	0.000033	10.307301	3.901973	S-alkylthiohydroximate lyase activity
GO:0080100	0.000033	10.307301	1.945910	L-glutamine:2-oxoglutarate aminotransferase activity
GO:0080098	0.000033	10.307301	1.609438	L-tyrosine:pyruvate aminotransferase activity
GO:0080097	0.000033	10.307301	0.000000	L-tryptophan:pyruvate aminotransferase activity
GO:0080096	0.000033	10.307301	4.952300	phosphatidate-sterol O-acyltransferase activity
GO:0080095	0.000033	10.307301	4.952300	phosphatidylethanolamine-sterol O-acyltransferase activity
GO:0080089	0.000033	10.307301	5.262690	sinapoyl spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080082	0.000033	10.307301	3.806662	esculin beta-glucosidase activity
GO:0080081	0.000033	10.307301	3.806662	4-methylumbelliferyl-beta-D-glucopyranoside beta-glucosidase activity
GO:0080078	0.000033	10.307301	4.226834	tricaffeoyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080077	0.000033	10.307301	4.226834	trihydroxyferuloyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080075	0.000033	10.307301	5.262690	spermidine:feruloyl CoA N-acyltransferase activity
GO:0080074	0.000033	10.307301	5.262690	spermidine:caffeoyl CoA N-acyltransferase activity
GO:0080071	0.000033	10.307301	0.693147	indol-3-yl-methyl-desulfoglucosinolate sulfotransferase activity
GO:0080070	0.000033	10.307301	0.693147	8-methylthiooctyl-desulfoglucosinolate sulfotransferase activity
GO:0080069	0.000033	10.307301	0.693147	7-methylthioheptyl-desulfoglucosinolate sulfotransferase activity
GO:0080068	0.000033	10.307301	0.693147	5-methylthiopentyl-desulfoglucosinolate sulfotransferase activity
GO:0080067	0.000033	10.307301	0.693147	4-methylthiobutyl-desulfoglucosinolate sulfotransferase activity
GO:0080066	0.000033	10.307301	0.693147	3-methylthiopropyl-desulfoglucosinolate sulfotransferase activity
GO:0080059	0.000033	10.307301	0.000000	flavonol 3-O-arabinosyltransferase activity
GO:0080018	0.000033	10.307301	4.610158	anthocyanin 5-O-glucosyltransferase activity
GO:0080014	0.000033	10.307301	5.818598	thalianol hydroxylase activity
GO:0080012	0.000033	10.307301	4.226834	trihydroxyferuloyl spermidine O-methyltransferase activity
GO:0080011	0.000033	10.307301	2.995732	baruol synthase activity
GO:0080004	0.000033	10.307301	5.056246	thalian-diol desaturase activity
GO:0072591	0.000033	10.307301	5.153292	citrate-L-glutamate ligase activity
GO:0072585	0.000033	10.307301	2.079442	xanthosine nucleotidase activity
GO:0072552	0.000033	10.307301	0.000000	monoferuloyl di-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072551	0.000033	10.307301	0.000000	diferuloyl mono-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072550	0.000033	10.307301	0.000000	triferuloylspermidine meta-hydroxylase activity
GO:0072544	0.000033	10.307301	0.693147	L-DOPA binding
GO:0072541	0.000033	10.307301	4.919981	peroxynitrite reductase activity
GO:0072532	0.000033	10.307301	4.722953	tri-(feruloyl or hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072374	0.000033	10.307301	5.535364	carotene epsilon hydroxylase activity
GO:0071967	0.000033	10.307301	0.916291	lipopolysaccharide core heptosyltransferase activity
GO:0071906	0.000033	10.307301	6.489205	CRD domain binding
GO:0071861	0.000033	10.307301	3.806662	tachykinin receptor binding
GO:0071860	0.000033	10.307301	3.806662	proctolin receptor binding
GO:0071859	0.000033	10.307301	3.806662	neuropeptide F receptor binding
GO:0071858	0.000033	10.307301	3.806662	corazonin receptor binding
GO:0071734	0.000033	10.307301	1.704748	biotin-[pyruvate-carboxylase] ligase activity
GO:0071518	0.000033	10.307301	7.371175	autoinducer-2 kinase activity
GO:0071443	0.000033	10.307301	7.428333	tDNA binding
GO:0071172	0.000033	10.307301	4.025352	dihydromonapterin reductase activity
GO:0070917	0.000033	10.307301	7.120444	inositol phosphoceramide synthase regulator activity
GO:0070892	0.000033	10.307301	3.068053	lipoteichoic acid immune receptor activity
GO:0070675	0.000033	10.307301	0.693147	hypoxanthine oxidase activity
GO:0070636	0.000033	10.307301	4.448516	nicotinic acid riboside hydrolase activity
GO:0070612	0.000033	10.307301	2.674149	histone H2AR3 methyltransferase activity
GO:0070553	0.000033	10.307301	6.245137	nicotinic acid receptor activity
GO:0070546	0.000033	10.307301	4.527209	L-phenylalanine aminotransferase activity
GO:0070529	0.000033	10.307301	4.527209	L-tryptophan aminotransferase activity
GO:0070497	0.000033	10.307301	5.468060	6-carboxy-5,6,7,8-tetrahydropterin synthase activity
GO:0070456	0.000033	10.307301	3.511545	galactose-1-phosphate phosphatase activity
GO:0070338	0.000033	10.307301	1.704748	5'-flap-structured DNA binding
GO:0070282	0.000033	10.307301	4.317488	pyridoxine binding
GO:0070281	0.000033	10.307301	2.564949	pyridoxamine binding
GO:0070251	0.000033	10.307301	4.369448	pristanate-CoA ligase activity
GO:0070205	0.000033	10.307301	5.992714	2-succinyl-6-hydroxy-2,4-cyclohexadiene-1-carboxylate synthase activity
GO:0070204	0.000033	10.307301	3.135494	2-succinyl-5-enolpyruvyl-6-hydroxy-3-cyclohexene-1-carboxylic-acid synthase activity
GO:0070119	0.000033	10.307301	4.867534	ciliary neurotrophic factor binding
GO:0070040	0.000033	10.307301	0.000000	rRNA (adenine-C2-)-methyltransferase activity
GO:0070038	0.000033	10.307301	0.916291	rRNA (pseudouridine-N3-)-methyltransferase activity
GO:0070002	0.000033	10.307301	6.792344	glutamic-type peptidase activity
GO:0062213	0.000033	10.307301	6.073045	peroxynitrite isomerase activity
GO:0062206	0.000033	10.307301	4.828314	manoyl oxide synthase activity
GO:0062204	0.000033	10.307301	4.828314	(13S)-vitexifolin A synthase activity
GO:0062203	0.000033	10.307301	4.828314	Viteagnusin D synthase activity
GO:0062202	0.000033	10.307301	4.828314	Labd-13(16),14-diene-9-ol synthase activity
GO:0062193	0.000033	10.307301	4.791650	D-ribose pyranase activity
GO:0062192	0.000033	10.307301	3.772761	L-rhamnose mutarotase activity
GO:0062185	0.000033	10.307301	5.818598	secalciferol 1-monooxygenase activity
GO:0062184	0.000033	10.307301	5.818598	testosterone 16-beta-hydroxylase activity
GO:0062183	0.000033	10.307301	5.818598	all-trans retinoic acid 18-hydroxylase activity
GO:0062180	0.000033	10.307301	0.405465	25-hydroxycholecalciferol-23-hydroxylase activity
GO:0062158	0.000033	10.307301	0.000000	chloride:proton antiporter activity
GO:0062154	0.000033	10.307301	4.094345	N6-methyl-AMP deaminase activity
GO:0062150	0.000033	10.307301	6.127960	amorpha-4,11-diene 12-monooxygenase activity
GO:0062148	0.000033	10.307301	4.705016	L-gamma-glutamyl-L-propargylglycine hydroxylase activity
GO:0062147	0.000033	10.307301	0.693147	L-lysine 4-chlorinase activity
GO:0062146	0.000033	10.307301	6.127960	4-chloro-allylglycine synthase activity
GO:0062145	0.000033	10.307301	4.283587	L-propargylglycine--L-glutamate ligase activity
GO:0062144	0.000033	10.307301	1.098612	L-propargylglycine synthase activity
GO:0062131	0.000033	10.307301	5.332719	3-butenylglucosinolate 2-hydroxylase activity
GO:0062124	0.000033	10.307301	7.244942	4-hydroxybutyrate receptor activity
GO:0062122	0.000033	10.307301	3.960813	histone H3K37 methyltransferase activity
GO:0062081	0.000033	10.307301	1.386294	activating MHC class Ib receptor activity
GO:0062070	0.000033	10.307301	7.200052	SAGA complex binding
GO:0062069	0.000033	10.307301	7.200052	GARP complex binding
GO:0062068	0.000033	10.307301	7.200052	chloroplast photosystem II binding
GO:0062067	0.000033	10.307301	7.200052	chloroplast photosystem I binding
GO:0062066	0.000033	10.307301	7.200052	PSII associated light-harvesting complex II binding
GO:0062065	0.000033	10.307301	0.693147	box H/ACA snoRNP complex binding
GO:0062062	0.000033	10.307301	7.200052	oligosaccharyltransferase complex binding
GO:0062050	0.000033	10.307301	5.153292	GPI-mannose ethanolamine phosphate phosphodiesterase activity
GO:0062047	0.000033	10.307301	3.749504	pipecolic acid N-hydroxylase
GO:0062046	0.000033	10.307301	4.025352	dehydropipecolic acid reductase
GO:0062045	0.000033	10.307301	4.527209	L-lysine alpha-aminotransferase
GO:0061990	0.000033	10.307301	1.945910	beta-ketodecanoyl-[acyl-carrier-protein] synthase activity
GO:0061981	0.000033	10.307301	2.525729	3-hydroxykynureninase activity
GO:0061923	0.000033	10.307301	3.540959	(2S,3R,6S,9S)-(-)-protoillud-7-ene synthase activity
GO:0061920	0.000033	10.307301	5.262690	protein propionyltransferase activity
GO:0061899	0.000033	10.307301	6.127960	11-cis-retinal 3,4-desaturase activity
GO:0061898	0.000033	10.307301	6.127960	all-trans retinoic acid 3,4-desaturase activity
GO:0061897	0.000033	10.307301	6.127960	all-trans retinal 3,4-desaturase activity
GO:0061896	0.000033	10.307301	6.127960	all-trans retinol 3,4-desaturase activity
GO:0061840	0.000033	10.307301	2.197225	high-affinity ferrous iron transmembrane transporter activity
GO:0061812	0.000033	10.307301	4.448516	cyclic ADP-ribose hydrolase
GO:0061811	0.000033	10.307301	4.448516	ADP-ribosyl cyclase activity
GO:0061810	0.000033	10.307301	2.484907	NAD glycohydrolase activity
GO:0061809	0.000033	10.307301	2.484907	NAD+ nucleotidase, cyclic ADP-ribose generating
GO:0061708	0.000033	10.307301	0.916291	tRNA-5-taurinomethyluridine 2-sulfurtransferase
GO:0061693	0.000033	10.307301	4.255613	alpha-D-ribose 1-methylphosphonate 5-triphosphate synthase activity
GO:0061686	0.000033	10.307301	1.252763	hercynylcysteine sulfoxide synthase activity
GO:0061685	0.000033	10.307301	5.675040	diphthine methylesterase activity
GO:0061666	0.000033	10.307301	0.000000	UFM1 ligase activity
GO:0061657	0.000033	10.307301	0.000000	UFM1 conjugating enzyme activity
GO:0061651	0.000033	10.307301	0.000000	Atg12 conjugating enzyme activity
GO:0061634	0.000033	10.307301	6.060291	alpha-D-xyloside xylohydrolase
GO:0061632	0.000033	10.307301	6.268149	RNA lariat debranching enzyme activator activity
GO:0061627	0.000033	10.307301	3.314186	S-methylmethionine-homocysteine S-methyltransferase activity
GO:0061605	0.000033	10.307301	4.330733	molybdopterin-synthase adenylyltransferase activity
GO:0061603	0.000033	10.307301	3.020425	molybdenum cofactor guanylyltransferase activity
GO:0061602	0.000033	10.307301	3.449988	molybdenum cofactor cytidylyltransferase activity
GO:0061596	0.000033	10.307301	6.011267	3-sulfolactaldehyde reductase activity
GO:0061595	0.000033	10.307301	3.901973	6-deoxy-6-sulfofructose-1-phosphate aldolase activity
GO:0061594	0.000033	10.307301	7.287903	6-deoxy-6-sulfofructose kinase activity
GO:0061593	0.000033	10.307301	6.073045	sulfoquinovose isomerase activity
GO:0061579	0.000033	10.307301	5.262690	N-acyl homoserine lactone synthase activity
GO:0061543	0.000033	10.307301	0.693147	3-demethylubiquinol-6 3-O-methyltransferase activity
GO:0061522	0.000033	10.307301	3.583519	1,4-dihydroxy-2-naphthoyl-CoA thioesterase activity
GO:0061483	0.000033	10.307301	5.153292	sulfinylpropanyl adenylate synthase
GO:0060308	0.000033	10.307301	7.120444	GTP cyclohydrolase I regulator activity
GO:0060001	0.000033	10.307301	3.828641	minus-end directed microfilament motor activity
GO:0055103	0.000033	10.307301	7.120444	ligase regulator activity
GO:0055055	0.000033	10.307301	0.000000	D-glucose:proton symporter activity
GO:0052934	0.000033	10.307301	1.252763	alcohol dehydrogenase (cytochrome c) activity
GO:0052926	0.000033	10.307301	2.525729	dol-P-Man:Man(6)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0052922	0.000033	10.307301	4.605170	hexaprenyl diphosphate synthase (geranylgeranyl-diphosphate specific) activity
GO:0052918	0.000033	10.307301	2.525729	dol-P-Man:Man(8)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0052916	0.000033	10.307301	1.252763	23S rRNA (guanine(1835)-N(2))-methyltransferase activity
GO:0052914	0.000033	10.307301	1.252763	16S rRNA (guanine(1207)-N(2))-methyltransferase activity
GO:0052913	0.000033	10.307301	1.252763	16S rRNA (guanine(966)-N(2))-methyltransferase activity
GO:0052912	0.000033	10.307301	0.916291	23S rRNA (guanine(748)-N(1))-methyltransferase activity
GO:0052908	0.000033	10.307301	0.916291	16S rRNA (adenine(1518)-N(6)/adenine(1519)-N(6))-dimethyltransferase activity
GO:0052907	0.000033	10.307301	1.386294	23S rRNA (adenine(1618)-N(6))-methyltransferase activity
GO:0052904	0.000033	10.307301	3.091042	N1-acetylspermidine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0052886	0.000033	10.307301	2.484907	9,9'-dicis-carotene:quinone oxidoreductase activity
GO:0052884	0.000033	10.307301	5.675040	all-trans-retinyl-palmitate hydrolase, 11-cis retinol forming activity
GO:0052881	0.000033	10.307301	3.749504	4-hydroxyphenylacetate 3-monooxygenase activity
GO:0052880	0.000033	10.307301	3.828641	oxidoreductase activity, acting on diphenols and related substances as donors, with copper protein as acceptor
GO:0052878	0.000033	10.307301	4.350278	linoleate 8R-lipoxygenase activity
GO:0052874	0.000033	10.307301	4.025352	FMN reductase (NADH) activity
GO:0052872	0.000033	10.307301	4.722953	tocotrienol omega-hydroxylase activity
GO:0052871	0.000033	10.307301	0.000000	alpha-tocopherol omega-hydroxylase activity
GO:0052870	0.000033	10.307301	4.722953	tocopherol omega-hydroxylase activity
GO:0052868	0.000033	10.307301	3.401197	protein-lysine lysyltransferase activity
GO:0052861	0.000033	10.307301	1.252763	glucan endo-1,3-beta-glucanase activity, C-3 substituted reducing group
GO:0052855	0.000033	10.307301	5.468060	ADP-dependent NAD(P)H-hydrate dehydratase activity
GO:0052847	0.000033	10.307301	0.405465	inositol-1,5-bisdiphosphate-2,3,4,6-tetrakisphosphate 5-diphosphatase activity
GO:0052846	0.000033	10.307301	0.405465	inositol-1,5-bisdiphosphate-2,3,4,6-tetrakisphosphate 1-diphosphatase activity
GO:0052833	0.000033	10.307301	2.251292	inositol monophosphate 4-phosphatase activity
GO:0052826	0.000033	10.307301	0.405465	inositol hexakisphosphate 2-phosphatase activity
GO:0052823	0.000033	10.307301	2.525729	2-hydroxy-6-oxonona-2,4,7-trienedioate hydrolase activity
GO:0052820	0.000033	10.307301	0.916291	DNA-1,N6-ethenoadenine N-glycosylase activity
GO:0052817	0.000033	10.307301	0.693147	very long chain acyl-CoA hydrolase activity
GO:0052814	0.000033	10.307301	3.637586	medium-chain-aldehyde dehydrogenase activity
GO:0052811	0.000033	10.307301	3.258097	1-phosphatidylinositol-3-phosphate 4-kinase activity
GO:0052798	0.000033	10.307301	3.555348	beta-galactoside alpha-2,3-sialyltransferase activity
GO:0052748	0.000033	10.307301	6.060291	baicalin beta-D-glucuronidase activity
GO:0052738	0.000033	10.307301	5.170484	oxidoreductase activity, acting on the aldehyde or oxo group of donors, with a quinone or similar compound as acceptor
GO:0052737	0.000033	10.307301	0.000000	pyruvate dehydrogenase (quinone) activity
GO:0052734	0.000033	10.307301	6.011267	shikimate 3-dehydrogenase (NAD+) activity
GO:0052724	0.000033	10.307301	2.079442	inositol hexakisphosphate 3-kinase activity
GO:0052714	0.000033	10.307301	0.000000	mannosyl-inositol phosphorylceramide phospholipase activity
GO:0052713	0.000033	10.307301	0.405465	inositol phosphorylceramide phospholipase activity
GO:0052706	0.000033	10.307301	5.824524	histidine N-methyltransferase activity
GO:0052693	0.000033	10.307301	7.734559	epoxyqueuosine reductase activity
GO:0052684	0.000033	10.307301	5.468060	L-serine hydro-lyase (adding indole, L-tryptophan-forming) activity
GO:0052679	0.000033	10.307301	4.828314	terpentetriene synthase activity
GO:0052678	0.000033	10.307301	4.828314	levopimaradiene synthase activity
GO:0052677	0.000033	10.307301	6.011267	D-arabinitol dehydrogenase, D-xylulose forming (NADP+) activity
GO:0052674	0.000033	10.307301	4.828314	ent-pimara-9(11),15-diene synthase activity
GO:0052671	0.000033	10.307301	0.405465	geranylgeraniol kinase activity
GO:0052670	0.000033	10.307301	0.405465	geraniol kinase activity
GO:0052668	0.000033	10.307301	0.405465	CTP:farnesol kinase activity
GO:0052667	0.000033	10.307301	5.096813	phosphomethylethanolamine N-methyltransferase activity
GO:0052664	0.000033	10.307301	1.791759	nitroalkane oxidase activity
GO:0052662	0.000033	10.307301	3.135494	zeaxanthin epoxidase activity
GO:0052639	0.000033	10.307301	4.610158	salicylic acid glucosyltransferase (ester-forming) activity
GO:0052637	0.000033	10.307301	6.127960	delta 3-trans-hexadecenoic acid phosphatidylglycerol desaturase activity
GO:0052628	0.000033	10.307301	4.283587	4-hydroxybenzoate amino acid synthetase activity
GO:0052627	0.000033	10.307301	4.283587	vanillate amino acid synthetase activity
GO:0052626	0.000033	10.307301	4.283587	benzoate amino acid synthetase activity
GO:0052625	0.000033	10.307301	4.283587	4-aminobenzoate amino acid synthetase activity
GO:0052618	0.000033	10.307301	0.000000	coenzyme F420-0:L-glutamate ligase activity
GO:0052615	0.000033	10.307301	4.722953	ent-kaurene oxidase activity
GO:0052614	0.000033	10.307301	7.734559	uracil oxygenase activity
GO:0052599	0.000033	10.307301	1.504077	methylputrescine oxidase activity
GO:0052590	0.000033	10.307301	1.609438	sn-glycerol-3-phosphate:ubiquinone oxidoreductase activity
GO:0052588	0.000033	10.307301	0.693147	diacetyl reductase ((S)-acetoin forming) activity
GO:0052582	0.000033	10.307301	4.722953	(+)-menthofuran synthase activity
GO:0052581	0.000033	10.307301	0.916291	(-)-isopiperitenone reductase activity
GO:0052580	0.000033	10.307301	4.262680	(+)-pulegone reductase, (-)-menthone as substrate, activity
GO:0052579	0.000033	10.307301	4.262680	(+)-pulegone reductase, (+)-isomenthone as substrate, activity
GO:0051995	0.000033	10.307301	6.100319	Se-methyltransferase activity
GO:0051993	0.000033	10.307301	3.806662	abscisic acid glucose ester beta-glucosidase activity
GO:0051911	0.000033	10.307301	0.693147	Methanosarcina-phenazine hydrogenase activity
GO:0051870	0.000033	10.307301	2.484907	methotrexate binding
GO:0051752	0.000033	10.307301	1.609438	phosphoglucan, water dikinase activity
GO:0051750	0.000033	10.307301	3.258097	delta(3,5)-delta(2,4)-dienoyl-CoA isomerase activity
GO:0051746	0.000033	10.307301	2.995732	thalianol synthase activity
GO:0051745	0.000033	10.307301	2.014903	4-hydroxy-3-methylbut-2-en-1-yl diphosphate reductase activity
GO:0051744	0.000033	10.307301	7.734559	3,8-divinyl protochlorophyllide a 8-vinyl reductase activity
GO:0051743	0.000033	10.307301	1.098612	red chlorophyll catabolite reductase activity
GO:0051738	0.000033	10.307301	0.000000	xanthophyll binding
GO:0051698	0.000033	10.307301	3.091042	saccharopine oxidase activity
GO:0051566	0.000033	10.307301	6.270043	anthocyanidin-3-glucoside rhamnosyltransferase activity
GO:0051509	0.000033	10.307301	0.916291	tomatidine UDP-glucosyltransferase activity
GO:0051508	0.000033	10.307301	0.916291	stigmasterol UDP-glucosyltransferase activity
GO:0051506	0.000033	10.307301	0.916291	ergosterol UDP-glucosyltransferase activity
GO:0051435	0.000033	10.307301	2.525729	BH4 domain binding
GO:0051433	0.000033	10.307301	2.525729	BH2 domain binding
GO:0051432	0.000033	10.307301	2.525729	BH1 domain binding
GO:0051269	0.000033	10.307301	5.170484	alpha-keto ester reductase activity
GO:0051268	0.000033	10.307301	5.170484	alpha-keto amide reductase activity
GO:0051109	0.000033	10.307301	4.418841	crotonobetaine-CoA ligase activity
GO:0051108	0.000033	10.307301	0.000000	carnitine-CoA ligase activity
GO:0051075	0.000033	10.307301	0.000000	S-adenosylmethionine:tRNA ribosyltransferase-isomerase activity
GO:0051065	0.000033	10.307301	0.405465	CTP reductase activity
GO:0051008	0.000033	10.307301	4.766438	Hsp27 protein binding
GO:0050785	0.000033	10.307301	7.244942	advanced glycation end-product receptor activity
GO:0050781	0.000033	10.307301	7.734559	ortho-trichlorophenol reductive dehalogenase activity
GO:0050737	0.000033	10.307301	0.000000	O-hydroxycinnamoyltransferase activity
GO:0050683	0.000033	10.307301	6.489205	AF-1 domain binding
GO:0050648	0.000033	10.307301	0.405465	5(S)-hydroxyperoxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050647	0.000033	10.307301	0.405465	5-hydroxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050646	0.000033	10.307301	2.079442	5-oxo-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050641	0.000033	10.307301	6.302619	6-methylsalicylic acid synthase activity
GO:0050637	0.000033	10.307301	6.302619	lovastatin nonaketide synthase activity
GO:0050636	0.000033	10.307301	6.302619	vinorine synthase activity
GO:0050627	0.000033	10.307301	3.761200	mycothione reductase activity
GO:0050619	0.000033	10.307301	1.098612	phytochromobilin:ferredoxin oxidoreductase activity
GO:0050616	0.000033	10.307301	2.803360	secologanin synthase activity
GO:0050607	0.000033	10.307301	4.905275	mycothiol-dependent formaldehyde dehydrogenase activity
GO:0050606	0.000033	10.307301	6.011267	4-carboxy-2-hydroxymuconate semialdehyde hemiacetal dehydrogenase activity
GO:0050595	0.000033	10.307301	4.722953	7-deoxyloganin 7-hydroxylase activity
GO:0050593	0.000033	10.307301	4.722953	N-methylcoclaurine 3'-monooxygenase activity
GO:0050585	0.000033	10.307301	4.350278	4-hydroxymandelate synthase activity
GO:0050580	0.000033	10.307301	6.011267	2,5-didehydrogluconate reductase activity
GO:0050573	0.000033	10.307301	6.011267	dTDP-4-dehydro-6-deoxyglucose reductase activity
GO:0050572	0.000033	10.307301	6.011267	L-idonate 5-dehydrogenase activity
GO:0050570	0.000033	10.307301	6.011267	4-hydroxythreonine-4-phosphate dehydrogenase activity
GO:0050569	0.000033	10.307301	3.637586	glycolaldehyde dehydrogenase activity
GO:0050561	0.000033	10.307301	4.579852	glutamate-tRNA(Gln) ligase activity
GO:0050560	0.000033	10.307301	4.579852	aspartate-tRNA(Asn) ligase activity
GO:0050554	0.000033	10.307301	4.828314	abietadiene synthase activity
GO:0050549	0.000033	10.307301	5.468060	cyclohexyl-isocyanide hydratase activity
GO:0050537	0.000033	10.307301	5.313206	mandelamide amidase activity
GO:0050529	0.000033	10.307301	5.675040	polyneuridine-aldehyde esterase activity
GO:0050526	0.000033	10.307301	5.675040	poly(3-hydroxybutyrate) depolymerase activity
GO:0050521	0.000033	10.307301	1.609438	alpha-glucan, water dikinase activity
GO:0050519	0.000033	10.307301	5.812637	holo-citrate lyase synthase activity
GO:0050515	0.000033	10.307301	7.248504	4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
GO:0050513	0.000033	10.307301	2.917771	glycoprotein 2-beta-D-xylosyltransferase activity
GO:0050512	0.000033	10.307301	3.555348	lactosylceramide 4-alpha-galactosyltransferase activity
GO:0050511	0.000033	10.307301	4.304065	undecaprenyldiphospho-muramoylpentapeptide beta-N-acetylglucosaminyltransferase activity
GO:0050506	0.000033	10.307301	4.610158	vomilenine glucosyltransferase activity
GO:0050485	0.000033	10.307301	2.197225	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with a disulfide as acceptor
GO:0050480	0.000033	10.307301	3.624341	imidazolonepropionase activity
GO:0050479	0.000033	10.307301	2.708050	glyceryl-ether monooxygenase activity
GO:0050459	0.000033	10.307301	4.828314	ethanolamine-phosphate phospho-lyase activity
GO:0050450	0.000033	10.307301	2.772589	citrate (Re)-synthase activity
GO:0050439	0.000033	10.307301	3.135494	2-hydroxy-3-oxoadipate synthase activity
GO:0050422	0.000033	10.307301	3.806662	strictosidine beta-glucosidase activity
GO:0050418	0.000033	10.307301	3.713572	hydroxylamine reductase activity
GO:0050416	0.000033	10.307301	3.555348	formimidoylglutamate deiminase activity
GO:0050415	0.000033	10.307301	3.555348	formimidoylglutamase activity
GO:0050408	0.000033	10.307301	5.585374	[pyruvate kinase]-phosphatase activity
GO:0050388	0.000033	10.307301	6.011267	uronate dehydrogenase activity
GO:0050379	0.000033	10.307301	3.772761	UDP-glucuronate 5'-epimerase activity
GO:0050371	0.000033	10.307301	5.411646	tyrosine phenol-lyase activity
GO:0050362	0.000033	10.307301	0.000000	L-tryptophan:2-oxoglutarate aminotransferase activity
GO:0050358	0.000033	10.307301	6.011267	tropinone reductase activity
GO:0050342	0.000033	10.307301	4.226834	tocopherol O-methyltransferase activity
GO:0050340	0.000033	10.307301	3.091042	thymidylate 5'-phosphatase activity
GO:0050337	0.000033	10.307301	3.540959	thiosulfate-thiol sulfurtransferase activity
GO:0050334	0.000033	10.307301	5.909441	thiaminase activity
GO:0050317	0.000033	10.307301	7.248504	tagatose kinase activity
GO:0050303	0.000033	10.307301	3.091042	lysine 6-dehydrogenase activity
GO:0050297	0.000033	10.307301	4.350278	stizolobate synthase activity
GO:0050292	0.000033	10.307301	5.535364	steroid 9-alpha-monooxygenase activity
GO:0050285	0.000033	10.307301	5.675040	sinapine esterase activity
GO:0050281	0.000033	10.307301	4.527209	serine-glyoxylate transaminase activity
GO:0050279	0.000033	10.307301	3.979682	sepiapterin deaminase activity
GO:0050275	0.000033	10.307301	4.610158	scopoletin glucosyltransferase activity
GO:0050267	0.000033	10.307301	2.014903	rubber cis-polyprenylcistransferase activity
GO:0050255	0.000033	10.307301	6.011267	ribitol 2-dehydrogenase activity
GO:0050247	0.000033	10.307301	3.806662	raucaffricine beta-glucosidase activity
GO:0050235	0.000033	10.307301	6.011267	pyridoxal 4-dehydrogenase activity
GO:0050232	0.000033	10.307301	1.504077	putrescine oxidase activity
GO:0050228	0.000033	10.307301	3.979682	pterin deaminase activity
GO:0050225	0.000033	10.307301	7.248504	pseudouridine kinase activity
GO:0050224	0.000033	10.307301	3.806662	prunasin beta-glucosidase activity
GO:0050194	0.000033	10.307301	0.693147	phosphonoacetaldehyde hydrolase activity
GO:0050189	0.000033	10.307301	6.300786	phosphoenolpyruvate phosphatase activity
GO:0050187	0.000033	10.307301	1.386294	phosphoamidase activity
GO:0050182	0.000033	10.307301	6.302619	phosphate butyryltransferase activity
GO:0050180	0.000033	10.307301	2.525729	phloretin hydrolase activity
GO:0050179	0.000033	10.307301	3.901973	phenylserine aldolase activity
GO:0050177	0.000033	10.307301	4.848116	phenylpyruvate decarboxylase activity
GO:0050175	0.000033	10.307301	3.091042	phenylalanine dehydrogenase activity
GO:0050165	0.000033	10.307301	7.248504	pantetheine kinase activity
GO:0050163	0.000033	10.307301	1.098612	oxaloacetate tautomerase activity
GO:0050162	0.000033	10.307301	2.442347	oxalate oxidase activity
GO:0050157	0.000033	10.307301	2.862201	ornithine racemase activity
GO:0050155	0.000033	10.307301	4.527209	ornithine(lysine) transaminase activity
GO:0050149	0.000033	10.307301	3.496508	o-aminophenol oxidase activity
GO:0050133	0.000033	10.307301	3.850148	N6-hydroxylysine O-acetyltransferase activity
GO:0050131	0.000033	10.307301	3.091042	N-methyl-L-amino-acid oxidase activity
GO:0050115	0.000033	10.307301	5.585374	myosin-light-chain-phosphatase activity
GO:0050100	0.000033	10.307301	3.258097	methylitaconate delta-isomerase activity
GO:0050094	0.000033	10.307301	4.527209	methionine-glyoxylate transaminase activity
GO:0050093	0.000033	10.307301	6.011267	methanol dehydrogenase activity
GO:0050081	0.000033	10.307301	4.499810	maltose-6'-phosphate glucosidase activity
GO:0050077	0.000033	10.307301	4.069027	maleylpyruvate isomerase activity
GO:0050076	0.000033	10.307301	4.069027	maleate isomerase activity
GO:0050046	0.000033	10.307301	1.704748	delta7-sterol 5(6)-desaturase activity
GO:0050039	0.000033	10.307301	6.011267	lactaldehyde reductase (NADPH) activity
GO:0050032	0.000033	10.307301	5.468060	L-rhamnonate dehydratase activity
GO:0050024	0.000033	10.307301	0.000000	L-galactonolactone oxidase activity
GO:0050022	0.000033	10.307301	6.011267	L-arabinose 1-dehydrogenase (NAD+) activity
GO:0050021	0.000033	10.307301	5.675040	L-arabinonolactonase activity
GO:0050020	0.000033	10.307301	5.468060	L-arabinonate dehydratase activity
GO:0050015	0.000033	10.307301	5.468060	kievitone hydratase activity
GO:0050004	0.000033	10.307301	4.610158	isoflavone 7-O-glucosyltransferase activity
GO:0050002	0.000033	10.307301	0.000000	D-proline reductase (dithiol) activity
GO:0050001	0.000033	10.307301	5.313206	D-glutaminase activity
GO:0048472	0.000033	10.307301	4.848116	threonine-phosphate decarboxylase activity
GO:0048270	0.000033	10.307301	7.120444	methionine adenosyltransferase regulator activity
GO:0048031	0.000033	10.307301	3.218876	trisaccharide binding
GO:0048028	0.000033	10.307301	4.269697	galacturonan binding
GO:0047994	0.000033	10.307301	3.583519	hydroxymethylglutaryl-CoA hydrolase activity
GO:0047992	0.000033	10.307301	1.252763	hydroxylysine kinase activity
GO:0047991	0.000033	10.307301	1.791759	hydroxylamine oxidase activity
GO:0047988	0.000033	10.307301	6.120297	hydroxyacid-oxoacid transhydrogenase activity
GO:0047981	0.000033	10.307301	5.000585	histidine N-acetyltransferase activity
GO:0047977	0.000033	10.307301	2.862201	hepoxilin-epoxide hydrolase activity
GO:0047969	0.000033	10.307301	2.442347	glyoxylate oxidase activity
GO:0047964	0.000033	10.307301	1.609438	glyoxylate reductase (NAD+) activity
GO:0047960	0.000033	10.307301	3.091042	glycine dehydrogenase activity
GO:0047954	0.000033	10.307301	6.300786	glycerol-2-phosphatase activity
GO:0047949	0.000033	10.307301	4.905275	glutarate-semialdehyde dehydrogenase (NAD+) activity
GO:0047946	0.000033	10.307301	5.262690	glutamine N-acyltransferase activity
GO:0047938	0.000033	10.307301	3.772761	glucose-6-phosphate 1-epimerase activity
GO:0047935	0.000033	10.307301	1.252763	glucose 1-dehydrogenase (NADP+) activity
GO:0047933	0.000033	10.307301	7.248504	glucose-1,6-bisphosphate synthase activity
GO:0047931	0.000033	10.307301	7.248504	glucosamine kinase activity
GO:0047926	0.000033	10.307301	0.405465	geranyl-diphosphate cyclase activity
GO:0047921	0.000033	10.307301	1.704748	aminoglycoside 2'-N-acetyltransferase activity
GO:0047920	0.000033	10.307301	4.262680	geissoschizine dehydrogenase activity
GO:0047919	0.000033	10.307301	6.011267	GDP-mannose 6-dehydrogenase activity
GO:0047917	0.000033	10.307301	4.499810	GDP-glucosidase activity
GO:0047912	0.000033	10.307301	7.248504	galacturonokinase activity
GO:0047904	0.000033	10.307301	6.120297	fructose 5-dehydrogenase activity
GO:0047900	0.000033	10.307301	3.091042	formate kinase activity
GO:0047893	0.000033	10.307301	4.610158	flavonol 3-O-glucosyltransferase activity
GO:0047880	0.000033	10.307301	6.011267	erythrulose reductase activity
GO:0047878	0.000033	10.307301	7.248504	erythritol kinase activity
GO:0047875	0.000033	10.307301	2.803360	ecdysone oxidase activity
GO:0047873	0.000033	10.307301	6.300786	dolichyl-phosphatase activity
GO:0047862	0.000033	10.307301	0.000000	diisopropyl-fluorophosphatase activity
GO:0047849	0.000033	10.307301	6.270043	dextransucrase activity
GO:0047846	0.000033	10.307301	6.300786	deoxynucleotide 3'-phosphatase activity
GO:0047833	0.000033	10.307301	6.120297	D-sorbitol dehydrogenase (acceptor) activity
GO:0047828	0.000033	10.307301	3.713572	D-lyxose ketol-isomerase activity
GO:0047820	0.000033	10.307301	0.000000	D-glutamate cyclase activity
GO:0047818	0.000033	10.307301	5.468060	D-fuconate dehydratase activity
GO:0047812	0.000033	10.307301	5.000585	D-amino-acid N-acetyltransferase activity
GO:0047810	0.000033	10.307301	4.527209	D-alanine:2-oxoglutarate aminotransferase activity
GO:0047809	0.000033	10.307301	6.120297	D-2-hydroxy-acid dehydrogenase activity
GO:0047794	0.000033	10.307301	4.262680	cyclohexadienyl dehydrogenase activity
GO:0047793	0.000033	10.307301	2.995732	cycloeucalenol cycloisomerase activity
GO:0047789	0.000033	10.307301	3.624341	creatininase activity
GO:0047787	0.000033	10.307301	0.916291	delta4-3-oxosteroid 5beta-reductase activity
GO:0047776	0.000033	10.307301	3.650658	citramalate lyase activity
GO:0047770	0.000033	10.307301	5.170484	carboxylate reductase activity
GO:0047761	0.000033	10.307301	3.091042	butyrate kinase activity
GO:0047749	0.000033	10.307301	4.722953	cholestanetriol 26-monooxygenase activity
GO:0047743	0.000033	10.307301	6.011267	chlordecone reductase activity
GO:0047739	0.000033	10.307301	1.252763	cephalosporin-C deacetylase activity
GO:0047734	0.000033	10.307301	6.383507	CDP-glycerol diphosphatase activity
GO:0047726	0.000033	10.307301	3.465736	iron-cytochrome-c reductase activity
GO:0047723	0.000033	10.307301	4.448516	inosinate nucleosidase activity
GO:0047718	0.000033	10.307301	6.011267	indanol dehydrogenase activity
GO:0047685	0.000033	10.307301	4.448516	amine sulfotransferase activity
GO:0047680	0.000033	10.307301	5.313206	aryl-acylamidase activity
GO:0047677	0.000033	10.307301	4.350278	arachidonate 8(R)-lipoxygenase activity
GO:0047675	0.000033	10.307301	5.468060	arabinonate dehydratase activity
GO:0047658	0.000033	10.307301	5.675040	alpha-amino-acid esterase activity
GO:0047637	0.000033	10.307301	3.401197	alanylphosphatidylglycerol synthase activity
GO:0047614	0.000033	10.307301	3.258097	aconitate delta-isomerase activity
GO:0047611	0.000033	10.307301	4.412798	acetylspermidine deacetylase activity
GO:0047600	0.000033	10.307301	6.270043	abequosyltransferase activity
GO:0047595	0.000033	10.307301	1.098612	6-hydroxynicotinate reductase activity
GO:0047585	0.000033	10.307301	5.675040	4-pyridoxolactonase activity
GO:0047584	0.000033	10.307301	5.468060	4-oxalmesaconate hydratase activity
GO:0047577	0.000033	10.307301	6.011267	4-hydroxybutyrate dehydrogenase activity
GO:0047569	0.000033	10.307301	2.525729	3-oxoadipate CoA-transferase activity
GO:0047568	0.000033	10.307301	2.197225	3-oxo-5-beta-steroid 4-dehydrogenase activity
GO:0047565	0.000033	10.307301	6.011267	3-hydroxypropionate dehydrogenase (NAD+) activity
GO:0047548	0.000033	10.307301	4.791650	2-methyleneglutarate mutase activity
GO:0047540	0.000033	10.307301	4.262680	2-enoate reductase activity
GO:0047538	0.000033	10.307301	6.300786	2-carboxy-D-arabinitol-1-phosphatase activity
GO:0047530	0.000033	10.307301	3.091042	2,4-diaminopentanoate dehydrogenase activity
GO:0047529	0.000033	10.307301	3.650658	2,3-dimethylmalate lyase activity
GO:0047522	0.000033	10.307301	4.262680	15-oxoprostaglandin 13-oxidase activity
GO:0047516	0.000033	10.307301	6.011267	1,3-propanediol dehydrogenase activity
GO:0047513	0.000033	10.307301	1.871802	1,2-alpha-L-fucosidase activity
GO:0047512	0.000033	10.307301	6.011267	(S,S)-butanediol dehydrogenase activity
GO:0047507	0.000033	10.307301	4.051785	(deoxy)nucleoside-phosphate kinase activity
GO:0047504	0.000033	10.307301	6.011267	(-)-menthol dehydrogenase activity
GO:0047501	0.000033	10.307301	6.011267	(+)-neomenthol dehydrogenase activity
GO:0047492	0.000033	10.307301	3.349904	xanthan lyase activity
GO:0047488	0.000033	10.307301	3.349904	heparin lyase activity
GO:0047487	0.000033	10.307301	3.349904	oligogalacturonide lyase activity
GO:0047486	0.000033	10.307301	3.349904	chondroitin ABC lyase activity
GO:0047480	0.000033	10.307301	4.283587	UDP-N-acetylmuramoyl-tripeptide-D-alanyl-D-alanine ligase activity
GO:0047479	0.000033	10.307301	3.068053	trypanothione synthase activity
GO:0047470	0.000033	10.307301	4.791650	(1,4)-alpha-D-glucan 1-alpha-D-glucosylmutase activity
GO:0047450	0.000033	10.307301	2.014903	crotonoyl-[acyl-carrier-protein] hydratase activity
GO:0047449	0.000033	10.307301	5.468060	2-dehydro-3-deoxy-L-arabinonate dehydratase activity
GO:0047440	0.000033	10.307301	3.901973	2-dehydro-3-deoxy-D-pentonate aldolase activity
GO:0047434	0.000033	10.307301	4.848116	indolepyruvate decarboxylase activity
GO:0047431	0.000033	10.307301	4.848116	3-hydroxy-2-methylpyridine-4,5-dicarboxylate 4-decarboxylase activity
GO:0047425	0.000033	10.307301	3.979682	1-pyrroline-4-hydroxy-2-carboxylate deaminase activity
GO:0047417	0.000033	10.307301	5.313206	N-carbamoyl-D-amino acid hydrolase activity
GO:0047411	0.000033	10.307301	5.313206	2-(acetamidomethylene)succinate hydrolase activity
GO:0047405	0.000033	10.307301	4.448516	pyrimidine-5'-nucleotide nucleosidase activity
GO:0047400	0.000033	10.307301	0.693147	phosphonoacetate hydrolase activity
GO:0047386	0.000033	10.307301	3.511545	fructose-2,6-bisphosphate 6-phosphatase activity
GO:0047379	0.000033	10.307301	3.367296	ADP-dependent short-chain-acyl-CoA hydrolase activity
GO:0047369	0.000033	10.307301	2.525729	succinate-hydroxymethylglutarate CoA-transferase activity
GO:0047350	0.000033	10.307301	3.555348	glucuronate-1-phosphate uridylyltransferase activity
GO:0047349	0.000033	10.307301	3.449988	D-ribitol-5-phosphate cytidylyltransferase activity
GO:0047338	0.000033	10.307301	2.397895	UTP:xylose-1-phosphate uridylyltransferase activity
GO:0047330	0.000033	10.307301	7.248504	polyphosphate-glucose phosphotransferase activity
GO:0047316	0.000033	10.307301	1.945910	glutamine-phenylpyruvate transaminase activity
GO:0047312	0.000033	10.307301	0.000000	L-phenylalanine:pyruvate aminotransferase activity
GO:0047303	0.000033	10.307301	4.527209	glycine-oxaloacetate transaminase activity
GO:0047297	0.000033	10.307301	4.527209	asparagine-oxo-acid transaminase activity
GO:0047293	0.000033	10.307301	2.014903	4-hydroxybenzoate nonaprenyltransferase activity
GO:0047290	0.000033	10.307301	3.555348	(alpha-N-acetylneuraminyl-2,3-beta-galactosyl-1,3)-N-acetyl-galactosaminide 6-alpha-sialyltransferase activity
GO:0047276	0.000033	10.307301	3.555348	N-acetyllactosaminide 3-alpha-galactosyltransferase activity
GO:0047274	0.000033	10.307301	4.143135	galactinol-sucrose galactosyltransferase activity
GO:0047273	0.000033	10.307301	3.650658	galactosylgalactosylglucosylceramide beta-D-acetylgalactosaminyltransferase activity
GO:0047264	0.000033	10.307301	4.182050	heteroglycan alpha-mannosyltransferase activity
GO:0047263	0.000033	10.307301	3.555348	N-acylsphingosine galactosyltransferase activity
GO:0047260	0.000033	10.307301	6.270043	alpha,alpha-trehalose-phosphate synthase (GDP-forming) activity
GO:0047259	0.000033	10.307301	1.871802	glucomannan 4-beta-mannosyltransferase activity
GO:0047257	0.000033	10.307301	5.723585	diglucosyl diacylglycerol synthase activity
GO:0047251	0.000033	10.307301	4.610158	thiohydroximate beta-D-glucosyltransferase activity
GO:0047243	0.000033	10.307301	4.610158	flavanone 7-O-beta-glucosyltransferase activity
GO:0047230	0.000033	10.307301	5.723585	flavonol-3-O-glucoside L-rhamnosyltransferase activity
GO:0047225	0.000033	10.307301	2.772589	acetylgalactosaminyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0047223	0.000033	10.307301	2.772589	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047206	0.000033	10.307301	3.401197	UDP-N-acetylmuramoylpentapeptide-lysine N6-alanyltransferase activity
GO:0047205	0.000033	10.307301	0.000000	quinate O-hydroxycinnamoyltransferase activity
GO:0047203	0.000033	10.307301	6.302619	13-hydroxylupinine O-tigloyltransferase activity
GO:0047198	0.000033	10.307301	5.000585	cysteine-S-conjugate N-acetyltransferase activity
GO:0047191	0.000033	10.307301	4.952300	1-alkylglycerophosphocholine O-acyltransferase activity
GO:0047186	0.000033	10.307301	3.850148	N-acetylneuraminate 7-O(or 9-O)-acetyltransferase activity
GO:0047178	0.000033	10.307301	6.302619	glycerophospholipid acyltransferase (CoA-dependent) activity
GO:0047172	0.000033	10.307301	0.000000	shikimate O-hydroxycinnamoyltransferase activity
GO:0047166	0.000033	10.307301	4.952300	1-alkenylglycerophosphoethanolamine O-acyltransferase activity
GO:0047159	0.000033	10.307301	4.952300	1-alkenylglycerophosphocholine O-acyltransferase activity
GO:0047145	0.000033	10.307301	4.226834	demethylsterigmatocystin 6-O-methyltransferase activity
GO:0047127	0.000033	10.307301	4.025352	thiomorpholine-carboxylate dehydrogenase activity
GO:0047120	0.000033	10.307301	4.262680	(3S,4R)-3,4-dihydroxycyclohexa-1,5-diene-1,4-dicarboxylate dehydrogenase activity
GO:0047117	0.000033	10.307301	4.262680	enoyl-[acyl-carrier-protein] reductase (NADPH, A-specific) activity
GO:0047112	0.000033	10.307301	2.442347	pyruvate oxidase activity
GO:0047111	0.000033	10.307301	0.000000	formate dehydrogenase (cytochrome-c-553) activity
GO:0047106	0.000033	10.307301	3.637586	4-hydroxyphenylacetaldehyde dehydrogenase activity
GO:0047102	0.000033	10.307301	4.905275	aminomuconate-semialdehyde dehydrogenase activity
GO:0047101	0.000033	10.307301	4.905275	2-oxoisovalerate dehydrogenase (acylating) activity
GO:0047094	0.000033	10.307301	4.722953	3-hydroxyphenylacetate 6-hydroxylase activity
GO:0047087	0.000033	10.307301	4.722953	protopine 6-monooxygenase activity
GO:0047084	0.000033	10.307301	4.722953	methyltetrahydroprotoberberine 14-monooxygenase activity
GO:0047078	0.000033	10.307301	4.350278	3-hydroxy-4-oxoquinoline 2,4-dioxygenase activity
GO:0047077	0.000033	10.307301	0.693147	Photinus-luciferin 4-monooxygenase (ATP-hydrolyzing) activity
GO:0047075	0.000033	10.307301	4.350278	2,5-dihydroxypyridine 5,6-dioxygenase activity
GO:0047071	0.000033	10.307301	4.350278	3,4-dihydroxy-9,10-secoandrosta-1,3,5(10)-triene-9,17-dione 4,5-dioxygenase activity
GO:0047070	0.000033	10.307301	4.350278	3-carboxyethylcatechol 2,3-dioxygenase activity
GO:0047058	0.000033	10.307301	2.833213	vitamin-K-epoxide reductase (warfarin-insensitive) activity
GO:0047055	0.000033	10.307301	3.881564	salutaridine synthase activity
GO:0047042	0.000033	10.307301	1.871802	androsterone dehydrogenase (B-specific) activity
GO:0047039	0.000033	10.307301	6.011267	tetrahydroxynaphthalene reductase activity
GO:0047037	0.000033	10.307301	6.011267	salutaridine reductase (NADPH) activity
GO:0047022	0.000033	10.307301	3.761200	7-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0047021	0.000033	10.307301	6.011267	15-hydroxyprostaglandin dehydrogenase (NADP+) activity
GO:0047020	0.000033	10.307301	6.011267	15-hydroxyprostaglandin-D dehydrogenase (NADP+) activity
GO:0047019	0.000033	10.307301	6.011267	indole-3-acetaldehyde reductase (NADPH) activity
GO:0047018	0.000033	10.307301	6.011267	indole-3-acetaldehyde reductase (NADH) activity
GO:0047015	0.000033	10.307301	6.011267	3-hydroxy-2-methylbutyryl-CoA dehydrogenase activity
GO:0047004	0.000033	10.307301	6.011267	UDP-N-acetylglucosamine 6-dehydrogenase activity
GO:0047002	0.000033	10.307301	6.011267	L-arabinitol 2-dehydrogenase activity
GO:0046990	0.000033	10.307301	3.850148	N-hydroxyarylamine O-acetyltransferase activity
GO:0046981	0.000033	10.307301	4.304065	beta-1,4-mannosylglycolipid beta-1,3-N-acetylglucosaminyltransferase activity
GO:0046941	0.000033	10.307301	5.000585	azetidine-2-carboxylic acid acetyltransferase activity
GO:0046919	0.000033	10.307301	6.302619	pyruvyltransferase activity
GO:0046917	0.000033	10.307301	4.255613	triphosphoribosyl-dephospho-CoA synthase activity
GO:0046863	0.000033	10.307301	6.268149	ribulose-1,5-bisphosphate carboxylase/oxygenase activator activity
GO:0046817	0.000033	10.307301	2.140066	chemokine receptor antagonist activity
GO:0046702	0.000033	10.307301	1.252763	galactoside 6-L-fucosyltransferase activity
GO:0046608	0.000033	10.307301	4.069027	carotenoid isomerase activity
GO:0046568	0.000033	10.307301	3.401197	3-methylbutanol:NAD(P) oxidoreductase activity
GO:0046567	0.000033	10.307301	4.828314	aphidicolan-16 beta-ol synthase activity
GO:0046565	0.000033	10.307301	5.468060	3-dehydroshikimate dehydratase activity
GO:0046564	0.000033	10.307301	4.848116	oxalate decarboxylase activity
GO:0046562	0.000033	10.307301	0.405465	glucose oxidase activity
GO:0046554	0.000033	10.307301	3.178054	malate dehydrogenase (NADP+) activity
GO:0046553	0.000033	10.307301	3.178054	D-malate dehydrogenase (decarboxylating) activity
GO:0046547	0.000033	10.307301	5.824524	trans-aconitate 3-methyltransferase activity
GO:0046510	0.000033	10.307301	5.723585	UDP-sulfoquinovose:DAG sulfoquinovosyltransferase activity
GO:0046509	0.000033	10.307301	3.555348	1,2-diacylglycerol 3-beta-galactosyltransferase activity
GO:0046507	0.000033	10.307301	1.504077	UDPsulfoquinovose synthase activity
GO:0046428	0.000033	10.307301	2.014903	1,4-dihydroxy-2-naphthoate octaprenyltransferase activity
GO:0046422	0.000033	10.307301	7.734559	violaxanthin de-epoxidase activity
GO:0046406	0.000033	10.307301	3.912023	magnesium protoporphyrin IX methyltransferase activity
GO:0046353	0.000033	10.307301	1.704748	aminoglycoside 3-N-acetyltransferase activity
GO:0045552	0.000033	10.307301	6.011267	dihydrokaempferol 4-reductase activity
GO:0045518	0.000033	10.307301	5.431536	interleukin-22 receptor binding
GO:0045515	0.000033	10.307301	5.431536	interleukin-18 receptor binding
GO:0045513	0.000033	10.307301	0.000000	interleukin-27 binding
GO:0045486	0.000033	10.307301	4.705016	naringenin 3-dioxygenase activity
GO:0045482	0.000033	10.307301	3.540959	trichodiene synthase activity
GO:0045480	0.000033	10.307301	2.803360	galactose oxidase activity
GO:0045462	0.000033	10.307301	3.850148	trichothecene 3-O-acetyltransferase activity
GO:0045435	0.000033	10.307301	1.945910	lycopene epsilon cyclase activity
GO:0045353	0.000033	10.307301	0.405465	interleukin-1 type II receptor antagonist activity
GO:0045352	0.000033	10.307301	0.405465	interleukin-1 type I receptor antagonist activity
GO:0045303	0.000033	10.307301	4.527209	diaminobutyrate-2-oxoglutarate transaminase activity
GO:0045237	0.000033	10.307301	0.693147	CXCR1 chemokine receptor binding
GO:0045183	0.000033	10.307301	5.181784	translation factor activity, non-nucleic acid binding
GO:0045157	0.000033	10.307301	5.010635	electron transporter, transferring electrons within the noncyclic electron transport pathway of photosynthesis activity
GO:0045129	0.000033	10.307301	4.016383	NAD-independent histone deacetylase activity
GO:0045015	0.000033	10.307301	1.252763	HDEL sequence binding
GO:0044876	0.000033	10.307301	6.127960	hercynylselenocysteine synthase
GO:0044824	0.000033	10.307301	0.000000	retroviral 3' processing activity
GO:0044750	0.000033	10.307301	1.945910	high-affinity nickel cation transmembrane transporter activity
GO:0044730	0.000033	10.307301	3.871201	bone sialoprotein binding
GO:0044717	0.000033	10.307301	3.157000	8-hydroxy-dADP phosphatase activity
GO:0044653	0.000033	10.307301	3.555348	dextrin alpha-glucosidase activity
GO:0044606	0.000033	10.307301	6.389401	phosphocholine hydrolase activity
GO:0044605	0.000033	10.307301	7.287903	phosphocholine transferase activity
GO:0044596	0.000033	10.307301	0.405465	3-demethylubiquinol-10 3-O-methyltransferase activity
GO:0044595	0.000033	10.307301	0.916291	decaprenyldihydroxybenzoate methyltransferase activity
GO:0044549	0.000033	10.307301	7.574558	GTP cyclohydrolase binding
GO:0044508	0.000033	10.307301	5.144583	glucagon-like peptide 1 receptor activity
GO:0044318	0.000033	10.307301	4.310799	L-aspartate:fumarate oxidoreductase activity
GO:0044198	0.000033	10.307301	6.489205	zf-TRAF domain binding
GO:0044105	0.000033	10.307301	6.011267	L-xylulose reductase (NAD+) activity
GO:0044025	0.000033	10.307301	2.251292	histone H2BS14 kinase activity
GO:0044024	0.000033	10.307301	2.251292	histone H2AS1 kinase activity
GO:0043999	0.000033	10.307301	1.098612	histone H2AK5 acetyltransferase activity
GO:0043957	0.000033	10.307301	4.262680	acryloyl-CoA reductase (NADP+) activity
GO:0043956	0.000033	10.307301	5.468060	3-hydroxypropionyl-CoA dehydratase activity
GO:0043916	0.000033	10.307301	0.916291	DNA-7-methylguanine glycosylase activity
GO:0043915	0.000033	10.307301	0.000000	L-seryl-tRNA(Sec) kinase activity
GO:0043907	0.000033	10.307301	3.020425	Cys-tRNA(Pro) hydrolase activity
GO:0043904	0.000033	10.307301	5.992714	isochorismate pyruvate lyase activity
GO:0043899	0.000033	10.307301	7.287903	phosphoserine:homoserine phosphotransferase activity
GO:0043894	0.000033	10.307301	5.413876	acetyl-CoA synthetase acetyltransferase activity
GO:0043893	0.000033	10.307301	0.000000	acetate:monoatomic cation symporter activity
GO:0043892	0.000033	10.307301	6.011267	methylglyoxal reductase (NADPH-dependent) activity
GO:0043887	0.000033	10.307301	0.000000	melibiose:sodium symporter activity
GO:0043875	0.000033	10.307301	6.302619	2-ketobutyrate formate-lyase activity
GO:0043874	0.000033	10.307301	6.300786	acireductone synthase activity
GO:0043873	0.000033	10.307301	2.302585	pyruvate-flavodoxin oxidoreductase activity
GO:0043872	0.000033	10.307301	0.000000	lysine:cadaverine antiporter activity
GO:0043866	0.000033	10.307301	3.624341	adenylyl-sulfate reductase (thioredoxin) activity
GO:0043864	0.000033	10.307301	5.313206	indoleacetamide hydrolase activity
GO:0043862	0.000033	10.307301	0.916291	arginine:agmatine antiporter activity
GO:0043858	0.000033	10.307301	2.525729	arginine:ornithine antiporter activity
GO:0043857	0.000033	10.307301	2.639057	N-acetylornithine carbamoyltransferase activity
GO:0043849	0.000033	10.307301	2.602690	Ras palmitoyltransferase activity
GO:0043838	0.000033	10.307301	4.255613	phosphatidylethanolamine:Kdo2-lipid A phosphoethanolamine transferase activity
GO:0043829	0.000033	10.307301	1.871802	tRNA-specific adenosine-37 deaminase activity
GO:0043828	0.000033	10.307301	0.405465	tRNA 2-selenouridine synthase activity
GO:0043825	0.000033	10.307301	4.527209	succinylornithine transaminase activity
GO:0043822	0.000033	10.307301	4.151040	ribonuclease M5 activity
GO:0043821	0.000033	10.307301	2.525729	propionyl-CoA:succinate CoA-transferase activity
GO:0043814	0.000033	10.307301	3.020425	phospholactate guanylyltransferase activity
GO:0043797	0.000033	10.307301	2.302585	glyceraldehyde-3-phosphate dehydrogenase (ferredoxin) activity
GO:0043795	0.000033	10.307301	5.170484	glyceraldehyde oxidoreductase activity
GO:0043792	0.000033	10.307301	3.624341	enamidase activity
GO:0043785	0.000033	10.307301	2.525729	cinnamoyl-CoA:phenyllactate CoA-transferase activity
GO:0043774	0.000033	10.307301	4.283587	coenzyme F420-2 alpha-glutamyl ligase activity
GO:0043773	0.000033	10.307301	4.283587	coenzyme F420-0 gamma-glutamyl ligase activity
GO:0043772	0.000033	10.307301	6.302619	acyl-phosphate glycerol-3-phosphate acyltransferase activity
GO:0043768	0.000033	10.307301	3.901973	S-ribosylhomocysteine lyase activity
GO:0043763	0.000033	10.307301	7.120444	UTP:glucose-1-phosphate uridylyltransferase regulator activity
GO:0043761	0.000033	10.307301	4.255613	archaetidylserine synthase activity
GO:0043755	0.000033	10.307301	6.300786	alpha-ribazole phosphatase activity
GO:0043751	0.000033	10.307301	4.369448	polyphosphate:AMP phosphotransferase activity
GO:0043743	0.000033	10.307301	7.287903	LPPG:FO 2-phospho-L-lactate transferase activity
GO:0043737	0.000033	10.307301	2.995732	deoxyribonuclease V activity
GO:0043733	0.000033	10.307301	0.916291	DNA-3-methylbase glycosylase activity
GO:0043723	0.000033	10.307301	4.310799	2,5-diamino-6-ribitylamino-4(3H)-pyrimidinone 5'-phosphate deaminase activity
GO:0043722	0.000033	10.307301	4.848116	4-hydroxyphenylacetate decarboxylase activity
GO:0043719	0.000033	10.307301	4.722953	2-octaprenyl-3-methyl-6-methoxy-1,4-benzoquinol hydroxylase activity
GO:0043718	0.000033	10.307301	6.011267	2-hydroxymethylglutarate dehydrogenase activity
GO:0043544	0.000033	10.307301	3.713572	lipoamide binding
GO:0043431	0.000033	10.307301	4.226834	2-octaprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043365	0.000033	10.307301	0.693147	[formate-C-acetyltransferase]-activating enzyme activity
GO:0043334	0.000033	10.307301	0.693147	2-hexaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043250	0.000033	10.307301	6.062622	sodium-dependent organic anion transmembrane transporter activity
GO:0043135	0.000033	10.307301	6.383507	5-phosphoribosyl 1-pyrophosphate pyrophosphatase activity
GO:0042988	0.000033	10.307301	9.589051	X11-like protein binding
GO:0042972	0.000033	10.307301	6.060291	licheninase activity
GO:0042960	0.000033	10.307301	0.405465	antimonite secondary active transmembrane transporter activity
GO:0042944	0.000033	10.307301	0.000000	D-alanine transmembrane transporter activity
GO:0042881	0.000033	10.307301	0.405465	D-galactonate transmembrane transporter activity
GO:0042880	0.000033	10.307301	0.000000	D-glucuronate transmembrane transporter activity
GO:0042768	0.000033	10.307301	3.979682	ecdysteroid 2-hydroxylase activity
GO:0042767	0.000033	10.307301	3.979682	ecdysteroid 22-hydroxylase activity
GO:0042658	0.000033	10.307301	0.693147	MHC class II protein binding, via antigen binding groove
GO:0042615	0.000033	10.307301	7.261576	CD154 receptor binding
GO:0042561	0.000033	10.307301	2.995732	alpha-amyrin synthase activity
GO:0042410	0.000033	10.307301	4.369448	6-carboxyhexanoate-CoA ligase activity
GO:0042380	0.000033	10.307301	7.734559	hydroxymethylbutenyl pyrophosphate reductase activity
GO:0042356	0.000033	10.307301	6.011267	GDP-4-dehydro-D-rhamnose reductase activity
GO:0042324	0.000033	10.307301	3.806662	orexin receptor binding
GO:0042283	0.000033	10.307301	4.859812	dolichyl pyrophosphate Glc1Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0042263	0.000033	10.307301	4.212128	neuropeptide F receptor activity
GO:0042071	0.000033	10.307301	7.244942	leucokinin receptor activity
GO:0042018	0.000033	10.307301	4.460144	interleukin-22 receptor activity
GO:0042017	0.000033	10.307301	4.867534	interleukin-22 binding
GO:0042012	0.000033	10.307301	4.460144	interleukin-16 receptor activity
GO:0042011	0.000033	10.307301	4.867534	interleukin-16 binding
GO:0038199	0.000033	10.307301	7.244942	ethylene receptor activity
GO:0038198	0.000033	10.307301	7.244942	auxin receptor activity
GO:0038186	0.000033	10.307301	1.098612	lithocholic acid receptor activity
GO:0038182	0.000033	10.307301	0.000000	G protein-coupled bile acid receptor activity
GO:0038164	0.000033	10.307301	4.460144	thrombopoietin receptor activity
GO:0038147	0.000033	10.307301	1.704748	C-X-C motif chemokine 12 receptor activity
GO:0038121	0.000033	10.307301	2.351375	C-C motif chemokine 21 receptor activity
GO:0038117	0.000033	10.307301	2.351375	C-C motif chemokine 19 receptor activity
GO:0038054	0.000033	10.307301	0.405465	G protein-coupled estrogen receptor activity
GO:0038048	0.000033	10.307301	2.079442	dynorphin receptor activity
GO:0036487	0.000033	10.307301	0.405465	nitric-oxide synthase inhibitor activity
GO:0036479	0.000033	10.307301	5.951944	peroxidase inhibitor activity
GO:0036478	0.000033	10.307301	6.268149	L-dopa decarboxylase activator activity
GO:0036470	0.000033	10.307301	6.268149	tyrosine 3-monooxygenase activator activity
GO:0036467	0.000033	10.307301	1.945910	5-hydroxy-L-tryptophan decarboxylase activity
GO:0036463	0.000033	10.307301	2.442347	TRAIL receptor activity
GO:0036458	0.000033	10.307301	4.966335	hepatocyte growth factor binding
GO:0036455	0.000033	10.307301	4.905275	iron-sulfur transferase activity
GO:0036430	0.000033	10.307301	1.871802	CMP kinase activity
GO:0036412	0.000033	10.307301	2.525729	acetyl-CoA:oxalate CoA-transferase
GO:0036403	0.000033	10.307301	4.350278	arachidonate 8(S)-lipoxygenase activity
GO:0036400	0.000033	10.307301	4.212128	short neuropeptide F receptor activity
GO:0036355	0.000033	10.307301	5.411646	2-iminoacetate synthase activity
GO:0036348	0.000033	10.307301	4.375757	hydantoin racemase activity
GO:0036332	0.000033	10.307301	4.343805	placental growth factor receptor activity
GO:0036320	0.000033	10.307301	0.916291	mating-type P-factor pheromone receptor activity
GO:0036317	0.000033	10.307301	1.504077	tyrosyl-RNA phosphodiesterase activity
GO:0036311	0.000033	10.307301	5.313206	chitin disaccharide deacetylase activity
GO:0036308	0.000033	10.307301	1.252763	16S rRNA (guanine(1516)-N(2))-methyltransferase activity
GO:0036307	0.000033	10.307301	1.386294	23S rRNA (adenine(2030)-N(6))-methyltransferase activity
GO:0036243	0.000033	10.307301	1.871802	succinate-semialdehyde dehydrogenase (NADP+) activity
GO:0036239	0.000033	10.307301	4.722953	taxoid 7beta-hydroxylase activity
GO:0036238	0.000033	10.307301	4.350278	gallate dioxygenase activity
GO:0036219	0.000033	10.307301	3.135494	GTP diphosphatase activity
GO:0036217	0.000033	10.307301	3.135494	dGTP diphosphatase activity
GO:0036209	0.000033	10.307301	4.722953	9beta-pimara-7,15-diene oxidase activity
GO:0036203	0.000033	10.307301	4.722953	taxoid 14-beta-hydroxylase activity
GO:0036201	0.000033	10.307301	4.722953	ent-isokaurene C2-hydroxylase activity
GO:0036185	0.000033	10.307301	6.011267	13-lipoxin reductase activity
GO:0036173	0.000033	10.307301	4.310799	thiosulfate binding
GO:0036140	0.000033	10.307301	4.007333	[protein]-asparagine 3-dioxygenase activity
GO:0036134	0.000033	10.307301	4.262680	12-hydroxyheptadecatrienoic acid synthase activity
GO:0036131	0.000033	10.307301	6.011267	prostaglandin D2 11-ketoreductase activity
GO:0036130	0.000033	10.307301	6.011267	prostaglandin H2 endoperoxidase reductase activity
GO:0036105	0.000033	10.307301	0.693147	peroxisome membrane class-1 targeting sequence binding
GO:0036081	0.000033	10.307301	5.062595	extracellular ammonia-gated monoatomic ion channel activity
GO:0035939	0.000033	10.307301	1.791759	microsatellite binding
GO:0035888	0.000033	10.307301	3.979682	isoguanine deaminase activity
GO:0035758	0.000033	10.307301	2.564949	chemokine (C-C motif) ligand 21 binding
GO:0035757	0.000033	10.307301	2.564949	chemokine (C-C motif) ligand 19 binding
GO:0035730	0.000033	10.307301	4.310799	S-nitrosoglutathione binding
GO:0035716	0.000033	10.307301	2.564949	chemokine (C-C motif) ligand 12 binding
GO:0035715	0.000033	10.307301	2.564949	chemokine (C-C motif) ligand 2 binding
GO:0035643	0.000033	10.307301	4.212128	L-DOPA receptor activity
GO:0035614	0.000033	10.307301	0.405465	snRNA stem-loop binding
GO:0035599	0.000033	10.307301	1.252763	aspartic acid methylthiotransferase activity
GO:0035560	0.000033	10.307301	5.675040	pheophorbidase activity
GO:0035527	0.000033	10.307301	6.011267	3-hydroxypropionate dehydrogenase (NADP+) activity
GO:0035501	0.000033	10.307301	6.489205	MH1 domain binding
GO:0035496	0.000033	10.307301	3.555348	lipopolysaccharide-1,5-galactosyltransferase activity
GO:0035488	0.000033	10.307301	2.944439	cytosine/thymine mispair binding
GO:0035487	0.000033	10.307301	2.944439	thymine/thymine mispair binding
GO:0035486	0.000033	10.307301	2.944439	cytosine/cytosine mispair binding
GO:0035485	0.000033	10.307301	2.944439	adenine/guanine mispair binding
GO:0035472	0.000033	10.307301	2.862201	choriogonadotropin hormone receptor activity
GO:0035460	0.000033	10.307301	5.675040	L-ascorbate 6-phosphate lactonase activity
GO:0035447	0.000033	10.307301	6.302619	mycothiol synthase activity
GO:0035446	0.000033	10.307301	3.068053	cysteine-glucosaminylinositol ligase activity
GO:0035439	0.000033	10.307301	0.405465	halimadienyl-diphosphate synthase activity
GO:0035401	0.000033	10.307301	0.405465	histone H3Y41 kinase activity
GO:0035302	0.000033	10.307301	3.979682	ecdysteroid 25-hydroxylase activity
GO:0035275	0.000033	10.307301	8.771060	dibutyl phthalate binding
GO:0035274	0.000033	10.307301	8.771060	diphenyl phthalate binding
GO:0034930	0.000033	10.307301	4.448516	1-hydroxypyrene sulfotransferase activity
GO:0034899	0.000033	10.307301	4.722953	trimethylamine monooxygenase activity
GO:0034832	0.000033	10.307301	4.905275	geranial dehydrogenase activity
GO:0034820	0.000033	10.307301	2.525729	4,9-DSHA hydrolase activity
GO:0034738	0.000033	10.307301	1.871802	lanosterol O-acyltransferase activity
GO:0034700	0.000033	10.307301	3.772761	allulose 6-phosphate 3-epimerase activity
GO:0034658	0.000033	10.307301	3.839452	isopropylmalate transmembrane transporter activity
GO:0034590	0.000033	10.307301	0.000000	L-hydroxyproline transmembrane transporter activity
GO:0034583	0.000033	10.307301	7.647309	21U-RNA binding
GO:0034556	0.000033	10.307301	2.251292	nitrobenzoate nitroreductase activity
GO:0034479	0.000033	10.307301	3.540959	phosphatidylglycerol phospholipase C activity
GO:0034417	0.000033	10.307301	0.916291	bisphosphoglycerate 3-phosphatase activity
GO:0034326	0.000033	10.307301	6.302619	butanoyltransferase activity
GO:0034323	0.000033	10.307301	0.000000	O-butanoyltransferase activity
GO:0034321	0.000033	10.307301	0.000000	alcohol O-octanoyltransferase activity
GO:0034319	0.000033	10.307301	0.000000	alcohol O-butanoyltransferase activity
GO:0034228	0.000033	10.307301	0.000000	ethanolamine transmembrane transporter activity
GO:0034216	0.000033	10.307301	0.000000	high-affinity thiamine:proton symporter activity
GO:0034215	0.000033	10.307301	0.000000	thiamine:proton symporter activity
GO:0034084	0.000033	10.307301	4.610158	steryl deacetylase activity
GO:0034075	0.000033	10.307301	2.995732	arabidiol synthase activity
GO:0034074	0.000033	10.307301	2.995732	marneral synthase activity
GO:0034071	0.000033	10.307301	7.248504	aminoglycoside phosphotransferase activity
GO:0034068	0.000033	10.307301	5.812637	aminoglycoside nucleotidyltransferase activity
GO:0034028	0.000033	10.307301	5.153292	5-(carboxyamino)imidazole ribonucleotide synthase activity
GO:0034024	0.000033	10.307301	3.068053	glutamate-putrescine ligase activity
GO:0034023	0.000033	10.307301	4.791650	5-(carboxyamino)imidazole ribonucleotide mutase activity
GO:0034022	0.000033	10.307301	1.791759	3-(hydroxyamino)phenol mutase activity
GO:0034015	0.000033	10.307301	3.772761	L-ribulose-5-phosphate 3-epimerase activity
GO:0034012	0.000033	10.307301	4.174387	FAD-AMP lyase (cyclizing) activity
GO:0034011	0.000033	10.307301	3.901973	L-cysteate sulfo-lyase activity
GO:0034009	0.000033	10.307301	4.548600	isoprene synthase activity
GO:0034006	0.000033	10.307301	3.540959	amorpha-4,11-diene synthase activity
GO:0034001	0.000033	10.307301	0.000000	chondroitin-sulfate-ABC exolyase activity
GO:0033999	0.000033	10.307301	3.349904	chondroitin B lyase activity
GO:0033978	0.000033	10.307301	0.693147	phosphonopyruvate hydrolase activity
GO:0033973	0.000033	10.307301	3.979682	dCTP deaminase (dUMP-forming) activity
GO:0033969	0.000033	10.307301	5.313206	gamma-glutamyl-gamma-aminobutyrate hydrolase activity
GO:0033966	0.000033	10.307301	5.313206	N-substituted formamide deformylase activity
GO:0033963	0.000033	10.307301	2.862201	cholesterol-5,6-oxide hydrolase activity
GO:0033958	0.000033	10.307301	3.761200	DNA-deoxyinosine glycosylase activity
GO:0033951	0.000033	10.307301	6.060291	oligosaccharide reducing-end xylanase activity
GO:0033945	0.000033	10.307301	6.060291	oligoxyloglucan reducing-end-specific cellobiohydrolase activity
GO:0033942	0.000033	10.307301	6.060291	4-alpha-D-(1->4)-alpha-D-glucanotrehalose trehalohydrolase activity
GO:0033932	0.000033	10.307301	1.871802	1,3-alpha-L-fucosidase activity
GO:0033929	0.000033	10.307301	3.511545	blood-group-substance endo-1,4-beta-galactosidase activity
GO:0033918	0.000033	10.307301	6.060291	kappa-carrageenase activity
GO:0033892	0.000033	10.307301	0.693147	deoxyribonuclease (pyrimidine dimer) activity
GO:0033890	0.000033	10.307301	4.094345	ribonuclease D activity
GO:0033882	0.000033	10.307301	3.583519	choloyl-CoA hydrolase activity
GO:0033863	0.000033	10.307301	0.000000	ribose 1,5-bisphosphate phosphokinase activity
GO:0033856	0.000033	10.307301	4.543295	pyridoxine 5'-phosphate synthase activity
GO:0033849	0.000033	10.307301	5.657739	chrysanthemyl diphosphate synthase activity
GO:0033848	0.000033	10.307301	5.657739	N2-(2-carboxyethyl)arginine synthase activity
GO:0033845	0.000033	10.307301	6.011267	hydroxymethylfurfural reductase (NADPH) activity
GO:0033831	0.000033	10.307301	4.859812	kojibiose phosphorylase activity
GO:0033830	0.000033	10.307301	3.583519	Skp1-protein-hydroxyproline N-acetylglucosaminyltransferase activity
GO:0033821	0.000033	10.307301	0.405465	DNA beta-glucosyltransferase activity
GO:0033820	0.000033	10.307301	0.405465	DNA alpha-glucosyltransferase activity
GO:0033814	0.000033	10.307301	3.526361	propanoyl-CoA C-acyltransferase activity
GO:0033813	0.000033	10.307301	3.526361	deacetylcephalosporin-C acetyltransferase activity
GO:0033810	0.000033	10.307301	6.302619	anthocyanin 5-O-glucoside 6'''-O-malonyltransferase activity
GO:0033809	0.000033	10.307301	6.302619	anthocyanin 6''-O-malonyltransferase activity
GO:0033803	0.000033	10.307301	3.912023	kaempferol 4'-O-methyltransferase activity
GO:0033802	0.000033	10.307301	3.912023	isoliquiritigenin 2'-O-methyltransferase activity
GO:0033800	0.000033	10.307301	3.912023	isoflavone 7-O-methyltransferase activity
GO:0033793	0.000033	10.307301	1.252763	aureusidin synthase activity
GO:0033787	0.000033	10.307301	2.079442	cyanocobalamin reductase (cyanide-eliminating) activity
GO:0033786	0.000033	10.307301	4.330733	heptose-1-phosphate adenylyltransferase activity
GO:0033785	0.000033	10.307301	4.477337	heptose 7-phosphate kinase activity
GO:0033784	0.000033	10.307301	4.722953	senecionine N-oxygenase activity
GO:0033778	0.000033	10.307301	4.722953	7alpha-hydroxycholest-4-en-3-one 12alpha-hydroxylase activity
GO:0033776	0.000033	10.307301	4.722953	phenylacetone monooxygenase activity
GO:0033760	0.000033	10.307301	4.705016	2'-deoxymugineic-acid 2'-dioxygenase activity
GO:0033759	0.000033	10.307301	4.705016	flavone synthase activity
GO:0033756	0.000033	10.307301	0.693147	Oplophorus-luciferin 2-monooxygenase activity
GO:0033748	0.000033	10.307301	1.871802	hydrogenase (acceptor) activity
GO:0033745	0.000033	10.307301	3.624341	L-methionine-(R)-S-oxide reductase activity
GO:0033739	0.000033	10.307301	0.405465	preQ1 synthase activity
GO:0033737	0.000033	10.307301	5.170484	1-pyrroline dehydrogenase activity
GO:0033736	0.000033	10.307301	2.140066	L-lysine 6-oxidase activity
GO:0033723	0.000033	10.307301	3.637586	fluoroacetaldehyde dehydrogenase activity
GO:0033719	0.000033	10.307301	6.120297	2-oxo-acid reductase activity
GO:0033713	0.000033	10.307301	2.803360	choline:oxygen 1-oxidoreductase activity
GO:0033711	0.000033	10.307301	6.011267	4-phosphoerythronate dehydrogenase activity
GO:0033709	0.000033	10.307301	6.011267	D-arabinitol dehydrogenase, D-ribulose forming (NADP+) activity
GO:0033708	0.000033	10.307301	6.011267	isocitrate-homoisocitrate dehydrogenase activity
GO:0033560	0.000033	10.307301	4.025352	folate reductase activity
GO:0033266	0.000033	10.307301	0.000000	ABC-type choline transporter activity
GO:0033251	0.000033	10.307301	2.602690	cephalosporinase activity
GO:0033250	0.000033	10.307301	2.602690	penicillinase activity
GO:0033232	0.000033	10.307301	0.000000	ABC-type D-methionine transporter activity
GO:0033219	0.000033	10.307301	4.527209	urea binding
GO:0033094	0.000033	10.307301	4.527209	butane-1,4-diamine:2-oxoglutarate aminotransferase activity
GO:0033039	0.000033	10.307301	3.526361	salty taste receptor activity
GO:0032942	0.000033	10.307301	2.251292	inositol tetrakisphosphate 2-kinase activity
GO:0032577	0.000033	10.307301	0.000000	phosphatidylcholine:cardiolipin O-linoleoyltransferase activity
GO:0032576	0.000033	10.307301	4.952300	O-linoleoyltransferase activity
GO:0032548	0.000033	10.307301	0.000000	pyrimidine deoxyribonucleoside binding
GO:0032546	0.000033	10.307301	1.791759	deoxyribonucleoside binding
GO:0032442	0.000033	10.307301	6.011267	phenylcoumaran benzylic ether reductase activity
GO:0032441	0.000033	10.307301	2.708050	pheophorbide a oxygenase activity
GO:0032399	0.000033	10.307301	6.489205	HECT domain binding
GO:0032358	0.000033	10.307301	1.791759	oxidized pyrimidine DNA binding
GO:0032267	0.000033	10.307301	1.386294	tRNA(Ile)-lysidine synthase activity
GO:0032145	0.000033	10.307301	7.574558	succinate-semialdehyde dehydrogenase binding
GO:0032141	0.000033	10.307301	1.386294	single cytosine insertion binding
GO:0032132	0.000033	10.307301	0.405465	O6-alkylguanine-DNA binding
GO:0032115	0.000033	10.307301	6.011267	sorbose reductase activity
GO:0032034	0.000033	10.307301	0.000000	myosin II head/neck binding
GO:0032003	0.000033	10.307301	5.431536	interleukin-28 receptor binding
GO:0031964	0.000033	10.307301	8.279951	beta-alanyl-histamine hydrolase activity
GO:0031962	0.000033	10.307301	4.812184	nuclear mineralocorticoid receptor binding
GO:0031928	0.000033	10.307301	3.749504	pyridoxine transmembrane transporter activity
GO:0031927	0.000033	10.307301	1.871802	pyridoxamine transmembrane transporter activity
GO:0031925	0.000033	10.307301	1.871802	pyridoxal transmembrane transporter activity
GO:0031895	0.000033	10.307301	0.916291	V1B vasopressin receptor binding
GO:0031883	0.000033	10.307301	5.558757	taste receptor binding
GO:0031878	0.000033	10.307301	0.405465	type 1 somatostatin receptor binding
GO:0031870	0.000033	10.307301	0.405465	thromboxane A2 receptor binding
GO:0031867	0.000033	10.307301	0.405465	EP4 subtype prostaglandin E2 receptor binding
GO:0031861	0.000033	10.307301	3.806662	prolactin-releasing peptide receptor binding
GO:0031858	0.000033	10.307301	3.806662	pituitary adenylate cyclase-activating polypeptide receptor binding
GO:0031855	0.000033	10.307301	5.558757	oxytocin receptor binding
GO:0031854	0.000033	10.307301	3.806662	orexigenic neuropeptide QRFP receptor binding
GO:0031850	0.000033	10.307301	1.871802	delta-type opioid receptor binding
GO:0031844	0.000033	10.307301	1.386294	type 4 neuropeptide Y receptor binding
GO:0031826	0.000033	10.307301	1.098612	type 2A serotonin receptor binding
GO:0031812	0.000033	10.307301	0.000000	P2Y1 nucleotide receptor binding
GO:0031811	0.000033	10.307301	5.558757	G protein-coupled nucleotide receptor binding
GO:0031789	0.000033	10.307301	5.558757	G protein-coupled acetylcholine receptor binding
GO:0031784	0.000033	10.307301	5.558757	melatonin receptor binding
GO:0031777	0.000033	10.307301	0.000000	type 1 melanin-concentrating hormone receptor binding
GO:0031776	0.000033	10.307301	3.806662	melanin-concentrating hormone receptor binding
GO:0031774	0.000033	10.307301	5.558757	leukotriene receptor binding
GO:0031773	0.000033	10.307301	3.806662	kisspeptin receptor binding
GO:0031772	0.000033	10.307301	0.000000	type 2 orexin receptor binding
GO:0031771	0.000033	10.307301	0.000000	type 1 orexin receptor binding
GO:0031764	0.000033	10.307301	0.405465	type 1 galanin receptor binding
GO:0031741	0.000033	10.307301	0.405465	type B gastrin/cholecystokinin receptor binding
GO:0031723	0.000033	10.307301	2.014903	CXCR4 chemokine receptor binding
GO:0031722	0.000033	10.307301	1.791759	hemoglobin beta binding
GO:0031715	0.000033	10.307301	0.693147	C5L2 anaphylatoxin chemotactic receptor binding
GO:0031710	0.000033	10.307301	1.386294	neuromedin B receptor binding
GO:0031695	0.000033	10.307301	2.674149	alpha-2B adrenergic receptor binding
GO:0031626	0.000033	10.307301	0.916291	beta-endorphin binding
GO:0031530	0.000033	10.307301	2.639057	gonadotropin-releasing hormone receptor binding
GO:0031473	0.000033	10.307301	4.691348	myosin III binding
GO:0031220	0.000033	10.307301	2.525729	maltodextrin phosphorylase activity
GO:0031216	0.000033	10.307301	6.060291	neopullulanase activity
GO:0031172	0.000033	10.307301	5.818598	ornithine N5-monooxygenase activity
GO:0030945	0.000033	10.307301	4.595120	protein tyrosine phosphatase activity, via thiol-phosphate intermediate
GO:0030941	0.000033	10.307301	3.701302	chloroplast targeting sequence binding
GO:0030798	0.000033	10.307301	5.824524	trans-aconitate 2-methyltransferase activity
GO:0030795	0.000033	10.307301	5.824524	methyl jasmonate methylesterase activity
GO:0030794	0.000033	10.307301	5.824524	(S)-coclaurine-N-methyltransferase activity
GO:0030770	0.000033	10.307301	5.824524	demethylmacrocin O-methyltransferase activity
GO:0030769	0.000033	10.307301	5.824524	macrocin O-methyltransferase activity
GO:0030766	0.000033	10.307301	5.824524	11-O-demethyl-17-O-deacetylvindoline O-methyltransferase activity
GO:0030761	0.000033	10.307301	5.824524	8-hydroxyquercitin 8-O-methyltransferase activity
GO:0030760	0.000033	10.307301	5.824524	pyridine N-methyltransferase activity
GO:0030757	0.000033	10.307301	5.824524	3-methylquercitin 7-O-methyltransferase activity
GO:0030751	0.000033	10.307301	5.824524	licodione 2'-O-methyltransferase activity
GO:0030750	0.000033	10.307301	5.824524	putrescine N-methyltransferase activity
GO:0030749	0.000033	10.307301	5.824524	loganate O-methyltransferase activity
GO:0030748	0.000033	10.307301	5.824524	amine N-methyltransferase activity
GO:0030626	0.000033	10.307301	3.637586	U12 snRNA binding
GO:0030624	0.000033	10.307301	3.637586	U6atac snRNA binding
GO:0030591	0.000033	10.307301	0.916291	2'-deoxyguanosine DNA ADP-ribosyltransferase activity
GO:0030562	0.000033	10.307301	0.000000	rRNA 2'-O-ribose methylation guide activity
GO:0030561	0.000033	10.307301	0.000000	RNA 2'-O-ribose methylation guide activity
GO:0030556	0.000033	10.307301	0.000000	rRNA modification guide activity
GO:0030555	0.000033	10.307301	7.647309	RNA modification guide activity
GO:0030411	0.000033	10.307301	5.468060	scytalone dehydratase activity
GO:0030410	0.000033	10.307301	5.657739	nicotianamine synthase activity
GO:0030380	0.000033	10.307301	5.431536	interleukin-17E receptor binding
GO:0030379	0.000033	10.307301	6.969321	neurotensin receptor activity, non-G protein-coupled
GO:0030377	0.000033	10.307301	7.244942	urokinase plasminogen activator receptor activity
GO:0030352	0.000033	10.307301	1.252763	inositol-1,4,5,6-tetrakisphosphate 6-phosphatase activity
GO:0030341	0.000033	10.307301	3.349904	chondroitin AC lyase activity
GO:0030340	0.000033	10.307301	3.349904	hyaluronate lyase activity
GO:0030338	0.000033	10.307301	2.525729	CMP-N-acetylneuraminate monooxygenase activity
GO:0030290	0.000033	10.307301	6.268149	sphingolipid activator protein activity
GO:0030273	0.000033	10.307301	2.862201	melanin-concentrating hormone receptor activity
GO:0030268	0.000033	10.307301	4.600158	methylenetetrahydromethanopterin dehydrogenase activity
GO:0030251	0.000033	10.307301	0.000000	guanylate cyclase inhibitor activity
GO:0030233	0.000033	10.307301	3.610918	deoxynucleotide transmembrane transporter activity
GO:0030197	0.000033	10.307301	4.051785	extracellular matrix constituent, lubricant activity
GO:0030184	0.000033	10.307301	7.119636	nitric oxide transmembrane transporter activity
GO:0030116	0.000033	10.307301	4.668145	glial cell-derived neurotrophic factor receptor binding
GO:0030109	0.000033	10.307301	0.405465	HLA-B specific inhibitory MHC class I receptor activity
GO:0030108	0.000033	10.307301	0.405465	HLA-A specific activating MHC class I receptor activity
GO:0030107	0.000033	10.307301	0.405465	HLA-A specific inhibitory MHC class I receptor activity
GO:0022894	0.000033	10.307301	3.157000	Intermediate conductance calcium-activated potassium channel activity
GO:0022893	0.000033	10.307301	1.791759	low-affinity tryptophan transmembrane transporter activity
GO:0022877	0.000033	10.307301	0.000000	protein-N(PI)-phosphohistidine-fructose phosphotransferase system transporter activity
GO:0019975	0.000033	10.307301	4.867534	interleukin-17 binding
GO:0019969	0.000033	10.307301	3.624341	interleukin-10 binding
GO:0019875	0.000033	10.307301	5.313206	6-aminohexanoate-dimer hydrolase activity
GO:0019807	0.000033	10.307301	5.313206	aspartoacylase activity
GO:0019771	0.000033	10.307301	1.504077	high-affinity IgG receptor activity
GO:0019768	0.000033	10.307301	1.098612	high-affinity IgE receptor activity
GO:0019766	0.000033	10.307301	2.140066	IgA receptor activity
GO:0019702	0.000033	10.307301	3.332205	protein arginine N5-methyltransferase activity
GO:0019186	0.000033	10.307301	5.262690	acyl-CoA N-acyltransferase activity
GO:0019180	0.000033	10.307301	4.527209	dTDP-4-amino-4,6-dideoxygalactose transaminase activity
GO:0019168	0.000033	10.307301	7.734559	2-octaprenylphenol hydroxylase activity
GO:0019165	0.000033	10.307301	7.248504	thiamine kinase activity
GO:0019159	0.000033	10.307301	5.313206	nicotinamide-nucleotide amidase activity
GO:0019151	0.000033	10.307301	6.011267	galactose 1-dehydrogenase activity
GO:0019149	0.000033	10.307301	1.098612	3-chloro-D-alanine dehydrochlorinase activity
GO:0019147	0.000033	10.307301	6.011267	(R)-aminopropanol dehydrogenase activity
GO:0019143	0.000033	10.307301	6.300786	3-deoxy-manno-octulosonate-8-phosphatase activity
GO:0019140	0.000033	10.307301	7.248504	inositol 3-kinase activity
GO:0019119	0.000033	10.307301	0.000000	phenanthrene-9,10-epoxide hydrolase activity
GO:0019118	0.000033	10.307301	2.397895	phenanthrene-epoxide hydrolase activity
GO:0018860	0.000033	10.307301	4.369448	anthranilate-CoA ligase activity
GO:0018846	0.000033	10.307301	4.722953	styrene-oxide isomerase activity
GO:0018835	0.000033	10.307301	6.704414	carbon phosphorus lyase activity
GO:0018818	0.000033	10.307301	5.468060	acetylene hydratase activity
GO:0018803	0.000033	10.307301	4.848116	4-(2-carboxyphenyl)-2-oxobut-3-enoate aldolase activity
GO:0018786	0.000033	10.307301	1.098612	haloalkane dehalogenase activity
GO:0018773	0.000033	10.307301	2.525729	acetylpyruvate hydrolase activity
GO:0018771	0.000033	10.307301	2.525729	2-hydroxy-6-oxonona-2,4-dienedioate hydrolase activity
GO:0018762	0.000033	10.307301	1.609438	aliphatic nitrilase activity
GO:0018756	0.000033	10.307301	3.555348	ammeline aminohydrolase activity
GO:0018750	0.000033	10.307301	5.313206	biuret amidohydrolase activity
GO:0018742	0.000033	10.307301	2.397895	epoxide hydrolase B activity
GO:0018733	0.000033	10.307301	5.675040	3,4-dihydrocoumarin hydrolase activity
GO:0018729	0.000033	10.307301	2.525729	propionate CoA-transferase activity
GO:0018690	0.000033	10.307301	5.535364	4-methoxybenzoate monooxygenase (O-demethylating) activity
GO:0018678	0.000033	10.307301	4.722953	4-hydroxybenzoate 1-hydroxylase activity
GO:0018675	0.000033	10.307301	0.693147	(S)-limonene 6-monooxygenase activity
GO:0018671	0.000033	10.307301	4.722953	4-hydroxybenzoate 3-monooxygenase [NAD(P)H] activity
GO:0018668	0.000033	10.307301	4.722953	3-hydroxybenzoate 4-monooxygenase activity
GO:0018667	0.000033	10.307301	4.722953	cyclohexanone monooxygenase activity
GO:0018664	0.000033	10.307301	4.722953	benzoate 4-monooxygenase activity
GO:0018663	0.000033	10.307301	4.722953	2,6-dihydroxypyridine 3-monooxygenase activity
GO:0018648	0.000033	10.307301	4.722953	methanesulfonate monooxygenase activity
GO:0018633	0.000033	10.307301	4.722953	dimethyl sulfide monooxygenase activity
GO:0018631	0.000033	10.307301	4.722953	phenylacetate hydroxylase activity
GO:0018582	0.000033	10.307301	4.350278	1-hydroxy-2-naphthoate 1,2-dioxygenase activity
GO:0018580	0.000033	10.307301	1.704748	nitronate monooxygenase activity
GO:0018564	0.000033	10.307301	4.350278	carbazole 1,9a-dioxygenase activity
GO:0018547	0.000033	10.307301	1.791759	nitroglycerin reductase activity
GO:0018545	0.000033	10.307301	1.504077	NAD(P)H nitroreductase activity
GO:0018507	0.000033	10.307301	4.262680	cis-3,4-dihydrophenanthrene-3,4-diol dehydrogenase activity
GO:0018505	0.000033	10.307301	4.262680	cis-1,2-dihydro-1,2-dihydroxynaphthalene dehydrogenase activity
GO:0018504	0.000033	10.307301	4.262680	cis-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0018484	0.000033	10.307301	3.637586	4-hydroxybenzaldehyde dehydrogenase activity
GO:0018478	0.000033	10.307301	4.905275	malonate-semialdehyde dehydrogenase (acetylating) activity
GO:0018477	0.000033	10.307301	0.000000	benzaldehyde dehydrogenase (NADP+) activity
GO:0018474	0.000033	10.307301	3.637586	2-carboxybenzaldehyde dehydrogenase activity
GO:0018461	0.000033	10.307301	6.011267	fluoren-9-ol dehydrogenase activity
GO:0018459	0.000033	10.307301	6.011267	carveol dehydrogenase activity
GO:0018458	0.000033	10.307301	6.011267	isopiperitenol dehydrogenase activity
GO:0018457	0.000033	10.307301	6.011267	perillyl-alcohol dehydrogenase activity
GO:0018169	0.000033	10.307301	2.639057	ribosomal S6-glutamic acid ligase activity
GO:0018114	0.000033	10.307301	2.862201	threonine racemase activity
GO:0018112	0.000033	10.307301	2.862201	proline racemase activity
GO:0017131	0.000033	10.307301	3.663562	uridine-rich cytoplasmic polyadenylylation element binding
GO:0017130	0.000033	10.307301	3.663562	poly(C) RNA binding
GO:0017045	0.000033	10.307301	4.812184	corticotropin-releasing hormone activity
GO:0017042	0.000033	10.307301	6.060291	glycosylceramidase activity
GO:0017041	0.000033	10.307301	6.060291	galactosylgalactosylglucosylceramidase activity
GO:0016996	0.000033	10.307301	2.740840	endo-alpha-(2,8)-sialidase activity
GO:0016995	0.000033	10.307301	2.803360	cholesterol oxidase activity
GO:0016964	0.000033	10.307301	4.363099	alpha-2 macroglobulin receptor activity
GO:0016920	0.000033	10.307301	1.386294	pyroglutamyl-peptidase activity
GO:0016867	0.000033	10.307301	4.791650	intramolecular transferase activity, transferring acyl groups
GO:0016802	0.000033	10.307301	2.890372	trialkylsulfonium hydrolase activity
GO:0016795	0.000033	10.307301	6.581332	phosphoric triester hydrolase activity
GO:0016754	0.000033	10.307301	0.000000	sinapoylglucose-malate O-sinapoyltransferase activity
GO:0016753	0.000033	10.307301	0.000000	O-sinapoyltransferase activity
GO:0016750	0.000033	10.307301	0.000000	O-succinyltransferase activity
GO:0016711	0.000033	10.307301	4.722953	flavonoid 3'-monooxygenase activity
GO:0016677	0.000033	10.307301	3.465736	oxidoreductase activity, acting on a heme group of donors, nitrogenous group as acceptor
GO:0016648	0.000033	10.307301	4.600158	oxidoreductase activity, acting on the CH-NH group of donors, disulfide as acceptor
GO:0016633	0.000033	10.307301	0.405465	galactonolactone dehydrogenase activity
GO:0016630	0.000033	10.307301	4.262680	protochlorophyllide reductase activity
GO:0016622	0.000033	10.307301	5.170484	oxidoreductase activity, acting on the aldehyde or oxo group of donors, cytochrome as acceptor
GO:0016596	0.000033	10.307301	4.255613	thienylcyclohexylpiperidine binding
GO:0016524	0.000033	10.307301	6.969321	latrotoxin receptor activity
GO:0016517	0.000033	10.307301	4.460144	interleukin-12 receptor activity
GO:0016497	0.000033	10.307301	1.945910	substance K receptor activity
GO:0016430	0.000033	10.307301	0.000000	tRNA (adenine-N6-)-methyltransferase activity
GO:0016223	0.000033	10.307301	4.527209	beta-alanine-pyruvate transaminase activity
GO:0016205	0.000033	10.307301	0.000000	selenocysteine methyltransferase activity
GO:0016170	0.000033	10.307301	5.431536	interleukin-15 receptor binding
GO:0016154	0.000033	10.307301	4.766438	pyrimidine-nucleoside phosphorylase activity
GO:0015667	0.000033	10.307301	3.113515	site-specific DNA-methyltransferase (cytosine-N4-specific) activity
GO:0015661	0.000033	10.307301	0.000000	L-lysine efflux transmembrane transporter activity
GO:0015653	0.000033	10.307301	0.000000	glycine betaine:proton symporter activity
GO:0015652	0.000033	10.307301	0.000000	quaternary ammonium group:proton symporter activity
GO:0015649	0.000033	10.307301	0.000000	2-keto-3-deoxygluconate:proton symporter activity
GO:0015638	0.000033	10.307301	1.098612	microcin transmembrane transporter activity
GO:0015607	0.000033	10.307301	0.000000	ABC-type fatty-acyl-CoA transporter activity
GO:0015576	0.000033	10.307301	0.916291	sorbitol transmembrane transporter activity
GO:0015575	0.000033	10.307301	2.970414	mannitol transmembrane transporter activity
GO:0015572	0.000033	10.307301	4.714025	N-acetylglucosamine transmembrane transporter activity
GO:0015568	0.000033	10.307301	0.405465	L-idonate transmembrane transporter activity
GO:0015558	0.000033	10.307301	0.000000	secondary active p-aminobenzoyl-glutamate transmembrane transporter activity
GO:0015552	0.000033	10.307301	0.000000	propionate transmembrane transporter activity
GO:0015546	0.000033	10.307301	0.405465	sulfathiazole transmembrane transporter activity
GO:0015538	0.000033	10.307301	0.405465	sialic acid:proton symporter activity
GO:0015535	0.000033	10.307301	0.000000	fucose:proton symporter activity
GO:0015531	0.000033	10.307301	0.000000	citrate:proton symporter activity
GO:0015530	0.000033	10.307301	3.314186	shikimate transmembrane transporter activity
GO:0015528	0.000033	10.307301	0.000000	lactose:proton symporter activity
GO:0015527	0.000033	10.307301	2.014903	glycerol-phosphate:inorganic phosphate antiporter activity
GO:0015519	0.000033	10.307301	0.405465	D-xylose:proton symporter activity
GO:0015518	0.000033	10.307301	0.000000	arabinose:proton symporter activity
GO:0015514	0.000033	10.307301	0.000000	nitrite efflux transmembrane transporter activity
GO:0015503	0.000033	10.307301	3.713572	glutathione-regulated potassium exporter activity
GO:0015496	0.000033	10.307301	0.000000	putrescine:ornithine antiporter activity
GO:0015487	0.000033	10.307301	0.000000	melibiose:monoatomic cation symporter activity
GO:0015483	0.000033	10.307301	0.000000	long-chain fatty acid transporting porin activity
GO:0015481	0.000033	10.307301	0.000000	maltose transporting porin activity
GO:0015474	0.000033	10.307301	2.708050	autotransporter activity
GO:0015473	0.000033	10.307301	2.708050	fimbrial usher porin activity
GO:0015471	0.000033	10.307301	0.000000	nucleoside-specific channel forming porin activity
GO:0015430	0.000033	10.307301	0.000000	ABC-type glycerol-3-phosphate transporter activity
GO:0015419	0.000033	10.307301	0.000000	ABC-type sulfate transporter activity
GO:0015415	0.000033	10.307301	0.000000	ATPase-coupled phosphate ion transmembrane transporter activity
GO:0015412	0.000033	10.307301	0.000000	ABC-type molybdate transporter activity
GO:0015390	0.000033	10.307301	4.863681	purine-specific nucleoside:sodium symporter activity
GO:0015387	0.000033	10.307301	0.000000	potassium:proton symporter activity
GO:0015374	0.000033	10.307301	3.555348	neutral, basic amino acid:sodium:chloride symporter activity
GO:0015371	0.000033	10.307301	0.405465	galactose:sodium symporter activity
GO:0015360	0.000033	10.307301	0.000000	acetate:proton symporter activity
GO:0015341	0.000033	10.307301	0.693147	zinc efflux active transmembrane transporter activity
GO:0015328	0.000033	10.307301	0.000000	cystine secondary active transmembrane transporter activity
GO:0015327	0.000033	10.307301	0.000000	cystine:glutamate antiporter activity
GO:0015312	0.000033	10.307301	0.000000	polyamine:proton antiporter activity
GO:0015304	0.000033	10.307301	0.000000	glucose uniporter activity
GO:0015164	0.000033	10.307301	4.714025	glucuronoside transmembrane transporter activity
GO:0015156	0.000033	10.307301	3.044522	melibiose transmembrane transporter activity
GO:0015147	0.000033	10.307301	0.693147	L-arabinose transmembrane transporter activity
GO:0015135	0.000033	10.307301	5.741399	glucuronate transmembrane transporter activity
GO:0015134	0.000033	10.307301	0.000000	hexuronate transmembrane transporter activity
GO:0015133	0.000033	10.307301	0.405465	uronic acid transmembrane transporter activity
GO:0015130	0.000033	10.307301	3.314186	mevalonate transmembrane transporter activity
GO:0015124	0.000033	10.307301	3.817712	allantoate transmembrane transporter activity
GO:0015115	0.000033	10.307301	5.358942	silicate transmembrane transporter activity
GO:0015100	0.000033	10.307301	4.714025	vanadium ion transmembrane transporter activity
GO:0015089	0.000033	10.307301	3.091042	high-affinity copper ion transmembrane transporter activity
GO:0015068	0.000033	10.307301	0.405465	glycine amidinotransferase activity
GO:0015052	0.000033	10.307301	1.609438	beta3-adrenergic receptor activity
GO:0015043	0.000033	10.307301	3.091042	leghemoglobin reductase activity
GO:0015021	0.000033	10.307301	3.349904	heparin-sulfate lyase activity
GO:0010542	0.000033	10.307301	0.000000	nitrate efflux transmembrane transporter activity
GO:0010491	0.000033	10.307301	2.397895	UTP:arabinose-1-phosphate uridylyltransferase activity
GO:0010488	0.000033	10.307301	3.555348	UDP-galactose:N-glycan beta-1,3-galactosyltransferase activity
GO:0010486	0.000033	10.307301	0.000000	manganese:proton antiporter activity
GO:0010473	0.000033	10.307301	3.020425	GDP-galactose:myoinositol-1-phosphate guanylyltransferase activity
GO:0010472	0.000033	10.307301	3.020425	GDP-galactose:glucose-1-phosphate guanylyltransferase activity
GO:0010471	0.000033	10.307301	3.020425	GDP-galactose:mannose-1-phosphate guanylyltransferase activity
GO:0010357	0.000033	10.307301	0.405465	homogentisate solanesyltransferase activity
GO:0010356	0.000033	10.307301	0.405465	homogentisate geranylgeranyltransferase activity
GO:0010355	0.000033	10.307301	0.405465	homogentisate farnesyltransferase activity
GO:0010349	0.000033	10.307301	6.011267	L-galactose dehydrogenase activity
GO:0010348	0.000033	10.307301	3.860730	lithium:proton antiporter activity
GO:0010347	0.000033	10.307301	0.000000	L-galactose-1-phosphate phosphatase activity
GO:0010327	0.000033	10.307301	3.850148	acetyl CoA:(Z)-3-hexen-1-ol acetyltransferase activity
GO:0010309	0.000033	10.307301	4.350278	acireductone dioxygenase [iron(II)-requiring] activity
GO:0010308	0.000033	10.307301	4.350278	acireductone dioxygenase (Ni2+-requiring) activity
GO:0010307	0.000033	10.307301	5.273000	acetylglutamate kinase regulator activity
GO:0010301	0.000033	10.307301	3.332205	xanthoxin dehydrogenase activity
GO:0010298	0.000033	10.307301	4.848116	dihydrocamalexic acid decarboxylase activity
GO:0010296	0.000033	10.307301	1.098612	prenylcysteine methylesterase activity
GO:0010293	0.000033	10.307301	1.252763	abscisic aldehyde oxidase activity
GO:0010291	0.000033	10.307301	5.818598	carotene beta-ring hydroxylase activity
GO:0010290	0.000033	10.307301	7.718685	chlorophyll catabolite transmembrane transporter activity
GO:0010277	0.000033	10.307301	1.704748	chlorophyllide a oxygenase [overall] activity
GO:0010211	0.000033	10.307301	0.693147	IAA-Leu conjugate hydrolase activity
GO:0010210	0.000033	10.307301	0.693147	IAA-Phe conjugate hydrolase activity
GO:0010176	0.000033	10.307301	0.405465	homogentisate phytyltransferase activity
GO:0010174	0.000033	10.307301	1.704748	nucleoside transmembrane transporter activity, against a concentration gradient
GO:0009978	0.000033	10.307301	5.468060	allene oxide synthase activity
GO:0009976	0.000033	10.307301	4.448516	tocopherol cyclase activity
GO:0009974	0.000033	10.307301	0.000000	zeinoxanthin epsilon hydroxylase activity
GO:0009940	0.000033	10.307301	0.405465	amino-terminal vacuolar sorting propeptide binding
GO:0009918	0.000033	10.307301	5.056246	sterol delta7 reductase activity
GO:0009815	0.000033	10.307301	2.014903	1-aminocyclopropane-1-carboxylate oxidase activity
GO:0009675	0.000033	10.307301	0.000000	high-affinity sulfate:proton symporter activity
GO:0009671	0.000033	10.307301	0.000000	nitrate:proton symporter activity
GO:0009496	0.000033	10.307301	0.000000	plastoquinol--plastocyanin reductase activity
GO:0009046	0.000033	10.307301	3.068053	zinc D-Ala-D-Ala carboxypeptidase activity
GO:0009042	0.000033	10.307301	4.527209	valine-pyruvate transaminase activity
GO:0009040	0.000033	10.307301	6.011267	ureidoglycolate dehydrogenase activity
GO:0009034	0.000033	10.307301	5.411646	tryptophanase activity
GO:0009028	0.000033	10.307301	4.848116	tartronate-semialdehyde synthase activity
GO:0009027	0.000033	10.307301	6.011267	tartrate dehydrogenase activity
GO:0009026	0.000033	10.307301	6.011267	tagaturonate reductase activity
GO:0009024	0.000033	10.307301	7.248504	tagatose-6-phosphate kinase activity
GO:0009018	0.000033	10.307301	2.525729	sucrose phosphorylase activity
GO:0009017	0.000033	10.307301	5.313206	succinylglutamate desuccinylase activity
GO:0009016	0.000033	10.307301	4.527209	succinyldiaminopimelate transaminase activity
GO:0009015	0.000033	10.307301	3.555348	N-succinylarginine dihydrolase activity
GO:0009014	0.000033	10.307301	5.313206	succinyl-diaminopimelate desuccinylase activity
GO:0009012	0.000033	10.307301	0.000000	aminoglycoside 3''-adenylyltransferase activity
GO:0008997	0.000033	10.307301	5.409411	ribonuclease R activity
GO:0008996	0.000033	10.307301	5.409411	ribonuclease G activity
GO:0008994	0.000033	10.307301	3.901973	rhamnulose-1-phosphate aldolase activity
GO:0008986	0.000033	10.307301	1.609438	pyruvate, water dikinase activity
GO:0008984	0.000033	10.307301	1.098612	protein-glutamate methylesterase activity
GO:0008983	0.000033	10.307301	2.397895	protein-glutamate O-methyltransferase activity
GO:0008974	0.000033	10.307301	7.248504	phosphoribulokinase activity
GO:0008965	0.000033	10.307301	3.850148	phosphoenolpyruvate-protein phosphotransferase activity
GO:0008961	0.000033	10.307301	4.714025	phosphatidylglycerol-prolipoprotein diacylglyceryl transferase activity
GO:0008960	0.000033	10.307301	4.255613	phosphatidylglycerol-membrane-oligosaccharide glycerophosphotransferase activity
GO:0008951	0.000033	10.307301	6.302619	palmitoleoyl [acyl-carrier-protein]-dependent acyltransferase activity
GO:0008939	0.000033	10.307301	4.766438	nicotinate-nucleotide-dimethylbenzimidazole phosphoribosyltransferase activity
GO:0008925	0.000033	10.307301	3.850148	maltose O-acetyltransferase activity
GO:0008914	0.000033	10.307301	3.401197	leucyltransferase activity
GO:0008913	0.000033	10.307301	6.302619	lauroyltransferase activity
GO:0008912	0.000033	10.307301	6.011267	lactaldehyde reductase activity
GO:0008903	0.000033	10.307301	3.713572	hydroxypyruvate isomerase activity
GO:0008899	0.000033	10.307301	0.000000	homoserine O-succinyltransferase activity
GO:0008884	0.000033	10.307301	5.313206	glutathionylspermidine amidase activity
GO:0008876	0.000033	10.307301	0.000000	quinoprotein glucose dehydrogenase activity
GO:0008873	0.000033	10.307301	0.693147	gluconate 2-dehydrogenase activity
GO:0008872	0.000033	10.307301	5.468060	glucarate dehydratase activity
GO:0008870	0.000033	10.307301	3.850148	galactoside O-acetyltransferase activity
GO:0008868	0.000033	10.307301	6.011267	galactitol-1-phosphate 5-dehydrogenase activity
GO:0008866	0.000033	10.307301	6.011267	fructuronate reductase activity
GO:0008864	0.000033	10.307301	5.313206	formyltetrahydrofolate deformylase activity
GO:0008855	0.000033	10.307301	3.610918	exodeoxyribonuclease VII activity
GO:0008849	0.000033	10.307301	7.317544	enterochelin esterase activity
GO:0008838	0.000033	10.307301	3.417727	diaminopropionate ammonia-lyase activity
GO:0008835	0.000033	10.307301	3.979682	diaminohydroxyphosphoribosylaminopyrimidine deaminase activity
GO:0008820	0.000033	10.307301	3.020425	cobinamide phosphate guanylyltransferase activity
GO:0008811	0.000033	10.307301	3.850148	chloramphenicol O-acetyltransferase activity
GO:0008809	0.000033	10.307301	0.693147	carnitine racemase activity
GO:0008804	0.000033	10.307301	3.091042	carbamate kinase activity
GO:0008790	0.000033	10.307301	3.713572	arabinose isomerase activity
GO:0008788	0.000033	10.307301	2.525729	alpha,alpha-phosphotrehalase activity
GO:0008787	0.000033	10.307301	4.382027	allose kinase activity
GO:0008786	0.000033	10.307301	3.713572	allose 6-phosphate isomerase activity
GO:0008782	0.000033	10.307301	4.448516	adenosylhomocysteine nucleosidase activity
GO:0008779	0.000033	10.307301	4.952300	acyl-[acyl-carrier-protein]-phospholipid O-acyltransferase activity
GO:0008772	0.000033	10.307301	7.034828	[isocitrate dehydrogenase (NADP+)] kinase activity
GO:0008771	0.000033	10.307301	4.569543	[citrate (pro-3S)-lyase] ligase activity
GO:0008770	0.000033	10.307301	1.252763	[acyl-carrier-protein] phosphodiesterase activity
GO:0008766	0.000033	10.307301	4.283587	UDP-N-acetylmuramoylalanyl-D-glutamyl-2,6-diaminopimelate-D-alanyl-D-alanine ligase activity
GO:0008764	0.000033	10.307301	4.283587	UDP-N-acetylmuramoylalanine-D-glutamate ligase activity
GO:0008762	0.000033	10.307301	6.011267	UDP-N-acetylmuramate dehydrogenase activity
GO:0008754	0.000033	10.307301	6.158038	O antigen ligase activity
GO:0008752	0.000033	10.307301	4.025352	FMN reductase activity
GO:0008748	0.000033	10.307301	4.262680	N-ethylmaleimide reductase activity
GO:0008744	0.000033	10.307301	1.098612	L-xylulokinase activity
GO:0008741	0.000033	10.307301	4.382027	ribulokinase activity
GO:0008740	0.000033	10.307301	3.713572	L-rhamnose isomerase activity
GO:0008737	0.000033	10.307301	4.382027	L-fuculokinase activity
GO:0008736	0.000033	10.307301	3.713572	L-fucose isomerase activity
GO:0008735	0.000033	10.307301	2.525729	L-carnitine CoA-transferase activity
GO:0008734	0.000033	10.307301	2.140066	L-aspartate oxidase activity
GO:0008733	0.000033	10.307301	3.713572	L-arabinose isomerase activity
GO:0008727	0.000033	10.307301	3.737670	GDP-mannose mannosyl hydrolase activity
GO:0008726	0.000033	10.307301	3.749504	alkanesulfonate monooxygenase activity
GO:0008725	0.000033	10.307301	0.000000	DNA-3-methyladenine glycosylase activity
GO:0008719	0.000033	10.307301	6.073045	dihydroneopterin triphosphate 2'-epimerase activity
GO:0008715	0.000033	10.307301	6.383507	CDP-diacylglycerol diphosphatase activity
GO:0008713	0.000033	10.307301	0.916291	ADP-heptose-lipopolysaccharide heptosyltransferase activity
GO:0008712	0.000033	10.307301	3.772761	ADP-glyceromanno-heptose 6-epimerase activity
GO:0008707	0.000033	10.307301	6.300786	4-phytase activity
GO:0008697	0.000033	10.307301	3.713572	4-deoxy-L-threo-5-hexosulose-uronate ketol-isomerase activity
GO:0008694	0.000033	10.307301	4.848116	3-octaprenyl-4-hydroxybenzoate carboxy-lyase activity
GO:0008688	0.000033	10.307301	4.722953	3-(3-hydroxyphenyl)propionate hydroxylase activity
GO:0008684	0.000033	10.307301	5.468060	2-oxopent-4-enoate hydratase activity
GO:0008683	0.000033	10.307301	4.848116	2-oxoglutarate decarboxylase activity
GO:0008681	0.000033	10.307301	6.127960	2-octaprenyl-6-methoxyphenol hydroxylase activity
GO:0008672	0.000033	10.307301	3.901973	2-dehydro-3-deoxyglucarate aldolase activity
GO:0008668	0.000033	10.307301	4.330733	(2,3-dihydroxybenzoyl)adenylate synthase activity
GO:0008667	0.000033	10.307301	4.262680	2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase activity
GO:0008664	0.000033	10.307301	2.014903	2'-5'-RNA ligase activity
GO:0008662	0.000033	10.307301	3.198673	1-phosphofructokinase activity
GO:0008566	0.000033	10.307301	2.639057	mitochondrial protein-transporting ATPase activity
GO:0008558	0.000033	10.307301	0.000000	ABC-type guanine transporter activity
GO:0008521	0.000033	10.307301	0.405465	acetyl-CoA transmembrane transporter activity
GO:0008516	0.000033	10.307301	0.000000	hexose uniporter activity
GO:0008512	0.000033	10.307301	0.000000	sulfate:proton symporter activity
GO:0008493	0.000033	10.307301	1.098612	tetracycline transmembrane transporter activity
GO:0008490	0.000033	10.307301	0.405465	arsenite secondary active transmembrane transporter activity
GO:0008457	0.000033	10.307301	4.304065	beta-galactosyl-N-acetylglucosaminylgalactosylglucosyl-ceramide beta-1,3-acetylglucosaminyltransferase activity
GO:0008456	0.000033	10.307301	3.761200	alpha-N-acetylgalactosaminidase activity
GO:0008387	0.000033	10.307301	3.650658	steroid 7-alpha-hydroxylase activity
GO:0008316	0.000033	10.307301	6.674561	structural constituent of vitelline membrane
GO:0008288	0.000033	10.307301	4.343805	boss receptor activity
GO:0008269	0.000033	10.307301	4.204693	JAK pathway signal transduction adaptor activity
GO:0008110	0.000033	10.307301	4.527209	L-histidine:2-oxoglutarate aminotransferase activity
GO:0008098	0.000033	10.307301	2.674149	5S rRNA primary transcript binding
GO:0008029	0.000033	10.307301	1.252763	pentraxin receptor activity
GO:0008012	0.000033	10.307301	2.251292	structural constituent of adult chitin-based cuticle
GO:0005500	0.000033	10.307301	2.140066	juvenile hormone binding
GO:0005476	0.000033	10.307301	0.000000	carnitine:acyl carnitine antiporter activity
GO:0005360	0.000033	10.307301	1.704748	insulin-responsive glucose:proton symporter activity
GO:0005328	0.000033	10.307301	1.252763	neurotransmitter:sodium symporter activity
GO:0005307	0.000033	10.307301	0.405465	choline:sodium symporter activity
GO:0005292	0.000033	10.307301	0.000000	high-affinity lysine transmembrane transporter activity
GO:0005289	0.000033	10.307301	0.000000	high-affinity L-arginine transmembrane transporter activity
GO:0005260	0.000033	10.307301	0.000000	intracellularly ATP-gated chloride channel activity
GO:0005144	0.000033	10.307301	5.431536	interleukin-13 receptor binding
GO:0005142	0.000033	10.307301	3.806662	interleukin-11 receptor binding
GO:0005141	0.000033	10.307301	3.806662	interleukin-10 receptor binding
GO:0005140	0.000033	10.307301	3.806662	interleukin-9 receptor binding
GO:0005129	0.000033	10.307301	3.806662	granulocyte macrophage colony-stimulating factor receptor binding
GO:0005115	0.000033	10.307301	7.261576	receptor tyrosine kinase-like orphan receptor binding
GO:0005043	0.000033	10.307301	2.079442	netrin receptor activity involved in chemorepulsion
GO:0005020	0.000033	10.307301	4.343805	stem cell factor receptor activity
GO:0004979	0.000033	10.307301	0.000000	beta-endorphin receptor activity
GO:0004933	0.000033	10.307301	0.916291	mating-type a-factor pheromone receptor activity
GO:0004909	0.000033	10.307301	1.386294	interleukin-1, type I, activating receptor activity
GO:0004877	0.000033	10.307301	0.916291	complement component C3b receptor activity
GO:0004836	0.000033	10.307301	7.734559	tyramine-beta hydroxylase activity
GO:0004808	0.000033	10.307301	3.772761	tRNA (5-methylaminomethyl-2-thiouridylate)-methyltransferase activity
GO:0004790	0.000033	10.307301	2.351375	thioether S-methyltransferase activity
GO:0004782	0.000033	10.307301	4.848116	sulfinoalanine decarboxylase activity
GO:0004755	0.000033	10.307301	1.252763	saccharopine dehydrogenase (NADP+, L-glutamate-forming) activity
GO:0004734	0.000033	10.307301	0.000000	pyrimidodiazepine synthase activity
GO:0004732	0.000033	10.307301	2.442347	pyridoxal oxidase activity
GO:0004589	0.000033	10.307301	0.000000	dihydroorotate dehydrogenase (NADH) activity
GO:0004578	0.000033	10.307301	1.871802	chitobiosyldiphosphodolichol beta-mannosyltransferase activity
GO:0004569	0.000033	10.307301	3.367296	glycoprotein endo-alpha-1,2-mannosidase activity
GO:0004552	0.000033	10.307301	6.011267	octanol dehydrogenase activity
GO:0004501	0.000033	10.307301	3.650658	ecdysone 20-monooxygenase activity
GO:0004492	0.000033	10.307301	4.848116	methyl/ethyl malonyl-CoA decarboxylase activity
GO:0004460	0.000033	10.307301	1.098612	L-lactate dehydrogenase (cytochrome) activity
GO:0004456	0.000033	10.307301	5.468060	phosphogluconate dehydratase activity
GO:0004409	0.000033	10.307301	5.468060	homoaconitate hydratase activity
GO:0004378	0.000033	10.307301	1.945910	GDP-Man:Man1GlcNAc2-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0004319	0.000033	10.307301	1.945910	enoyl-[acyl-carrier-protein] reductase (NADPH, B-specific) activity
GO:0004313	0.000033	10.307301	0.000000	[acyl-carrier-protein] S-acetyltransferase activity
GO:0004166	0.000033	10.307301	4.304065	dolichyl-phosphate alpha-N-acetylglucosaminyltransferase activity
GO:0004153	0.000033	10.307301	3.979682	dihydropterin deaminase activity
GO:0004125	0.000033	10.307301	0.405465	L-seryl-tRNASec selenium transferase activity
GO:0004078	0.000033	10.307301	1.704748	biotin-[methylcrotonoyl-CoA-carboxylase] ligase activity
GO:0004025	0.000033	10.307301	3.332205	alcohol dehydrogenase activity, iron-dependent
GO:0003944	0.000033	10.307301	3.761200	N-acetylglucosamine-1-phosphodiester alpha-N-acetylglucosaminidase activity
GO:0003859	0.000033	10.307301	5.468060	3-hydroxybutyryl-CoA dehydratase activity
GO:0003851	0.000033	10.307301	3.555348	2-hydroxyacylsphingosine 1-beta-galactosyltransferase activity
GO:0003832	0.000033	10.307301	8.279951	beta-alanyl-dopamine hydrolase activity
GO:0002952	0.000033	10.307301	6.073045	(4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione isomerase activity
GO:0002935	0.000033	10.307301	0.000000	tRNA (adenine-C2-)-methyltransferase activity
GO:0002114	0.000033	10.307301	4.460144	interleukin-33 receptor activity
GO:0002112	0.000033	10.307301	5.431536	interleukin-33 receptor binding
GO:0002083	0.000033	10.307301	2.014903	4-hydroxybenzoate decaprenyltransferase activity
GO:0002059	0.000033	10.307301	0.405465	thymine binding
GO:0002055	0.000033	10.307301	1.252763	adenine binding
GO:0001918	0.000033	10.307301	9.589051	farnesylated protein binding
GO:0001874	0.000033	10.307301	0.693147	(1->3)-beta-D-glucan immune receptor activity
GO:0001864	0.000033	10.307301	2.833213	pentraxin binding
GO:0001861	0.000033	10.307301	0.916291	complement component C4b receptor activity
GO:0001634	0.000033	10.307301	6.245137	pituitary adenylate cyclase-activating polypeptide receptor activity
GO:0001631	0.000033	10.307301	1.791759	cysteinyl leukotriene receptor activity
GO:0001604	0.000033	10.307301	5.144583	urotensin II receptor activity
GO:0001512	0.000033	10.307301	3.828641	dihydronicotinamide riboside quinone reductase activity
GO:0001155	0.000033	10.307301	1.386294	TFIIIA-class transcription factor binding
GO:0001095	0.000033	10.307301	2.995732	TFIIE-class transcription factor complex binding
GO:0000830	0.000033	10.307301	2.079442	inositol hexakisphosphate 4-kinase activity
GO:0000704	0.000033	10.307301	3.761200	pyrimidine dimer DNA N-glycosylase activity
GO:0000401	0.000033	10.307301	2.970414	open form four-way junction DNA binding
GO:0000319	0.000033	10.307301	3.314186	sulfite transmembrane transporter activity
GO:0000277	0.000033	10.307301	4.448516	[cytochrome c]-lysine N-methyltransferase activity
GO:0000007	0.000033	10.307301	3.749504	low-affinity zinc ion transmembrane transporter activity
